@model GeneratorBase.MVC.Models.T_City
@using PagedList;
@{
    ViewBag.Title = "View City";
	var EntityDisplayNameReflector = ModelReflector.Entities.FirstOrDefault(p => p.Name == "T_City");
    var EntityDisplayName = EntityDisplayNameReflector != null ? EntityDisplayNameReflector.DisplayName : "City";
}
<script>
    $(document).ready(function () {
			 if ($.cookie('@User.JavaScriptEncodedName@Model.Id' + 'TabCookie') != null) {
				$('a[href="#' + $.cookie('@User.JavaScriptEncodedName@Model.Id' + 'TabCookie') + '"]').click();
			 }
    });
</script>
@{
    if (!string.IsNullOrEmpty(ViewBag.T_CityIsHiddenRule))
    {
        @Html.Raw(ViewBag.T_CityIsHiddenRule);
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_CityIsGroupsHiddenRule))
    {
        @Html.Raw(ViewBag.T_CityIsGroupsHiddenRule);
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_CityIsSetValueUIRule))
    {
        @Html.Raw(ViewBag.T_CityIsSetValueUIRule);
    }
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-title">
            <i class="glyphicon glyphicon-hand-down text-primary"></i> @EntityDisplayName  <i class="glyphicon glyphicon-chevron-right small"></i> <span>View</span>
        </h1>
        <h2 class="text-primary"><span id="HostingEntityDisplayValue">@Html.DisplayFor(model => model.DisplayValue)</span>
			<div class="btn-group pull-right fixactionbut">
            <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle pull-right">
                Action
                <span class="caret">    </span>
            </button>
			<ul class="dropdown-menu pull-left">               
				<li>
                    @if ( User.CanEdit("T_City"))
                    {
                        <a href="@Url.Action("Edit","T_City", new {UrlReferrer = Request.UrlReferrer,id = Model.Id,AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) },null)"><i class="glyphicon glyphicon-edit"></i>  Edit</a>
                    }
                </li>             
				<li>
                    @if ( User.CanDelete("T_City"))
                    {
                        <a href="@Url.Action("Delete", "T_City", new { UrlReferrer = Request.UrlReferrer,id = Model.Id, AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) }, null)"><i class="glyphicon glyphicon-remove-sign"></i>  Delete</a>
                    }
                </li>
	<li class="divider" style="clear:both"></li>
	<li class="dropdown-submenu pull-left" id="AddAssociationdropmenuT_City">
	 @{ var dropmenu = false; }
	<a tabindex="-1" href="#" style="margin-bottom:10px;"><i class="fam-anchor small"></i> Add</a>
    <ul class="dropdown-menu pull-left">
				@if ( User.CanAdd("T_Address"))
				{ dropmenu = true;
					<li>
						<a onclick=@Html.Raw("NavigateToUrl('" + Url.Action("Create", "T_Address", 
						new { UrlReferrer = Request.Url,
								AssociatedType ="T_AddressCity", 
							HostingEntityName = "T_City",
							HostingEntityID = @Convert.ToString(Model.Id) }, null) + "');")>
							<i class="glyphicon glyphicon-plus"></i>  Address City
						</a>
					</li>
				}
			</ul>
</li>
@if(!dropmenu)
{
    <script>
        $("#AddAssociationdropmenuT_City").hide();
    </script>
}
 <li class="divider" style="clear:both"></li>
 <li class="dropdown-submenu pull-left">
	<a tabindex="-1" href="#" style="margin-bottom:10px;">Find Matching</a>
    <ul class="dropdown-menu pull-left">
<li>
		<a href="@Url.Action("FindFSearch", "T_State", new {sourceEntity="T_City",id=Model.Id}, null)">State</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_Address", new {sourceEntity="T_City",id=Model.Id}, null)">Address</a>
</li>
</ul>
</li>
			</ul>


		</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="tabbable responsive">
    <ul class="nav nav-tabs">
	 <li class="active"><a href="#Details" onclick="ClearTabCookie('@User.JavaScriptEncodedName@Model.Id');" data-toggle="tab">Details</a></li>
		 <li @(!User.CanView("T_Address") ?"style=display:none;":"")><a onclick="LoadTab('T_AddressCity','@User.JavaScriptEncodedName@Model.Id','@Html.Raw(Url.Action("Index", "T_Address", new {RenderPartial=true, HostingEntity ="T_City", HostingEntityID = @Model.Id, AssociatedType = "T_AddressCity",TabToken = DateTime.Now.Ticks,}))')" href="#T_AddressCity" data-toggle="tab">
		 Address City
		 <span class="badge bg-blue"><div id="dvcnt_T_AddressCity">@ViewBag.T_AddressCityCount</div></span>
		 		 </a></li>
		 <li @(!User.CanView("JournalEntry")?"style=display:none;":"")><a onclick="LoadTab('JournalEntryToT_CityRelation','@User.JavaScriptEncodedName@Model.Id','@Url.Action("Index", "JournalEntry", new { RenderPartial = true, HostingEntity = "T_City", HostingEntityID = @Model.Id, AssociatedType = "JournalEntry", TabToken = DateTime.Now.Ticks })')" href="#JournalEntryToT_CityRelation" data-toggle="tab">City Journal</a></li>
    </ul>
	  @Html.HiddenFor(model => model.Id)
	    <div class="tab-content">
		   <div class="tab-pane fade in active" id="Details">
				 <div class="panel panel-default AppForm">
					<div class="panel-body">
                                  
			
			<div class="row">
@if(User.CanView("T_City","T_Name"))
{
<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_Name">
	<div class='form-group' title="@Model.T_Name">
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_Name) </label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
		
				
				<p id="lblT_Name" class="viewlabel">@Model.T_Name</p>
					
					</div>
	</div>
</div>
}
@if(User.CanView("T_City","T_Description"))
{
<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_Description">
	<div class='form-group' title="@Model.T_Description">
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_Description)</label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
		<p class="viewlabelmultiline">@Model.T_Description</p>
		</div>
	</div>
</div>
}
@if(User.CanView("T_City","T_CityCountryID"))
{
<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_CityCountry">
	<div class='form-group' >
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_CityCountryID)</label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
		@if (@Model.T_CityCountryID == 0 || @Model.T_CityCountryID == null || @Model.t_citycountry == null)
		{
	         <p id="lblT_CityCountryID" class="viewlabel"></p>
        }
        else
        {
		     <p id="lblT_CityCountryID" class="viewlabel" title="@Model.t_citycountry.DisplayValue">@Model.t_citycountry.DisplayValue</p>
        }
		</div>
	</div>
</div>
}
@if(User.CanView("T_City","T_CityStateID"))
{
<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_CityState">
	<div class='form-group' >
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_CityStateID)</label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
		@if (@Model.T_CityStateID == 0 || @Model.T_CityStateID == null || @Model.t_citystate == null)
		{
	         <p id="lblT_CityStateID" class="viewlabel"></p>
        }
        else
        {
		     <p id="lblT_CityStateID" class="viewlabel" title="@Model.t_citystate.DisplayValue">@Model.t_citystate.DisplayValue</p>
        }
		</div>
	</div>
</div>
}
		</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
				<a class="btn btn-default btn-sm pull-left formbuttonfix" Onclick="goBack('@Url.Action("Index","T_City")');">Back</a>
				@*@Html.ActionLink("Back", "Cancel", new { UrlReferrer = Request.UrlReferrer }, new { @class = "btn btn-default btn-sm pull-left formbuttonfix" })*@
					
					 @if ( User.CanEdit("T_City"))
                     {
                          @Html.ActionLink("Edit", "Edit", new { UrlReferrer = Request.UrlReferrer, id = Model.Id, AssociatedType = ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) }, new { @class = "btn btn-primary btn-sm pull-left formbuttonfix" })
                     }
				   
 @{ var dropmenubottom = false; }
<div class="dropdown pull-left formbuttonfix" style="" id="AddAssociationdropmenubottomT_City">
<button type="button" class="btn btn-primary btn-sm dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
            Add Association
            <span class="caret"></span>
        </button>
		 <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
			@if (User.CanAdd("T_Address"))
            {
			    dropmenubottom = true;
                <li><a onclick=@Html.Raw("NavigateToUrl('" + Url.Action("Create", "T_Address",
						new { UrlReferrer = Request.Url,
								AssociatedType ="T_AddressCity", 
						HostingEntityName = "T_City",
                              HostingEntityID = @Convert.ToString(Model.Id)
                        }, null) + "');")>
                   Add  Address City
                </a>
				</li>
            }

			
</ul>
</div>
@if(!dropmenubottom)
{
    <script>
        $("#AddAssociationdropmenubottomT_City").hide();
    </script>
}
			</div> 
			</div><div class="clearfix" style="clear:both"></div>
	</div>    
<div class="tab-pane fade in" id="JournalEntryToT_CityRelation">
            @if ( User.CanView("JournalEntry"))
		   {
			//	Html.RenderAction("Index", "JournalEntry", new { RenderPartial = true, HostingEntity = "T_City", HostingEntityID = @Model.Id, AssociatedType = "JournalEntry" });
		   }
  </div>
<div class="tab-pane fade in" id="T_AddressCity">
     @if ( User.CanView("T_Address"))
	{
	  // Html.RenderAction("Index", "T_Address", new {RenderPartial=true, HostingEntity = "T_City", HostingEntityID = @Model.Id, AssociatedType = "T_AddressCity" }); 
	}
  </div>
	</div> <!-- /tab-content --><br />

<br/>
</div>
 
