@model PagedList.IPagedList<GeneratorBase.MVC.Models.ApplicationFeedbackStatus>
@using PagedList.Mvc;
@{
    var ActionNameUrl = "Index";
    if (HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToUpper() == "FSEARCH")
    {
        ActionNameUrl = "FSearch";
    }
}
<div id="ApplicationFeedbackStatus">
<style>
    .table-responsive > .fixed-column {
        position: absolute;
        display: block;
        width: auto;
        border: 0px solid transparent;
        border-top: 1px solid #c3ddec;
    }
    .fixed-column th {
        background: #fff;
    }
    .fixed-column td {
        background: #fff;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
	 $(".pagination a").click(function (e) {
            //PaginationClick(e,'ApplicationFeedbackStatus')
			PaginationClick(e, 'ApplicationFeedbackStatus','@User.JavaScriptEncodedName')
        })
	    $("#SearchStringApplicationFeedbackStatus").keypress(function (e) {
			if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
				 $("#ApplicationFeedbackStatusSearch").bind("click", (function () {
                        }));
                $('#ApplicationFeedbackStatusSearch').trigger("click");
                return false;
			}
        })
        $("#btnShowHideApplicationFeedbackStatus").mouseup(function () {
            if (document.getElementById('ColumnShowHideApplicationFeedbackStatus').className == 'collapse') {
				 $('#lblApplicationFeedbackStatus').css('display', 'none');
            }
        })
    });
</script>
@functions {
    object getSortHtmlAttributes(string sortby, bool IsPaging, int? page, bool? IsExport)
    {
        if (IsPaging)
        {
            return new
            {
                page,
                sortBy = ViewBag.CurrentSort,
                isAsc = ViewBag.IsAsc,
                currentFilter = ViewBag.CurrentFilter,
                HostingEntity = @Convert.ToString(ViewData["HostingEntity"]),
                AssociatedType = @Convert.ToString(ViewData["AssociatedType"]),
                HostingEntityID = ViewData["HostingEntityID"],
				IsExport = IsExport,
				FSFilter = ViewBag.FSFilter == null ? "Fsearch" : ViewBag.FSFilter,
				IsFilter = @Convert.ToBoolean(ViewData["IsFilter"]),
				search=Request.QueryString["search"],
            };
        }
        else
        {
            return new
            {
                sortBy = sortby,
                currentFilter = Request.QueryString["currentFilter"],
                searchString = Request.QueryString["searchString"],
                isAsc = (ViewBag.IsAsc == "ASC" ? "DESC" : ""),
                page = ViewBag.Pages,
                HostingEntity = @Convert.ToString(ViewData["HostingEntity"]),
                HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]),
                AssociatedType = @Convert.ToString(ViewData["AssociatedType"]),
				IsExport = IsExport,
				FSFilter = ViewBag.FSFilter == null ? "Fsearch" : ViewBag.FSFilter,
				IsFilter = @Convert.ToBoolean(ViewData["IsFilter"]),
		search=Request.QueryString["search"],
            };
        }
    }
}
<div class="row">
    <div class="col-md-12 col-sm-12 col-sx-12">
        <div class="panel panel-default">
            <div class="panel-heading clearfix" style="margin:0px; padding:8px;">
                 <div class="btn-group">
				  @if ( User.CanAdd("ApplicationFeedbackStatus"))
				  {
					<button class="btn btn-default tip-top" data-placement="top" data-original-title="Quick Add" style="padding:3px 5px;" data-toggle="modal" data-target="#dvPopup" onclick="@Html.Raw("OpenPopUpEntity('addPopup','ApplicationFeedbackStatus','dvPopup','" + Url.Action("CreateQuick", "ApplicationFeedbackStatus", new { UrlReferrer = Request.Url, AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]), TS=DateTime.Now }) + "')")">
						<span class="fam-add"></span>
                    </button>
					<button class="btn btn-xs  btn-default tip-top" type="button" data-original-title="Full Add" data-placement="top" style="padding:4px 5px;" onclick=@Html.Raw("NavigateToUrl('" + Url.Action("Create", "ApplicationFeedbackStatus", new { UrlReferrer = Request.Url, AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) }, null) + "');")>
						<span class="fam-world-add"></span>
					</button>
			}
                </div>
				<div class="btn-group">
			@if ( User.CanAdd("ApplicationFeedbackStatus"))
			{
				if (ViewData["HostingEntity"]==null)
				{ 
				 <button type="button" class="btn btn-default btn-default tip-top" data-original-title="Import Excel" data-placement="top" style="padding:3px 5px;" onclick=@Html.Raw("NavigateToUrl('" + Url.Action("Upload", "ApplicationFeedbackStatus") + "');")>
                                        <span class="fam-page-white-put"></span>
                 </button>
				}
			}
				 <div class="btn btn-default  btn-default tip-top" data-original-title="Export Excel" data-placement="top" style="padding:3px 5px;" onclick=@Html.Raw("NavigateToUrl('" + Url.Action(ActionNameUrl,"ApplicationFeedbackStatus",getSortHtmlAttributes(null, false, null, true), null) + "');")>
                    <span class="fam-page-excel"></span>
                </div>
		 </div>
		<div class="btn-group">
             <button type="button" class="btn btn-default btn-default collapse-data-btn tip-top" id="btnShowHideApplicationFeedbackStatus" data-original-title="Show/Hide Column" data-placement="top" style="padding:3px 5px;" onclick=@Html.Raw("showhideColumns(event,'ApplicationFeedbackStatus');")>
                        <span class="fam-table-row-delete"></span>
                    </button>
                </div>
 <div class="btn-group">
    <a class="btn btn-default dropdown-toggle tip-top" data-original-title="Bulk Actions" style="padding:3px 5px;" data-toggle="dropdown" href="#">
            <span class="glyphicon glyphicon-trash"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
 <li>
	 @if ( User.CanDelete("ApplicationFeedbackStatus"))
     {
		<a onclick="PerformBulkOperation(this,'ApplicationFeedbackStatus','Bulk Delete','@Url.Action("DeleteBulk", "ApplicationFeedbackStatus")');">Delete</a>
	 } </li>
                        </ul>
                    </div>
				<div class="pull-right" style="width:250px;">
                        <div class="input-group">
                            @Html.TextBox("SearchStringApplicationFeedbackStatus", ViewBag.CurrentFilter as string, null, new { @class = "form-control fixsearchbox", @value = ViewBag.Homeval, @placeholder = "Search" })
                            <div class="input-group-btn">
                              <a id="ApplicationFeedbackStatusSearch" onclick="SearchClick(event, 'ApplicationFeedbackStatus', '@Html.Raw(Url.Action("Index", "ApplicationFeedbackStatus", new { IsFilter = ViewData["IsFilter"], IsDeepSearch = false, searchString = "_SearchString", HostingEntity = Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = Convert.ToString(ViewData["HostingEntityID"]), AssociatedType = Convert.ToString(ViewData["AssociatedType"]), SearchTimeStamp = DateTime.Now }))','@User.JavaScriptEncodedName');" data-original-title="Grid Search" class="btn btn-default btn-default tip-top" style="padding:3px 5px;"><span class="fam-zoom"></span></a>
								<button id="ApplicationFeedbackStatusCancel" type="button" class="btn btn-default btn-default collapse-data-btn tip-top" onclick="CancelSearch('ApplicationFeedbackStatus','@Html.Raw(Url.Action("Index", "ApplicationFeedbackStatus", new {IsFilter=ViewData["IsFilter"], HostingEntity = Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = Convert.ToString(ViewData["HostingEntityID"]), AssociatedType = Convert.ToString(ViewData["AssociatedType"]), ClearSearchTimeStamp = DateTime.Now }))','@User.JavaScriptEncodedName')" data-original-title="Clear Search" data-placement="top" style="padding:3px 5px;">
                                    <span class="fam-delete"></span>
                                </button>
                                <button id="ApplicationFeedbackStatusSearchCancel" type="button" class="btn btn-default btn-default collapse-data-btn tip-top" onclick="CancelSearch('ApplicationFeedbackStatus','@Html.Raw(Url.Action("Index", "ApplicationFeedbackStatus", new {IsFilter=ViewData["IsFilter"], HostingEntity = Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = Convert.ToString(ViewData["HostingEntityID"]), AssociatedType = Convert.ToString(ViewData["AssociatedType"]), ClearSearchTimeStamp = DateTime.Now }))','@User.JavaScriptEncodedName')" data-original-title="Refresh Grid" data-placement="top" style="padding:3px 5px;">
                                    <span class="fam-arrow-refresh"></span>
                                </button>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="panel-body" style="margin:0px; padding:8px;">
	@Html.Partial("~/Views/ApplicationFeedbackStatus/ShowHideColumns.cshtml") 
    <div id="Des_Table" class="table-responsive" style="overflow-x:auto;">
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr>
	 <th class="col2" style="width:20px;">
		<input type="checkbox" class="tip-top" data-placement="top" data-original-title="Select All" onclick="SelectAllRows(this);" />
        @Html.Hidden("SelectedItems")
	</th>
					<th class="col1" style="width:70px;">Actions</th>
@if(User.CanView("ApplicationFeedbackStatus","Name") )
{	
			<th class="col2">@Html.ActionLink("Name", ActionNameUrl, "ApplicationFeedbackStatus",getSortHtmlAttributes("Name", false, null, false),new {  @onclick = "SortLinkClick(event,'ApplicationFeedbackStatus');" }) 
				@if (ViewBag.IsAsc == "DESC" && ViewBag.CurrentSort == "Name")
                {<i class="fa fa-sort-desc"></i>}
                @if (ViewBag.IsAsc == "ASC" && ViewBag.CurrentSort == "Name")
                {<i class="fa fa-sort-asc"></i>}
			</th>
}
@if(User.CanView("ApplicationFeedbackStatus","Description") )
{	
			<th class="col3">@Html.ActionLink("Description", ActionNameUrl, "ApplicationFeedbackStatus",getSortHtmlAttributes("Description", false, null, false),new {  @onclick = "SortLinkClick(event,'ApplicationFeedbackStatus');" }) 
				@if (ViewBag.IsAsc == "DESC" && ViewBag.CurrentSort == "Description")
                {<i class="fa fa-sort-desc"></i>}
                @if (ViewBag.IsAsc == "ASC" && ViewBag.CurrentSort == "Description")
                {<i class="fa fa-sort-asc"></i>}
			</th>
}
       </tr>
@foreach (var item in Model) {
     <tr ondblclick="DoubleClickRow(@item.Id,'@Url.Action("Details", "ApplicationFeedbackStatus", new { id = item.Id, UrlReferrer = Request.Url, AssociatedType = ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) }, null)');">
	 <td>
			 <input type="checkbox" id="@item.Id" onclick="SelectForBulkOperation(this,'@item.Id');" />
	</td>
		   <td>
	   <div style="width:60px; margin-top:-2px;">
		<div class="btn-group" style="position:absolute;">
                                                <button data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-default">
                                                    Action
                                                    <span class="caret">    </span>
                                                </button>
			<ul class="dropdown-menu pull-left">
				<li>
                    <a href="@Url.Action("Details", "ApplicationFeedbackStatus", new { id = item.Id, AssociatedType = ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"])  }, null)"><i class="glyphicon glyphicon-eye-open"></i>  View</a>
                </li>
				<li>
                    @if ( User.CanEdit("ApplicationFeedbackStatus"))
                    {
                        <a href="@Url.Action("Edit","ApplicationFeedbackStatus", new { id = item.Id,  UrlReferrer = Request.Url, AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) },null)"><i class="glyphicon glyphicon-edit"></i>  Edit</a>
                    }
                </li>             
				@if ( User.CanAdd("ApplicationFeedback"))
				{
					<li>
						<a onclick=@Html.Raw("NavigateToUrl('" + Url.Action("Create", "ApplicationFeedback", 
						new { UrlReferrer = Request.Url,
								AssociatedType ="AssociatedApplicationFeedbackStatus", 
							HostingEntityName = "ApplicationFeedbackStatus",
							HostingEntityID = @Convert.ToString(item.Id) }, null) + "');")>
							<i class="glyphicon glyphicon-plus"></i>  Add Feedback
						</a>
					</li>
				}
							<li>
                    @if ( User.CanDelete("ApplicationFeedbackStatus"))
                    {
                        <a href="@Url.Action("Delete", "ApplicationFeedbackStatus", new { id = item.Id, UrlReferrer = Request.Url, AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) }, null)"><i class="glyphicon glyphicon-remove-sign"></i>  Delete</a>
                    }
                </li>
			</ul>
		</div>
		</div>
	</td>
	@if(User.CanView("ApplicationFeedbackStatus","Name"))
{
		<td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
}
@if(User.CanView("ApplicationFeedbackStatus","Description"))
{
		<td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
}
                                </tr>
                            }
                    </table>
                </div>
				 <ul id="Mob_List" class="list-group">
                    @foreach (var item in Model)
                    {
                        <li class="list-group-item">
@if(User.CanView("ApplicationFeedbackStatus","Name"))
{
		<p><span class="text-primary"> Name </span> : <span>
            @Html.DisplayFor(modelItem => item.Name)
         </span> </p>	
		 }
@if(User.CanView("ApplicationFeedbackStatus","Description"))
{
		<p><span class="text-primary"> Description </span> : <span>
            @Html.DisplayFor(modelItem => item.Description)
         </span> </p>	
		 }
<span class="label label-primary text-linkwhite"> 
@Html.ActionLink("View", "Details","ApplicationFeedbackStatus", new { id = item.Id },null)
</span>
<span class="label label-warning text-linkwhite"> 
@if ( User.CanEdit("ApplicationFeedbackStatus"))
				 {
					@Html.ActionLink("Edit", "Edit","ApplicationFeedbackStatus", new { id = item.Id, UrlReferrer = Request.Url, AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) },null)  
				 }
				 </span>
				<span class="label label-danger text-linkwhite"> 
				@if ( User.CanDelete("ApplicationFeedbackStatus"))
				 {
					@Html.ActionLink("Delete", "Delete", "ApplicationFeedbackStatus", new { id = item.Id, UrlReferrer = Request.Url, AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) }, null)    
				 }
				 </span>
				   </li>
                    }
                </ul>
  			   @if (Model.Count > 0)
                {
                    <div id="pagination">
                        @Html.PagedListPager(Model, page => Url.Action(ActionNameUrl, "ApplicationFeedbackStatus", getSortHtmlAttributes(null, true, page, false)))
                        <div class="fixPageSize">
                            Page Size :
                            @Html.DropDownList("PageSize", new SelectList(new Dictionary<string, int> { { "10", 10 }, { "20", 20 }, { "50", 50 }, { "100", 100 } }, "Key", "Value")
							, new { @id = "pagesizelistApplicationFeedbackStatus",
							 @onchange = @Html.Raw("pagesizelistChange(event,'ApplicationFeedbackStatus','"
							  + @User.JavaScriptEncodedName + "')"),
							 @Url = Html.Raw(@Url.Action(ActionNameUrl, "ApplicationFeedbackStatus",
							 getSortHtmlAttributes(ViewBag.CurrentSort, ViewBag.Pages == 1 ? false : true,
							 null, false), null)) })
							<span style="text-align:right;"> Total Count: @(Model.TotalItemCount)</span>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div> 
 </div>
</div>
