@{
    ViewBag.Title = "Admin Page";
}
<div class="modal fade" id="ShowAboutApp" tabindex="-1" role="dialog" aria-labelledby="ShowAboutAppLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="ShowAboutAppLabel">About Application</h4>
            </div>
            <div id="dvAboutApp" class="modal-body" style="padding:20px !important">
                @Html.Partial("~/Views/Shared/GenAppInformation.cshtml")
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-title">
            <i class="glyphicon glyphicon-home text-primary" style="margin-bottom:-20px;"></i> Admin
            <button class="btn btn-default pull-right" data-placement="top" style="padding:3px 5px;" data-toggle="modal" data-target="#ShowAboutApp" onclick=@Html.Raw("OpenDashBoard('dvAboutApp');") alt="About Application" title="About Application">
                About App
            </button>
        </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<ul class="adminmenu admin-menu row" style="margin-top:5px">

    <li class="col-sm-4">
        <ul>
            <li class="dropdown-header" alt="User Permissions & Security" title="User Permissions & Security">User Permissions & Security</li>
            @if (User.CanViewAdminFeature("User"))
            {
                <li><a href="@Url.Action("Index", "Account")"><i class="fa fa-users"></i> Users</a></li>
            }
            @if (User.CanViewAdminFeature("Role"))
            {
                <li><a href="@Url.Action("RoleList", "Account")"><i class="fa fa-check"></i> Roles</a></li>
            }
            @if (GeneratorBase.MVC.ModelReflector.Entities.Where(p => p.Associations.Where(q => q.Target == "IdentityUser").Count() > 0).Count() > 0)
            {
				if (User.CanViewAdminFeature("UserBasedSecurity"))
                {
					<li><a href="@Url.Action("UserBasedSecurity", "Permission")"><i class="fa fa-user-secret"></i> Set User Based Security</a></li>
				}
            }
            @if (User.CanViewAdminFeature("DynamicRoles"))
            {
                <li><a href="@Url.Action("Index", "DynamicRoleMapping")"><i class="fa fa-cube"></i> Dynamic Roles</a></li>
            }
			@if (User.CanView("JournalEntry"))
			{
				 <li><a href="@Url.Action("Index", "JournalEntry")"><i class="fa fa-video-camera"></i> Journal Entry (Audit log)</a></li>
			}
			@if (User.CanViewAdminFeature("ApplicationConfiguration"))
            {
            <li class="divider"></li>
            <li class="dropdown-header" alt="Application Configuration" title="Application Configuration">Application Configuration</li>
            <li><a href="@Url.Action("Index", "AppSetting")"><i class="fa fa-gears"></i> Configuration Setting</a></li>
			<li><a href="@Url.Action("Index", "EmailTemplate")"><i class="fa fa-envelope"></i> Email Templates</a></li>
}
        </ul>
		
    </li>
    <li class="col-sm-4">
        <ul>
		@if (User.CanViewAdminFeature("BusinessRule"))
            {
            <li class="dropdown-header" alt="Business Rules" title="Business Rules">Business Rules</li>
            <li><a href="@Url.Action("Index", "BusinessRule")"><i class="fa fa-cog"></i> Define Business Rules</a></li>
			  <li class="divider"></li>
			}
          
			 @if (User.CanViewAdminFeature("UserInterfaceSetting"))
            {
            <li class="dropdown-header">User Interface</li>
            <li><a href="@Url.Action("Index", "DefaultEntityPage")"><i class="fa fa-file"></i> Set Default Page for Entity</a></li>
            <li><a href="@Url.Action("Edit", "CompanyProfile")"><i class="fa fa-files-o"></i> Set Company Profile</a></li>
            <li><a href="@Url.Action("UserDefinePage", "UserDefinePages")"><i class="fa fa-file-text"></i> User Defined Pages</a></li>
            <li><a href="@Url.Action("Create", "Theme")"><i class="fa fa-th-large"></i> Themes</a></li>
			<li><a href="@Url.Action("Index", "ResourceLocalization")"><i class="fa fa-globe"></i> Display Labels Setting </a></li>
			 <li><a href="@Url.Action("Index", "Chart")"><i class="fa fa-group"></i> Application Charts</a></li>
			 }
        </ul>
		 
    </li>
   
    <li class="col-sm-4">
        @if (User.CanViewAdminFeature("ApplicationDocuments"))
        {
            <ul>
                <li class="dropdown-header" alt="Application Guide" title="Application Guide">Application Guide</li>
                @if (ViewBag.FileList != null)
                {
                    foreach (dynamic docs in ViewBag.FileList)
                    {
                        string docName = ((docs.GetType()).GetProperty("Name")).GetValue(docs, null);
                        if (docName.Contains("guide"))
                        {
                            int id = ((docs.GetType()).GetProperty("id")).GetValue(docs, null);

                            <li><a href="@Url.Action("GenerateDocument", "Template", new {id = @id})" style="text-transform: capitalize;"><i class="fa fa-file-word-o"></i> @docName</a></li>
                        }
                    }
                }
                <li class="divider"></li>
            </ul>
        }
        
        @if (User.CanViewAdminFeature("ApplicationDocuments"))
        {
            <ul>
                <li class="dropdown-header" alt="Current Configurations" title="Current Configurations">Current Configurations</li>
                @if (ViewBag.FileList != null)
                {
                    foreach (dynamic docs in ViewBag.FileList)
                    {
                        string docName = ((docs.GetType()).GetProperty("Name")).GetValue(docs, null);
                        if (!docName.Contains("guide"))
                        {
                            int id = ((docs.GetType()).GetProperty("id")).GetValue(docs, null);

                            <li><a href="@Url.Action("GenerateDocument", "Template", new { id = @id })" style="text-transform: capitalize;"><i class="fa fa-file-word-o"></i> @docName</a></li>
                        }
                    }
                }
                <li class="divider"></li>
            </ul>
        }
        
        @if (User.CanViewAdminFeature("ApplicationDocuments"))
        {
            <ul>
                <li class="dropdown-header" alt="Current Configurations" title="Current Configurations">Testing Documents</li>

                <li><a href="@Url.Action("DownloadTestScript", "Admin")" style="text-transform: capitalize;"><i class="fa fa-bell-o"></i> Selenium Test Cases </a></li>
                
            </ul>
        }
    </li>

</ul>
