@model GeneratorBase.MVC.Models.T_Vendor
@{
    ViewBag.Title = "Create Education Verification Vendor";
    Layout = null;
}
<script>
    $(document).ready(function () {
        try {
            var hostingEntityName = "";
            if ('@Convert.ToString(ViewData["AssociatedType"])' != null) {
                hostingEntityName = '@Convert.ToString(ViewData["AssociatedType"])';
                 $('#' + hostingEntityName + 'ID').attr("lock","true");
				  $('#' + hostingEntityName + 'ID').trigger("change");
            }
			
        }
        catch (ex) { }
		
		 
    });
</script>
<script type="text/javascript">
    var config = {
        '.chosen-select': {},
        '.chosen-select-deselect': { allow_single_deselect: true },
        '.chosen-select-no-single': { disable_search_threshold: 10 },
        '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
        '.chosen-select-width': { width: "95%" }
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }
</script>
@{
    if (!string.IsNullOrEmpty(ViewBag.T_VendorIsHiddenRule))
    {
        @Html.Raw(ViewBag.T_VendorIsHiddenRule);
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_VendorIsGroupsHiddenRule))
    {
        @Html.Raw(ViewBag.T_VendorIsGroupsHiddenRule);
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_VendorIsSetValueUIRule))
    {
        @Html.Raw(ViewBag.T_VendorIsSetValueUIRule);
    }
}
<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<link href="@Url.Content("~/Content/chosen.css")" rel="stylesheet" type="text/css" />
@using (Html.BeginForm("CreateQuick", "T_Vendor",FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken();
    Html.ValidationSummary(true);
    Html.EnableClientValidation();
	<input type="hidden" id="ErrMsgQuickAdd" />
	@*<label id="ErrMsgQuickAdd" class="text-primary small pull-right" style="color:red; vertical-align:middle; font-weight:100;"></label>*@
    <div id="errorContainerQuickAdd" style="display: none">
        <div id="errorsMsgQuickAdd"></div>
        <div id="errorsQuickAdd"></div>
    </div>
	<div id="divDisplayThresholdLimit" style="display:none;">
	</div>
	 <div id="divDisplayBRmsgMandatory" style="display:none;">
	</div>
	<div id="divDisplayBRmsgBeforeSaveProp" style="display:none;">
	</div>
		    <div class="row">
	@Html.Hidden("AssociatedEntity", Convert.ToString(ViewData["AssociatedType"]))
	@Html.Hidden("HostingEntityName", Convert.ToString(ViewData["HostingEntityName"]))
    @Html.Hidden("HostingEntityID", Convert.ToString(ViewData["HostingEntityID"]))
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default AppForm">
                <div class="panel-body">
               					<div class="row">
				        
								@if(User.CanView("T_Vendor","T_Title"))
						{
				<div class='col-sm-6' id="dvT_Title">
                                <div class='form-group' title="Title">
                                    <label>@Html.LabelFor(model => model.T_Title) </label>
									 
                                    @Html.TextBoxFor(model => model.T_Title, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.T_Title)
									
                                </div>
					</div>
						}
     
				
								@if(User.CanView("T_Vendor","T_FirstName"))
						{
				<div class='col-sm-6' id="dvT_FirstName">
                                <div class='form-group' title="First Name">
                                    <label>@Html.LabelFor(model => model.T_FirstName) <span class="text-danger-reg">*</span></label>
									 
                                    @Html.TextBoxFor(model => model.T_FirstName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.T_FirstName)
									
                                </div>
					</div>
						}
     
				
								@if(User.CanView("T_Vendor","T_MiddleName"))
						{
				<div class='col-sm-6' id="dvT_MiddleName">
                                <div class='form-group' title="Middle Name">
                                    <label>@Html.LabelFor(model => model.T_MiddleName) </label>
									 
                                    @Html.TextBoxFor(model => model.T_MiddleName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.T_MiddleName)
									
                                </div>
					</div>
						}
     
				
								@if(User.CanView("T_Vendor","T_LastName"))
						{
				<div class='col-sm-6' id="dvT_LastName">
                                <div class='form-group' title="Last Name">
                                    <label>@Html.LabelFor(model => model.T_LastName) </label>
									 
                                    @Html.TextBoxFor(model => model.T_LastName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.T_LastName)
									
                                </div>
					</div>
						}
     
				
								@if(User.CanView("T_Vendor","T_Email"))
						{
				<div class='col-sm-6' id="dvT_Email">
                                <div class='form-group' title="Email">
                                    <label>@Html.LabelFor(model => model.T_Email) </label>
									 
                                    @Html.TextBoxFor(model => model.T_Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.T_Email)
									
                                </div>
					</div>
						}
     
				
								@if(User.CanView("T_Vendor","T_PhoneNo"))
						{
				<div class='col-sm-6' id="dvT_PhoneNo">
                                <div class='form-group' title="Phone No">
                                    <label>@Html.LabelFor(model => model.T_PhoneNo) </label>
									 
                                    @Html.TextBoxFor(model => model.T_PhoneNo, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.T_PhoneNo)
									
                                </div>
					</div>
						}
     
				
								@if(User.CanView("T_Vendor","T_IdentificationNo"))
						{
				<div class='col-sm-6' id="dvT_IdentificationNo">
                                <div class='form-group' title="Identification No">
                                    <label>@Html.LabelFor(model => model.T_IdentificationNo) </label>
									 
                                    @Html.TextBoxFor(model => model.T_IdentificationNo, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.T_IdentificationNo)
									
                                </div>
					</div>
						}
     
				
				@if(User.CanAdd("Document"))
                { 

										if(User.CanView("T_Vendor","T_Picture"))
				{
     <div class='col-sm-6' id="dvT_Picture">
                            <div class='form-group' title="Picture">
                                   <label>@Html.LabelFor(model => model.T_Picture) </label>
                                     <div style="position:relative;">
										 <a class='btn btn-primary btnupload' href='javascript:;'>
											 Upload File
										 <input id="T_Picture"  type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;width:105px;' name="T_Picture" onchange='$("#upload-file-infoT_Picture").html($(this).val());'>
										</a>
										&nbsp;
										<span class='label uploadlblFix' id="upload-file-infoT_Picture"></span>
									</div> 
                            </div>
                   </div>
				   }

				   
				}
       </div>
                        </div>
                    </div>
                </div>
        </div>
		<button id="CancelQuickAdd" type="button" class="btn btn-default btn-sm" data-dismiss="modal" aria-hidden="true">Cancel</button>

		var busineesrule = User.businessrules.Where(p => p.EntityName == "T_Vendor").ToList();
		 var lstinlineentityname = "";
		 var lstinlineassocdispname ="";
		 var lstinlineassocname = "";
        if (ViewBag.IsAddPop != null)
		{
			<input type="submit" value="Create" class="btn btn-primary btn-sm" onclick="QuickAdd(event,'T_Vendor','@busineesrule',@busineesrule.Count,'OnCreate','ErrMsgQuickAdd',false,'@lstinlineassocname','@lstinlineassocdispname','@lstinlineentityname');" />
 <input type="submit"  value="Create & Continue" btnval="createcontinue" class="btn btn-primary btn-sm" onclick="QuickAdd(event,'T_Vendor','@busineesrule',@busineesrule.Count,'OnCreate','ErrMsgQuickAdd',false,'@lstinlineassocname','@lstinlineassocdispname','@lstinlineentityname');" />
		}
		else
		{
			<input type="submit" value="Create" class="btn btn-primary btn-sm" onclick="QuickAddFromIndex(event,true,'T_Vendor','@ViewData["AssociatedType"]','@busineesrule',@busineesrule.Count,'OnCreate','ErrMsgQuickAdd',false,'@lstinlineassocname','@lstinlineassocdispname','@lstinlineentityname');" />
 <input type="submit" value="Create & Continue" btnval="createcontinue" class="btn btn-primary btn-sm" onclick="QuickAddFromIndex(event,true,'T_Vendor','@ViewData["AssociatedType"]','@busineesrule',@busineesrule.Count,'OnCreate','ErrMsgQuickAdd',false,'@lstinlineassocname','@lstinlineassocdispname','@lstinlineentityname');" />
		}
}
<script src="@Url.Content("~/bundles/jqueryval")" type="text/javascript"></script>
<script src="@Url.Content("~/bundles/common3")" type="text/javascript"></script>

 <script type='text/javascript'>$(document).ready(function () {   $('#T_PhoneNo').mask('999-999-9999');  });</script>
<script type='text/javascript'>
    $(document).ready(function () {
        try {
            document.getElementsByTagName("body")[0].focus();
            $("#addPopup").removeAttr("tabindex");
            var cltcoll = $("#dvPopup").find('input[type=text]:not([class=hidden]):not([readonly]),textarea:not([readonly])');
            var cltid = "";
            $(cltcoll).each(function () {
			  if ($(this).attr("id") == undefined)
                    return
                var dvhidden = $("#dv" + $(this).attr("id"));
				var dvDate = $("#datetimepicker" + $(this).attr("id")).attr("id");

                if (!(dvhidden.css('display') == 'none') && dvDate == undefined) {
                    cltid = $(this);
                    return false;
                }
            });
            if (cltid != "" && cltid != undefined)
                setTimeout(function () { $(cltid).focus(); }, 500);
			var ctrlReadonly = $("#dvPopup").find('input[type=text][readonly],textarea[readonly]');
            $(ctrlReadonly).each(function () {
                $(ctrlReadonly).attr("tabindex", "-1");
            });
        }
        catch (ex) { }
    });
</script>

