@model GeneratorBase.MVC.Models.T_Vendor
@using PagedList;
@{
    ViewBag.Title = "View Education Verification Vendor";
	var EntityDisplayNameReflector = ModelReflector.Entities.FirstOrDefault(p => p.Name == "T_Vendor");
    var EntityDisplayName = EntityDisplayNameReflector != null ? EntityDisplayNameReflector.DisplayName : "Education Verification Vendor";
}
<script>
    $(document).ready(function () {
			 if ($.cookie('@User.JavaScriptEncodedName@Model.Id' + 'TabCookie') != null) {
				$('a[href="#' + $.cookie('@User.JavaScriptEncodedName@Model.Id' + 'TabCookie') + '"]').click();
			 }
    });
</script>
@{
    if (!string.IsNullOrEmpty(ViewBag.T_VendorIsHiddenRule))
    {
        @Html.Raw(ViewBag.T_VendorIsHiddenRule);
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_VendorIsGroupsHiddenRule))
    {
        @Html.Raw(ViewBag.T_VendorIsGroupsHiddenRule);
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_VendorIsSetValueUIRule))
    {
        @Html.Raw(ViewBag.T_VendorIsSetValueUIRule);
    }
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-title">
            <i class="glyphicon glyphicon-hand-down text-primary"></i> @EntityDisplayName  <i class="glyphicon glyphicon-chevron-right small"></i> <span>View</span>
        </h1>
        <h2 class="text-primary"><span id="HostingEntityDisplayValue">@Html.DisplayFor(model => model.DisplayValue)</span>
			<div class="btn-group pull-right fixactionbut">
            <button data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-default pull-right">
                Action
                <span class="caret">    </span>
            </button>
			<ul class="dropdown-menu pull-left">               
				<li>
                    @if ( User.CanEdit("T_Vendor"))
                    {
                        <a href="@Url.Action("Edit","T_Vendor", new { id = Model.Id,  UrlReferrer = Request.Url, AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) },null)"><i class="glyphicon glyphicon-edit"></i>  Edit</a>
                    }
                </li>             
				<li>
                    @if ( User.CanDelete("T_Vendor"))
                    {
                        <a href="@Url.Action("Delete", "T_Vendor", new { id = Model.Id, UrlReferrer = Request.Url, AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) }, null)"><i class="glyphicon glyphicon-remove-sign"></i>  Delete</a>
                    }
                </li>
	<li class="divider" style="clear:both"></li>
	<li class="dropdown-submenu pull-left">
	<a tabindex="-1" href="#" style="margin-bottom:10px;"><i class="fam-anchor small"></i> Add</a>
    <ul class="dropdown-menu pull-left">
				@if ( User.CanAdd("T_Education"))
				{
					<li>
						<a onclick=@Html.Raw("NavigateToUrl('" + Url.Action("Create", "T_Education", 
						new { UrlReferrer = Request.Url,
								AssociatedType ="T_EducationVerificationVendor", 
							HostingEntityName = "T_Vendor",
							HostingEntityID = @Convert.ToString(Model.Id) }, null) + "');")>
							<i class="glyphicon glyphicon-plus"></i>  Employee Education
						</a>
					</li>
				}
			</ul>
</li>
			</ul>
</div>
		</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="tabbable responsive">
    <ul class="nav nav-tabs">
	 <li class="active"><a href="#Details" onclick="ClearTabCookie('@User.JavaScriptEncodedName@Model.Id');" data-toggle="tab">Details</a></li>
		 <li @(!User.CanView("T_Education")?"style=display:none;":"")><a onclick="LoadTab('T_EducationVerificationVendor','@User.JavaScriptEncodedName@Model.Id','@Html.Raw(Url.Action("Index", "T_Education", new {RenderPartial=true, HostingEntity ="T_Vendor", HostingEntityID = @Model.Id, AssociatedType = "T_EducationVerificationVendor",TabToken = DateTime.Now.Ticks,}))')" href="#T_EducationVerificationVendor" data-toggle="tab">
		 Employee Education
		 <span class="badge bg-blue"><div id="dvcnt_T_EducationVerificationVendor">@ViewBag.T_EducationVerificationVendorCount</div></span>
		 		 </a></li>
		 <li @(!User.CanView("JournalEntry")?"style=display:none;":"")><a onclick="LoadTab('JournalEntryToT_VendorRelation','@User.JavaScriptEncodedName@Model.Id','@Url.Action("Index", "JournalEntry", new { RenderPartial = true, HostingEntity = "T_Vendor", HostingEntityID = @Model.Id, AssociatedType = "JournalEntry", TabToken = DateTime.Now.Ticks })')" href="#JournalEntryToT_VendorRelation" data-toggle="tab">Education Verification Vendor Journal</a></li>
    </ul>
	    <div class="tab-content">
		   <div class="tab-pane fade in active" id="Details">
				 <div class="panel panel-default AppForm">
					<div class="panel-body">
							  <div class='col-sm-12'>
							   <div class="row">
                                   
 @if(User.CanView("T_Vendor","T_Picture") && User.CanView("Document"))
{
                                if (!string.IsNullOrEmpty(Html.DisplayFor(model => model.T_Picture).ToString()))
                                {
                                    <div class="col-sm-2 col-md-2" id="dvT_Picture">
                                        <div>
																					<a class="thumbnail" href="#" data-image-id=""
                                               data-toggle="modal"
                                               data-image='@(!string.IsNullOrEmpty(Html.DisplayFor(model => model.T_Picture).ToString()) ? Url.Content("~/Files/") + Url.Content(Html.DisplayFor(model => model.T_Picture).ToString()) : "")'
                                               data-target="#image-galleryT_Picture">
                                                <img src='@(!string.IsNullOrEmpty(Html.DisplayFor(model => model.T_Picture).ToString()) ? Url.Content("~/Files/") + Url.Content(Html.DisplayFor(model => model.T_Picture).ToString()) : "")' alt="T_Picture" class="thumbnail" />
                                            </a>
                                               <div class="caption" style="margin: -40px 0px 0px 0">
                                                <h5 class="text-center">@Html.DisplayNameFor(model => model.T_Picture)</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="image-galleryT_Picture" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" class="fa fa-close"></span><span class="sr-only">Close</span></button>
                                                    <h4 class="modal-title" id="image-gallery-title">@Model.DisplayValue</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <img id="image-gallery-image" class="img-responsive" src="">
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-sm-2 col-md-2" id="dvT_Picture">
                                        <div class="thumbnail">
                                            <img src="~/Content/images/user.png" alt="" class="thumbnail">
                                            <div class="caption" style="margin: -31px 0px -15px 0">
                                                <h5 class="text-center">@Html.DisplayNameFor(model => model.T_Picture)</h5>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
				</div>
		</div>
			<div class="row">
				<div class="col-sm-12 col-md-12 col-xs-12">
			<div class="row">
@if(User.CanView("T_Vendor","T_Title"))
{
<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_Title">
	<div class='form-group' title="Title">
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_Title) </label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
		
				
				<p class="viewlabel">@Model.T_Title</p>
					
					</div>
	</div>
</div>
}
@if(User.CanView("T_Vendor","T_FirstName"))
{
<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_FirstName">
	<div class='form-group' title="First Name">
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_FirstName) </label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
		
				
				<p class="viewlabel">@Model.T_FirstName</p>
					
					</div>
	</div>
</div>
}
@if(User.CanView("T_Vendor","T_MiddleName"))
{
<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_MiddleName">
	<div class='form-group' title="Middle Name">
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_MiddleName) </label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
		
				
				<p class="viewlabel">@Model.T_MiddleName</p>
					
					</div>
	</div>
</div>
}
@if(User.CanView("T_Vendor","T_LastName"))
{
<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_LastName">
	<div class='form-group' title="Last Name">
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_LastName) </label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
		
				
				<p class="viewlabel">@Model.T_LastName</p>
					
					</div>
	</div>
</div>
}
@if(User.CanView("T_Vendor","T_Email"))
{
<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_Email">
	<div class='form-group' title="Email">
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_Email) </label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
		
				
				<p class="viewlabel">@Model.T_Email</p>
					
					</div>
	</div>
</div>
}
@if(User.CanView("T_Vendor","T_PhoneNo"))
{
<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_PhoneNo">
	<div class='form-group' title="Phone No">
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_PhoneNo) </label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
		
				
				<p class="viewlabel">@Model.T_PhoneNo</p>
					
					</div>
	</div>
</div>
}
@if(User.CanView("T_Vendor","T_IdentificationNo"))
{
<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_IdentificationNo">
	<div class='form-group' title="Identification No">
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_IdentificationNo) </label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
		
				
				<p class="viewlabel">@Model.T_IdentificationNo</p>
					
					</div>
	</div>
</div>
}
		</div>
				</div>
			</div>
		</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					@Html.ActionLink("Back", "Cancel", new { UrlReferrer = Request.UrlReferrer }, new { @class = "btn btn-default btn-sm pull-left formbuttonfix" })
					 @if ( User.CanEdit("T_Vendor"))
                     {
                          @Html.ActionLink("Edit", "Edit", new { id = Model.Id, AssociatedType = ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) }, new { @class = "btn btn-primary btn-sm pull-left formbuttonfix" })
                     }
				</div>
			</div>    

<div class="dropdown pull-left formbuttonfix" style="margin-top:-30px; margin-left:102px;">
<button type="button" class="btn btn-primary btn-sm dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
            Add Association
            <span class="caret"></span>
        </button>
		 <ul class="dropdown-menu " role="menu" aria-labelledby="dropdownMenu1">
           
			@if ( User.CanAdd("T_Education"))
            {
				 <li>
				 <a onclick=@Html.Raw("NavigateToUrl('" + Url.Action("Create", "T_Education",
						new { UrlReferrer = Request.Url,
								AssociatedType ="T_EducationVerificationVendor", 
						HostingEntityName = "T_Vendor",
                              HostingEntityID = @Convert.ToString(Model.Id)
                        }, null) + "');") style="margin-top:5px;">
                   Add  Employee Education</a>
			</li>
            }
			

        </ul>

			</div>
	</div>    
<div class="tab-pane fade in" id="T_EducationVerificationVendor">
     @if ( User.CanView("T_Education"))
	{
	  // Html.RenderAction("Index", "T_Education", new {RenderPartial=true, HostingEntity = "T_Vendor", HostingEntityID = @Model.Id, AssociatedType = "T_EducationVerificationVendor" }); 
	}
  </div>
<div class="tab-pane fade in" id="JournalEntryToT_VendorRelation">
            @if ( User.CanView("JournalEntry"))
		   {
			//	Html.RenderAction("Index", "JournalEntry", new { RenderPartial = true, HostingEntity = "T_Vendor", HostingEntityID = @Model.Id, AssociatedType = "JournalEntry" });
		   }
  </div>
	</div> <!-- /tab-content --><br />

<br/>
</div>
 
