@model GeneratorBase.MVC.Models.T_Vendor
@using PagedList;
@{
    ViewBag.Title = "Edit Education Verification Vendor";
	var EditPermission = User.CanEditItem("T_Vendor", Model, User);
	var DeletePermission = User.CanDeleteItem("T_Vendor", Model, User);
	Layout = null;
	
}
@functions {
    object getHtmlAttributes(string Property)
    {
        if (User.CanEdit("T_Vendor", Property))
        {
            return new { @class = "form-control" };
        } return new { @class = "form-control", @readonly = "readonly" };
    }
}
<script>
    $(document).ready(function () {
        try {
		 if ($('#EntityT_VendorDisplayValue').has('option').length > 0) {
			var RecId = $("#Id").val()
            $("#T_VendorDD").append($("#EntityT_VendorDisplayValue").html());
            $("#T_VendorDD").val(RecId);

			var text = $("option:selected", $("#T_VendorDD")).text();
            $("#T_VendorDD").attr('data-toggle', 'tooltip')
            $("#T_VendorDD").attr('title', text);

            var lastOptionVal = $('#T_VendorDD option:last-child').val();
            var fristOptionVal = $('#T_VendorDD option:first-child').val();
            if (lastOptionVal == RecId)
			{
                $('#next').hide();
				$('#SaveAndContinue').hide();
				}

            if (fristOptionVal == RecId)
                $('#prev').hide();
			} else {  $('#dvsavenext').hide(); $('#SaveAndContinue').hide(); }
            var hostingEntityName = "";
            if ('@Convert.ToString(ViewData["AssociatedType"])' != null) {
                hostingEntityName = '@Convert.ToString(ViewData["AssociatedType"])';
				if( '@Convert.ToBoolean(ViewData["IsFilter"])'!="False")
				$('#' + hostingEntityName + 'ID').attr("lock","true");
				$('#' + hostingEntityName + 'ID').trigger("change");
				 $("input[type='radio'][name='" + hostingEntityName + "ID']").each(function () {
                    if (!this.checked)
                        this.closest("li").style.display = "none";
                });		
						
            }
        }
        catch (ex) { }
    });
</script>
<script type="text/javascript">
    var config = {
        '.chosen-select': {},
        '.chosen-select-deselect': { allow_single_deselect: true },
        '.chosen-select-no-single': { disable_search_threshold: 10 },
        '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
        '.chosen-select-width': { width: "95%" }
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }
</script>

@{
    if (!string.IsNullOrEmpty(ViewBag.T_VendorIsHiddenRule))
    {
        @Html.Raw(ViewBag.T_VendorIsHiddenRule);
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_VendorIsGroupsHiddenRule))
    {
        @Html.Raw(ViewBag.T_VendorIsGroupsHiddenRule);
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_VendorIsSetValueUIRule))
    {
        @Html.Raw(ViewBag.T_VendorIsSetValueUIRule);
    }
}
<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<div class="row">
    <div class="col-lg-12">
        @*<label id="ErrMsg" class="text-primary small pull-right" style="color:red; vertical-align:middle; font-weight:100;"></label>*@
		<input type="hidden" id="ErrMsg" />
		<div id="errorContainerEdit" style="display: none">
            <div id="errorsMsgEdit"></div>
            <div id="errorsEdit"></div>
        </div>
     <div class="col-sm-6 col-md-6 col-xs-12" style="margin-top: -12px;">
            <h2 class="text-primary">
                <span id="HostingEntityDisplayValue">@Html.DisplayFor(model => model.DisplayValue)</span>
            </h2>
        </div>
        @if (EditPermission)
            {
            <div class="col-sm-6 col-md-6 col-xs-12" id="dvsavenext">
                <button class="btn btn-default btn-xs pull-right" id="next" onclick="@Html.Raw("nextFun('T_Vendor')")">Next >></button>
                @Html.DropDownList("T_VendorDD", null, null, new { @onchange = "FillDisplayValueQEdit('T_Vendor')", @required = "required", @class = "pull-right", @Style = "height: 22px;width: 170px;" })
                <button class="btn btn-default btn-xs pull-right" id="prev" onclick="@Html.Raw("prevFun('T_Vendor')")"><< Prev</button>
            </div>
        }
    </div>
    <!-- /.col-lg-12 -->
	<div id="divDisplayBRmsgBeforeSaveProp" style="display:none;">
</div>
<div id="divDisplayBRmsgMandatory" style="display:none;">
</div>
<div id="divDisplayLockRecord" style="display:none;">
</div>
<div id="divDisplayBRReadOnly" style="display:none;">
</div>
<br/>
</div>
	
@using (Html.BeginForm("EditQuick","T_Vendor",new {UrlReferrer =Convert.ToString(ViewData["T_VendorParentUrl"])}, FormMethod.Post, new { enctype = "multipart/form-data", @id = "frmQEditT_Vendor" }))
{
     Html.ValidationSummary(true);
                Html.EnableClientValidation();
    @Html.HiddenFor(model => model.Id)
	@Html.HiddenFor(model => model.ConcurrencyKey)
	 <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12" style="padding:0px; margin:0px;">
                    <div class="panel panel-default AppForm">
						<div class="panel-body">
						    @Html.Hidden("AssociatedEntity", Convert.ToString(ViewData["AssociatedType"]))
											<div class="row">
				@if(User.CanView("T_Vendor","T_Title"))
{


					<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_Title">
							<div class='form-group' title="Title">
								<label  >@Html.LabelFor(model => model.T_Title)   </label>
                                
											
									@Html.TextBoxFor(model => model.T_Title,  getHtmlAttributes("T_Title"))
									@Html.ValidationMessageFor(model => model.T_Title)
									
								
                             </div>
						</div>

				
					


} else { @Html.HiddenFor(model => model.T_Title, new { @class = "form-control" })}
@if(User.CanView("T_Vendor","T_FirstName"))
{


					<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_FirstName">
							<div class='form-group' title="First Name">
								<label  >@Html.LabelFor(model => model.T_FirstName)  <span class="text-danger-reg">*</span> </label>
                                
											
									@Html.TextBoxFor(model => model.T_FirstName,  getHtmlAttributes("T_FirstName"))
									@Html.ValidationMessageFor(model => model.T_FirstName)
									
								
                             </div>
						</div>

				
					


} else { @Html.HiddenFor(model => model.T_FirstName, new { @class = "form-control" })}
@if(User.CanView("T_Vendor","T_MiddleName"))
{


					<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_MiddleName">
							<div class='form-group' title="Middle Name">
								<label  >@Html.LabelFor(model => model.T_MiddleName)   </label>
                                
											
									@Html.TextBoxFor(model => model.T_MiddleName,  getHtmlAttributes("T_MiddleName"))
									@Html.ValidationMessageFor(model => model.T_MiddleName)
									
								
                             </div>
						</div>

				
					


} else { @Html.HiddenFor(model => model.T_MiddleName, new { @class = "form-control" })}
@if(User.CanView("T_Vendor","T_LastName"))
{


					<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_LastName">
							<div class='form-group' title="Last Name">
								<label  >@Html.LabelFor(model => model.T_LastName)   </label>
                                
											
									@Html.TextBoxFor(model => model.T_LastName,  getHtmlAttributes("T_LastName"))
									@Html.ValidationMessageFor(model => model.T_LastName)
									
								
                             </div>
						</div>

				
					


} else { @Html.HiddenFor(model => model.T_LastName, new { @class = "form-control" })}
@if(User.CanView("T_Vendor","T_Email"))
{


					<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_Email">
							<div class='form-group' title="Email">
								<label  >@Html.LabelFor(model => model.T_Email)   </label>
                                
											
									@Html.TextBoxFor(model => model.T_Email,  getHtmlAttributes("T_Email"))
									@Html.ValidationMessageFor(model => model.T_Email)
									
								
                             </div>
						</div>

				
					


} else { @Html.HiddenFor(model => model.T_Email, new { @class = "form-control" })}
@if(User.CanView("T_Vendor","T_PhoneNo"))
{


					<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_PhoneNo">
							<div class='form-group' title="Phone No">
								<label  >@Html.LabelFor(model => model.T_PhoneNo)   </label>
                                
											
									@Html.TextBoxFor(model => model.T_PhoneNo,  getHtmlAttributes("T_PhoneNo"))
									@Html.ValidationMessageFor(model => model.T_PhoneNo)
									
								
                             </div>
						</div>

				
					


} else { @Html.HiddenFor(model => model.T_PhoneNo, new { @class = "form-control" })}
@if(User.CanView("T_Vendor","T_IdentificationNo"))
{


					<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_IdentificationNo">
							<div class='form-group' title="Identification No">
								<label  >@Html.LabelFor(model => model.T_IdentificationNo)   </label>
                                
											
									@Html.TextBoxFor(model => model.T_IdentificationNo,  getHtmlAttributes("T_IdentificationNo"))
									@Html.ValidationMessageFor(model => model.T_IdentificationNo)
									
								
                             </div>
						</div>

				
					


} else { @Html.HiddenFor(model => model.T_IdentificationNo, new { @class = "form-control" })}
				@if(User.CanView("T_Vendor","T_Picture") && User.CanView("Document"))
				{

								 <div class='col-sm-6 col-md-6 col-xs-12' id="dvT_Picture">
                            <div class='form-group' title="Picture">
							@Html.TextBoxFor(model => model.T_Picture, new { @class = "hidden" })
                                   <label  >@Html.LabelFor(model => model.T_Picture) </label>
                                     
									 <div style="position:relative;">
										 <a class='btn btn-primary btnupload' href='javascript:;'>
											 Upload File
										 <input id="File_T_Picture"  type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;width:105px;' name="File_T_Picture" onchange='uploadedFileName("upload-file-infoFile_T_Picture",$(this).val());'>
										</a>
										&nbsp;
										<span class='label uploadlblFix' id="upload-file-infoFile_T_Picture"></span>
										@if (!string.IsNullOrEmpty(Html.DisplayFor(model => model.T_Picture).ToString()))
										{
																					<img src='@(!string.IsNullOrEmpty(Html.DisplayFor(model => model.T_Picture).ToString()) ? Url.Content("~/Files/") + Url.Content(Html.DisplayFor(model => model.T_Picture).ToString()) : "")' alt="NA" class="picupload" />
										}
									</div> 
									
                            </div>
                   </div>
				


				 
} else { @Html.HiddenFor(model => model.T_Picture, new { @class = "form-control" })}
       </div>


	            </div>
        </div>
	</div>
</div>
		 @Html.AntiForgeryToken();
		 var businessrule1 = User.businessrules.Where(p => p.EntityName == "T_Vendor").ToList();
		 var lstinlineentityname = "";
		 var lstinlineassocdispname ="";
		 var lstinlineassocname = "";
		 <button id="CancelQuickAdd" type="button" class="btn btn-default btn-sm" data-dismiss="modal" aria-hidden="true">Cancel</button>
		 if (EditPermission)
         {
			    <input type="submit" id="command" name="command" value="Save & Close" class="btn btn-primary btn-sm" onclick="QuickEditFromGrid(event,true,'T_Vendor','@ViewData["AssociatedType"]',false,'@businessrule1',@businessrule1.Count,'OnEdit','ErrMsg',false,'@lstinlineassocname','@lstinlineassocdispname','@lstinlineentityname');" />
				<input type="submit" id="sevranBtn" style="display:none;" name="command" value="Save" class="btn btn-primary btn-sm" onclick="QuickEditFromGrid(event,true,'T_Vendor','@ViewData["AssociatedType"]',false,'@businessrule1',@businessrule1.Count,'OnEdit','ErrMsg',false,'@lstinlineassocname','@lstinlineassocdispname','@lstinlineentityname','True');" />
                <button type="button" id="SaveAndContinue" name="SaveAndContinue" class="btn btn-primary btn-sm" onclick="@Html.Raw("SaveAndContinueEdit('T_Vendor',event)")">Save & Next</button>
				<input type="hidden" name="hdncommand" value="" />
  		 }	
}
<script src="@Url.Content("~/bundles/jqueryval")" type="text/javascript"></script>
<script src="@Url.Content("~/bundles/common3")" type="text/javascript"></script>

<script>
    $("input[type='submit']").click(function (event) {
	if (!$("#frmQEditT_Vendor").valid()) return;
	
        var $this = $(this);
        $('input:hidden[name="hdncommand"]').val($this.val());
    });
</script>
@{
var businessrule = User.businessrules.Where(p => p.EntityName == "T_Vendor").ToList();


	


if ((businessrule != null && businessrule.Count > 0) )
{
var ruleids = businessrule.Select(q => q.Id).ToList();
var typelist  = string.Join(",", (new GeneratorBase.MVC.Models.RuleActionContext()).RuleActions.Where(p => ruleids.Contains(p.RuleActionID.Value) && p.associatedactiontype.TypeNo.HasValue).Select(p => p.associatedactiontype.TypeNo.Value).Distinct().ToList());

    <script>
    $(document).ready(function () {
	document.getElementById("ErrMsg").innerHTML = "";
		 var flag = true;
                var dataurl = "";
                var form = "";
                var inlinecount = "0";

				 form = $("#frmQEditT_Vendor").serialize();
					 dataurl = "@Url.Action("businessruletype", "T_Vendor", new { ruleType = "OnEdit"})";
            ApplyBusinessRuleOnPageLoad("@typelist",dataurl, "T_Vendor", false, "ErrMsg", form);
			//business rules on inline associations
    });
</script>
<script>
    $("form").submit(function (event) {
	if (!$("#frmQEditT_Vendor").valid()) return;
	document.getElementById("ErrMsg").innerHTML = "";
            var flag = true;
		var form = $("#frmQEditT_Vendor").serialize();
					});
</script>
}
 
}
 <script type='text/javascript'>$(document).ready(function () {   $('#T_PhoneNo').mask('999-999-9999');  });</script>
<script type='text/javascript'>
    $(document).ready(function () {
        try {
            document.getElementsByTagName("body")[0].focus();
            $("#addPopup").removeAttr("tabindex");
            var cltcoll = $("#dvPopup").find('input[type=text]:not([class=hidden]):not([readonly]),textarea:not([readonly])')
            var cltid = "";
            $(cltcoll).each(function () {
			  if ($(this).attr("id") == undefined)
                    return
                var dvhidden = $("#dv" + $(this).attr("id"));
				var dvDate = $("#datetimepicker" + $(this).attr("id")).attr("id");
                if (!(dvhidden.css('display') == 'none') && dvDate == undefined) {
                    cltid = $(this);
                    return false;
                }
            });
            if (cltid != "" && cltid != undefined)
                setTimeout(function () { $(cltid).focus(); }, 500)
        }
        catch (ex) { }
    });
</script>

