@model GeneratorBase.MVC.Models.T_TypeOfRestrictions
<script>
    var delay = (function () {
        var timer = 0;
        return function (callback, ms) {
            clearTimeout(timer);
            timer = setTimeout(callback, ms);
        };
    })();
 $(document).ready(function () {
	 $('#btnT_Restrictions').click(function () {
        var dataurl = '@Url.Action("GetAllValues1")';
        SearchListNew1($('#btnT_Restrictions'), dataurl, $('#txtSearchT_Restrictions').val(), 'T_EmployeeInjury', '@ViewData["HostingEntityID"]', 'T_TypeOfRestrictions_T_EmployeeInjury', 'T_RestrictionsIDAvailable', 't_restrictionsfacilityassociation,t_typeofrestrictions');
        return false;
    });
	 $('#btnT_EmployeeInjury').click(function () {
        var dataurl = '@Url.Action("GetAllValues1")';
        SearchListNew1($('#btnT_EmployeeInjury'), dataurl, $('#txtSearchT_EmployeeInjury').val(), 'T_Restrictions', '@ViewData["HostingEntityID"]', 'T_TypeOfRestrictions_T_Restrictions', 'T_EmployeeInjuryIDAvailable', 't_typeofclaim,t_typeofrestrictions,t_employeeemployeeinjury,t_typeofclaimmci,t_accidentshift,t_facilityaccidentoccured,t_unitwhereaccidentoccured,t_employeinjuryfloor,t_locationofaccident,t_employeeinjurycause,t_employeeinjurynature,t_employeeinjurybodypartsaffected,t_employeeinjurymachinetool,t_initialtreatmentlist,t_employeeinjurymedicalfacilityfortreatment,t_employeeinjuryrefusal,T_OSHA');
        return false;
    });
});
</script>
@using (Html.BeginForm("Create", "T_TypeOfRestrictions",new {UrlReferrer = Convert.ToString(ViewData["T_TypeOfRestrictionsParentUrl"]), IsDDAdd = ViewBag.IsDDAdd }, FormMethod.Post, new { enctype = "multipart/form-data", id = "frmT_TypeOfRestrictions"  }))
{
   @Html.AntiForgeryToken();
    Html.ValidationSummary(true);
    Html.EnableClientValidation();
	<input type="hidden" id="ErrMsg" />
    <div id="errorContainer" style="display: none">
        <div id="errorsMsg"></div>
        <div id="errors"></div>
    </div>
    <div id="divDisplayThresholdLimit" style="display:none;">
    </div>
    <div id="divDisplayBRmsgMandatory" style="display:none;">
    </div>
    <div id="divDisplayBRmsgBeforeSaveProp" style="display:none;">
    </div>
    <div id="divDisplayCodeFragment" style="display:none;">
    </div>
    <div class="row" style='display:none;' >
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default AppForm">
                <div class="panel-body">
               <div class="row" >         
				@if (Convert.ToString(ViewData["AssociatedType"]).Trim() == "T_TypeOfRestrictions_T_Restrictions")
                {
				 <div class='col-sm-6 col-md-6 col-xs-12'>
                        <div class='form-group'>
                            <label class="col-sm-5 col-md-5 col-xs-12">@Html.LabelFor(model => model.T_RestrictionsID) </label>
							<div class="input-group col-sm-7 col-md-7 col-xs-12">
                            <div class="input-group" style="width:100%;">
		@Html.DropDownList("T_RestrictionsID", null, "-- Select --", new {    @class = "chosen-select form-control", @HostingName = "T_Restrictions", @dataurl = Url.Action("GetAllValue", "T_Restrictions",null) })
                                @Html.ValidationMessageFor(model => model.T_RestrictionsID)
								@if (User.CanAdd("T_Restrictions"))
                                    {
                                <div class="input-group-btn">
									<a class="btn btn-default btn ie8fix"  data-target="#dvPopup" onclick="@Html.Raw("OpenPopUpEntity('addPopup','Type Of Restrictions','dvPopup','" + Url.Action("CreateQuick", "T_Restrictions", new { UrlReferrer = Request.Url, HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]), IsAddPop=true }) + "')")">
										<span class="glyphicon glyphicon-plus-sign"></span>
                                    </a>
                                </div>
								}
                            </div>
							</div>
                        </div>
                    </div>
				}
				@if (Convert.ToString(ViewData["AssociatedType"]).Trim() == "T_TypeOfRestrictions_T_EmployeeInjury")
                {
				 <div class='col-sm-6 col-md-6 col-xs-12'>
                        <div class='form-group'>
                            <label class="col-sm-5 col-md-5 col-xs-12">@Html.LabelFor(model => model.T_EmployeeInjuryID) </label>
							<div class="input-group col-sm-7 col-md-7 col-xs-12">
                            <div class="input-group" style="width:100%;">
		@Html.DropDownList("T_EmployeeInjuryID", null, "-- Select --", new {    @class = "chosen-select form-control", @HostingName = "T_EmployeeInjury", @dataurl = Url.Action("GetAllValue", "T_EmployeeInjury",null) })
                                @Html.ValidationMessageFor(model => model.T_EmployeeInjuryID)
								@if (User.CanAdd("T_EmployeeInjury"))
                                    {
                                <div class="input-group-btn">
									<a class="btn btn-default btn ie8fix"  data-target="#dvPopup" onclick="@Html.Raw("OpenPopUpEntity('addPopup','Employees Injuries','dvPopup','" + Url.Action("CreateQuick", "T_EmployeeInjury", new { UrlReferrer = Request.Url, HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]), IsAddPop=true }) + "')")">
										<span class="glyphicon glyphicon-plus-sign"></span>
                                    </a>
                                </div>
								}
                            </div>
							</div>
                        </div>
                    </div>
				}
       </div>
                        </div>
                    </div>
                </div>
        </div>
  if (Convert.ToString(ViewData["AssociatedType"]).Trim() != "T_TypeOfRestrictions_T_Restrictions")
  { 
	<div class="M2MList">
		<div class="col-md-5" style="overflow:auto !important;max-height:400px;min-height:400px;">
           
            @Html.TextBox("txtSearchT_Restrictions", null, new { @class = "form-control", placeholder = "Search Restrictions", @size = 10, @dataurl = Url.Action("GetAllValues") })
 
				@if (ViewBag.t_restrictionsfacilityassociation!=null)
                {
						<div class='form-group col-sm-12' title="Facility" style="padding:10px 0px 0px 0px; margin:0px;">
							<div class='form-group col-sm-4' style="padding:0px">
								<label class="text-primary small"> Facility</label>
							</div>
							<div class="input-group col-sm-6" id="dvt_restrictionsfacilityassociation">
		
	 @Html.DropDownList("t_restrictionsfacilityassociation", null, new {   @multiple = "multiple", @HostingName = "T_Facility", @dataurl = Url.Action("GetAllMultiSelectValue", "T_Facility",null) })
							</div>
						</div>
				}
					@if (ViewBag.t_typeofrestrictions!=null)
                    {
						<div class='form-group col-sm-12' title="Employees Injuries" style="padding:10px 0px 0px 0px; margin:0px;">
						<div class='form-group col-sm-4' style="padding:0px">
							<label class="text-primary small"> Employees Injuries</label>
						</div>
                                <div class="input-group col-sm-6" id="dvt_restrictions">
		
	 @Html.DropDownList("t_typeofrestrictions", null, new {   @multiple = "multiple", @HostingName = "T_EmployeeInjury", @dataurl = Url.Action("GetAllMultiSelectValue", "T_EmployeeInjury",null) })
                                </div>
                        </div>
					}
		</div>
		<label style="display:none;">@Html.LabelFor(model => model.T_RestrictionsID) </label>
		<div class="col-md-7">
			<div class="col-md-12">
				<h4><span class="unselected-title">Available Restrictions </span> <span style="float:right; font-size:14px;"> Show @Html.DropDownList("PageSize", new SelectList(new Dictionary<string, string> { {"50","50"},{ "100", "100" }, { "200", "200" }, { "500", "500" }, { "All", "All" } }, "Key", "Value")
                    ,new {@dataurl=Url.Action("GetAllValues"), onchange="ListBoxPagination(this,$('#txtSearchT_Restrictions').val(),'T_EmployeeInjury', '"+ViewData["HostingEntityID"]+"', 'T_TypeOfRestrictions_T_Restrictions', 'T_RestrictionsIDAvailable');"})
			</span></h4>
				
				@Html.ListBox("T_RestrictionsIDAvailable", null, new { @class = "optionvalue", @size = 10 })
				
				 </div>
			<div class="col-md-12  btn-group" style="margin-top:10px;">
				<a id="MoveRightT_Restrictions" onclick="Associate(event,'T_Restrictions');" class="btn btn-primary col-md-6"><span id="MoveRightT_Restrictions" class="glyphicon glyphicon-chevron-down"></span></a>
				<a id="MoveLeftT_Restrictions" onclick="Associate(event,'T_Restrictions');" class="btn btn-primary col-md-6" ><span id="MoveLeftT_Restrictions" class="glyphicon glyphicon-chevron-up"></span></a>
			</div>
			<div class="col-md-12">
				<h4><span class="selected-title">Selected Restrictions</span> 
				 <span class="badge bg-blue"><label id="CntT_RestrictionsIDSelected"></label></span>
				</h4>
				@Html.ListBox("T_RestrictionsIDSelected", null, new { @class = "optionvalue", @size = 10 })
			</div>
		</div>
	</div>
    }
  if (Convert.ToString(ViewData["AssociatedType"]).Trim() != "T_TypeOfRestrictions_T_EmployeeInjury")
  { 
	<div class="M2MList">
		<div class="col-md-5" style="overflow:auto !important;max-height:400px;min-height:400px;">
           
            @Html.TextBox("txtSearchT_EmployeeInjury", null, new { @class = "form-control", placeholder = "Search Employee Injury", @size = 10, @dataurl = Url.Action("GetAllValues") })
              
				<div class='form-group col-sm-12' style="padding:10px 0px 0px 0px; margin:0px;">
					<div class='form-group col-sm-4' style="padding:0px">
						<label class="text-primary small"> OSHA</label>
					</div>
                    <div class="input-group col-sm-6" id="dvT_OSHA">
                        <select class="form-control" id="T_OSHA">
                            <option value="">All</option>
                            <option value="True">True</option>
                            <option value="False">False</option>
                        </select>
                    </div>
                </div>
             
				@if (ViewBag.t_employeeemployeeinjury!=null)
                {
						<div class='form-group col-sm-12' title="Employee" style="padding:10px 0px 0px 0px; margin:0px;">
							<div class='form-group col-sm-4' style="padding:0px">
								<label class="text-primary small"> Employee</label>
							</div>
							<div class="input-group col-sm-6" id="dvt_employeeemployeeinjury">
		
	 @Html.DropDownList("t_employeeemployeeinjury", null, new {   @multiple = "multiple", @HostingName = "T_Employee", @dataurl = Url.Action("GetAllMultiSelectValue", "T_Employee",null) })
							</div>
						</div>
				}
				@if (ViewBag.t_typeofclaimmci!=null)
                {
						<div class='form-group col-sm-12' title="Type of Claim MCI" style="padding:10px 0px 0px 0px; margin:0px;">
							<div class='form-group col-sm-4' style="padding:0px">
								<label class="text-primary small"> Type of Claim MCI</label>
							</div>
							<div class="input-group col-sm-6" id="dvt_typeofclaimmci">
		
	 @Html.DropDownList("t_typeofclaimmci", null, new {   @multiple = "multiple", @HostingName = "T_ClaimTypeMCI", @dataurl = Url.Action("GetAllMultiSelectValue", "T_ClaimTypeMCI",null) })
							</div>
						</div>
				}
				@if (ViewBag.t_accidentshift!=null)
                {
						<div class='form-group col-sm-12' title="Shift Working When Accident Occurred" style="padding:10px 0px 0px 0px; margin:0px;">
							<div class='form-group col-sm-4' style="padding:0px">
								<label class="text-primary small"> Shift Working When Accident Occurred</label>
							</div>
							<div class="input-group col-sm-6" id="dvt_accidentshift">
		
	 @Html.DropDownList("t_accidentshift", null, new {   @multiple = "multiple", @HostingName = "T_ShiftTime", @dataurl = Url.Action("GetAllMultiSelectValue", "T_ShiftTime",null) })
							</div>
						</div>
				}
				@if (ViewBag.t_facilityaccidentoccured!=null)
                {
						<div class='form-group col-sm-12' title="Facility Accident Occurred At" style="padding:10px 0px 0px 0px; margin:0px;">
							<div class='form-group col-sm-4' style="padding:0px">
								<label class="text-primary small"> Facility Accident Occurred At</label>
							</div>
							<div class="input-group col-sm-6" id="dvt_facilityaccidentoccured">
		
	 @Html.DropDownList("t_facilityaccidentoccured", null, new {   @multiple = "multiple", @HostingName = "T_AllFacilities", @dataurl = Url.Action("GetAllMultiSelectValue", "T_AllFacilities",null) })
							</div>
						</div>
				}
				@if (ViewBag.t_unitwhereaccidentoccured!=null)
                {
						<div class='form-group col-sm-12' title="Unit Where Accident Occured" style="padding:10px 0px 0px 0px; margin:0px;">
							<div class='form-group col-sm-4' style="padding:0px">
								<label class="text-primary small"> Unit Where Accident Occured</label>
							</div>
							<div class="input-group col-sm-6" id="dvt_unitwhereaccidentoccured">
		
	 @Html.DropDownList("t_unitwhereaccidentoccured", null, new {   @multiple = "multiple", @HostingName = "T_AllFacilitiesUnit", @dataurl = Url.Action("GetAllMultiSelectValue", "T_AllFacilitiesUnit",null) })
							</div>
						</div>
				}
				@if (ViewBag.t_employeinjuryfloor!=null)
                {
						<div class='form-group col-sm-12' title="Floor Accident Occurred on" style="padding:10px 0px 0px 0px; margin:0px;">
							<div class='form-group col-sm-4' style="padding:0px">
								<label class="text-primary small"> Floor Accident Occurred on</label>
							</div>
							<div class="input-group col-sm-6" id="dvt_employeinjuryfloor">
		
	 @Html.DropDownList("t_employeinjuryfloor", null, new {   @multiple = "multiple", @HostingName = "T_AllFacilitiesFloor", @dataurl = Url.Action("GetAllMultiSelectValue", "T_AllFacilitiesFloor",null) })
							</div>
						</div>
				}
				@if (ViewBag.t_locationofaccident!=null)
                {
						<div class='form-group col-sm-12' title="Location Of Accident" style="padding:10px 0px 0px 0px; margin:0px;">
							<div class='form-group col-sm-4' style="padding:0px">
								<label class="text-primary small"> Location Of Accident</label>
							</div>
							<div class="input-group col-sm-6" id="dvt_locationofaccident">
		
	 @Html.DropDownList("t_locationofaccident", null, new {   @multiple = "multiple", @HostingName = "T_WCAccident", @dataurl = Url.Action("GetAllMultiSelectValue", "T_WCAccident",null) })
							</div>
						</div>
				}
				@if (ViewBag.t_employeeinjurycause!=null)
                {
						<div class='form-group col-sm-12' title="Cause Of Injury " style="padding:10px 0px 0px 0px; margin:0px;">
							<div class='form-group col-sm-4' style="padding:0px">
								<label class="text-primary small"> Cause Of Injury </label>
							</div>
							<div class="input-group col-sm-6" id="dvt_employeeinjurycause">
		
	 @Html.DropDownList("t_employeeinjurycause", null, new {   @multiple = "multiple", @HostingName = "T_InjuryCause", @dataurl = Url.Action("GetAllMultiSelectValue", "T_InjuryCause",null) })
							</div>
						</div>
				}
				@if (ViewBag.t_employeeinjurynature!=null)
                {
						<div class='form-group col-sm-12' title="Nature Of Injury Or Illness" style="padding:10px 0px 0px 0px; margin:0px;">
							<div class='form-group col-sm-4' style="padding:0px">
								<label class="text-primary small"> Nature Of Injury Or Illness</label>
							</div>
							<div class="input-group col-sm-6" id="dvt_employeeinjurynature">
		
	 @Html.DropDownList("t_employeeinjurynature", null, new {   @multiple = "multiple", @HostingName = "T_InjuryNature", @dataurl = Url.Action("GetAllMultiSelectValue", "T_InjuryNature",null) })
							</div>
						</div>
				}
				@if (ViewBag.t_employeeinjurybodypartsaffected!=null)
                {
						<div class='form-group col-sm-12' title="Parts Of Body Affected" style="padding:10px 0px 0px 0px; margin:0px;">
							<div class='form-group col-sm-4' style="padding:0px">
								<label class="text-primary small"> Parts Of Body Affected</label>
							</div>
							<div class="input-group col-sm-6" id="dvt_employeeinjurybodypartsaffected">
		
	 @Html.DropDownList("t_employeeinjurybodypartsaffected", null, new {   @multiple = "multiple", @HostingName = "T_BodyPartsAffected", @dataurl = Url.Action("GetAllMultiSelectValue", "T_BodyPartsAffected",null) })
							</div>
						</div>
				}
				@if (ViewBag.t_employeeinjurymachinetool!=null)
                {
						<div class='form-group col-sm-12' title="Machine, Tool Or Object Causing Illness Or Injury " style="padding:10px 0px 0px 0px; margin:0px;">
							<div class='form-group col-sm-4' style="padding:0px">
								<label class="text-primary small"> Machine, Tool Or Object Causing Illness Or Injury </label>
							</div>
							<div class="input-group col-sm-6" id="dvt_employeeinjurymachinetool">
		
	 @Html.DropDownList("t_employeeinjurymachinetool", null, new {   @multiple = "multiple", @HostingName = "T_MachineTool", @dataurl = Url.Action("GetAllMultiSelectValue", "T_MachineTool",null) })
							</div>
						</div>
				}
				@if (ViewBag.t_initialtreatmentlist!=null)
                {
						<div class='form-group col-sm-12' title="Initial Treatment List" style="padding:10px 0px 0px 0px; margin:0px;">
							<div class='form-group col-sm-4' style="padding:0px">
								<label class="text-primary small"> Initial Treatment List</label>
							</div>
							<div class="input-group col-sm-6" id="dvt_initialtreatmentlist">
		
	 @Html.DropDownList("t_initialtreatmentlist", null, new {   @multiple = "multiple", @HostingName = "T_InitialTreatment", @dataurl = Url.Action("GetAllMultiSelectValue", "T_InitialTreatment",null) })
							</div>
						</div>
				}
				@if (ViewBag.t_employeeinjurymedicalfacilityfortreatment!=null)
                {
						<div class='form-group col-sm-12' title="Medical Facility For Treatment" style="padding:10px 0px 0px 0px; margin:0px;">
							<div class='form-group col-sm-4' style="padding:0px">
								<label class="text-primary small"> Medical Facility For Treatment</label>
							</div>
							<div class="input-group col-sm-6" id="dvt_employeeinjurymedicalfacilityfortreatment">
		
	 @Html.DropDownList("t_employeeinjurymedicalfacilityfortreatment", null, new {   @multiple = "multiple", @HostingName = "T_MedicalFacilityForTreatment", @dataurl = Url.Action("GetAllMultiSelectValue", "T_MedicalFacilityForTreatment",null) })
							</div>
						</div>
				}
				@if (ViewBag.t_employeeinjuryrefusal!=null)
                {
						<div class='form-group col-sm-12' title="Restriction Refusal Reason" style="padding:10px 0px 0px 0px; margin:0px;">
							<div class='form-group col-sm-4' style="padding:0px">
								<label class="text-primary small"> Restriction Refusal Reason</label>
							</div>
							<div class="input-group col-sm-6" id="dvt_employeeinjuryrefusal">
		
	 @Html.DropDownList("t_employeeinjuryrefusal", null, new {   @multiple = "multiple", @HostingName = "T_Refusal", @dataurl = Url.Action("GetAllMultiSelectValue", "T_Refusal",null) })
							</div>
						</div>
				}
					@if (ViewBag.t_typeofclaim!=null)
                    {
						<div class='form-group col-sm-12' title="Type of Claim Facility" style="padding:10px 0px 0px 0px; margin:0px;">
						<div class='form-group col-sm-4' style="padding:0px">
							<label class="text-primary small"> Type of Claim Facility</label>
						</div>
                                <div class="input-group col-sm-6" id="dvt_employeeinjury">
		
	 @Html.DropDownList("t_typeofclaim", null, new {   @multiple = "multiple", @HostingName = "T_ClaimType", @dataurl = Url.Action("GetAllMultiSelectValue", "T_ClaimType",null) })
                                </div>
                        </div>
					}
					@if (ViewBag.t_typeofrestrictions!=null)
                    {
						<div class='form-group col-sm-12' title="Type Of Restrictions" style="padding:10px 0px 0px 0px; margin:0px;">
						<div class='form-group col-sm-4' style="padding:0px">
							<label class="text-primary small"> Type Of Restrictions</label>
						</div>
                                <div class="input-group col-sm-6" id="dvt_employeeinjury">
		
	 @Html.DropDownList("t_typeofrestrictions", null, new {   @multiple = "multiple", @HostingName = "T_Restrictions", @dataurl = Url.Action("GetAllMultiSelectValue", "T_Restrictions",null) })
                                </div>
                        </div>
					}
		</div>
		<label style="display:none;">@Html.LabelFor(model => model.T_EmployeeInjuryID) </label>
		<div class="col-md-7">
			<div class="col-md-12">
				<h4><span class="unselected-title">Available Employee Injury </span> <span style="float:right; font-size:14px;"> Show @Html.DropDownList("PageSize", new SelectList(new Dictionary<string, string> { {"50","50"},{ "100", "100" }, { "200", "200" }, { "500", "500" }, { "All", "All" } }, "Key", "Value")
                    ,new {@dataurl=Url.Action("GetAllValues"), onchange="ListBoxPagination(this,$('#txtSearchT_EmployeeInjury').val(),'T_Restrictions', '"+ViewData["HostingEntityID"]+"', 'T_TypeOfRestrictions_T_EmployeeInjury', 'T_EmployeeInjuryIDAvailable');"})
			</span></h4>
				
				@Html.ListBox("T_EmployeeInjuryIDAvailable", null, new { @class = "optionvalue", @size = 10 })
				
				 </div>
			<div class="col-md-12  btn-group" style="margin-top:10px;">
				<a id="MoveRightT_EmployeeInjury" onclick="Associate(event,'T_EmployeeInjury');" class="btn btn-primary col-md-6"><span id="MoveRightT_EmployeeInjury" class="glyphicon glyphicon-chevron-down"></span></a>
				<a id="MoveLeftT_EmployeeInjury" onclick="Associate(event,'T_EmployeeInjury');" class="btn btn-primary col-md-6" ><span id="MoveLeftT_EmployeeInjury" class="glyphicon glyphicon-chevron-up"></span></a>
			</div>
			<div class="col-md-12">
				<h4><span class="selected-title">Selected Employee Injury</span> 
				 <span class="badge bg-blue"><label id="CntT_EmployeeInjuryIDSelected"></label></span>
				</h4>
				@Html.ListBox("T_EmployeeInjuryIDSelected", null, new { @class = "optionvalue", @size = 10 })
			</div>
		</div>
	</div>
    }
<div class="clearfix clear"></div><br />
    <div class="col-md-5">
		@if (Convert.ToString(ViewData["AssociatedType"]).Trim() != "T_TypeOfRestrictions_T_Restrictions")
        {
             <button id="btnT_Restrictions" class="btn btn-primary btn-sm">Search</button>
        }
		@if (Convert.ToString(ViewData["AssociatedType"]).Trim() != "T_TypeOfRestrictions_T_EmployeeInjury")
        {
             <button id="btnT_EmployeeInjury" class="btn btn-primary btn-sm">Search</button>
        }
 


    </div>
    <div class="col-md-7">
       @Html.ActionLink("Cancel", "Cancel", new { UrlReferrer = ViewData["T_TypeOfRestrictionsParentUrl"] }, new { @onclick = "", @class = "btn btn-default btn-sm" })
            <input type="submit" name="command" value="Create" class="btn btn-primary btn-sm" />
	 <input type="hidden" name="hdncommand" value="" />
    </div>
    <br />
}
	<script>
    $(function () {
        var userAgent = navigator.userAgent.toLowerCase();
        // Figure out what browser is being used
        var browser = {
            version: (userAgent.match(/.+(?:rv|it|ra|ie)[\/: ]([\d.]+)/) || [])[1],
            safari: /webkit/.test(userAgent),
            opera: /opera/.test(userAgent),
            msie: /msie/.test(userAgent) && !/opera/.test(userAgent),
            mozilla: /mozilla/.test(userAgent) && !/(compatible|webkit)/.test(userAgent)
        };
        if (!browser.msie) {
            $('form').areYouSure();
        }
        else if (browser.version > 8.0) {
            $('form').areYouSure();
        }
    });
</script>
@if(Convert.ToString(ViewData["AssociatedType"]).Trim() != "T_TypeOfRestrictions_T_Restrictions")
{
<script>
function FillSelectedListBox()
{
	$("#T_RestrictionsIDSelected option").prop("selected","selected");
}
</script>
}
@if(Convert.ToString(ViewData["AssociatedType"]).Trim() != "T_TypeOfRestrictions_T_EmployeeInjury")
{
<script>
function FillSelectedListBox()
{
	$("#T_EmployeeInjuryIDSelected option").prop("selected","selected");
}
</script>
}
<script>
    $(document).ready(function () {	 
		$("#CntT_RestrictionsIDSelected").html($("#T_RestrictionsIDSelected :selected").length);
		
	$("#T_RestrictionsIDSelected option").each(function () {
            var value = '@ViewBag.SelectedListRemoved'.split(',');
            for (i = 0; i < value.length; i++) {
                if (value != "" && value != "undefined") {
                    var optionvalue = $(this).val();
                    if(optionvalue == value[i])
                        $(this, "#T_RestrictionsIDSelected").attr("style", "display:none;");
                }
            }
        });
	$("#CntT_EmployeeInjuryIDSelected").html($("#T_EmployeeInjuryIDSelected :selected").length);
		
	$("#T_EmployeeInjuryIDSelected option").each(function () {
            var value = '@ViewBag.SelectedListRemoved'.split(',');
            for (i = 0; i < value.length; i++) {
                if (value != "" && value != "undefined") {
                    var optionvalue = $(this).val();
                    if(optionvalue == value[i])
                        $(this, "#T_EmployeeInjuryIDSelected").attr("style", "display:none;");
                }
            }
        });


        $('#t_typeofclaim').multiselect({
            buttonWidth: '100%',
            nonSelectedText: 'ALL',
        });
        $('#t_typeofrestrictions').multiselect({
            buttonWidth: '100%',
            nonSelectedText: 'ALL',
        });
        $('#t_employeeemployeeinjury').multiselect({
            buttonWidth: '100%',
            nonSelectedText: 'ALL',
        });
        $('#t_typeofclaimmci').multiselect({
            buttonWidth: '100%',
            nonSelectedText: 'ALL',
        });
        $('#t_accidentshift').multiselect({
            buttonWidth: '100%',
            nonSelectedText: 'ALL',
        });
        $('#t_facilityaccidentoccured').multiselect({
            buttonWidth: '100%',
            nonSelectedText: 'ALL',
        });
        $('#t_unitwhereaccidentoccured').multiselect({
            buttonWidth: '100%',
            nonSelectedText: 'ALL',
        });
        $('#t_employeinjuryfloor').multiselect({
            buttonWidth: '100%',
            nonSelectedText: 'ALL',
        });
        $('#t_locationofaccident').multiselect({
            buttonWidth: '100%',
            nonSelectedText: 'ALL',
        });
        $('#t_employeeinjurycause').multiselect({
            buttonWidth: '100%',
            nonSelectedText: 'ALL',
        });
        $('#t_employeeinjurynature').multiselect({
            buttonWidth: '100%',
            nonSelectedText: 'ALL',
        });
        $('#t_employeeinjurybodypartsaffected').multiselect({
            buttonWidth: '100%',
            nonSelectedText: 'ALL',
        });
        $('#t_employeeinjurymachinetool').multiselect({
            buttonWidth: '100%',
            nonSelectedText: 'ALL',
        });
        $('#t_initialtreatmentlist').multiselect({
            buttonWidth: '100%',
            nonSelectedText: 'ALL',
        });
        $('#t_employeeinjurymedicalfacilityfortreatment').multiselect({
            buttonWidth: '100%',
            nonSelectedText: 'ALL',
        });
        $('#t_employeeinjuryrefusal').multiselect({
            buttonWidth: '100%',
            nonSelectedText: 'ALL',
        });
        $('#T_OSHA').multiselect({
            buttonWidth: '100%',
            nonSelectedText: 'ALL',
        });
        $('#t_restrictionsfacilityassociation').multiselect({
            buttonWidth: '100%',
            nonSelectedText: 'ALL',
        });
        $('#t_typeofrestrictions').multiselect({
            buttonWidth: '100%',
            nonSelectedText: 'ALL',
        });
	});
</script>
@{
    var businessrule = User.businessrules.Where(p => p.EntityName == "T_TypeOfRestrictions").ToList();
    if ((businessrule != null && businessrule.Count > 0))
    {
        <script>
            $("form").submit(function (event) {
			if (!$("#frmT_TypeOfRestrictions").valid()) return;
                document.getElementById("ErrMsg").innerHTML = "";
                var flag = true;
                var dataurl = "";
                var form = "";
                var inlinecount = "0";
                form = $("#frmT_TypeOfRestrictions").serialize();
                dataurl = "@Url.Action("businessruletype", "T_TypeOfRestrictions", new { ruleType = "OnCreate" })";
                flag = ApplyBusinessRuleOnSubmit(dataurl, "T_TypeOfRestrictions", false, "ErrMsg", form);
                if (flag) {
                    FillSelectedListBox();
                    $('input:hidden[name="hdncommand"]').val($("input[type='submit']").val());
                    $("form").find(':input').removeAttr('disabled');
                }
                return flag;
            });
            
        </script>
    }
    else
    {
        <script>
            $("input[type='submit']").click(function (event) {
			if (!$("#frmT_TypeOfRestrictions").valid()) return;
                FillSelectedListBox();
                var $this = $(this);
                $('input:hidden[name="hdncommand"]').val($this.val());
            });
        </script>

    }
}


