@model GeneratorBase.MVC.Models.T_UnitX
@using PagedList;
@{
    ViewBag.Title = "Edit UnitX";
	var EditPermission = User.CanEditItem("T_UnitX", Model, User);
	var DeletePermission = User.CanDeleteItem("T_UnitX", Model, User);
	Layout = null;
	
}
@functions {
    object getHtmlAttributes(string Property)
    {
		if(Property=="T_TotalBeds")
		 return new { @class = "form-control", @readonly = "readonly" };
		if(Property=="T_Program")
		 return new { @class = "form-control", @readonly = "readonly" };
		if(Property=="T_Fund")
		 return new { @class = "form-control", @readonly = "readonly" };
        if (User.CanEdit("T_UnitX", Property))
        {
            return new { @class = "form-control" };
        } return new { @class = "form-control", @readonly = "readonly" };
    }
}
<script>
    $(document).ready(function () {
        try {
		 if ($('#EntityT_UnitXDisplayValue').has('option').length > 0) {
			var RecId = $("#Id").val()
            $("#T_UnitXDD").append($("#EntityT_UnitXDisplayValue").html());
            $("#T_UnitXDD").val(RecId);

			var text = $("option:selected", $("#T_UnitXDD")).text();
            $("#T_UnitXDD").attr('data-toggle', 'tooltip')
            $("#T_UnitXDD").attr('title', text);

            var lastOptionVal = $('#T_UnitXDD option:last-child').val();
            var fristOptionVal = $('#T_UnitXDD option:first-child').val();
            if (lastOptionVal == RecId)
			{
                $('#next').hide();
				$('#SaveAndContinue').hide();
				}

            if (fristOptionVal == RecId)
                $('#prev').hide();
			} else {  $('#dvsavenext').hide(); $('#SaveAndContinue').hide(); }
            var hostingEntityName = "";
            if ('@Convert.ToString(ViewData["AssociatedType"])' != null) {
                hostingEntityName = '@Convert.ToString(ViewData["AssociatedType"])';
				if( '@Convert.ToBoolean(ViewData["IsFilter"])'!="False")
				$('#' + hostingEntityName + 'ID').attr("lock","true");
				$('#' + hostingEntityName + 'ID').trigger("change");
				 $("input[type='radio'][name='" + hostingEntityName + "ID']").each(function () {
                    if (!this.checked)
                        this.closest("li").style.display = "none";
                });		
						
            }
        }
        catch (ex) { }
    });
</script>
<script type="text/javascript">
    var config = {
        '.chosen-select': {},
        '.chosen-select-deselect': { allow_single_deselect: true },
        '.chosen-select-no-single': { disable_search_threshold: 10 },
        '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
        '.chosen-select-width': { width: "95%" }
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }
</script>

@{
    if (!string.IsNullOrEmpty(ViewBag.T_UnitXIsHiddenRule))
    {
        @Html.Raw(ViewBag.T_UnitXIsHiddenRule);
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_UnitXIsGroupsHiddenRule))
    {
        @Html.Raw(ViewBag.T_UnitXIsGroupsHiddenRule);
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_UnitXIsSetValueUIRule))
    {
        @Html.Raw(ViewBag.T_UnitXIsSetValueUIRule);
    }
}
<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<div class="row">
    <div class="col-lg-12">
        @*<label id="ErrMsg" class="text-primary small pull-right" style="color:red; vertical-align:middle; font-weight:100;"></label>*@
		<input type="hidden" id="ErrMsg" />
		<div id="errorContainerEdit" style="display: none">
            <div id="errorsMsgEdit"></div>
            <div id="errorsEdit"></div>
        </div>
     <div class="col-sm-6 col-md-6 col-xs-12" style="margin-top: -12px;">
            <h2 class="text-primary">
                <span id="HostingEntityDisplayValue">@Html.DisplayFor(model => model.DisplayValue)</span>
            </h2>
        </div>
        @if (EditPermission)
            {
            <div class="col-sm-6 col-md-6 col-xs-12" id="dvsavenext">
                <button class="btn btn-default btn-xs pull-right" id="next" onclick="@Html.Raw("nextFun('T_UnitX')")">Next >></button>
                @Html.DropDownList("T_UnitXDD", null, null, new { @onchange = "FillDisplayValueQEdit('T_UnitX')", @required = "required", @class = "pull-right", @Style = "height: 22px;width: 170px;" })
                <button class="btn btn-default btn-xs pull-right" id="prev" onclick="@Html.Raw("prevFun('T_UnitX')")"><< Prev</button>
            </div>
        }
    </div>
    <!-- /.col-lg-12 -->
	<div id="divDisplayBRmsgBeforeSaveProp" style="display:none;">
</div>
<div id="divDisplayBRmsgMandatory" style="display:none;">
</div>
<div id="divDisplayLockRecord" style="display:none;">
</div>
<div id="divDisplayBRReadOnly" style="display:none;">
</div>
<br/>
</div>
	
@using (Html.BeginForm("EditQuick","T_UnitX",new {UrlReferrer =Convert.ToString(ViewData["T_UnitXParentUrl"])}, FormMethod.Post, new { enctype = "multipart/form-data", @id = "frmQEditT_UnitX" }))
{
     Html.ValidationSummary(true);
                Html.EnableClientValidation();
    @Html.HiddenFor(model => model.Id)
	@Html.HiddenFor(model => model.ConcurrencyKey)
	 <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12" style="padding:0px; margin:0px;">
                    <div class="panel panel-default AppForm">
						<div class="panel-body">
						    @Html.Hidden("AssociatedEntity", Convert.ToString(ViewData["AssociatedType"]))
											<div class="row">
												<div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="panel panel-default" id="dvGroup48907">
                                        <div class="panel-heading clearfix">
                                            <i class="icon-calendar"></i>
								<h3 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#basic detailsbody" alt="Basic Details" title="Basic Details"><span class="glyphicon glyphicon-chevron-down"></span> Basic Details</a></h3>
                               </div>
							  <div class="panel-body panel-collapse in" id="basic detailsbody">					
				@if(User.CanView("T_UnitX","T_FacilityUnitXID"))
				{

				   <div class='col-sm-6 col-md-6 col-xs-12' id="dvT_FacilityUnitXID">
                        <div class='form-group'>
                            <label  >@Html.LabelFor(model => model.T_FacilityUnitXID) <span class="text-danger-reg">*</span></label>
							
							<div class="input-group" style="width:100%;">									
									@if (User.CanEdit("T_UnitX", "T_FacilityUnitXID"))
		{
			@Html.DropDownList("T_FacilityUnitXID", null, "-- Select --", new {   @required ="required",     @class = "chosen-select form-control", @HostingName = "T_Facility", @dataurl = Url.Action("GetAllValue", "T_Facility",new { caller = "T_FacilityUnitXID" }) })
		}
		else
		{
			@Html.HiddenFor(model => model.T_FacilityUnitXID, new { @class = "form-control" })
			@Html.DropDownList("T_FacilityUnitXID", null, "-- Select --", new {  @required ="required",     @class = "chosen-select form-control", @disabled="disabled", @HostingName = "T_Facility", @dataurl = Url.Action("GetAllValue", "T_Facility",new { caller = "T_FacilityUnitXID" }) })
		}
                                @Html.ValidationMessageFor(model => model.T_FacilityUnitXID)
								 
							</div>
							
                        </div>
                    </div>
                 
					} else { @Html.HiddenFor(model => model.T_FacilityUnitXID, new { @class = "form-control" })}
				@if(User.CanView("T_UnitX","T_WardDepartmentID"))
				{

				   <div class='col-sm-6 col-md-6 col-xs-12' id="dvT_WardDepartmentID">
                        <div class='form-group'>
                            <label  >@Html.LabelFor(model => model.T_WardDepartmentID) </label>
							
							<div class="input-group" style="width:100%;">									
									@if (User.CanEdit("T_UnitX", "T_WardDepartmentID"))
		{
			@Html.DropDownList("T_WardDepartmentID", null, "-- Select --", new {      @class = "chosen-select form-control", @HostingName = "T_Department", @dataurl = Url.Action("GetAllValue", "T_Department",new { caller = "T_WardDepartmentID" }) })
		}
		else
		{
			@Html.HiddenFor(model => model.T_WardDepartmentID, new { @class = "form-control" })
			@Html.DropDownList("T_WardDepartmentID", null, "-- Select --", new {     @class = "chosen-select form-control", @disabled="disabled", @HostingName = "T_Department", @dataurl = Url.Action("GetAllValue", "T_Department",new { caller = "T_WardDepartmentID" }) })
		}
                                @Html.ValidationMessageFor(model => model.T_WardDepartmentID)
								 
							</div>
							
                        </div>
                    </div>
                 
					} else { @Html.HiddenFor(model => model.T_WardDepartmentID, new { @class = "form-control" })}
				@if(User.CanView("T_UnitX","T_UnitXDepartmentAreaID"))
				{

				   <div class='col-sm-6 col-md-6 col-xs-12' id="dvT_UnitXDepartmentAreaID">
                        <div class='form-group'>
                            <label  >@Html.LabelFor(model => model.T_UnitXDepartmentAreaID) </label>
							
							<div class="input-group" style="width:100%;">									
									@if (User.CanEdit("T_UnitX", "T_UnitXDepartmentAreaID"))
		{
			@Html.DropDownList("T_UnitXDepartmentAreaID", null, "-- Select --", new {      @class = "chosen-select form-control", @HostingName = "T_DepartmentArea", @dataurl = Url.Action("GetAllValue", "T_DepartmentArea",new { caller = "T_UnitXDepartmentAreaID" }) })
		}
		else
		{
			@Html.HiddenFor(model => model.T_UnitXDepartmentAreaID, new { @class = "form-control" })
			@Html.DropDownList("T_UnitXDepartmentAreaID", null, "-- Select --", new {     @class = "chosen-select form-control", @disabled="disabled", @HostingName = "T_DepartmentArea", @dataurl = Url.Action("GetAllValue", "T_DepartmentArea",new { caller = "T_UnitXDepartmentAreaID" }) })
		}
                                @Html.ValidationMessageFor(model => model.T_UnitXDepartmentAreaID)
								 
							</div>
							
                        </div>
                    </div>
                 
					} else { @Html.HiddenFor(model => model.T_UnitXDepartmentAreaID, new { @class = "form-control" })}
				@if(User.CanView("T_UnitX","T_WardOrgCodeID"))
				{

				   <div class='col-sm-6 col-md-6 col-xs-12' id="dvT_WardOrgCodeID">
                        <div class='form-group'>
                            <label  >@Html.LabelFor(model => model.T_WardOrgCodeID) </label>
							
							<div class="input-group" style="width:100%;">									
									@if (User.CanEdit("T_UnitX", "T_WardOrgCodeID"))
		{
			@Html.DropDownList("T_WardOrgCodeID", null, "-- Select --", new {      @class = "chosen-select form-control", @HostingName = "T_OrgCodes", @dataurl = Url.Action("GetAllValue", "T_OrgCodes",new { caller = "T_WardOrgCodeID" }) })
		}
		else
		{
			@Html.HiddenFor(model => model.T_WardOrgCodeID, new { @class = "form-control" })
			@Html.DropDownList("T_WardOrgCodeID", null, "-- Select --", new {     @class = "chosen-select form-control", @disabled="disabled", @HostingName = "T_OrgCodes", @dataurl = Url.Action("GetAllValue", "T_OrgCodes",new { caller = "T_WardOrgCodeID" }) })
		}
                                @Html.ValidationMessageFor(model => model.T_WardOrgCodeID)
								 
							</div>
							
                        </div>
                    </div>
                 
					} else { @Html.HiddenFor(model => model.T_WardOrgCodeID, new { @class = "form-control" })}
@if(User.CanView("T_UnitX","T_Unit"))
{


					<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_Unit">
							<div class='form-group' title="Unit">
								<label  >@Html.LabelFor(model => model.T_Unit)  <span class="text-danger-reg">*</span> </label>
                                
											
									@Html.TextBoxFor(model => model.T_Unit,  getHtmlAttributes("T_Unit"))
									@Html.ValidationMessageFor(model => model.T_Unit)
									
								
                             </div>
						</div>

				
					


} else { @Html.HiddenFor(model => model.T_Unit, new { @class = "form-control" })}
				@if(User.CanView("T_UnitX","T_UnitXFloorID"))
				{

				   <div class='col-sm-6 col-md-6 col-xs-12' id="dvT_UnitXFloorID">
                        <div class='form-group'>
                            <label  >@Html.LabelFor(model => model.T_UnitXFloorID) </label>
							
							<div class="input-group" style="width:100%;">									
									@if (User.CanEdit("T_UnitX", "T_UnitXFloorID"))
		{
			@Html.DropDownList("T_UnitXFloorID", null, "-- Select --", new {      @class = "chosen-select form-control", @HostingName = "T_Floor", @dataurl = Url.Action("GetAllValue", "T_Floor",new { caller = "T_UnitXFloorID" }) })
		}
		else
		{
			@Html.HiddenFor(model => model.T_UnitXFloorID, new { @class = "form-control" })
			@Html.DropDownList("T_UnitXFloorID", null, "-- Select --", new {     @class = "chosen-select form-control", @disabled="disabled", @HostingName = "T_Floor", @dataurl = Url.Action("GetAllValue", "T_Floor",new { caller = "T_UnitXFloorID" }) })
		}
                                @Html.ValidationMessageFor(model => model.T_UnitXFloorID)
								 
							</div>
							
                        </div>
                    </div>
                 
					} else { @Html.HiddenFor(model => model.T_UnitXFloorID, new { @class = "form-control" })}
@if(User.CanView("T_UnitX","T_UnitPhoneNumber"))
{


					<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_UnitPhoneNumber">
							<div class='form-group' title="Unit Phone Number">
								<label  >@Html.LabelFor(model => model.T_UnitPhoneNumber)   </label>
                                
											
									@Html.TextBoxFor(model => model.T_UnitPhoneNumber,  getHtmlAttributes("T_UnitPhoneNumber"))
									@Html.ValidationMessageFor(model => model.T_UnitPhoneNumber)
									
								
                             </div>
						</div>

				
					


} else { @Html.HiddenFor(model => model.T_UnitPhoneNumber, new { @class = "form-control" })}
				@if(User.CanView("T_UnitX","T_EmployeeAdministratorID"))
				{

				   <div class='col-sm-6 col-md-6 col-xs-12' id="dvT_EmployeeAdministratorID">
                        <div class='form-group'>
                            <label  >@Html.LabelFor(model => model.T_EmployeeAdministratorID) </label>
							
							<div class="input-group" style="width:100%;">									
									@if (User.CanEdit("T_UnitX", "T_EmployeeAdministratorID"))
		{
			@Html.DropDownList("T_EmployeeAdministratorID", null, "-- Select --", new {      @class = "chosen-select form-control", @HostingName = "T_Employee", @dataurl = Url.Action("GetAllValue", "T_Employee",new { caller = "T_EmployeeAdministratorID" }) })
		}
		else
		{
			@Html.HiddenFor(model => model.T_EmployeeAdministratorID, new { @class = "form-control" })
			@Html.DropDownList("T_EmployeeAdministratorID", null, "-- Select --", new {     @class = "chosen-select form-control", @disabled="disabled", @HostingName = "T_Employee", @dataurl = Url.Action("GetAllValue", "T_Employee",new { caller = "T_EmployeeAdministratorID" }) })
		}
                                @Html.ValidationMessageFor(model => model.T_EmployeeAdministratorID)
								 
							</div>
							
                        </div>
                    </div>
                 
					} else { @Html.HiddenFor(model => model.T_EmployeeAdministratorID, new { @class = "form-control" })}
				@if(User.CanView("T_UnitX","T_EmployeeUnitXHeadID"))
				{

				   <div class='col-sm-6 col-md-6 col-xs-12' id="dvT_EmployeeUnitXHeadID">
                        <div class='form-group'>
                            <label  >@Html.LabelFor(model => model.T_EmployeeUnitXHeadID) </label>
							
							<div class="input-group" style="width:100%;">									
									@if (User.CanEdit("T_UnitX", "T_EmployeeUnitXHeadID"))
		{
			@Html.DropDownList("T_EmployeeUnitXHeadID", null, "-- Select --", new {      @class = "chosen-select form-control", @HostingName = "T_Employee", @dataurl = Url.Action("GetAllValue", "T_Employee",new { caller = "T_EmployeeUnitXHeadID" }) })
		}
		else
		{
			@Html.HiddenFor(model => model.T_EmployeeUnitXHeadID, new { @class = "form-control" })
			@Html.DropDownList("T_EmployeeUnitXHeadID", null, "-- Select --", new {     @class = "chosen-select form-control", @disabled="disabled", @HostingName = "T_Employee", @dataurl = Url.Action("GetAllValue", "T_Employee",new { caller = "T_EmployeeUnitXHeadID" }) })
		}
                                @Html.ValidationMessageFor(model => model.T_EmployeeUnitXHeadID)
								 
							</div>
							
                        </div>
                    </div>
                 
					} else { @Html.HiddenFor(model => model.T_EmployeeUnitXHeadID, new { @class = "form-control" })}
							</div>
                         </div>
                      </div>
       </div>
											<div class="row">
												<div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="panel panel-default" id="dvGroup48909">
                                        <div class="panel-heading clearfix">
                                            <i class="icon-calendar"></i>
								<h3 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#bedsbody" alt="Beds" title="Beds"><span class="glyphicon glyphicon-chevron-down"></span> Beds</a></h3>
                               </div>
							  <div class="panel-body panel-collapse in" id="bedsbody">					
@if(User.CanView("T_UnitX","T_TotalBeds"))
{


					<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_TotalBeds">
							<div class='form-group' title="Total  Beds">
								<label  >@Html.LabelFor(model => model.T_TotalBeds)   </label>
                                
											
									@Html.TextBoxFor(model => model.T_TotalBeds,  getHtmlAttributes("T_TotalBeds"))
									
									<div class="input-group-btn">
										<a class="btn btn-default btn ie8fix" onclick="GetCalculationValue(event,'@Url.Action("GetCalculationValues")');">
											<span class="fam-arrow-refresh"></span>
                                        </a>
                                    </div>
									@Html.ValidationMessageFor(model => model.T_TotalBeds)
									
								
                             </div>
						</div>

				
					


} else { @Html.HiddenFor(model => model.T_TotalBeds, new { @class = "form-control" })}
							</div>
                         </div>
                      </div>
       </div>
											<div class="row">
												<div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="panel panel-default" id="dvGroup48908">
                                        <div class="panel-heading clearfix">
                                            <i class="icon-calendar"></i>
								<h3 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#accounting codesbody" alt="Accounting Codes" title="Accounting Codes"><span class="glyphicon glyphicon-chevron-down"></span> Accounting Codes</a></h3>
                               </div>
							  <div class="panel-body panel-collapse in" id="accounting codesbody">					
				@if(User.CanView("T_UnitX","T_WardCostCenterID"))
				{

				   <div class='col-sm-6 col-md-6 col-xs-12' id="dvT_WardCostCenterID">
                        <div class='form-group'>
                            <label  >@Html.LabelFor(model => model.T_WardCostCenterID) </label>
							
							<div class="input-group" style="width:100%;">									
									@if (User.CanEdit("T_UnitX", "T_WardCostCenterID"))
		{
			@Html.DropDownList("T_WardCostCenterID", null, "-- Select --", new { @derivedurl = Url.Action("GetDerivedDetails", "T_UnitX", new { IgnoreEditable = Convert.ToString(ViewData["AssociatedType"])}),    @onchange = Html.Raw("FillDerivedDetails(this,event);") ,  @class = "chosen-select form-control", @HostingName = "T_CostCenter", @dataurl = Url.Action("GetAllValue", "T_CostCenter",new { caller = "T_WardCostCenterID" }) })
		}
		else
		{
			@Html.HiddenFor(model => model.T_WardCostCenterID, new { @class = "form-control" })
			@Html.DropDownList("T_WardCostCenterID", null, "-- Select --", new {    @onchange = Html.Raw("FillDerivedDetails(this,event);") ,  @class = "chosen-select form-control", @disabled="disabled", @HostingName = "T_CostCenter", @dataurl = Url.Action("GetAllValue", "T_CostCenter",new { caller = "T_WardCostCenterID" }) })
		}
                                @Html.ValidationMessageFor(model => model.T_WardCostCenterID)
								 
							</div>
							
                        </div>
                    </div>
                 
					} else { @Html.HiddenFor(model => model.T_WardCostCenterID, new { @class = "form-control" })}
@if(User.CanView("T_UnitX","T_Program"))
{


					<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_Program">
							<div class='form-group' title="Program">
								<label  >@Html.LabelFor(model => model.T_Program)   </label>
                                
											
									@Html.TextBoxFor(model => model.T_Program,  getHtmlAttributes("T_Program"))
									@Html.ValidationMessageFor(model => model.T_Program)
									
								
                             </div>
						</div>

				
					


} else { @Html.HiddenFor(model => model.T_Program, new { @class = "form-control" })}
@if(User.CanView("T_UnitX","T_Fund"))
{


					<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_Fund">
							<div class='form-group' title="Fund">
								<label  >@Html.LabelFor(model => model.T_Fund)   </label>
                                
											
									@Html.TextBoxFor(model => model.T_Fund,  getHtmlAttributes("T_Fund"))
									@Html.ValidationMessageFor(model => model.T_Fund)
									
								
                             </div>
						</div>

				
					


} else { @Html.HiddenFor(model => model.T_Fund, new { @class = "form-control" })}
							</div>
                         </div>
                      </div>
       </div>

			@Html.HiddenFor(model => model.T_UnitXUnitAssociationID, new { @class = "form-control" })
			@Html.HiddenFor(model => model.T_MailDistributor, new { @class = "form-control" })
			@Html.HiddenFor(model => model.T_MaleBeds, new { @class = "form-control" })
			@Html.HiddenFor(model => model.T_FemaleBeds, new { @class = "form-control" })

	            </div>
        </div>
	</div>
</div>
		 @Html.AntiForgeryToken();
		 var businessrule1 = User.businessrules.Where(p => p.EntityName == "T_UnitX").ToList();
		 var lstinlineentityname = "";
		 var lstinlineassocdispname ="";
		 var lstinlineassocname = "";
		 <button id="CancelQuickAdd" type="button" class="btn btn-default btn-sm" data-dismiss="modal" aria-hidden="true">Cancel</button>
		 if (EditPermission)
         {
			    <input type="submit" id="command" name="command" value="Save & Close" class="btn btn-primary btn-sm" onclick="QuickEditFromGrid(event,true,'T_UnitX','@ViewData["AssociatedType"]',false,'@businessrule1',@businessrule1.Count,'OnEdit','ErrMsg',false,'@lstinlineassocname','@lstinlineassocdispname','@lstinlineentityname');" />
				<input type="submit" id="sevranBtn" style="display:none;" name="command" value="Save" class="btn btn-primary btn-sm" onclick="QuickEditFromGrid(event,true,'T_UnitX','@ViewData["AssociatedType"]',false,'@businessrule1',@businessrule1.Count,'OnEdit','ErrMsg',false,'@lstinlineassocname','@lstinlineassocdispname','@lstinlineentityname','True');" />
                <button type="button" id="SaveAndContinue" name="SaveAndContinue" class="btn btn-primary btn-sm" onclick="@Html.Raw("SaveAndContinueEdit('T_UnitX',event)")">Save & Next</button>
				<input type="hidden" name="hdncommand" value="" />
  		 }	
}
<script src="@Url.Content("~/bundles/jqueryval")" type="text/javascript"></script>
<script src="@Url.Content("~/bundles/common3")" type="text/javascript"></script>

<script>
    $("input[type='submit']").click(function (event) {
	if (!$("#frmQEditT_UnitX").valid()) return;
	
        var $this = $(this);
				GetCalculationValue(event,'@Url.Action("GetCalculationValues")');
        $('input:hidden[name="hdncommand"]').val($this.val());
    });
</script>
@{
var businessrule = User.businessrules.Where(p => p.EntityName == "T_UnitX").ToList();


	


if ((businessrule != null && businessrule.Count > 0) )
{
var ruleids = businessrule.Select(q => q.Id).ToList();
var typelist  = string.Join(",", (new GeneratorBase.MVC.Models.RuleActionContext()).RuleActions.Where(p => ruleids.Contains(p.RuleActionID.Value) && p.associatedactiontype.TypeNo.HasValue).Select(p => p.associatedactiontype.TypeNo.Value).Distinct().ToList());

    <script>
    $(document).ready(function () {
	document.getElementById("ErrMsg").innerHTML = "";
		 var flag = true;
                var dataurl = "";
                var form = "";
                var inlinecount = "0";

				 form = $("#frmQEditT_UnitX").serialize();
					 dataurl = "@Url.Action("businessruletype", "T_UnitX", new { ruleType = "OnEdit"})";
            ApplyBusinessRuleOnPageLoad("@typelist",dataurl, "T_UnitX", false, "ErrMsg", form);
			//business rules on inline associations
    });
</script>
<script>
    $("form").submit(function (event) {
	if (!$("#frmQEditT_UnitX").valid()) return;
	document.getElementById("ErrMsg").innerHTML = "";
            var flag = true;
		var form = $("#frmQEditT_UnitX").serialize();
					});
</script>
}
 
}
 <script type='text/javascript'>$(document).ready(function () {   $('#T_UnitPhoneNumber').mask('999-999-9999');  });</script>
<script type='text/javascript'>
    $(document).ready(function () {
        try {
            document.getElementsByTagName("body")[0].focus();
            $("#addPopup").removeAttr("tabindex");
            var cltcoll = $("#dvPopup").find('input[type=text]:not([class=hidden]):not([readonly]),textarea:not([readonly])')
            var cltid = "";
            $(cltcoll).each(function () {
			  if ($(this).attr("id") == undefined)
                    return
                var dvhidden = $("#dv" + $(this).attr("id"));
				var dvDate = $("#datetimepicker" + $(this).attr("id")).attr("id");
                if (!(dvhidden.css('display') == 'none') && dvDate == undefined) {
                    cltid = $(this);
                    return false;
                }
            });
            if (cltid != "" && cltid != undefined)
                setTimeout(function () { $(cltid).focus(); }, 500)
        }
        catch (ex) { }
    });
</script>

