@model PagedList.IPagedList<GeneratorBase.MVC.Models.JournalEntry>
@using PagedList.Mvc;
@{
    var ActionNameUrl = "Index";
    if (HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToUpper() == "FSEARCH")
    {
        ActionNameUrl = "FSearch";
    }
    var EntityReflector = ModelReflector.Entities.FirstOrDefault(p => p.Name == "JournalEntry");
}
@functions {
    object getDataFormatString(string entity, string prop)
    {
        Type currentType = Type.GetType("GeneratorBase.MVC.Models." + entity + ",GeneratorBase.MVC");
        System.ComponentModel.DataAnnotations.DisplayFormatAttribute currentDisplayFormatAttribute;
        string currentDataFormatString = "{0}";
        if (currentType != null)
        {
            System.Reflection.PropertyInfo property = currentType.GetProperty(prop);
            currentDisplayFormatAttribute = (System.ComponentModel.DataAnnotations.DisplayFormatAttribute)property.GetCustomAttributes(typeof(System.ComponentModel.DataAnnotations.DisplayFormatAttribute), true).FirstOrDefault();
            if (currentDisplayFormatAttribute != null)
            {
                currentDataFormatString = currentDisplayFormatAttribute.DataFormatString;
            }
        }

        return currentDataFormatString;
    }
}
<script>
    function EntityFilterJE(EntityName, url, dataurl) {
        var resId = "";
        var FilterHostingEntityID = (dataurl.indexOf("FirstCall=True") > 0) ? undefined : getHostingEntityID(dataurl)["FilterHostingEntityID"];
        var html = "<ul class=\"nav nav-tabs\">";
        $.ajax({
            url: url,
            type: "GET",
            cache: false,
            dataType: "json",
            success: function (result) {
                var firstClick = "";
                for (i in result) {
                    if (result[i].Id == undefined) continue;
                    var isactive = false;
                    if (result[i].Name == "" || result[i].Name == undefined)
                        continue;
                    if (FilterHostingEntityID != undefined) {
                        if (result[i].Id == FilterHostingEntityID) {
                            html += "<li name=\"" + result[i].Id + "\" class=\"active\">";
                            isactive = true;
                        }
                        else
                            html += "<li name=\"" + result[i].Id + "\">";
                    } else {
                        if (i == 0) {
                            html += "<li name=\"" + result[i].Id + "\" class=\"active\">";
                            isactive = true;
                        }
                        else
                            html += "<li name=\"" + result[i].Id + "\">";

                    }
                    //if(result[i].Id=="[object Object]")
                    //    resId = result[i].Id.PropertyName;
                    //else addParameterToURL(dataurl, "AssociatedType", resId)
                    resId = result[i].Id
                    html += "<a data-toggle=\"tab\"  onclick=\"CancelSearch('" + EntityName + "','" + addParameterToURL(dataurl, "AssociatedType", resId) + "')\">" + result[i].Name + "</a>";
                    html += "</li>";
                    if (isactive) {
                        firstClick = addParameterToURL(dataurl, "AssociatedType", resId);// dataurl + "&AssociatedType=" + resId;
                    }
                }
                html += "</ul>";
                $("#dv" + EntityName + "Filter").html($(html));
                if (firstClick.length > 0 && firstClick.indexOf("FirstCall=True") > 0) {
                    CancelSearch(EntityName, firstClick.replace("FirstCall=True", ""));
                }
            }
        });
    }
</script>
@if (ViewData["HostingEntity"] != null)
{
    <div id="dvJournalEntryFilter"></div>
}
<div id="JournalEntry">
    @if (ViewBag.ColumnMapping == null && ViewBag.ImportError == null && ViewBag.ConfirmImportData == null)
    {
        <style>
            .table-responsive > .fixed-column {
                position: absolute;
                display: block;
                width: auto;
                border: 0px solid transparent;
                border-top: 1px solid #c3ddec;
            }

            .fixed-column th {
                background: #fff;
            }

            .fixed-column td {
                background: #fff;
            }
        </style>
        <script type="text/javascript">
            $(document).ready(function () {
                $(".pagination a").click(function (e) {
                    PaginationClick(e, 'JournalEntry')
                });
                $("#SearchStringJournalEntry").keypress(function (e) {
                    if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
                        $("#JournalEntrySearch").bind("click", (function () {
                        }));
                        $('#JournalEntrySearch').trigger("click");
                        return false;
                    }
                })
            });
        </script>
        @functions {
            object getSortHtmlAttributes(string sortby, bool IsPaging, int? page, bool? IsExport)
            {
                if (IsPaging)
                {
                    return new
                    {
                        page,
                        sortBy = ViewBag.CurrentSort,
                        isAsc = ViewBag.IsAsc,
                        currentFilter = ViewBag.CurrentFilter,
                        HostingEntity = @Convert.ToString(ViewData["HostingEntity"]),
                        AssociatedType = @Convert.ToString(ViewData["AssociatedType"]),
                        HostingEntityID = ViewData["HostingEntityID"],
                        IsExport = IsExport,
                        FSFilter = ViewBag.FSFilter == null ? "Fsearch" : ViewBag.FSFilter,
                        IsFilter = @Convert.ToBoolean(ViewData["IsFilter"]),
                        search = Request.QueryString["search"],
                        ExtraIds = Request.QueryString["ExtraIds"],
                        FilterHostingEntity = ViewData["FilterHostingEntity"],
                        FilterHostingEntityID = ViewData["FilterHostingEntityID"]
                    };
                }
                else
                {
                    return new
                    {
                        sortBy = sortby,
                        currentFilter = Request.QueryString["currentFilter"],
                        searchString = Request.QueryString["searchString"],
                        isAsc = (ViewBag.IsAsc == "ASC" ? "DESC" : ""),
                        page = ViewBag.Pages,
                        HostingEntity = @Convert.ToString(ViewData["HostingEntity"]),
                        HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]),
                        AssociatedType = @Convert.ToString(ViewData["AssociatedType"]),
                        IsExport = IsExport,
                        FSFilter = ViewBag.FSFilter == null ? "Fsearch" : ViewBag.FSFilter,
                        IsFilter = @Convert.ToBoolean(ViewData["IsFilter"]),
                        search = Request.QueryString["search"],
                        ExtraIds = Request.QueryString["ExtraIds"],
                        FilterHostingEntity = ViewData["FilterHostingEntity"],
                        FilterHostingEntityID = ViewData["FilterHostingEntityID"]
                    };
                }
            }
        }
        <div class="row">
            <div class="col-md-12 col-sm-12 col-sx-12">
                <div>
                    @if (ViewBag.IsHomePage == null || !Convert.ToBoolean(ViewBag.IsHomePage))
                    {
                        <div class="clearfix" style="margin:0px;  padding:4px 0px;">

                            <div class="btn-group">
                                <a class="btn tip-top" data-original-title="Export Excel" data-placement="top" style="padding:3px 5px;" onclick=@Html.Raw("NavigateToUrl('" + Url.Action(ActionNameUrl, "JournalEntry", getSortHtmlAttributes(null, false, null, true), null) + "');")>
                                    <span class="fa fa-download"></span> Export Excel
                                </a>
                                @*@if (ViewData["HostingEntity"] == null || Convert.ToBoolean(ViewData["IsFilter"]) == true)*@

                                <div class="btn-group">
                                    <a class="btn dropdown-toggle tip-top" data-original-title="Filter-Groupby" style="padding:3px 5px;" data-toggle="dropdown" href="#">
                                        <span class="fa fa-filter"></span> Filter
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        @if (ViewData["HostingEntity"] == null || Convert.ToBoolean(ViewData["IsFilter"]) == true)
                                        {
                                            <li>
                                                <a id="fltEntityName" data-placement="top" onclick=@Html.Raw("EntityFilterJE('JournalEntry','" + Url.Action("GetAllValue", "JournalEntry", new { ExtraIds = Request.QueryString["ExtraIds"], HostingEntityName = "EntityName", HostingEntityID = ViewData["HostingEntityID"], HostingEntity = ViewData["HostingEntity"] }) + "','" + Html.Raw(Url.Action("Index", "JournalEntry", new { FirstCall = true, FilterHostingEntity = ViewData["HostingEntity"], FilterHostingEntityID = ViewData["HostingEntityID"], IsFilter = true, HostingEntity = "EntityName", ExtraIds = Request.QueryString["ExtraIds"], ClearSearchTimeStamp = DateTime.Now })) + "');")>
                                                    <span>Entity Name</span>
                                                </a>
                                            </li>
                                        }
                                        <li>
                                            <a id="fltType" data-placement="top" onclick=@Html.Raw("EntityFilterJE('JournalEntry','" + Url.Action("GetAllValue", "JournalEntry", new { HostingEntityName = "Type", ExtraIds = Request.QueryString["ExtraIds"], HostingEntityID = ViewData["HostingEntityID"], HostingEntity = ViewData["HostingEntity"] }) + "','" + Html.Raw(Url.Action("Index", "JournalEntry", new { FirstCall = true, FilterHostingEntity = ViewData["HostingEntity"], FilterHostingEntityID = ViewData["HostingEntityID"], IsFilter = true, HostingEntity = "Type", ExtraIds = Request.QueryString["ExtraIds"], ClearSearchTimeStamp = DateTime.Now })) + "');")>
                                                <span>Audit Type</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a id="fltUserName" data-placement="top" onclick=@Html.Raw("EntityFilterJE('JournalEntry','" + Url.Action("GetAllValue", "JournalEntry", new { HostingEntityName = "UserName", ExtraIds = Request.QueryString["ExtraIds"], HostingEntityID = ViewData["HostingEntityID"], HostingEntity = ViewData["HostingEntity"] }) + "','" + Html.Raw(Url.Action("Index", "JournalEntry", new { FirstCall = true, FilterHostingEntity = ViewData["HostingEntity"], FilterHostingEntityID = ViewData["HostingEntityID"], IsFilter = true, HostingEntity = "UserName", ExtraIds = Request.QueryString["ExtraIds"],  ClearSearchTimeStamp = DateTime.Now })) + "');")>
                                                <span>User</span>
                                            </a>
                                        </li>
                                        @if (ViewData["HostingEntity"] != null)
                                        {
                                            <li>
                                                <a id="fltPropertyName" data-placement="top" onclick=@Html.Raw("EntityFilterJE('JournalEntry','" + Url.Action("GetAllValue", "JournalEntry", new { HostingEntityName = "PropertyName", ExtraIds = Request.QueryString["ExtraIds"], HostingEntityID = ViewData["HostingEntityID"], HostingEntity = ViewData["HostingEntity"] }) + "','" + Html.Raw(Url.Action("Index", "JournalEntry", new { FirstCall = true, FilterHostingEntityID = ViewData["HostingEntityID"], FilterHostingEntity = ViewData["HostingEntity"], ExtraIds = Request.QueryString["ExtraIds"], IsFilter = true, HostingEntity = "PropertyName", ClearSearchTimeStamp = DateTime.Now })) + "');")>
                                                    <span>Property</span>
                                                </a>
                                            </li>
                                        }
                                        <li><span class="label label-primary pull-left filterLabel" style="margin-left:20px;">@Html.ActionLink("Clear", "Index")</span></li>
                                    </ul>
                                </div>

                            </div>
                            <div class="pull-right" style="width:300px;">
                                <div class="input-group">
                                    @Html.TextBox("SearchStringJournalEntry", ViewBag.CurrentFilter as string, null, new { @class = "form-control fixsearchbox", @placeholder = "Search" })
                                    <div class="input-group-btn">
                                        <a id="JournalEntrySearch" onclick="SearchClick(event, 'JournalEntry', '@Html.Raw(Url.Action("Index", "JournalEntry", new { IsFilter = ViewData["IsFilter"], IsDeepSearch = false, searchString = "_SearchString", HostingEntity = Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = Convert.ToString(ViewData["HostingEntityID"]), AssociatedType = Convert.ToString(ViewData["AssociatedType"]), ExtraIds = Request.QueryString["ExtraIds"], SearchTimeStamp = DateTime.Now }))');" data-original-title="Grid Search" class="btn tip-top" style="padding:3px 5px; border:1px solid #ccc"><span class="fa fa-search"></span></a>
                                        <a id="JournalEntryCancel" class="btn collapse-data-btn tip-top" onclick="CancelSearch('JournalEntry','@Html.Raw(Url.Action("Index", "JournalEntry", new { IsFilter = ViewData["IsFilter"], HostingEntity = Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = Convert.ToString(ViewData["HostingEntityID"]), AssociatedType = Convert.ToString(ViewData["AssociatedType"]), ExtraIds = Request.QueryString["ExtraIds"], ClearSearchTimeStamp = DateTime.Now }))')" data-original-title="Clear Search" data-placement="top" style="padding:3px 5px; border:1px solid #ccc">
                                            <span class="fa fa-minus-circle"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="panel-body" style="margin:0px; padding:0px 0px;">
                        <div class="table-responsive" style="overflow-x:auto;">
                            <table class="table table-striped table-bordered table-hover table-condensed">
                                <tr>
                                    @if (ViewBag.IsHomePage != null || Convert.ToBoolean(ViewBag.IsHomePage))
                                    {
                                        <th class="col2" style="color:#428bca">Actions</th>
                                    }
                                    @if (User.CanView("JournalEntry", "EntityName") && (ViewBag.IsHomePage == null || !Convert.ToBoolean(ViewBag.IsHomePage)))
                                    {
                                        <th class="col2">
                                            @Html.ActionLink("EntityName", ActionNameUrl, "JournalEntry", getSortHtmlAttributes("EntityName", false, null, false), new { @onclick = "SortLinkClick(event,'JournalEntry');" })
                                            @if (ViewBag.IsAsc == "DESC" && ViewBag.CurrentSort == "EntityName")
                                            {<i class="fa fa-sort-desc"></i>}
                                            @if (ViewBag.IsAsc == "ASC" && ViewBag.CurrentSort == "EntityName")
                                            {<i class="fa fa-sort-asc"></i>}
                                        </th>
                                    }
                                    @if (User.CanView("JournalEntry", "Type") && (ViewBag.IsHomePage == null || !Convert.ToBoolean(ViewBag.IsHomePage)))
                                    {
                                        <th class="col2">
                                            @Html.ActionLink("Type", ActionNameUrl, "JournalEntry", getSortHtmlAttributes("Type", false, null, false), new { @onclick = "SortLinkClick(event,'JournalEntry');" })
                                            @if (ViewBag.IsAsc == "DESC" && ViewBag.CurrentSort == "Type")
                                            {<i class="fa fa-sort-desc"></i>}
                                            @if (ViewBag.IsAsc == "ASC" && ViewBag.CurrentSort == "Type")
                                            {<i class="fa fa-sort-asc"></i>}
                                        </th>
                                    }
                                    @if (User.CanView("JournalEntry", "DateTimeOfEntry"))
                                    {
                                        <th class="col2">
                                            @Html.ActionLink("DateTimeOfEntry", ActionNameUrl, "JournalEntry", getSortHtmlAttributes("DateTimeOfEntry", false, null, false), new { @onclick = "SortLinkClick(event,'JournalEntry');" })
                                            @if (ViewBag.IsAsc == "DESC" && ViewBag.CurrentSort == "DateTimeOfEntry")
                                            {<i class="fa fa-sort-desc"></i>}
                                            @if (ViewBag.IsAsc == "ASC" && ViewBag.CurrentSort == "DateTimeOfEntry")
                                            {<i class="fa fa-sort-asc"></i>}
                                        </th>
                                    }
                                    @if (User.CanView("JournalEntry", "RecordInfo"))
                                    {
                                        <th class="col2">
                                            @Html.ActionLink("RecordInfo", ActionNameUrl, "JournalEntry", getSortHtmlAttributes("RecordInfo", false, null, false), new { @onclick = "SortLinkClick(event,'JournalEntry');" })
                                            @if (ViewBag.IsAsc == "DESC" && ViewBag.CurrentSort == "RecordInfo")
                                            {<i class="fa fa-sort-desc"></i>}
                                            @if (ViewBag.IsAsc == "ASC" && ViewBag.CurrentSort == "RecordInfo")
                                            {<i class="fa fa-sort-asc"></i>}
                                        </th>
                                    }@if (User.CanView("JournalEntry", "UserName") && (ViewBag.IsHomePage == null || !Convert.ToBoolean(ViewBag.IsHomePage)))
                                    {
                                        <th class="col2">
                                            @Html.ActionLink("UserName", ActionNameUrl, "JournalEntry", getSortHtmlAttributes("UserName", false, null, false), new { @onclick = "SortLinkClick(event,'JournalEntry');" })
                                            @if (ViewBag.IsAsc == "DESC" && ViewBag.CurrentSort == "UserName")
                                            {<i class="fa fa-sort-desc"></i>}
                                            @if (ViewBag.IsAsc == "ASC" && ViewBag.CurrentSort == "UserName")
                                            {<i class="fa fa-sort-asc"></i>}
                                        </th>
                                    }@if (User.CanView("JournalEntry", "PropertyName") && (ViewBag.IsHomePage == null || !Convert.ToBoolean(ViewBag.IsHomePage)))
                                    {
                                        <th class="col2">
                                            @Html.ActionLink("PropertyName", ActionNameUrl, "JournalEntry", getSortHtmlAttributes("PropertyName", false, null, false), new { @onclick = "SortLinkClick(event,'JournalEntry');" })
                                            @if (ViewBag.IsAsc == "DESC" && ViewBag.CurrentSort == "PropertyName")
                                            {<i class="fa fa-sort-desc"></i>}
                                            @if (ViewBag.IsAsc == "ASC" && ViewBag.CurrentSort == "PropertyName")
                                            {<i class="fa fa-sort-asc"></i>}
                                        </th>
                                    }@if (User.CanView("JournalEntry", "OldValue") && (ViewBag.IsHomePage == null || !Convert.ToBoolean(ViewBag.IsHomePage)))
                                    {
                                        <th class="col2">
                                            @Html.ActionLink("OldValue", ActionNameUrl, "JournalEntry", getSortHtmlAttributes("OldValue", false, null, false), new { @onclick = "SortLinkClick(event,'JournalEntry');" })
                                            @if (ViewBag.IsAsc == "DESC" && ViewBag.CurrentSort == "OldValue")
                                            {<i class="fa fa-sort-desc"></i>}
                                            @if (ViewBag.IsAsc == "ASC" && ViewBag.CurrentSort == "OldValue")
                                            {<i class="fa fa-sort-asc"></i>}
                                        </th>
                                    }
                                    @if (User.CanView("JournalEntry", "NewValue") && (ViewBag.IsHomePage == null || !Convert.ToBoolean(ViewBag.IsHomePage)))
                                    {
                                        <th class="col2">
                                            @Html.ActionLink("NewValue", ActionNameUrl, "JournalEntry", getSortHtmlAttributes("NewValue", false, null, false), new { @onclick = "SortLinkClick(event,'JournalEntry');" })
                                            @if (ViewBag.IsAsc == "DESC" && ViewBag.CurrentSort == "NewValue")
                                            {<i class="fa fa-sort-desc"></i>}
                                            @if (ViewBag.IsAsc == "ASC" && ViewBag.CurrentSort == "NewValue")
                                            {<i class="fa fa-sort-asc"></i>}
                                        </th>
                                    }
                                    <th>
                                       <a>Role</a> 
                                    </th>

                                </tr>
                                @foreach (var item in Model)
                                {
                                    var entity = ModelReflector.Entities.FirstOrDefault(p => p.Name == item.EntityName);
                                    var entityDP = item.EntityName;
                                    var propertyDP = item.PropertyName;
                                    string propTypes = "";
                                    string EntInternalName = "";
                                    string dateFormat = "";
                                    string propName = "";
                                    if (entity != null)
                                    {

                                        entityDP = entity.DisplayName;
                                        var proper = entity.Properties.FirstOrDefault(p => p.Name == item.PropertyName);
                                        EntInternalName = item.EntityName;
                                        if (proper != null)
                                        {
                                            propertyDP = proper.DisplayName;
                                            propTypes = proper.DataType.ToString();
                                            propName = proper.Name;
                                        }

                                    }
                                    <tr>
                                        @if (ViewBag.IsHomePage != null || Convert.ToBoolean(ViewBag.IsHomePage))
                                        {
                                            @*<td>@Html.ActionLink("View","Edit", item.EntityName, new { id = item.RecordId })</td>*@
                                            <td style="width:60px">
                                                @if (User.CanEdit(item.EntityName))
                                                {

                                                    <a href="@Url.Action("Edit", @item.EntityName, new { id = @item.RecordId, viewtype = Convert.ToString(ViewBag.TemplatesName) }, null)" class="btn btn-xs dropdown-toggle btn-primary2">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                }
                                                @if (!User.CanEdit(item.EntityName))
                                                {
                                                    <a href="@Url.Action("Details", @item.EntityName, new { id = @item.RecordId, viewtype = Convert.ToString(ViewBag.TemplatesName) }, null)" class="btn btn-xs dropdown-toggle btn-primary2">
                                                        <i class="glyphicon glyphicon-eye-open"></i>
                                                    </a>
                                                }
                                            </td>
                                        }
                                        @if (User.CanView("JournalEntry", "EntityName") && (ViewBag.IsHomePage == null || !Convert.ToBoolean(ViewBag.IsHomePage)))
                                        {
                                            <td>
                                                @entityDP
                                            </td>
                                        }
                                        @if (User.CanView("JournalEntry", "Type") && (ViewBag.IsHomePage == null || !Convert.ToBoolean(ViewBag.IsHomePage)))
                                        {
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Type)
                                            </td>
                                        }
                                        @if (User.CanView("JournalEntry", "DateTimeOfEntry"))
                                        {

                                            <td style="width:130px">
                                                @item.DateTimeOfEntry
                                            </td>

                                        }
                                        @if (User.CanView("JournalEntry", "RecordInfo"))
                                        {
                                            if ((item.Type == "Added" || item.Type == "Modified" || item.Type == "Deleted") && entity != null)
                                            {
                                                var Displayvalue = GeneratorBase.MVC.Models.EntityComparer.GetDisplayValueForAssociation(EntInternalName, item.RecordId.ToString());
                                                <td>
                                                    @Displayvalue
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    @Html.Raw(HttpUtility.HtmlDecode(item.RecordInfo))
                                                </td>
                                            }
                                        }
                                        @if (User.CanView("JournalEntry", "UserName") && (ViewBag.IsHomePage == null || !Convert.ToBoolean(ViewBag.IsHomePage)))
                                        {
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UserName)
                                            </td>
                                        }
                                        @if (User.CanView("JournalEntry", "PropertyName") && (ViewBag.IsHomePage == null || !Convert.ToBoolean(ViewBag.IsHomePage)))
                                        {
                                            <td>
                                                @propertyDP
                                            </td>
                                        }
                                        @if (User.CanView("JournalEntry", "OldValue") && (ViewBag.IsHomePage == null || !Convert.ToBoolean(ViewBag.IsHomePage)))
                                        {
                                            if (propTypes == "DateTime" && item.OldValue != "" && item.OldValue != null)
                                            {
                                                dateFormat = getDataFormatString(EntInternalName, propName).ToString();
                                                <td>
                                                    @if (dateFormat.ToUpper().Contains("HH"))
                                                    {
                                                        @String.Format(dateFormat, TimeZoneInfo.ConvertTimeFromUtc( Convert.ToDateTime(item.OldValue), item.m_Timezone))
                                                    }
                                                    else
                                                    {
                                                        @String.Format(dateFormat, Convert.ToDateTime(item.OldValue))
                                                    }
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.OldValue)
                                                </td>
                                            }
                                        }
                                        @if (User.CanView("JournalEntry", "NewValue") && (ViewBag.IsHomePage == null || !Convert.ToBoolean(ViewBag.IsHomePage)))
                                        {

                                            if (propTypes == "DateTime" && item.NewValue != "" && item.NewValue != null)
                                            {
                                                dateFormat = getDataFormatString(EntInternalName, propName).ToString();
                                                <td>
                                                    @if (dateFormat.ToUpper().Contains("HH"))
                                                    {
                                                        @String.Format(dateFormat, TimeZoneInfo.ConvertTimeFromUtc(Convert.ToDateTime(item.NewValue), item.m_Timezone))
                                                    }
                                                    else
                                                    {
                                                        @String.Format(dateFormat, Convert.ToDateTime(item.NewValue))
                                                    }
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.NewValue)
                                                </td>
                                            }
                                        }

                                        <td>
                                            @Html.DisplayFor(modelItem => item.RoleName)
                                        </td>

                                    </tr>
                                }
                            </table>
                            @if (ViewBag.IsHomePage == null || !Convert.ToBoolean(ViewBag.IsHomePage))
                            {
                                if (Model.Count > 0)
                                {
                                    <div id="pagination" class="MyPagination1">
                                        @Html.PagedListPager(Model, page => Url.Action(ActionNameUrl, "JournalEntry", getSortHtmlAttributes(null, true, page, false)))
                                        <div class="fixPageSize">
                                            Page Size :
                                            @Html.DropDownList("PageSize", new SelectList(new Dictionary<string, int> { { "10", 10 }, { "20", 20 }, { "50", 50 }, { "100", 100 } }, "Key", "Value"), new { @id = "pagesizelistJournalEntry", @onchange = "pagesizelistChange(event,'JournalEntry')", @Url = Html.Raw(@Url.Action(ActionNameUrl, "JournalEntry", getSortHtmlAttributes(ViewBag.CurrentSort, ViewBag.Pages == 1 ? false : true, ViewBag.Pages <= Model.PageCount ? ViewBag.Pages : 1, false), null)) })
                                            <span style="text-align:right;"> Total Count: @(Model.TotalItemCount)</span>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <span style="text-align:left; padding-top:5px"> Recently Updated Items</span>
                            }
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
