@model GeneratorBase.MVC.Models.T_WorkingTitle
@{
    ViewBag.Title = "Delete Working Title ";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-title">
            <i class="glyphicon glyphicon-hand-down text-primary"></i>Delete Working Title   <i class="glyphicon glyphicon-chevron-right small"></i> 
            <span style="color:red;">  Are you sure you want to delete this?</span>
        </h1>
        <h2 class="text-primary">@Html.DisplayFor(model => model.DisplayValue)</h2>
    </div>
</div>
<div class="row">
<label id="ErrMsg" class="text-primary small" style="color:red; vertical-align:middle; font-weight:100;"></label>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ConcurrencyKey)
    @Html.HiddenFor(model => model.Id)
                                  
    <dl class="dl-horizontal">
		  <dt>		   
            @Html.DisplayNameFor(model => model.T_Name)
        </dt>
		<dd class="clearfix">
            @Html.DisplayFor(model => model.T_Name)
			@Html.HiddenFor(model => model.T_Name)
        </dd>
		  <dt>		   
            @Html.DisplayNameFor(model => model.T_Description)
        </dt>
		<dd class="clearfix">
            @Html.DisplayFor(model => model.T_Description)
			@Html.HiddenFor(model => model.T_Description)
        </dd>
    </dl>
	<br/>
        <div class="row deletefix">
				<div class="col-md-12 col-sm-12 col-xs-12">
		<label class="small alert-danger" style="padding:3px; margin-top:5px; display:block;">All Position will be deleted associated with @Html.DisplayFor(model => model.DisplayValue)!</label>
         <a class="btn btn-default btn-sm" Onclick="goBack('@Url.Action("Index","T_WorkingTitle")');">Back</a>
        @*@Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default btn-sm" })*@
 
	@if ( User.CanDelete("T_WorkingTitle"))
     {
			<input type="submit" value="Delete" class="btn btn-primary btn-sm" /> 
	}
        </div>
            </div>
    }
</div>
