@model GeneratorBase.MVC.Models.T_Schedule
@using PagedList;
@{
    ViewBag.Title = "View Schedule";
}
<script>
    $(document).ready(function () {
			 if ($.cookie('@User.JavaScriptEncodedName' + 'TabCookie') != null) {
				$('a[href="#' + $.cookie('@User.JavaScriptEncodedName' + 'TabCookie') + '"]').click();
			 }
    });
</script>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-title">
            <i class="glyphicon glyphicon-hand-down text-primary"></i> Schedule  <i class="glyphicon glyphicon-chevron-right small"></i> <span>View</span>
        </h1>
        <h2 class="text-primary"><span id="HostingEntityDisplayValue">@Html.DisplayFor(model => model.DisplayValue)</span>
			<div class="btn-group pull-right fixactionbut">
            <button data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-default pull-right">
                Action
                <span class="caret">    </span>
            </button>
			<ul class="dropdown-menu pull-left">               
				<li>
                    @if ( User.CanEdit("T_Schedule"))
                    {
                        <a href="@Url.Action("Edit","T_Schedule", new { id = Model.Id,  UrlReferrer = Request.Url, AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) },null)"><i class="glyphicon glyphicon-edit"></i>  Edit</a>
                    }
                </li>             
				<li>
                    @if ( User.CanEdit("T_Schedule"))
                    {
                        <a href="@Url.Action("EditWizard","T_Schedule", new { id = Model.Id,  UrlReferrer = Request.Url, AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) },null)"><i class="glyphicon glyphicon-share"></i>  Wizard</a>
                    }
                </li>
				<li>
                    @if ( User.CanDelete("T_Schedule"))
                    {
                        <a href="@Url.Action("Delete", "T_Schedule", new { id = Model.Id, UrlReferrer = Request.Url, AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) }, null)"><i class="glyphicon glyphicon-remove-sign"></i>  Delete</a>
                    }
                </li>
			</ul>
</div>
		</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="tabbable responsive">
    <ul class="nav nav-tabs">
	 <li class="active"><a href="#Details" data-toggle="tab">Details</a></li>
    </ul>
	    <div class="tab-content">
		   <div class="tab-pane fade in active" id="Details">
				 <div class="panel panel-default AppForm">
					<div class="panel-body">
                                  
			<div class="row">
				<div class="col-sm-12 col-md-12 col-xs-12">
			<div class="panel panel-default">
                <div class="panel-heading clearfix">
					<i class="icon-calendar"></i>
											
									<h3 class="panel-title">Basic Details</h3>
								</div>
                                <div class="panel-body">
@if(User.CanView("T_Schedule","T_Name"))
{
<div class='col-sm-6 col-md-6 col-xs-12'>
	<div class='form-group' title="Name">
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_Name) </label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
		
				<p class="viewlabel">@Model.T_Name</p>
		</div>
	</div>
</div>
}
@if(User.CanView("T_Schedule","T_Description"))
{
<div class='col-sm-6 col-md-6 col-xs-12'>
	<div class='form-group' title="Description">
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_Description)</label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
		<p class="viewlabel">@Model.T_Description</p>
		</div>
	</div>
</div>
}
@if(User.CanView("T_Schedule","T_AssociatedScheduleTypeID"))
{
<div class='col-sm-6 col-md-6 col-xs-12'>
	<div class='form-group' >
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_AssociatedScheduleTypeID)</label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
		@if (@Model.T_AssociatedScheduleTypeID == 0 || @Model.T_AssociatedScheduleTypeID == null || @Model.t_associatedscheduletype == null)
		{
	         <p class="viewlabel"></p>
        }
        else
        {
		     <p class="viewlabel">@Model.t_associatedscheduletype.DisplayValue</p>
        }
		</div>
	</div>
</div>
}
@if(User.CanView("T_Schedule","T_StartDateTime"))
{
<div class='col-sm-6 col-md-6 col-xs-12'>
	<div class='form-group' title="Start Date Time">
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_StartDateTime) </label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
		
				<p class="viewlabel">@String.Format("{0:MM/dd/yyyy hh:mm tt}", Model.T_StartDateTime)</p>
		</div>
	</div>
</div>
}
 
			</div>
        </div>
			<div class="panel panel-default">
                <div class="panel-heading clearfix">
					<i class="icon-calendar"></i>
											
									<h3 class="panel-title">Recurrence Detail</h3>
								</div>
                                <div class="panel-body">
@if(User.CanView("T_Schedule","T_AssociatedRecurringScheduleDetailsTypeID"))
{
<div class='col-sm-6 col-md-6 col-xs-12'>
	<div class='form-group' >
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_AssociatedRecurringScheduleDetailsTypeID)</label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
		@if (@Model.T_AssociatedRecurringScheduleDetailsTypeID == 0 || @Model.T_AssociatedRecurringScheduleDetailsTypeID == null || @Model.t_associatedrecurringscheduledetailstype == null)
		{
	         <p class="viewlabel"></p>
        }
        else
        {
		     <p class="viewlabel">@Model.t_associatedrecurringscheduledetailstype.DisplayValue</p>
        }
		</div>
	</div>
</div>
}
@if(User.CanView("T_Schedule","T_RecurringRepeatFrequencyID"))
{
<div class='col-sm-6 col-md-6 col-xs-12'>
	<div class='form-group' >
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_RecurringRepeatFrequencyID)</label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
		@if (@Model.T_RecurringRepeatFrequencyID == 0 || @Model.T_RecurringRepeatFrequencyID == null || @Model.t_recurringrepeatfrequency == null)
		{
	         <p class="viewlabel"></p>
        }
        else
        {
		     <p class="viewlabel">@Model.t_recurringrepeatfrequency.DisplayValue</p>
        }
		</div>
	</div>
</div>
}
@if(User.CanView("T_Schedule","T_RepeatByID"))
{
<div class='col-sm-6 col-md-6 col-xs-12'>
	<div class='form-group' >
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_RepeatByID)</label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
		@if (@Model.T_RepeatByID == 0 || @Model.T_RepeatByID == null || @Model.t_repeatby == null)
		{
	         <p class="viewlabel"></p>
        }
        else
        {
		     <p class="viewlabel">@Model.t_repeatby.DisplayValue</p>
        }
		</div>
	</div>
</div>
}
@if(User.CanView("T_Schedule","T_RecurringTaskEndTypeID"))
{
<div class='col-sm-6 col-md-6 col-xs-12'>
	<div class='form-group' >
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_RecurringTaskEndTypeID)</label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
		@if (@Model.T_RecurringTaskEndTypeID == 0 || @Model.T_RecurringTaskEndTypeID == null || @Model.t_recurringtaskendtype == null)
		{
	         <p class="viewlabel"></p>
        }
        else
        {
		     <p class="viewlabel">@Model.t_recurringtaskendtype.DisplayValue</p>
        }
		</div>
	</div>
</div>
}
@if(User.CanView("T_Schedule","T_EndDate"))
{
<div class='col-sm-6 col-md-6 col-xs-12'>
	<div class='form-group' title="End Date">
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_EndDate) </label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
		
				<p class="viewlabel">@String.Format("{0:MM/dd/yyyy}", Model.T_EndDate)</p>
		</div>
	</div>
</div>
}
@if(User.CanView("T_Schedule","T_OccurrenceLimitCount"))
{
<div class='col-sm-6 col-md-6 col-xs-12'>
	<div class='form-group' title="Occurrence Limit Count">
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_OccurrenceLimitCount) </label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
		
				<p class="viewlabel">@Model.T_OccurrenceLimitCount</p>
		</div>
	</div>
</div>
}
@if(User.CanView("T_Schedule","T_Summary"))
{
<div class='col-sm-6 col-md-6 col-xs-12'>
	<div class='form-group' title="Summary">
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_Summary)</label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
		<p class="viewlabel">@Model.T_Summary</p>
		</div>
	</div>
</div>
}
 
			</div>
        </div>
		<div class="row">
                        <div class="col-sm-12 col-md-12 col-sx-12">
                            <div class="panel panel-default">
                                <div class="panel-heading clearfix" style="margin:0px; padding:8px;">
                                    Recurrence Days
                                </div>
                                <div class="panel-body" style="margin:0px; padding:8px;">
                                    @foreach (var chkitem in Model.T_RecurrenceDays_T_RepeatOn)
                                    {
                                        <input type="checkbox" disabled name="SelectedT_RecurrenceDays_T_RepeatOn" value="@chkitem.Id" @(Model.SelectedT_RecurrenceDays_T_RepeatOn.Contains(chkitem.Id) ? "checked" : "") /> @chkitem.DisplayValue
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					@Html.ActionLink("Back", "Cancel", new { UrlReferrer = Request.UrlReferrer }, new { @class = "btn btn-default btn-sm" })
					 @if ( User.CanEdit("T_Schedule"))
                     {
                          @Html.ActionLink("Edit", "Edit", new { id = Model.Id, AssociatedType = ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) }, new { @class = "btn btn-primary btn-sm" })
                     }
				</div>
			</div>    
	</div>    
<div class="tab-pane fade in" id="T_RepeatOn_T_Schedule">
   </div>
	</div> <!-- /tab-content --><br />
<br/>
</div>
 
