@model GeneratorBase.MVC.Models.T_Schedule
@using PagedList;
@{
    ViewBag.Title = "Edit Schedule";
	var EditPermission = User.CanEditItem("T_Schedule", Model, User);
	var DeletePermission = User.CanDeleteItem("T_Schedule", Model, User);
}
@functions {
    object getHtmlAttributes(string Property)
    {
        if (User.CanEdit("T_Schedule", Property))
        {
            return new { @class = "form-control" };
        } return new { @class = "form-control", @readonly = "readonly" };
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_ScheduleIsHiddenRule))
    {
        @Html.Raw(ViewBag.T_ScheduleIsHiddenRule);
    }
}
@using (Html.BeginForm("EditWizard", "T_Schedule", new { UrlReferrer = Convert.ToString(ViewData["T_ScheduleParentUrl"]) }, FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
	@Html.AntiForgeryToken();
    Html.ValidationSummary(true);
    Html.EnableClientValidation();
    @Html.HiddenFor(model => model.Id)
	@Html.HiddenFor(model => model.ConcurrencyKey)
	<label id="ErrMsg" class="text-primary small pull-right" style="color:red; vertical-align:middle; font-weight:100;"></label>
	<div class="row">
        <br />
        <div id=wizard>
			<ol>
		<li>Basic Details</li>
		<li>Recurrence Detail</li>
		<li>Recurrence Days</li>
		</ol>
			<div style="background-color:transparent; padding:0px;">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="panel panel-default AppForm">
                            <div class="panel-heading clearfix">
                                <i class="icon-calendar"></i>
                                <h3 class="panel-title">Basic Details</h3>
                            </div>
                            <div class="panel-body">
@if(User.CanView("T_Schedule","T_Name"))
{
						<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_Name">
							<div class='form-group' title="Name">
								<label class="col-sm-5 col-md-5 col-xs-12" >@Html.LabelFor(model => model.T_Name) <span class="text-danger-reg">*</span> </label>
                                <div class="input-group col-sm-7 col-md-7 col-xs-12">
								 
									@Html.TextBoxFor(model => model.T_Name,  getHtmlAttributes("T_Name"))
									@Html.ValidationMessageFor(model => model.T_Name)
								</div>
                             </div>
						</div>
} else { @Html.HiddenFor(model => model.T_Name, new { @class = "form-control" })}
@if(User.CanView("T_Schedule","T_Description"))
{
						<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_Description">
							<div class='form-group' title="Description">
								<label class="col-sm-5 col-md-5 col-xs-12" >@Html.LabelFor(model => model.T_Description) </label>
                                <div class="input-group col-sm-7 col-md-7 col-xs-12">
								@Html.TextAreaFor(model => model.T_Description, getHtmlAttributes("T_Description"))
									@Html.ValidationMessageFor(model => model.T_Description)
								</div>
                             </div>
						</div>
} else { @Html.HiddenFor(model => model.T_Description, new { @class = "form-control" })}
						@if(User.CanView("T_Schedule","T_AssociatedScheduleTypeID"))
						{
							<div class='col-sm-6 col-md-6  col-xs-12' id="dvT_AssociatedScheduleTypeID" style="min-height:35px;">
									<label class="col-sm-5 col-md-5 col-xs-12">@Html.LabelFor(model => model.T_AssociatedScheduleTypeID)  <span class="text-danger-reg">*</span></label>
									<div class="input-group col-sm-7 col-md-7 col-xs-12">
									<div class="input-group radiocontainer">
										@Html.RadioButtonListFor(model => model.T_AssociatedScheduleTypeID, (SelectList)ViewBag.T_AssociatedScheduleTypeID, new {  @required ="required",    @dataurl = Url.Action("GetAllValueForRB", "T_Scheduletype",new { caller = "T_AssociatedScheduleTypeID" })})
										@Html.ValidationMessageFor(model => model.T_AssociatedScheduleTypeID)
									</div>
									</div>
							</div>
						} else { @Html.HiddenFor(model => model.T_AssociatedScheduleTypeID, new { @class = "form-control" })}
@if(User.CanView("T_Schedule","T_StartDateTime"))
{
                            <div class='col-sm-6 col-md-6 col-xs-12' id="dvT_StartDateTime">
                                <label class="col-sm-5 col-md-5 col-xs-12" >@Html.LabelFor(model => model.T_StartDateTime) <span class="text-danger-reg">*</span></label>
                                <div class="form-group" title="Start Date Time">
								<div class="input-group col-sm-7 col-md-7 col-xs-12">
                                    <div class="input-group date" id="datetimepickerT_StartDateTime">
									    @Html.TextBoxFor(model => model.T_StartDateTime, "{0:MM/dd/yyyy hh:mm tt}", User.CanEdit("T_Schedule", "T_StartDateTime") ? (object)new {@class = "form-control" } : (object)new { @class = "form-control", @readonly="readonly"})
                                        <span class="input-group-addon btn-default calendar">
                                           <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.T_StartDateTime)
								</div>
                                </div>
                               @if(User.CanEdit("T_Schedule", "T_StartDateTime"))
								{
                                <script type="text/javascript">
                                    $(function () {
                                        $('#datetimepickerT_StartDateTime').datetimepicker({ });
										$('#T_StartDateTime').datetimepicker({ });
                                    });
                                </script>
								}
                            </div>
} else { @Html.HiddenFor(model => model.T_StartDateTime, new { @class = "form-control" })}
							</div>
                         </div>
                      </div>
					</div>
				</div>
			<div style="background-color:transparent; padding:0px;">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="panel panel-default AppForm">
                            <div class="panel-heading clearfix">
                                <i class="icon-calendar"></i>
                                <h3 class="panel-title">Recurrence Detail</h3>
                            </div>
                            <div class="panel-body">
						@if(User.CanView("T_Schedule","T_AssociatedRecurringScheduleDetailsTypeID"))
						{
							<div class='col-sm-6 col-md-6  col-xs-12' id="dvT_AssociatedRecurringScheduleDetailsTypeID" style="min-height:35px;">
									<label class="col-sm-5 col-md-5 col-xs-12">@Html.LabelFor(model => model.T_AssociatedRecurringScheduleDetailsTypeID)  </label>
									<div class="input-group col-sm-7 col-md-7 col-xs-12">
									<div class="input-group radiocontainer">
										@Html.RadioButtonListFor(model => model.T_AssociatedRecurringScheduleDetailsTypeID, (SelectList)ViewBag.T_AssociatedRecurringScheduleDetailsTypeID, new {    @dataurl = Url.Action("GetAllValueForRB", "T_RecurringScheduleDetailstype",new { caller = "T_AssociatedRecurringScheduleDetailsTypeID" })})
										@Html.ValidationMessageFor(model => model.T_AssociatedRecurringScheduleDetailsTypeID)
									</div>
									</div>
							</div>
						} else { @Html.HiddenFor(model => model.T_AssociatedRecurringScheduleDetailsTypeID, new { @class = "form-control" })}
@if(User.CanView("T_Schedule","T_RecurringRepeatFrequencyID"))
{
                    <div class='col-sm-6 col-md-6 col-xs-12' id="dvT_RecurringRepeatFrequencyID">
                        <div class='form-group'>
                            <label class="col-sm-5 col-md-5 col-xs-12" >@Html.LabelFor(model => model.T_RecurringRepeatFrequencyID) </label>
							<div class="input-group col-sm-7 col-md-7 col-xs-12">
							<div class="input-group" style="width:100%;">									
									@if (User.CanEdit("T_Schedule", "T_RecurringRepeatFrequencyID"))
		{
			@Html.DropDownList("T_RecurringRepeatFrequencyID", null, "-- Select --", new {      @class = "chosen-select form-control", @HostingName = "T_RecurringFrequency", @dataurl = Url.Action("GetAllValue", "T_RecurringFrequency",new { caller = "T_RecurringRepeatFrequencyID" }) })
		}
		else
		{
			@Html.HiddenFor(model => model.T_RecurringRepeatFrequencyID, new { @class = "form-control" })
			@Html.DropDownList("T_RecurringRepeatFrequencyID", null, "-- Select --", new {      @class = "chosen-select form-control", @disabled="disabled", @HostingName = "T_RecurringFrequency", @dataurl = Url.Action("GetAllValue", "T_RecurringFrequency",new { caller = "T_RecurringRepeatFrequencyID" }) })
		}
                                @Html.ValidationMessageFor(model => model.T_RecurringRepeatFrequencyID)
								 @if ( User.CanAdd("T_RecurringFrequency"))
                                    {
                                <div class="input-group-btn">
										<a class="btn btn-default btn ie8fix"  data-target="#dvPopup" onclick="@Html.Raw("OpenPopUpEntity('addPopup','Repeat Every','dvPopup','" + Url.Action("CreateQuick", "T_RecurringFrequency", new { UrlReferrer = Request.Url, HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]), IsAddPop=true }) + "')")">
											<span class="glyphicon glyphicon-plus-sign"></span>
										</a>
                                </div>
								}
							</div>
							</div>
                        </div>
                    </div>
					} else { @Html.HiddenFor(model => model.T_RecurringRepeatFrequencyID, new { @class = "form-control" })}
						@if(User.CanView("T_Schedule","T_RepeatByID"))
						{
							<div class='col-sm-6 col-md-6  col-xs-12' id="dvT_RepeatByID" style="min-height:35px;">
									<label class="col-sm-5 col-md-5 col-xs-12">@Html.LabelFor(model => model.T_RepeatByID)  </label>
									<div class="input-group col-sm-7 col-md-7 col-xs-12">
									<div class="input-group radiocontainer">
										@Html.RadioButtonListFor(model => model.T_RepeatByID, (SelectList)ViewBag.T_RepeatByID, new {    @dataurl = Url.Action("GetAllValueForRB", "T_MonthlyRepeatType",new { caller = "T_RepeatByID" })})
										@Html.ValidationMessageFor(model => model.T_RepeatByID)
									</div>
									</div>
							</div>
						} else { @Html.HiddenFor(model => model.T_RepeatByID, new { @class = "form-control" })}
						@if(User.CanView("T_Schedule","T_RecurringTaskEndTypeID"))
						{
							<div class='col-sm-6 col-md-6  col-xs-12' id="dvT_RecurringTaskEndTypeID" style="min-height:35px;">
									<label class="col-sm-5 col-md-5 col-xs-12">@Html.LabelFor(model => model.T_RecurringTaskEndTypeID)  </label>
									<div class="input-group col-sm-7 col-md-7 col-xs-12">
									<div class="input-group radiocontainer">
										@Html.RadioButtonListFor(model => model.T_RecurringTaskEndTypeID, (SelectList)ViewBag.T_RecurringTaskEndTypeID, new {    @dataurl = Url.Action("GetAllValueForRB", "T_RecurringEndType",new { caller = "T_RecurringTaskEndTypeID" })})
										@Html.ValidationMessageFor(model => model.T_RecurringTaskEndTypeID)
									</div>
									</div>
							</div>
						} else { @Html.HiddenFor(model => model.T_RecurringTaskEndTypeID, new { @class = "form-control" })}
@if(User.CanView("T_Schedule","T_EndDate"))
{
                            <div class='col-sm-6 col-md-6 col-xs-12' id="dvT_EndDate">
                                <label class="col-sm-5 col-md-5 col-xs-12" >@Html.LabelFor(model => model.T_EndDate) </label>
                                <div class="form-group" title="End Date">
								<div class="input-group col-sm-7 col-md-7 col-xs-12">
                                    <div class="input-group date" id="datetimepickerT_EndDate">
									    @Html.TextBoxFor(model => model.T_EndDate, "{0:MM/dd/yyyy}", User.CanEdit("T_Schedule", "T_EndDate") ? (object)new {@class = "form-control" } : (object)new { @class = "form-control", @readonly="readonly"})
                                        <span class="input-group-addon btn-default calendar">
                                           <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.T_EndDate)
								</div>
                                </div>
                               @if(User.CanEdit("T_Schedule", "T_EndDate"))
								{
                                <script type="text/javascript">
                                    $(function () {
                                        $('#datetimepickerT_EndDate').datetimepicker({ pickTime:false });
										$('#T_EndDate').datetimepicker({ pickTime:false });
                                    });
                                </script>
								}
                            </div>
} else { @Html.HiddenFor(model => model.T_EndDate, new { @class = "form-control" })}
@if(User.CanView("T_Schedule","T_OccurrenceLimitCount"))
{
						<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_OccurrenceLimitCount">
							<div class='form-group' title="Occurrence Limit Count">
								<label class="col-sm-5 col-md-5 col-xs-12" >@Html.LabelFor(model => model.T_OccurrenceLimitCount)  </label>
                                <div class="input-group col-sm-7 col-md-7 col-xs-12">
								 
									@Html.TextBoxFor(model => model.T_OccurrenceLimitCount,  getHtmlAttributes("T_OccurrenceLimitCount"))
									@Html.ValidationMessageFor(model => model.T_OccurrenceLimitCount)
								</div>
                             </div>
						</div>
} else { @Html.HiddenFor(model => model.T_OccurrenceLimitCount, new { @class = "form-control" })}
@if(User.CanView("T_Schedule","T_Summary"))
{
						<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_Summary">
							<div class='form-group' title="Summary">
								<label class="col-sm-5 col-md-5 col-xs-12" >@Html.LabelFor(model => model.T_Summary) </label>
                                <div class="input-group col-sm-7 col-md-7 col-xs-12">
								@Html.TextAreaFor(model => model.T_Summary, getHtmlAttributes("T_Summary"))
									@Html.ValidationMessageFor(model => model.T_Summary)
								</div>
                             </div>
						</div>
} else { @Html.HiddenFor(model => model.T_Summary, new { @class = "form-control" })}
							</div>
                         </div>
                      </div>
					</div>
				</div>
			<div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading clearfix">
                                <i class="icon-calendar"></i>
                                <h3 class="panel-title">Recurrence Days</h3>
                            </div>
                            <div class="panel-body" id="T_RepeatOn_T_Schedule">
                                @if ( User.CanView("T_RepeatOn"))
                                {
                                    Html.RenderAction("Index", "T_RepeatOn", new {RenderPartial=true, HostingEntity = "T_Schedule", HostingEntityID = @Model.Id == null ? 0 : @Model.Id, AssociatedType = "T_RepeatOn_T_Schedule" });
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>
   @Html.ActionLink("C", "Cancel", new { UrlReferrer = ViewData["T_ScheduleParentUrl"] }, new { @id = "cancel", @style = "display:none;" })
   <input type="hidden" name="hdncommand" value=""/>
    </div>
 <br />
}
	<script>
    $(function () {
        var userAgent = navigator.userAgent.toLowerCase();
        // Figure out what browser is being used
        var browser = {
            version: (userAgent.match(/.+(?:rv|it|ra|ie)[\/: ]([\d.]+)/) || [])[1],
            safari: /webkit/.test(userAgent),
            opera: /opera/.test(userAgent),
            msie: /msie/.test(userAgent) && !/opera/.test(userAgent),
            mozilla: /mozilla/.test(userAgent) && !/(compatible|webkit)/.test(userAgent)
        };
        if (!browser.msie) {
            $('form').areYouSure();
        }
        else if (browser.version > 8.0) {
            $('form').areYouSure();
        }
    });
</script>
	<script>
    $("input[type='submit']").click(function () {
        var $this = $(this);
        $('input:hidden[name="hdncommand"]').val($this.val());
    });
	</script>
@{
var busineesrule = User.businessrules.Where(p => p.EntityName == "T_Schedule").ToList();
if ((busineesrule != null && busineesrule.Count > 0))
{
    <script>
    $(document).ready(function () {
        $.ajax({
            async: false,
            type: "GET",
            url: "@Url.Action("GetLockBusinessRules", "T_Schedule")",
            data: $("form").serialize(),
        success: function (data) {
            if (data.length > 0) {
                $(':input:not([readonly])', 'form').attr('disabled', 'disabled').attr('readonly', 'readonly').trigger("chosen:updated");
                document.getElementById('ErrMsg').innerHTML = data + " Rules applied";
            }
        },
        error: function (jqXHR, textStatus, errorThrown) {
            alert(JSON.stringify(jqXHR));
            alert(errorThrown);
        }
    });
   	$.ajax({
            async: false,
            type: "GET",
            url: "@Url.Action("GetReadOnlyProperties", "T_Schedule")",
            data: $("form").serialize(),
            success: function (data) {
                for (var key in data) {
                    $('#' + key).attr('disabled', 'disabled').attr('readonly', 'readonly').trigger("chosen:updated");
					$("input[type='radio'][name='" + key + "']").attr('disabled', 'disabled').attr('readonly', 'readonly');
					$('form').append('<input type="hidden" name="' + key + '" id="' + key + '" value="' + $('#' + key).val() + '" />');
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
            }
        });
    });
</script>
<script>
    $("form").submit(function () {
            var flag = true;
            $.ajax({
                async: false,
                type: "GET",
                url: "@Url.Action("GetMandatoryProperties", "T_Schedule")",
                data: $(this).serialize(),
                 success: function (data) {
                        $('[businessrule="mandatory"]').each(function () {
                            $(this).removeAttr('required');
                        });
                        document.getElementById('ErrMsg').innerHTML = "";
                        for (var key in data) {
                            if ($.trim($('#' + key).val()).length == 0 && $.trim($("input[type='radio'][name='" + key + "']:checked").val()).length == 0)
                            {
                                $('#' + key).attr('required', 'required');
                                $('#' + key).attr('businessrule', 'mandatory');
                                $("input[type='radio'][name='" + key + "']").attr('required', 'required');
                                $("input[type='radio'][name='" + key + "']").attr('businessrule', 'mandatory');
                                flag = false;
                                document.getElementById('ErrMsg').innerHTML += data[key] + " is Mandatory.<br/>";
                            }
                        }
                    },
                error: function (jqXHR, textStatus, errorThrown) {
                }
            });
			 if (flag)
                    $("form").find(':input').removeAttr('disabled');
            return flag;
    });
</script>
}
}


