@model GeneratorBase.MVC.Models.T_Department
@using PagedList;
@{
    ViewBag.Title = "View Department";
	var EntityDisplayNameReflector = ModelReflector.Entities.FirstOrDefault(p => p.Name == "T_Department");
    var EntityDisplayName = EntityDisplayNameReflector != null ? EntityDisplayNameReflector.DisplayName : "Department";
}
<script>
    $(document).ready(function () {
			 if ($.cookie('@User.JavaScriptEncodedName@Model.Id' + 'TabCookie') != null) {
				$('a[href="#' + $.cookie('@User.JavaScriptEncodedName@Model.Id' + 'TabCookie') + '"]').click();
			 }
    });
</script>
@{
    if (!string.IsNullOrEmpty(ViewBag.T_DepartmentIsHiddenRule))
    {
        @Html.Raw(ViewBag.T_DepartmentIsHiddenRule);
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_DepartmentIsGroupsHiddenRule))
    {
        @Html.Raw(ViewBag.T_DepartmentIsGroupsHiddenRule);
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_DepartmentIsSetValueUIRule))
    {
        @Html.Raw(ViewBag.T_DepartmentIsSetValueUIRule);
    }
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-title">
            <i class="glyphicon glyphicon-hand-down text-primary"></i> @EntityDisplayName  <i class="glyphicon glyphicon-chevron-right small"></i> <span>View</span>
        </h1>
        <h2 class="text-primary"><span id="HostingEntityDisplayValue">@Html.DisplayFor(model => model.DisplayValue)</span>
			<div class="btn-group pull-right fixactionbut">
            <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle pull-right">
                Action
                <span class="caret">    </span>
            </button>
			<ul class="dropdown-menu pull-left">               
				<li>
                    @if ( User.CanEdit("T_Department"))
                    {
                        <a href="@Url.Action("Edit","T_Department", new {UrlReferrer = Request.UrlReferrer,id = Model.Id,AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) },null)"><i class="glyphicon glyphicon-edit"></i>  Edit</a>
                    }
                </li>             
				<li>
                    @if ( User.CanDelete("T_Department"))
                    {
                        <a href="@Url.Action("Delete", "T_Department", new { UrlReferrer = Request.UrlReferrer,id = Model.Id, AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) }, null)"><i class="glyphicon glyphicon-remove-sign"></i>  Delete</a>
                    }
                </li>
	<li class="divider" style="clear:both"></li>
	<li class="dropdown-submenu pull-left" id="AddAssociationdropmenuT_Department">
	 @{ var dropmenu = false; }
	<a tabindex="-1" href="#" style="margin-bottom:10px;"><i class="fam-anchor small"></i> Add</a>
    <ul class="dropdown-menu pull-left">
				@if ( User.CanAdd("T_UnitX"))
				{ dropmenu = true;
					<li>
						<a onclick=@Html.Raw("NavigateToUrl('" + Url.Action("Create", "T_UnitX", 
						new { UrlReferrer = Request.Url,
								AssociatedType ="T_WardDepartment", 
							HostingEntityName = "T_Department",
							HostingEntityID = @Convert.ToString(Model.Id) }, null) + "');")>
							<i class="glyphicon glyphicon-plus"></i>  Ward
						</a>
					</li>
				}
			</ul>
</li>
@if(!dropmenu)
{
    <script>
        $("#AddAssociationdropmenuT_Department").hide();
    </script>
}
 <li class="divider" style="clear:both"></li>
 <li class="dropdown-submenu pull-left">
	<a tabindex="-1" href="#" style="margin-bottom:10px;">Find Matching</a>
    <ul class="dropdown-menu pull-left">
<li>
		<a href="@Url.Action("FindFSearch", "T_Position", new {sourceEntity="T_Department",id=Model.Id}, null)">Position</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_Employee", new {sourceEntity="T_Department",id=Model.Id}, null)">Employee</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_DepartmentArea", new {sourceEntity="T_Department",id=Model.Id}, null)">Department Area</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_ClaimType", new {sourceEntity="T_Department",id=Model.Id}, null)">Claim Type</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_Restrictions", new {sourceEntity="T_Department",id=Model.Id}, null)">Restrictions</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_UnitX", new {sourceEntity="T_Department",id=Model.Id}, null)">UnitX</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_Unit", new {sourceEntity="T_Department",id=Model.Id}, null)">Unit</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_SalaryRange", new {sourceEntity="T_Department",id=Model.Id}, null)">Salary Range</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_FacilityConfiguration", new {sourceEntity="T_Department",id=Model.Id}, null)">Facility Configuration</a>
</li>
</ul>
</li>
			</ul>


		</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="tabbable responsive">
    <ul class="nav nav-tabs">
	 <li class="active"><a href="#Details" onclick="ClearTabCookie('@User.JavaScriptEncodedName@Model.Id');" data-toggle="tab">Details</a></li>
		 <li @(!User.CanView("T_UnitX") ?"style=display:none;":"")><a onclick="LoadTab('T_WardDepartment','@User.JavaScriptEncodedName@Model.Id','@Html.Raw(Url.Action("Index", "T_UnitX", new {RenderPartial=true, HostingEntity ="T_Department", HostingEntityID = @Model.Id, AssociatedType = "T_WardDepartment",TabToken = DateTime.Now.Ticks,}))')" href="#T_WardDepartment" data-toggle="tab">
		 Ward
		 <span class="badge bg-blue"><div id="dvcnt_T_WardDepartment">@ViewBag.T_WardDepartmentCount</div></span>
		 		 </a></li>
		 <li @(!User.CanView("JournalEntry")?"style=display:none;":"")><a onclick="LoadTab('JournalEntryToT_DepartmentRelation','@User.JavaScriptEncodedName@Model.Id','@Url.Action("Index", "JournalEntry", new { RenderPartial = true, HostingEntity = "T_Department", HostingEntityID = @Model.Id, AssociatedType = "JournalEntry", TabToken = DateTime.Now.Ticks })')" href="#JournalEntryToT_DepartmentRelation" data-toggle="tab">Department Journal</a></li>
    </ul>
	  @Html.HiddenFor(model => model.Id)
	    <div class="tab-content">
		   <div class="tab-pane fade in active" id="Details">
				 <div class="panel panel-default AppForm">
					<div class="panel-body">
                                  
			
			<div class="row">
@if(User.CanView("T_Department","T_DepartmentFacilityAssociationID"))
{
<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_DepartmentFacilityAssociation">
	<div class='form-group' >
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_DepartmentFacilityAssociationID)</label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
		@if (@Model.T_DepartmentFacilityAssociationID == 0 || @Model.T_DepartmentFacilityAssociationID == null || @Model.t_departmentfacilityassociation == null)
		{
	         <p id="lblT_DepartmentFacilityAssociationID" class="viewlabel"></p>
        }
        else
        {
		     <p id="lblT_DepartmentFacilityAssociationID" class="viewlabel" title="@Model.t_departmentfacilityassociation.DisplayValue">@Model.t_departmentfacilityassociation.DisplayValue</p>
        }
		</div>
	</div>
</div>
}
@if(User.CanView("T_Department","T_DEPTshort"))
{
<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_DEPTshort">
	<div class='form-group' title="@Model.T_DEPTshort">
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_DEPTshort) </label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
		
				
				<p id="lblT_DEPTshort" class="viewlabel">@Model.T_DEPTshort</p>
					
					</div>
	</div>
</div>
}
@if(User.CanView("T_Department","T_DepartmentTitle"))
{
<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_DepartmentTitle">
	<div class='form-group' title="@Model.T_DepartmentTitle">
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_DepartmentTitle) </label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
		
				
				<p id="lblT_DepartmentTitle" class="viewlabel">@Model.T_DepartmentTitle</p>
					
					</div>
	</div>
</div>
}
		</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
				<a class="btn btn-default btn-sm pull-left formbuttonfix" Onclick="goBack('@Url.Action("Index","T_Department")');">Back</a>
				@*@Html.ActionLink("Back", "Cancel", new { UrlReferrer = Request.UrlReferrer }, new { @class = "btn btn-default btn-sm pull-left formbuttonfix" })*@
					
					 @if ( User.CanEdit("T_Department"))
                     {
                          @Html.ActionLink("Edit", "Edit", new { UrlReferrer = Request.UrlReferrer, id = Model.Id, AssociatedType = ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) }, new { @class = "btn btn-primary btn-sm pull-left formbuttonfix" })
                     }
				   
 @{ var dropmenubottom = false; }
<div class="dropdown pull-left formbuttonfix" style="" id="AddAssociationdropmenubottomT_Department">
<button type="button" class="btn btn-primary btn-sm dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
            Add Association
            <span class="caret"></span>
        </button>
		 <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
			@if (User.CanAdd("T_UnitX"))
            {
			    dropmenubottom = true;
                <li><a onclick=@Html.Raw("NavigateToUrl('" + Url.Action("Create", "T_UnitX",
						new { UrlReferrer = Request.Url,
								AssociatedType ="T_WardDepartment", 
						HostingEntityName = "T_Department",
                              HostingEntityID = @Convert.ToString(Model.Id)
                        }, null) + "');")>
                   Add  Ward
                </a>
				</li>
            }

			
</ul>
</div>
@if(!dropmenubottom)
{
    <script>
        $("#AddAssociationdropmenubottomT_Department").hide();
    </script>
}
			</div> 
			</div><div class="clearfix" style="clear:both"></div>
	</div>    
<div class="tab-pane fade in" id="T_WardDepartment">
     @if ( User.CanView("T_UnitX"))
	{
	  // Html.RenderAction("Index", "T_UnitX", new {RenderPartial=true, HostingEntity = "T_Department", HostingEntityID = @Model.Id, AssociatedType = "T_WardDepartment" }); 
	}
  </div>
<div class="tab-pane fade in" id="JournalEntryToT_DepartmentRelation">
            @if ( User.CanView("JournalEntry"))
		   {
			//	Html.RenderAction("Index", "JournalEntry", new { RenderPartial = true, HostingEntity = "T_Department", HostingEntityID = @Model.Id, AssociatedType = "JournalEntry" });
		   }
  </div>
	</div> <!-- /tab-content --><br />

<br/>
</div>
 
