@model PagedList.IPagedList<GeneratorBase.MVC.Models.T_Department>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = null;
    Response.ContentType = "application/vnd.ms-excel";
    Response.AddHeader("Content-Disposition", "attachment; filename=Department.xls");
}
                    <table>
                            <tr>
@if(User.CanView("T_Department","T_DepartmentFacilityAssociationID"))
{
		<th  @(Convert.ToString(ViewData["HostingEntity"]) == "T_Facility"?"hidden":"")>Facility</th>
}
@if(User.CanView("T_Department","T_DEPTshort"))
{
		<th>DEPTshort</th>
}
@if(User.CanView("T_Department","T_DepartmentTitle"))
{
		<th>Department Title</th>
}
    </tr>
@foreach (var item in Model) {
    <tr>
	@if(User.CanView("T_Department","T_DepartmentFacilityAssociationID"))
{
		<td @(Convert.ToString(ViewData["HostingEntity"]) == "T_Facility"?"hidden":"")>
            @Html.DisplayFor(modelItem => item.t_departmentfacilityassociation.DisplayValue)
        </td>
}
@if(User.CanView("T_Department","T_DEPTshort"))
{
		<td>
            @Html.DisplayFor(modelItem => item.T_DEPTshort)
        </td>
}
@if(User.CanView("T_Department","T_DepartmentTitle"))
{
		<td>
            @Html.DisplayFor(modelItem => item.T_DepartmentTitle)
        </td>
}
                                </tr>
                            }
</table>
               
