@model GeneratorBase.MVC.Models.T_Licenses
@{
    ViewBag.Title = "Create Licenses";
    Layout = null;
}
<script>
    $(document).ready(function () {
        try {
            var hostingEntityName = "";
            if ('@Convert.ToString(ViewData["AssociatedType"])' != null) {
                hostingEntityName = '@Convert.ToString(ViewData["AssociatedType"])';
                 $('#' + hostingEntityName + 'ID').attr("lock","true");
				  $('#' + hostingEntityName + 'ID').trigger("change");
            }
			
        }
        catch (ex) { }
		
		 
    });
</script>
<script type="text/javascript">
    var config = {
        '.chosen-select': {},
        '.chosen-select-deselect': { allow_single_deselect: true },
        '.chosen-select-no-single': { disable_search_threshold: 10 },
        '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
        '.chosen-select-width': { width: "95%" }
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }
</script>
@{
    if (!string.IsNullOrEmpty(ViewBag.T_LicensesIsHiddenRule))
    {
        @Html.Raw(ViewBag.T_LicensesIsHiddenRule);
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_LicensesIsGroupsHiddenRule))
    {
        @Html.Raw(ViewBag.T_LicensesIsGroupsHiddenRule);
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_LicensesIsSetValueUIRule))
    {
        @Html.Raw(ViewBag.T_LicensesIsSetValueUIRule);
    }
}
<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<link href="@Url.Content("~/Content/chosen.css")" rel="stylesheet" type="text/css" />
@using (Html.BeginForm("CreateQuick", "T_Licenses",FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken();
    Html.ValidationSummary(true);
    Html.EnableClientValidation();
	<input type="hidden" id="ErrMsgQuickAdd" />
	@*<label id="ErrMsgQuickAdd" class="text-primary small pull-right" style="color:red; vertical-align:middle; font-weight:100;"></label>*@
    <div id="errorContainerQuickAdd" style="display: none">
        <div id="errorsMsgQuickAdd"></div>
        <div id="errorsQuickAdd"></div>
    </div>
	<div id="divDisplayThresholdLimit" style="display:none;">
	</div>
	 <div id="divDisplayBRmsgMandatory" style="display:none;">
	</div>
	<div id="divDisplayBRmsgBeforeSaveProp" style="display:none;">
	</div>
		    <div class="row">
	@Html.Hidden("AssociatedEntity", Convert.ToString(ViewData["AssociatedType"]))
	@Html.Hidden("HostingEntityName", Convert.ToString(ViewData["HostingEntityName"]))
    @Html.Hidden("HostingEntityID", Convert.ToString(ViewData["HostingEntityID"]))
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default AppForm">
                <div class="panel-body">
               					<div class="row">
				        
								<div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="panel panel-default" id="dvGroup48885">
                                        <div class="panel-heading clearfix">
                                            <i class="icon-calendar"></i>
                                            <h3 class="panel-title" alt="Employee Information" title="Employee Information">Employee Information</h3>
                                        </div>
                                        <div class="panel-body">
                                    

			@if(User.CanView("T_Licenses","T_LicenseRecordsID"))
				{
					
							<div class='col-sm-6'  id="dvT_LicenseRecordsID">
                        <div class='form-group'>
                            <label>@Html.LabelFor(model => model.T_LicenseRecordsID) <span class="text-danger-reg">*</span></label>
                            <div class="input-group" style="width: 100%;">
									@Html.DropDownList("T_LicenseRecordsID", null, "-- Select --", new {   @required ="required",      @class = "chosen-select form-control", @HostingName = "T_Employee", @dataurl = Url.Action("GetAllValue", "T_Employee",new { caller = "T_LicenseRecordsID" }) })
 @*<script>
    $(function () {
        LoadUserDropdown('ID');
    });
</script>*@
                                @Html.ValidationMessageFor(model => model.T_LicenseRecordsID)
                            </div>
                        </div>
                    </div>
     
		}
					@if(User.CanView("T_Licenses","T_NameontheLicense"))
						{
							<div class='col-sm-6' id="dvT_NameontheLicense">
                                <div class='form-group' title="Name on the License">
                                    <label>@Html.LabelFor(model => model.T_NameontheLicense) </label>
                                    @Html.TextAreaFor(model => model.T_NameontheLicense, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.T_NameontheLicense)
                                </div>
							</div>
							}
							</div>
                         </div>
                      </div>
       </div>
               					<div class="row">
				        
								<div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="panel panel-default" id="dvGroup48884">
                                        <div class="panel-heading clearfix">
                                            <i class="icon-calendar"></i>
                                            <h3 class="panel-title" alt="License Information" title="License Information">License Information</h3>
                                        </div>
                                        <div class="panel-body">
                                    

			@if(User.CanView("T_Licenses","T_AssociatedLicensesTypeID"))
				{
					
							<div class='col-sm-6'  id="dvT_AssociatedLicensesTypeID">
                        <div class='form-group'>
                            <label>@Html.LabelFor(model => model.T_AssociatedLicensesTypeID) <span class="text-danger-reg">*</span></label>
                            <div class="input-group" style="width: 100%;">
									@Html.DropDownList("T_AssociatedLicensesTypeID", null, "-- Select --", new {   @required ="required",      @class = "chosen-select form-control", @HostingName = "T_Licensestype", @dataurl = Url.Action("GetAllValue", "T_Licensestype",new { caller = "T_AssociatedLicensesTypeID" }) })
 @*<script>
    $(function () {
        LoadUserDropdown('ID');
    });
</script>*@
                                @Html.ValidationMessageFor(model => model.T_AssociatedLicensesTypeID)
                            </div>
                        </div>
                    </div>
     
		}
								@if(User.CanView("T_Licenses","T_LicenseNumber"))
						{
				<div class='col-sm-6' id="dvT_LicenseNumber">
                                <div class='form-group' title="License  Number">
                                    <label>@Html.LabelFor(model => model.T_LicenseNumber) </label>
									 
                                    @Html.TextBoxFor(model => model.T_LicenseNumber, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.T_LicenseNumber)
									
                                </div>
					</div>
						}
     
				

@if(User.CanView("T_Licenses","T_InitialLicenseDate"))
{
     
                            <div class='col-sm-6' id="dvT_InitialLicenseDate">
                                <label >@Html.LabelFor(model => model.T_InitialLicenseDate)</label>
                                <div class="form-group" title="Initial  License  Date">
                                    <div class="input-group date" id="datetimepickerT_InitialLicenseDate">
							@Html.TextBoxFor(model => model.T_InitialLicenseDate, new {@id = "T_InitialLicenseDate" ,@class = "form-control" })
										<span class="input-group-addon btn-default calendar">
                                           <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.T_InitialLicenseDate)
                                </div>
                                <script type="text/javascript">
                                    $(function () {
										$('#T_InitialLicenseDate').datetimepicker({ pickTime:false });
                                        $('#datetimepickerT_InitialLicenseDate').datetimepicker({ pickTime:false });
                                    });
                                </script>
                            </div>
		}



@if(User.CanView("T_Licenses","T_ExpiryDate"))
{
     
                            <div class='col-sm-6' id="dvT_ExpiryDate">
                                <label >@Html.LabelFor(model => model.T_ExpiryDate)</label>
                                <div class="form-group" title="Expiry  Date">
                                    <div class="input-group date" id="datetimepickerT_ExpiryDate">
							@Html.TextBoxFor(model => model.T_ExpiryDate, new {@id = "T_ExpiryDate" ,@class = "form-control" })
										<span class="input-group-addon btn-default calendar">
                                           <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.T_ExpiryDate)
                                </div>
                                <script type="text/javascript">
                                    $(function () {
										$('#T_ExpiryDate').datetimepicker({ pickTime:false });
                                        $('#datetimepickerT_ExpiryDate').datetimepicker({ pickTime:false });
                                    });
                                </script>
                            </div>
		}



@if(User.CanView("T_Licenses","T_PrintDate"))
{
     
                            <div class='col-sm-6' id="dvT_PrintDate">
                                <label >@Html.LabelFor(model => model.T_PrintDate)</label>
                                <div class="form-group" title="License Print Date">
                                    <div class="input-group date" id="datetimepickerT_PrintDate">
							@Html.TextBoxFor(model => model.T_PrintDate, new {@id = "T_PrintDate" ,@class = "form-control" })
										<span class="input-group-addon btn-default calendar">
                                           <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.T_PrintDate)
                                </div>
                                <script type="text/javascript">
                                    $(function () {
										$('#T_PrintDate').datetimepicker({ pickTime:false });
                                        $('#datetimepickerT_PrintDate').datetimepicker({ pickTime:false });
                                    });
                                </script>
                            </div>
		}


							</div>
                         </div>
                      </div>
       </div>
                        </div>
                    </div>
                </div>
        </div>
		<button id="CancelQuickAdd" type="button" class="btn btn-default btn-sm" data-dismiss="modal" aria-hidden="true">Cancel</button>

		var busineesrule = User.businessrules.Where(p => p.EntityName == "T_Licenses").ToList();
		 var lstinlineentityname = "";
		 var lstinlineassocdispname ="";
		 var lstinlineassocname = "";
        if (ViewBag.IsAddPop != null)
		{
			<input type="submit" value="Create" class="btn btn-primary btn-sm" onclick="QuickAdd(event,'T_Licenses','@busineesrule',@busineesrule.Count,'OnCreate','ErrMsgQuickAdd',false,'@lstinlineassocname','@lstinlineassocdispname','@lstinlineentityname');" />
 <input type="submit"  value="Create & Continue" btnval="createcontinue" class="btn btn-primary btn-sm" onclick="QuickAdd(event,'T_Licenses','@busineesrule',@busineesrule.Count,'OnCreate','ErrMsgQuickAdd',false,'@lstinlineassocname','@lstinlineassocdispname','@lstinlineentityname');" />
		}
		else
		{
			<input type="submit" value="Create" class="btn btn-primary btn-sm" onclick="QuickAddFromIndex(event,true,'T_Licenses','@ViewData["AssociatedType"]','@busineesrule',@busineesrule.Count,'OnCreate','ErrMsgQuickAdd',false,'@lstinlineassocname','@lstinlineassocdispname','@lstinlineentityname');" />
 <input type="submit" value="Create & Continue" btnval="createcontinue" class="btn btn-primary btn-sm" onclick="QuickAddFromIndex(event,true,'T_Licenses','@ViewData["AssociatedType"]','@busineesrule',@busineesrule.Count,'OnCreate','ErrMsgQuickAdd',false,'@lstinlineassocname','@lstinlineassocdispname','@lstinlineentityname');" />
		}
}
<script src="@Url.Content("~/bundles/jqueryval")" type="text/javascript"></script>
<script src="@Url.Content("~/bundles/common3")" type="text/javascript"></script>


<script type='text/javascript'>
    $(document).ready(function () {
        try {
            document.getElementsByTagName("body")[0].focus();
            $("#addPopup").removeAttr("tabindex");
            var cltcoll = $("#dvPopup").find('input[type=text]:not([class=hidden]):not([readonly]),textarea:not([readonly])');
            var cltid = "";
            $(cltcoll).each(function () {
			  if ($(this).attr("id") == undefined)
                    return
                var dvhidden = $("#dv" + $(this).attr("id"));
				var dvDate = $("#datetimepicker" + $(this).attr("id")).attr("id");

                if (!(dvhidden.css('display') == 'none') && dvDate == undefined) {
                    cltid = $(this);
                    return false;
                }
            });
            if (cltid != "" && cltid != undefined)
                setTimeout(function () { $(cltid).focus(); }, 500);
			var ctrlReadonly = $("#dvPopup").find('input[type=text][readonly],textarea[readonly]');
            $(ctrlReadonly).each(function () {
                $(ctrlReadonly).attr("tabindex", "-1");
            });
        }
        catch (ex) { }
    });
</script>

