@model GeneratorBase.MVC.Models.T_Licenses
@using PagedList;
@{
    ViewBag.Title = "View Licenses";
	var EntityDisplayNameReflector = ModelReflector.Entities.FirstOrDefault(p => p.Name == "T_Licenses");
    var EntityDisplayName = EntityDisplayNameReflector != null ? EntityDisplayNameReflector.DisplayName : "Licenses";
}
<script>
    $(document).ready(function () {
			 if ($.cookie('@User.JavaScriptEncodedName@Model.Id' + 'TabCookie') != null) {
				$('a[href="#' + $.cookie('@User.JavaScriptEncodedName@Model.Id' + 'TabCookie') + '"]').click();
			 }
    });
</script>
@{
    if (!string.IsNullOrEmpty(ViewBag.T_LicensesIsHiddenRule))
    {
        @Html.Raw(ViewBag.T_LicensesIsHiddenRule);
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_LicensesIsGroupsHiddenRule))
    {
        @Html.Raw(ViewBag.T_LicensesIsGroupsHiddenRule);
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_LicensesIsSetValueUIRule))
    {
        @Html.Raw(ViewBag.T_LicensesIsSetValueUIRule);
    }
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-title">
            <i class="glyphicon glyphicon-hand-down text-primary"></i> @EntityDisplayName  <i class="glyphicon glyphicon-chevron-right small"></i> <span>View</span>
        </h1>
        <h2 class="text-primary"><span id="HostingEntityDisplayValue">@Html.DisplayFor(model => model.DisplayValue)</span>
			<div class="btn-group pull-right fixactionbut">
            <button data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-default pull-right">
                Action
                <span class="caret">    </span>
            </button>
			<ul class="dropdown-menu pull-left">               
				<li>
                    @if ( User.CanEdit("T_Licenses"))
                    {
                        <a href="@Url.Action("Edit","T_Licenses", new { id = Model.Id,  UrlReferrer = Request.Url, AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) },null)"><i class="glyphicon glyphicon-edit"></i>  Edit</a>
                    }
                </li>             
				<li>
                    @if ( User.CanEdit("T_Licenses"))
                    {
                        <a href="@Url.Action("EditWizard","T_Licenses", new { id = Model.Id,  UrlReferrer = Request.Url, AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) },null)"><i class="glyphicon glyphicon-share"></i>  Wizard</a>
                    }
                </li>
				<li>
                    @if ( User.CanDelete("T_Licenses"))
                    {
                        <a href="@Url.Action("Delete", "T_Licenses", new { id = Model.Id, UrlReferrer = Request.Url, AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) }, null)"><i class="glyphicon glyphicon-remove-sign"></i>  Delete</a>
                    }
                </li>
	<li class="divider" style="clear:both"></li>
	<li class="dropdown-submenu pull-left">
	<a tabindex="-1" href="#" style="margin-bottom:10px;"><i class="fam-anchor small"></i> Add</a>
    <ul class="dropdown-menu pull-left">
				@if ( User.CanAdd("T_Comment"))
				{
					<li>
						<a onclick=@Html.Raw("NavigateToUrl('" + Url.Action("Create", "T_Comment", 
						new { UrlReferrer = Request.Url,
								AssociatedType ="T_LicensesComments", 
							HostingEntityName = "T_Licenses",
							HostingEntityID = @Convert.ToString(Model.Id) }, null) + "');")>
							<i class="glyphicon glyphicon-plus"></i>  Comment
						</a>
					</li>
				}
			</ul>
</li>
 <li class="divider" style="clear:both"></li>
 <li class="dropdown-submenu pull-left">
	<a tabindex="-1" href="#" style="margin-bottom:10px;">Find Matching</a>
    <ul class="dropdown-menu pull-left">
<li>
		<a href="@Url.Action("FindFSearch", "FileDocument", new {sourceEntity="T_Licenses",id=Model.Id}, null)">Document</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_ServiceRecord", new {sourceEntity="T_Licenses",id=Model.Id}, null)">Service Record</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_Comment", new {sourceEntity="T_Licenses",id=Model.Id}, null)">Comment</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_DrugAlcoholTest", new {sourceEntity="T_Licenses",id=Model.Id}, null)">Drug & Alcohol Test</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_UnitX", new {sourceEntity="T_Licenses",id=Model.Id}, null)">UnitX</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_JobAssignment", new {sourceEntity="T_Licenses",id=Model.Id}, null)">Job Assignment</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_LeaveProfile", new {sourceEntity="T_Licenses",id=Model.Id}, null)">Leave</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_EmployeeInjury", new {sourceEntity="T_Licenses",id=Model.Id}, null)">Employee Injury</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_BackgroundCheck", new {sourceEntity="T_Licenses",id=Model.Id}, null)">Background Check</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_Education", new {sourceEntity="T_Licenses",id=Model.Id}, null)">Education</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_Accommodation", new {sourceEntity="T_Licenses",id=Model.Id}, null)">Accommodation</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_PayDetails", new {sourceEntity="T_Licenses",id=Model.Id}, null)">Pay Details </a>
</li>
</ul>
</li>
			</ul>
</div>
		
		<a href="#" class="btn btn-default btn-xs closeall pull-right"><i class="glyphicon glyphicon-chevron-up"></i> Collapse All</a> <a href="#" class="btn btn-default btn-xs openall pull-right" style="margin-right:5px;"><i class="glyphicon glyphicon-chevron-down"></i> Expand All</a>
		</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="tabbable responsive">
    <ul class="nav nav-tabs">
	 <li class="active"><a href="#Details" onclick="ClearTabCookie('@User.JavaScriptEncodedName@Model.Id');" data-toggle="tab">Details</a></li>
		 <li @(!User.CanView("T_Comment")?"style=display:none;":"")><a onclick="LoadTab('T_LicensesComments','@User.JavaScriptEncodedName@Model.Id','@Html.Raw(Url.Action("Index", "T_Comment", new {RenderPartial=true, HostingEntity ="T_Licenses", HostingEntityID = @Model.Id, AssociatedType = "T_LicensesComments",TabToken = DateTime.Now.Ticks,}))')" href="#T_LicensesComments" data-toggle="tab">
		 Comment
		 <span class="badge bg-blue"><div id="dvcnt_T_LicensesComments">@ViewBag.T_LicensesCommentsCount</div></span>
		 		 </a></li>
		 <li @(!User.CanView("JournalEntry")?"style=display:none;":"")><a onclick="LoadTab('JournalEntryToT_LicensesRelation','@User.JavaScriptEncodedName@Model.Id','@Url.Action("Index", "JournalEntry", new { RenderPartial = true, HostingEntity = "T_Licenses", HostingEntityID = @Model.Id, AssociatedType = "JournalEntry", TabToken = DateTime.Now.Ticks })')" href="#JournalEntryToT_LicensesRelation" data-toggle="tab">Licenses Journal</a></li>
    </ul>
	    <div class="tab-content">
		   <div class="tab-pane fade in active" id="Details">
				 <div class="panel panel-default AppForm">
					<div class="panel-body">
                                  
			<div class="row">
				<div class="col-sm-12 col-md-12 col-xs-12">
			<div class="panel panel-default" id="dvGroup48885">
                <div class="panel-heading clearfix">
					<i class="icon-calendar"></i>
											
									<h3 class="panel-title">Employee Information</h3>
								</div>
                                <div class="panel-body">
@if(User.CanView("T_Licenses","T_LicenseRecordsID"))
{
<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_LicenseRecords">
	<div class='form-group' >
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_LicenseRecordsID)</label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
 @if (Model.t_licenserecords!=null && !string.IsNullOrEmpty(Model.t_licenserecords.DisplayValue))
        {
		 <p class="viewlabel">
		@Html.ActionLink(Html.DisplayFor(model => model.t_licenserecords.DisplayValue).ToString(), "Details", "T_Employee", new { Id = Html.DisplayFor(model => model.t_licenserecords.Id).ToString() }, null)
		</p>
		}
		</div>
	</div>
</div>
}
@if(User.CanView("T_Licenses","T_NameontheLicense"))
{
<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_NameontheLicense">
	<div class='form-group' title="Name on the License">
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_NameontheLicense)</label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
		<p class="viewlabel">@Model.T_NameontheLicense</p>
		</div>
	</div>
</div>
}
 
			</div>
        </div>
			<div class="panel panel-default" id="dvGroup48884">
                <div class="panel-heading clearfix">
					<i class="icon-calendar"></i>
											
									<h3 class="panel-title">License Information</h3>
								</div>
                                <div class="panel-body">
@if(User.CanView("T_Licenses","T_AssociatedLicensesTypeID"))
{
<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_AssociatedLicensesType">
	<div class='form-group' >
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_AssociatedLicensesTypeID)</label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
 @if (Model.t_associatedlicensestype!=null && !string.IsNullOrEmpty(Model.t_associatedlicensestype.DisplayValue))
        {
		 <p class="viewlabel">
		@Html.ActionLink(Html.DisplayFor(model => model.t_associatedlicensestype.DisplayValue).ToString(), "Details", "T_Licensestype", new { Id = Html.DisplayFor(model => model.t_associatedlicensestype.Id).ToString() }, null)
		</p>
		}
		</div>
	</div>
</div>
}
@if(User.CanView("T_Licenses","T_LicenseNumber"))
{
<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_LicenseNumber">
	<div class='form-group' title="License  Number">
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_LicenseNumber) </label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
		
				
				<p class="viewlabel">@Model.T_LicenseNumber</p>
					
					</div>
	</div>
</div>
}
@if(User.CanView("T_Licenses","T_InitialLicenseDate"))
{
<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_InitialLicenseDate">
	<div class='form-group' title="Initial  License  Date">
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_InitialLicenseDate) </label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
		
				
				<p class="viewlabel">@String.Format("{0:MM/dd/yyyy}", Model.T_InitialLicenseDate)</p>
					
					</div>
	</div>
</div>
}
@if(User.CanView("T_Licenses","T_ExpiryDate"))
{
<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_ExpiryDate">
	<div class='form-group' title="Expiry  Date">
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_ExpiryDate) </label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
		
				
				<p class="viewlabel">@String.Format("{0:MM/dd/yyyy}", Model.T_ExpiryDate)</p>
					
					</div>
	</div>
</div>
}
@if(User.CanView("T_Licenses","T_PrintDate"))
{
<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_PrintDate">
	<div class='form-group' title="License Print Date">
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_PrintDate) </label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
		
				
				<p class="viewlabel">@String.Format("{0:MM/dd/yyyy}", Model.T_PrintDate)</p>
					
					</div>
	</div>
</div>
}
 
			</div>
        </div>
			<div class="panel panel-default" id="dvGroup48886">
                <div class="panel-heading clearfix">
					<i class="icon-calendar"></i>
								<h3 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#notesbody"><span class="glyphicon glyphicon-chevron-down"></span> Notes</a></h3>
                               </div>
							  <div class="panel-body panel-collapse in" id="notesbody">					
@if(User.CanView("T_Licenses","T_Notes"))
{
<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_Notes">
	<div class='form-group' title="Notes">
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_Notes)</label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
		<p class="viewlabel">@Model.T_Notes</p>
		</div>
	</div>
</div>
}
 
			</div>
        </div>
				</div>
			</div>
		</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					@Html.ActionLink("Back", "Cancel", new { UrlReferrer = Request.UrlReferrer }, new { @class = "btn btn-default btn-sm pull-left formbuttonfix" })
					 @if ( User.CanEdit("T_Licenses"))
                     {
                          @Html.ActionLink("Edit", "Edit", new { id = Model.Id, AssociatedType = ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) }, new { @class = "btn btn-primary btn-sm pull-left formbuttonfix" })
                     }
				</div>
			</div>    

<div class="dropdown pull-left formbuttonfix" style="margin-top:-30px; margin-left:102px;">
<button type="button" class="btn btn-primary btn-sm dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
            Add Association
            <span class="caret"></span>
        </button>
		 <ul class="dropdown-menu " role="menu" aria-labelledby="dropdownMenu1">
           
			@if ( User.CanAdd("T_Comment"))
            {
				 <li>
				 <a onclick=@Html.Raw("NavigateToUrl('" + Url.Action("Create", "T_Comment",
						new { UrlReferrer = Request.Url,
								AssociatedType ="T_LicensesComments", 
						HostingEntityName = "T_Licenses",
                              HostingEntityID = @Convert.ToString(Model.Id)
                        }, null) + "');") style="margin-top:5px;">
                   Add  Comment</a>
			</li>
            }
			

        </ul>

			</div>
	</div>    
<div class="tab-pane fade in" id="T_LicensesComments">
     @if ( User.CanView("T_Comment"))
	{
	  // Html.RenderAction("Index", "T_Comment", new {RenderPartial=true, HostingEntity = "T_Licenses", HostingEntityID = @Model.Id, AssociatedType = "T_LicensesComments" }); 
	}
  </div>
<div class="tab-pane fade in" id="JournalEntryToT_LicensesRelation">
            @if ( User.CanView("JournalEntry"))
		   {
			//	Html.RenderAction("Index", "JournalEntry", new { RenderPartial = true, HostingEntity = "T_Licenses", HostingEntityID = @Model.Id, AssociatedType = "JournalEntry" });
		   }
  </div>
	</div> <!-- /tab-content --><br />

<br/>
</div>
 
