@model IEnumerable<GeneratorBase.MVC.Models.PropertyMapping>
@{
    ViewBag.Title = "Set Search Criteria";
	var parentUrl = HttpUtility.ParseQueryString(Request.UrlReferrer.Query);
}
<script>
    function keypressHandler(e) {
        if (e.which == 13) {
            $(this).blur();
            $('#fSearchPropertyMapping').focus().click();
        }
    }
 $(document).keypress(keypressHandler);
 $(document).ready(function () {
  if ("@parentUrl".length > 0) {
			 document.getElementById("FSearch").value = "@parentUrl["search"]";
 if ("@parentUrl["entitypropertymapping"]" != null && "@parentUrl["entitypropertymapping"]".length > 0) {
            var resEntityPropertyMapping = "@parentUrl["entitypropertymapping"]".split(",");
            var eleEntityPropertyMapping = document.getElementById("entitypropertymapping");
            for (i = 0; i < resEntityPropertyMapping.length; i++) {
                for (var o = 0; o < eleEntityPropertyMapping.options.length; o++) {
                    if (eleEntityPropertyMapping.options[o].value == resEntityPropertyMapping[i])
                        eleEntityPropertyMapping.options[o].selected = true;
                }
            }
	}
 }
    });
</script>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-title">
            <i class="glyphicon glyphicon-search text-primary"></i> Property Mapping <i class="glyphicon glyphicon-chevron-right small"></i> <span>Faceted Search</span>
        </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
			 <div class="fsearch">
				<div class="panel panel-default">
						   <div class="panel-body fsearchbg">
                            <div class='col-sm-9 small'>
							<div class='col-sm-4'>
                                    <label class='col-sm-12'> General Criteria </label>
									@{
									var txtGenCriteria = String.IsNullOrEmpty(Convert.ToString(ViewBag.CurrentFilter)) ? "" : Convert.ToString(ViewBag.CurrentFilter);
									}
									<input type="text" id="FSearch" class="form-control" placeholder="General Criteria" value="@txtGenCriteria" />
                             </div>
    @if (ViewBag.entitypropertymapping!=null)
	{ 
							<div class='col-sm-4' style="height:55px;" >
                                    <label class='col-sm-12' for="entitypropertymapping"> Entity Data Source</label>
		
	 @Html.DropDownList("entitypropertymapping", null, new {   @multiple = "multiple", @HostingName = "EntityDataSource", @dataurl = Url.Action("GetAllMultiSelectValue", "EntityDataSource",null) })
							</div>
	}
  
					 </div>
		<div class='col-sm-3' style="padding:10px; background:white; border:1px solid #c3ddec !important">
                @if ( User.CanView("PropertyMapping"))
                { 
					<button class="btn btn-xs  btn-default tip-top pull-right" type="button" data-original-title="Full Add" data-placement="top" onclick=@Html.Raw("NavigateToUrl('" + Url.Action("Index", "PropertyMapping") + "');") style="padding:4px 10px 7px 10px; height:30px !important; margin-bottom:5px; width:100%; text-align:left;">
						<span class="glyphicon glyphicon-list"></span> List
					</button>
				}
				@if ( User.CanAdd("PropertyMapping"))
                {
                    <button class="btn btn-xs  btn-default tip-top" type="button" data-original-title="Create New" data-placement="top" onclick=@Html.Raw("NavigateToUrl('" + Url.Action("Create", "PropertyMapping", new { UrlReferrer = Request.Url, AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) }, null) + "');") style="padding:4px 10px 7px 10px; height:30px !important; margin-bottom:5px; width:100%; text-align:left;">
                        <span class="fam-world-add"></span> Create New
                    </button>
                }
				 <button class="btn btn-default tip-top" data-placement="top" data-original-title="Show Graph" style="padding:4px 10px 7px 10px; height:30px !important; margin-bottom:5px; width:100%; text-align:left;" data-toggle="modal" data-target="#ShowGraphPropertyMapping" onclick=@Html.Raw("OpenDashBoard('dvShowGraphPropertyMapping');")>
                                <span class="fam-chart-bar"></span> Dashboard
                 </button>
		@if (ViewBag.FavoriteItem != null)
        {
				<div class="col-lg-12 col-sm-12 col-sx-12" style="padding:0px; ">
                    <table class="table table-striped table-bordered table-hover table-condensed ">
                        <thead>
                            <tr>
                                <th colspan="2">Favorite Items</th>
                            </tr>
                        </thead>
                        @foreach (GeneratorBase.MVC.Models.FavoriteItem fItem in ViewBag.FavoriteItem)
                        {
						<tr>
                            <td>
                                <a href='/@GeneratorBase.MVC.Models.CommonFunction.Instance.AppURL().ToString()@fItem.LinkAddress'>@fItem.Name</a>
                            </td>
                        </tr>                           
                        }
                </table>
            </div>
        }
            </div>
					  </div>
                                        </div>
                                    </div>
   <a href="@Url.Action("Index")" class="btn btn-default btn-sm"> Cancel</a>
<button id="fSearchPropertyMapping" class="btn btn-primary btn-sm" type="button" dataurl="@(Url.Action("FSearch", "PropertyMapping", null) )"
        onclick="@(Html.Raw("FacetedSearch('PropertyMapping','entitypropertymapping','','"
    +  Convert.ToString(Request.QueryString["sortBy"]) +"','"
     + Convert.ToString(Request.QueryString["isAsc"]) + "','" + "'); "))">
    Search
</button>
<script>
    $(document).ready(function () {
	 $('#entitypropertymapping').multiselect({
            buttonWidth: '100%'
        });
    });
</script>
    <div class="modal fade" id="ShowGraphPropertyMapping" tabindex="-1" role="dialog" aria-labelledby="ShowGraphPropertyMappingLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="ShowGraphPropertyMappingLabel">Dashboard Property Mapping</h4>
                </div>
                <div id="dvShowGraphPropertyMapping" class="modal-body" data-url="@Url.Action("ShowGraph", "PropertyMapping")">
                </div>
            </div>
        </div>
    </div>

