@model GeneratorBase.MVC.Models.T_LeaveProfile
@using PagedList;
@{
    ViewBag.Title = "Edit Leave";
	var EditPermission = User.CanEditItem("T_LeaveProfile", Model, User);
	var DeletePermission = User.CanDeleteItem("T_LeaveProfile", Model, User);
}
@functions {
    object getHtmlAttributes(string Property)
    {
		if(Property=="T_DaysOff")
		 return new { @class = "form-control", @readonly = "readonly" };
        if (User.CanEdit("T_LeaveProfile", Property))
        {
            return new { @class = "form-control" };
        } return new { @class = "form-control", @readonly = "readonly" };
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_LeaveProfileIsHiddenRule))
    {
        @Html.Raw(ViewBag.T_LeaveProfileIsHiddenRule);
    }
}
@using (Html.BeginForm("EditWizard", "T_LeaveProfile", new { UrlReferrer = Convert.ToString(ViewData["T_LeaveProfileParentUrl"]) }, FormMethod.Post, new { enctype = "multipart/form-data",@id="frmT_LeaveProfile" })) 
{
	@Html.AntiForgeryToken();
    Html.ValidationSummary(true);
    Html.EnableClientValidation();
    @Html.HiddenFor(model => model.Id)
	@Html.HiddenFor(model => model.ConcurrencyKey)
	@*<label id="ErrMsg" class="text-primary small pull-right" style="color:red; vertical-align:middle; font-weight:100;"></label>*@
    <input type="hidden" id="ErrMsg" />
    <div id="divDisplayBRmsgBeforeSaveProp" style="display:none;">
    </div>
    <div id="divDisplayBRmsgMandatory" style="display:none;">
    </div>
    <div id="divDisplayLockRecord" style="display:none;">
    </div>
    <div id="divDisplayBRReadOnly" style="display:none;">
    </div>
	<div id="divDisplayCodeFragment" style="display:none;">
	</div>
			<div class="row">
        <br />
        <div id=wizard>
			<ol>
		<li>Employee Information</li>
		<li>Basic Info About Leave</li>
		<li>Related Injury Information</li>
		<li>Notes</li>
            @if ( User.CanEdit("T_Comment"))
                {
				<li>Comment</li>
				}
       		@if ( (User.CanEdit("T_LeaveReason") && User.CanEdit("T_LeaveProfileReason")))
                {
				<li>Leave Reason</li>
				}
		</ol>
			<div style="background-color:transparent; padding:0px;">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="panel panel-default AppForm">
                            <div class="panel-heading clearfix">
                                <i class="icon-calendar"></i>
                                <h3 class="panel-title">Employee Information</h3>
                            </div>
                            <div class="panel-body">
@if(User.CanView("T_LeaveProfile","T_EmployeeLeaveProfileID"))
{
                    <div class='col-sm-6 col-md-6 col-xs-12' id="dvT_EmployeeLeaveProfileID">
                        <div class='form-group'>
                            <label class="col-sm-5 col-md-5 col-xs-12" >@Html.LabelFor(model => model.T_EmployeeLeaveProfileID) </label>
							<div class="input-group col-sm-7 col-md-7 col-xs-12">
							<div class="input-group" style="width:100%;">									
									@if (User.CanEdit("T_LeaveProfile", "T_EmployeeLeaveProfileID"))
		{
			@Html.DropDownList("T_EmployeeLeaveProfileID", null, "-- Select --", new {     @onchange = Html.Raw("ClearChildDD('T_InjuryRelatedLeaveID',this,'false');") ,  @class = "chosen-select form-control", @HostingName = "T_Employee", @dataurl = Url.Action("GetAllValue", "T_Employee",new { caller = "T_EmployeeLeaveProfileID" }) })
		}
		else
		{
			@Html.HiddenFor(model => model.T_EmployeeLeaveProfileID, new { @class = "form-control" })
			@Html.DropDownList("T_EmployeeLeaveProfileID", null, "-- Select --", new {     @onchange = Html.Raw("ClearChildDD('T_InjuryRelatedLeaveID',this,'false');") ,  @class = "chosen-select form-control", @disabled="disabled", @HostingName = "T_Employee", @dataurl = Url.Action("GetAllValue", "T_Employee",new { caller = "T_EmployeeLeaveProfileID" }) })
		}
                                @Html.ValidationMessageFor(model => model.T_EmployeeLeaveProfileID)
								 @if ( User.CanAdd("T_Employee"))
                                    {
                                <div class="input-group-btn">
										<a class="btn btn-default btn ie8fix"  data-target="#dvPopup" onclick="@Html.Raw("OpenPopUpEntity('addPopup','Employee','dvPopup','" + Url.Action("CreateQuick", "T_Employee", new { UrlReferrer = Request.Url, HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]), IsAddPop=true }) + "')")">
											<span class="glyphicon glyphicon-plus-sign"></span>
										</a>
                                </div>
								}
								                                            
											 @if ( User.CanView("T_Employee"))
                                                    {
                                                        <div class="input-group-btn" id="dvLinkToT_Employee" title="">
                                                            <a class="btn btn-default btn ie8fix" id="aLinkToT_Employee" target="_blank" href="@Url.Action("Details", "T_Employee", new { Id = Html.DisplayFor(model => model.t_employeeleaveprofile.Id).ToString()}, null)"><i class="glyphicon glyphicon-eye-open"></i></a>
                                                        </div>
                                                        if (Model.t_employeeleaveprofile == null)
                                                        {
                                                            <script>
                                                                $(function () {
                                                                    $("#dvLinkToT_Employee").hide();
                                                                });
                                                            </script>
                                                        }
                                                        else
                                                        {
                                                            <script>
                                                                $(function () {
                                                                    $("#dvLinkToT_Employee").attr("title", '@Model.t_employeeleaveprofile.DisplayValue');
                                                                });
                                                            </script>
                                                        }
                                                    }
                                        

							</div>
							</div>
                        </div>
                    </div>
					} else { @Html.HiddenFor(model => model.T_EmployeeLeaveProfileID, new { @class = "form-control" })}
							</div>
                         </div>
                      </div>
					</div>
				</div>
			<div style="background-color:transparent; padding:0px;">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="panel panel-default AppForm">
                            <div class="panel-heading clearfix">
                                <i class="icon-calendar"></i>
                                <h3 class="panel-title">Basic Info About Leave</h3>
                            </div>
                            <div class="panel-body">
@if(User.CanView("T_LeaveProfile","T_From"))
{
                            <div class='col-sm-6 col-md-6 col-xs-12' id="dvT_From">
                                <label class="col-sm-5 col-md-5 col-xs-12" >@Html.LabelFor(model => model.T_From) </label>
                                <div class="form-group" title="From Date">
								<div class="input-group col-sm-7 col-md-7 col-xs-12">
                                    <div class="input-group date" id="datetimepickerT_From">
									    @Html.TextBoxFor(model => model.T_From, "{0:MM/dd/yyyy}", User.CanEdit("T_LeaveProfile", "T_From") ? (object)new {@class = "form-control" } : (object)new { @class = "form-control", @readonly="readonly"})
									 <span class="input-group-addon btn-default calendar">
                                           <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.T_From)
								</div>
                                </div>
	
                               @if(User.CanEdit("T_LeaveProfile", "T_From"))
								{
                                <script type="text/javascript">
                                    $(function () {
										$('#T_From').datetimepicker({ pickTime:false });
                                        $('#datetimepickerT_From').datetimepicker({ pickTime:false });
                                    });
                                </script>
								}
								
                            </div>
} else { @Html.HiddenFor(model => model.T_From, new { @class = "form-control" })}
@if(User.CanView("T_LeaveProfile","T_To"))
{
                            <div class='col-sm-6 col-md-6 col-xs-12' id="dvT_To">
                                <label class="col-sm-5 col-md-5 col-xs-12" >@Html.LabelFor(model => model.T_To) </label>
                                <div class="form-group" title="To Date">
								<div class="input-group col-sm-7 col-md-7 col-xs-12">
                                    <div class="input-group date" id="datetimepickerT_To">
									    @Html.TextBoxFor(model => model.T_To, "{0:MM/dd/yyyy}", User.CanEdit("T_LeaveProfile", "T_To") ? (object)new {@class = "form-control" } : (object)new { @class = "form-control", @readonly="readonly"})
									 <span class="input-group-addon btn-default calendar">
                                           <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.T_To)
								</div>
                                </div>
	
                               @if(User.CanEdit("T_LeaveProfile", "T_To"))
								{
                                <script type="text/javascript">
                                    $(function () {
										$('#T_To').datetimepicker({ pickTime:false });
                                        $('#datetimepickerT_To').datetimepicker({ pickTime:false });
                                    });
                                </script>
								}
								
                            </div>
} else { @Html.HiddenFor(model => model.T_To, new { @class = "form-control" })}
@if(User.CanView("T_LeaveProfile","T_DaysOff"))
{
						<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_DaysOff">
							<div class='form-group' title="Days Off">
								<label class="col-sm-5 col-md-5 col-xs-12" >@Html.LabelFor(model => model.T_DaysOff)  </label>
                                <div class="input-group col-sm-7 col-md-7 col-xs-12">
								 
									@Html.TextBoxFor(model => model.T_DaysOff, String.Format("{0:0.00}", Model.T_DaysOff), getHtmlAttributes("T_DaysOff"))
									
									<div class="input-group-btn">
										<a class="btn btn-default btn ie8fix" onclick="GetCalculationValue(event,'@Url.Action("GetCalculationValues")');">
											<span class="fam-arrow-refresh"></span>
                                        </a>
                                    </div>
									@Html.ValidationMessageFor(model => model.T_DaysOff)
								</div>
                             </div>
						</div>
} else { @Html.HiddenFor(model => model.T_DaysOff, new { @class = "form-control" })}
@if(User.CanView("T_LeaveProfile","T_Intermittent"))
{
                            <div class='col-sm-6 col-md-6 col-xs-12' id="dvT_Intermittent">
							<div class="form-group" title="Intermittent">
                                <label class="col-sm-5 col-md-5 col-xs-12" >
                                    @Html.LabelFor(model => model.T_Intermittent) 
                                </label>
								<div class="input-group col-sm-7 col-md-7 col-xs-12">
									@Html.CheckBox("T_Intermittent", Model.T_Intermittent.HasValue ? Model.T_Intermittent : false)
                                    @Html.ValidationMessageFor(model => model.T_Intermittent)
                                </div>
								</div>
                            </div>
} else { @Html.HiddenFor(model => model.T_Intermittent, new { @class = "form-control" })}
@if(User.CanView("T_LeaveProfile","T_FullDays"))
{
                            <div class='col-sm-6 col-md-6 col-xs-12' id="dvT_FullDays">
							<div class="form-group" title="Full Days">
                                <label class="col-sm-5 col-md-5 col-xs-12" >
                                    @Html.LabelFor(model => model.T_FullDays) 
                                </label>
								<div class="input-group col-sm-7 col-md-7 col-xs-12">
									@Html.CheckBox("T_FullDays", Model.T_FullDays.HasValue ? Model.T_FullDays : false)
                                    @Html.ValidationMessageFor(model => model.T_FullDays)
                                </div>
								</div>
                            </div>
} else { @Html.HiddenFor(model => model.T_FullDays, new { @class = "form-control" })}
							</div>
                         </div>
                      </div>
					</div>
				</div>
			<div style="background-color:transparent; padding:0px;">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="panel panel-default AppForm">
                            <div class="panel-heading clearfix">
                                <i class="icon-calendar"></i>
                                <h3 class="panel-title">Related Injury Information</h3>
                            </div>
                            <div class="panel-body">
@if(User.CanView("T_LeaveProfile","T_InjuryRelatedLeaveID"))
{
                    <div class='col-sm-6 col-md-6 col-xs-12' id="dvT_InjuryRelatedLeaveID">
                        <div class='form-group'>
                            <label class="col-sm-5 col-md-5 col-xs-12" >@Html.LabelFor(model => model.T_InjuryRelatedLeaveID) </label>
							<div class="input-group col-sm-7 col-md-7 col-xs-12">
							<div class="input-group" style="width:100%;">									
									@if (User.CanEdit("T_LeaveProfile", "T_InjuryRelatedLeaveID"))
		{
			@Html.DropDownList("T_InjuryRelatedLeaveID", null, "-- Select --", new {   @ParentDD = "T_EmployeeLeaveProfileID" , @AssoNameWithParent = "T_EmployeeEmployeeInjuryID" ,   @class = "chosen-select form-control", @HostingName = "T_EmployeeInjury", @dataurl = Url.Action("GetAllValue", "T_EmployeeInjury",new { caller = "T_InjuryRelatedLeaveID" }) })
		}
		else
		{
			@Html.HiddenFor(model => model.T_InjuryRelatedLeaveID, new { @class = "form-control" })
			@Html.DropDownList("T_InjuryRelatedLeaveID", null, "-- Select --", new {   @ParentDD = "T_EmployeeLeaveProfileID" , @AssoNameWithParent = "T_EmployeeEmployeeInjuryID" ,   @class = "chosen-select form-control", @disabled="disabled", @HostingName = "T_EmployeeInjury", @dataurl = Url.Action("GetAllValue", "T_EmployeeInjury",new { caller = "T_InjuryRelatedLeaveID" }) })
		}
                                @Html.ValidationMessageFor(model => model.T_InjuryRelatedLeaveID)
								 @if ( User.CanAdd("T_EmployeeInjury"))
                                    {
                                <div class="input-group-btn">
										<a class="btn btn-default btn ie8fix"  data-target="#dvPopup" onclick="@Html.Raw("OpenPopUpEntity('addPopup','Related Injury If Any','dvPopup','" + Url.Action("CreateQuick", "T_EmployeeInjury", new { UrlReferrer = Request.Url, HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]), IsAddPop=true }) + "')")">
											<span class="glyphicon glyphicon-plus-sign"></span>
										</a>
                                </div>
								}
								                                            
											 @if ( User.CanView("T_EmployeeInjury"))
                                                    {
                                                        <div class="input-group-btn" id="dvLinkToT_EmployeeInjury" title="">
                                                            <a class="btn btn-default btn ie8fix" id="aLinkToT_EmployeeInjury" target="_blank" href="@Url.Action("Details", "T_EmployeeInjury", new { Id = Html.DisplayFor(model => model.t_injuryrelatedleave.Id).ToString()}, null)"><i class="glyphicon glyphicon-eye-open"></i></a>
                                                        </div>
                                                        if (Model.t_injuryrelatedleave == null)
                                                        {
                                                            <script>
                                                                $(function () {
                                                                    $("#dvLinkToT_EmployeeInjury").hide();
                                                                });
                                                            </script>
                                                        }
                                                        else
                                                        {
                                                            <script>
                                                                $(function () {
                                                                    $("#dvLinkToT_EmployeeInjury").attr("title", '@Model.t_injuryrelatedleave.DisplayValue');
                                                                });
                                                            </script>
                                                        }
                                                    }
                                        

							</div>
							</div>
                        </div>
                    </div>
					} else { @Html.HiddenFor(model => model.T_InjuryRelatedLeaveID, new { @class = "form-control" })}
							</div>
                         </div>
                      </div>
					</div>
				</div>
			<div style="background-color:transparent; padding:0px;">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="panel panel-default AppForm">
                            <div class="panel-heading clearfix">
                                <i class="icon-calendar"></i>
                                <h3 class="panel-title">Notes</h3>
                            </div>
                            <div class="panel-body">
@if(User.CanView("T_LeaveProfile","T_Notes"))
{
						<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_Notes">
							<div class='form-group' title="Notes">
								<label class="col-sm-5 col-md-5 col-xs-12" >@Html.LabelFor(model => model.T_Notes) </label>
                                <div class="input-group col-sm-7 col-md-7 col-xs-12">
								@Html.TextAreaFor(model => model.T_Notes, getHtmlAttributes("T_Notes"))
									@Html.ValidationMessageFor(model => model.T_Notes)
								</div>
                             </div>
						</div>
} else { @Html.HiddenFor(model => model.T_Notes, new { @class = "form-control" })}
							</div>
                         </div>
                      </div>
					</div>
				</div>
@if ( User.CanEdit("T_Comment"))
                {
			<div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading clearfix">
                                <i class="icon-calendar"></i>
                                <h3 class="panel-title">Comment</h3>
                            </div>
                            <div class="panel-body" id="T_LeaveComments">
                                @if ( User.CanView("T_Comment"))
                                {
                                    Html.RenderAction("Index", "T_Comment", new {RenderPartial=true, HostingEntity = "T_LeaveProfile", HostingEntityID = @Model.Id == null ? 0 : @Model.Id, AssociatedType = "T_LeaveComments" });
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			}
@if ( (User.CanEdit("T_LeaveReason") && User.CanEdit("T_LeaveProfileReason")))
                {
	<div>
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12" id="dvT_LeaveProfile">
					<div class="panel panel-default AppForm">
							<div class="panel-heading clearfix">
                                            <i class="icon-calendar"></i>
                                            <h3 class="panel-title"> </h3>
							</div>
							<div class="panel-body" style="margin:0px; padding:8px;" id="T_LeaveProfileReason_T_LeaveProfile">
                                    @foreach (var chkitem in Model.T_LeaveReason_T_LeaveProfileReason)
                                    {
                                        <input type="checkbox" name="SelectedT_LeaveReason_T_LeaveProfileReason" value="@chkitem.Id" @(Model.SelectedT_LeaveReason_T_LeaveProfileReason.Contains(chkitem.Id) ? "checked" : "") /> @chkitem.DisplayValue
                                    }
                            </div>
					     </div>
				    </div>
			  </div>
		</div>	
		}	
</div>
   @Html.ActionLink("C", "Cancel", new { UrlReferrer = ViewData["T_LeaveProfileParentUrl"] }, new { @id = "cancel", @style = "display:none;" })
        @if (EditPermission)
        {
            <input type="submit"  name="command" id="WizardSubmit" style="display:none;" />
        }
        <input type="hidden" name="hdncommand" value="" />
    </div>
 <br />
}
<script>
    $(document).ready(function () {
        try {
            focusOnControl('frmT_LeaveProfile');
        }
        catch (ex) { }
    });
</script>
 <script>

   
    $(function () {
        var userAgent = navigator.userAgent.toLowerCase();
        // Figure out what browser is being used
        var browser = {
            version: (userAgent.match(/.+(?:rv|it|ra|ie)[\/: ]([\d.]+)/) || [])[1],
            safari: /webkit/.test(userAgent),
            opera: /opera/.test(userAgent),
            msie: /msie/.test(userAgent) && !/opera/.test(userAgent),
            mozilla: /mozilla/.test(userAgent) && !/(compatible|webkit)/.test(userAgent)
        };
        if (!browser.msie) {
            $('form').areYouSure();
        }
        else if (browser.version > 8.0) {
            $('form').areYouSure();
        }
    });
</script>
<script>
	$("input[type='submit']").click(function (event) {
	if (!$("#frmT_LeaveProfile").valid()) return;
	var $this = $(this);
					GetCalculationValue(event,'@Url.Action("GetCalculationValues")');
	$('input:hidden[name="hdncommand"]').val($this.val());
	});
	$(document).ready(function () {
		DisableTabOnReadonlyProperty("frmT_Donation");
	});
</script>
@{
var businessrule = User.businessrules.Where(p => p.EntityName == "T_LeaveProfile").ToList();

if ((businessrule != null && businessrule.Count > 0) )
{
var ruleids = businessrule.Select(q => q.Id).ToList();
var typelist  = string.Join(",", (new GeneratorBase.MVC.Models.RuleActionContext()).RuleActions.Where(p => ruleids.Contains(p.RuleActionID.Value) && p.associatedactiontype.TypeNo.HasValue).Select(p => p.associatedactiontype.TypeNo.Value).Distinct().ToList());

    <script>
		$(document).ready(function () {
				document.getElementById("ErrMsg").innerHTML = "";
				var flag = true;
                var dataurl = "";
                var form = "";
                var inlinecount = "0";

				 form = $("#frmT_LeaveProfile").serialize();
				dataurl = "@Url.Action("businessruletype", "T_LeaveProfile", new { ruleType = "OnEdit"})";
                ApplyBusinessRuleOnPageLoad("@typelist", dataurl, "T_LeaveProfile", false, "ErrMsg", form);
				//business rules on inline associations

    });
</script>
<script>
    $("form").submit(function (event) {
	if (!$("#frmT_LeaveProfile").valid()) return;
			document.getElementById("ErrMsg").innerHTML = "";
            var flag = true;
            var dataurl = "";
            var form = "";
            var inlinecount = "0";
			 form = $("#frmT_LeaveProfile").serialize();
   
				 dataurl = "@Url.Action("businessruletype", "T_LeaveProfile", new { ruleType = "OnEdit"})";
                 flag = ApplyBusinessRuleOnSubmit(dataurl, "T_LeaveProfile", false, "ErrMsg", form);

  				 //business rules on inline associations
               
			 if (flag)
                    $("form").find(':input').removeAttr('disabled');
            return flag;
		});
		 $(document).ready(function () {
                $("input[type='submit']").on('blur', function () {
                    $("input[type='submit']").removeAttr('disabled');
                });
               
            });
</script>
}
 
}


