@model GeneratorBase.MVC.Models.T_Education
@{
    ViewBag.Title = "Create Education";
    Layout = null;
}
<script>
    $(document).ready(function () {
        try {
            var hostingEntityName = "";
            if ('@Convert.ToString(ViewData["AssociatedType"])' != null) {
                hostingEntityName = '@Convert.ToString(ViewData["AssociatedType"])';
                 $('#' + hostingEntityName + 'ID').attr("lock","true");
				  $('#' + hostingEntityName + 'ID').trigger("change");
            }
			
        }
        catch (ex) { }
		
		 
    });
</script>
<script type="text/javascript">
    var config = {
        '.chosen-select': {},
        '.chosen-select-deselect': { allow_single_deselect: true },
        '.chosen-select-no-single': { disable_search_threshold: 10 },
        '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
        '.chosen-select-width': { width: "95%" }
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }
</script>
@{
    if (!string.IsNullOrEmpty(ViewBag.T_EducationIsHiddenRule))
    {
        @Html.Raw(ViewBag.T_EducationIsHiddenRule);
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_EducationIsGroupsHiddenRule))
    {
        @Html.Raw(ViewBag.T_EducationIsGroupsHiddenRule);
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_EducationIsSetValueUIRule))
    {
        @Html.Raw(ViewBag.T_EducationIsSetValueUIRule);
    }
}
<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<link href="@Url.Content("~/Content/chosen.css")" rel="stylesheet" type="text/css" />
@using (Html.BeginForm("CreateQuick", "T_Education",FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken();
    Html.ValidationSummary(true);
    Html.EnableClientValidation();
	<input type="hidden" id="ErrMsgQuickAdd" />
	@*<label id="ErrMsgQuickAdd" class="text-primary small pull-right" style="color:red; vertical-align:middle; font-weight:100;"></label>*@
    <div id="errorContainerQuickAdd" style="display: none">
        <div id="errorsMsgQuickAdd"></div>
        <div id="errorsQuickAdd"></div>
    </div>
	<div id="divDisplayThresholdLimit" style="display:none;">
	</div>
	 <div id="divDisplayBRmsgMandatory" style="display:none;">
	</div>
	<div id="divDisplayBRmsgBeforeSaveProp" style="display:none;">
	</div>
		    <div class="row">
	@Html.Hidden("AssociatedEntity", Convert.ToString(ViewData["AssociatedType"]))
	@Html.Hidden("HostingEntityName", Convert.ToString(ViewData["HostingEntityName"]))
    @Html.Hidden("HostingEntityID", Convert.ToString(ViewData["HostingEntityID"]))
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default AppForm">
                <div class="panel-body">
               					<div class="row">
				        
								<div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="panel panel-default" id="dvGroup48926">
                                        <div class="panel-heading clearfix">
                                            <i class="icon-calendar"></i>
                                            <h3 class="panel-title" alt="Employee Information" title="Employee Information">Employee Information</h3>
                                        </div>
                                        <div class="panel-body">
                                    

			@if(User.CanView("T_Education","T_EmployeeEducationID"))
				{
					
							<div class='col-sm-6'  id="dvT_EmployeeEducationID">
                        <div class='form-group'>
                            <label>@Html.LabelFor(model => model.T_EmployeeEducationID) </label>
                            <div class="input-group" style="width: 100%;">
									@Html.DropDownList("T_EmployeeEducationID", null, "-- Select --", new {       @class = "chosen-select form-control", @HostingName = "T_Employee", @dataurl = Url.Action("GetAllValue", "T_Employee",new { caller = "T_EmployeeEducationID" }) })
 @*<script>
    $(function () {
        LoadUserDropdown('ID');
    });
</script>*@
                                @Html.ValidationMessageFor(model => model.T_EmployeeEducationID)
                            </div>
                        </div>
                    </div>
     
		}
							</div>
                         </div>
                      </div>
       </div>
               					<div class="row">
				        
								<div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="panel panel-default" id="dvGroup48927">
                                        <div class="panel-heading clearfix">
                                            <i class="icon-calendar"></i>
                                            <h3 class="panel-title" alt="Education Information" title="Education Information">Education Information</h3>
                                        </div>
                                        <div class="panel-body">
                                    

			@if(User.CanView("T_Education","T_LevelOfEducationID"))
				{
					
							<div class='col-sm-6'  id="dvT_LevelOfEducationID">
                        <div class='form-group'>
                            <label>@Html.LabelFor(model => model.T_LevelOfEducationID) </label>
                            <div class="input-group" style="width: 100%;">
									@Html.DropDownList("T_LevelOfEducationID", null, "-- Select --", new {       @class = "chosen-select form-control", @HostingName = "T_EducationLevel", @dataurl = Url.Action("GetAllValue", "T_EducationLevel",new { caller = "T_LevelOfEducationID" }) })
 @*<script>
    $(function () {
        LoadUserDropdown('ID');
    });
</script>*@
                                @Html.ValidationMessageFor(model => model.T_LevelOfEducationID)
                            </div>
                        </div>
                    </div>
     
		}
                                    

			@if(User.CanView("T_Education","T_MajorInMultiCheckBoxID"))
				{
					
							<div class='col-sm-6'  id="dvT_MajorInMultiCheckBoxID">
                        <div class='form-group'>
                            <label>@Html.LabelFor(model => model.T_MajorInMultiCheckBoxID) </label>
                            <div class="input-group" style="width: 100%;">
									@Html.DropDownList("T_MajorInMultiCheckBoxID", null, "-- Select --", new {       @class = "chosen-select form-control", @HostingName = "T_Major", @dataurl = Url.Action("GetAllValue", "T_Major",new { caller = "T_MajorInMultiCheckBoxID" }) })
 @*<script>
    $(function () {
        LoadUserDropdown('ID');
    });
</script>*@
                                @Html.ValidationMessageFor(model => model.T_MajorInMultiCheckBoxID)
                            </div>
                        </div>
                    </div>
     
		}
                                    

			@if(User.CanView("T_Education","T_EducationVerificationVendorID"))
				{
					
							<div class='col-sm-6'  id="dvT_EducationVerificationVendorID">
                        <div class='form-group'>
                            <label>@Html.LabelFor(model => model.T_EducationVerificationVendorID) </label>
                            <div class="input-group" style="width: 100%;">
									@Html.DropDownList("T_EducationVerificationVendorID", null, "-- Select --", new {       @class = "chosen-select form-control", @HostingName = "T_Vendor", @dataurl = Url.Action("GetAllValue", "T_Vendor",new { caller = "T_EducationVerificationVendorID" }) })
 @*<script>
    $(function () {
        LoadUserDropdown('ID');
    });
</script>*@
                                @Html.ValidationMessageFor(model => model.T_EducationVerificationVendorID)
                            </div>
                        </div>
                    </div>
     
		}
					@if(User.CanView("T_Education","T_DetailsofEducation"))
						{
							<div class='col-sm-6' id="dvT_DetailsofEducation">
                                <div class='form-group' title="Details of  Education">
                                    <label>@Html.LabelFor(model => model.T_DetailsofEducation) </label>
                                    @Html.TextAreaFor(model => model.T_DetailsofEducation, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.T_DetailsofEducation)
                                </div>
							</div>
							}

@if(User.CanView("T_Education","T_DateVerified"))
{
     
                            <div class='col-sm-6' id="dvT_DateVerified">
                                <label >@Html.LabelFor(model => model.T_DateVerified)</label>
                                <div class="form-group" title="Date  Verified">
                                    <div class="input-group date" id="datetimepickerT_DateVerified">
							@Html.TextBoxFor(model => model.T_DateVerified, new {@id = "T_DateVerified" ,@class = "form-control" })
										<span class="input-group-addon btn-default calendar">
                                           <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.T_DateVerified)
                                </div>
                                <script type="text/javascript">
                                    $(function () {
										$('#T_DateVerified').datetimepicker({ pickTime:false });
                                        $('#datetimepickerT_DateVerified').datetimepicker({ pickTime:false });
                                    });
                                </script>
                            </div>
		}


							</div>
                         </div>
                      </div>
       </div>
               					<div class="row">
				        
								<div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="panel panel-default" id="dvGroup48928">
                                        <div class="panel-heading clearfix">
                                            <i class="icon-calendar"></i>
                                            <h3 class="panel-title" alt="Notes" title="Notes">Notes</h3>
                                        </div>
                                        <div class="panel-body">
					@if(User.CanView("T_Education","T_EducationNotes"))
						{
							<div class='col-sm-6' id="dvT_EducationNotes">
                                <div class='form-group' title="Education  Notes">
                                    <label>@Html.LabelFor(model => model.T_EducationNotes) </label>
                                    @Html.TextAreaFor(model => model.T_EducationNotes, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.T_EducationNotes)
                                </div>
							</div>
							}
							</div>
                         </div>
                      </div>
       </div>
                        </div>
                    </div>
                </div>
        </div>
		<button id="CancelQuickAdd" type="button" class="btn btn-default btn-sm" data-dismiss="modal" aria-hidden="true">Cancel</button>

		var busineesrule = User.businessrules.Where(p => p.EntityName == "T_Education").ToList();
		 var lstinlineentityname = "";
		 var lstinlineassocdispname ="";
		 var lstinlineassocname = "";
        if (ViewBag.IsAddPop != null)
		{
			<input type="submit" value="Create" class="btn btn-primary btn-sm" onclick="QuickAdd(event,'T_Education','@busineesrule',@busineesrule.Count,'OnCreate','ErrMsgQuickAdd',false,'@lstinlineassocname','@lstinlineassocdispname','@lstinlineentityname');" />
 <input type="submit"  value="Create & Continue" btnval="createcontinue" class="btn btn-primary btn-sm" onclick="QuickAdd(event,'T_Education','@busineesrule',@busineesrule.Count,'OnCreate','ErrMsgQuickAdd',false,'@lstinlineassocname','@lstinlineassocdispname','@lstinlineentityname');" />
		}
		else
		{
			<input type="submit" value="Create" class="btn btn-primary btn-sm" onclick="QuickAddFromIndex(event,true,'T_Education','@ViewData["AssociatedType"]','@busineesrule',@busineesrule.Count,'OnCreate','ErrMsgQuickAdd',false,'@lstinlineassocname','@lstinlineassocdispname','@lstinlineentityname');" />
 <input type="submit" value="Create & Continue" btnval="createcontinue" class="btn btn-primary btn-sm" onclick="QuickAddFromIndex(event,true,'T_Education','@ViewData["AssociatedType"]','@busineesrule',@busineesrule.Count,'OnCreate','ErrMsgQuickAdd',false,'@lstinlineassocname','@lstinlineassocdispname','@lstinlineentityname');" />
		}
}
<script src="@Url.Content("~/bundles/jqueryval")" type="text/javascript"></script>
<script src="@Url.Content("~/bundles/common3")" type="text/javascript"></script>


<script type='text/javascript'>
    $(document).ready(function () {
        try {
            document.getElementsByTagName("body")[0].focus();
            $("#addPopup").removeAttr("tabindex");
            var cltcoll = $("#dvPopup").find('input[type=text]:not([class=hidden]):not([readonly]),textarea:not([readonly])');
            var cltid = "";
            $(cltcoll).each(function () {
			  if ($(this).attr("id") == undefined)
                    return
                var dvhidden = $("#dv" + $(this).attr("id"));
				var dvDate = $("#datetimepicker" + $(this).attr("id")).attr("id");

                if (!(dvhidden.css('display') == 'none') && dvDate == undefined) {
                    cltid = $(this);
                    return false;
                }
            });
            if (cltid != "" && cltid != undefined)
                setTimeout(function () { $(cltid).focus(); }, 500);
			var ctrlReadonly = $("#dvPopup").find('input[type=text][readonly],textarea[readonly]');
            $(ctrlReadonly).each(function () {
                $(ctrlReadonly).attr("tabindex", "-1");
            });
        }
        catch (ex) { }
    });
</script>

