@model GeneratorBase.MVC.Models.T_Education
@{
    if (!string.IsNullOrEmpty(ViewBag.T_EducationIsHiddenRule))
    {
        @Html.Raw(ViewBag.T_EducationIsHiddenRule);
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_EducationIsGroupsHiddenRule))
    {
        @Html.Raw(ViewBag.T_EducationIsGroupsHiddenRule);
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_EducationIsSetValueUIRule))
    {
        @Html.Raw(ViewBag.T_EducationIsSetValueUIRule);
    }
}
@using (Html.BeginForm("Create", "T_Education",new {UrlReferrer = Convert.ToString(ViewData["T_EducationParentUrl"]), IsDDAdd = ViewBag.IsDDAdd }, FormMethod.Post, new { enctype = "multipart/form-data",id="frmT_Education" }))
{
   @Html.AntiForgeryToken();
    Html.ValidationSummary(true);
    Html.EnableClientValidation();
	<input type="hidden" id="ErrMsg" />
	@*<label id="ErrMsg" class="text-primary small pull-right" style="color:red; vertical-align:middle; font-weight:100;"></label>*@
    <div id="errorContainer" style="display: none">
        <div id="errorsMsg"></div>
        <div id="errors"></div>
    </div>
	 
	 <div id="divDisplayThresholdLimit" style="display:none;">
	</div>
	 <div id="divDisplayBRmsgMandatory" style="display:none;">
	</div>
	<div id="divDisplayBRmsgBeforeSaveProp" style="display:none;">
	</div>
	<div id="divDisplayCodeFragment" style="display:none;">
	</div>

	<div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="AppForm">
                <div class="">
               					<div class="row">
				       
								<div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="panel panel-default" id="dvGroup48926">
                                        <div class="panel-heading clearfix">
                                            <i class="icon-calendar"></i>
											
									<h3 class="panel-title" alt="Employee Information" title="Employee Information">Employee Information</h3>
								</div>
                                <div class="panel-body">
@if(User.CanView("T_Education","T_EmployeeEducationID"))
	{
        <div class='col-sm-6 col-md-6 col-xs-12' id="dvT_EmployeeEducationID">
                        <div class='form-group'>
                            <label class="col-sm-5 col-md-5 col-xs-12">@Html.LabelFor(model => model.T_EmployeeEducationID) </label>
							<div class="input-group col-sm-7 col-md-7 col-xs-12">
                            <div class="input-group" style="width:100%;">
									@Html.DropDownList("T_EmployeeEducationID", null, "-- Select --", new {       @class = "chosen-select form-control", @HostingName = "T_Employee", @dataurl = Url.Action("GetAllValue", "T_Employee",new { caller = "T_EmployeeEducationID" }) })
			@Html.ValidationMessageFor(model => model.T_EmployeeEducationID)
			@if ( User.CanAdd("T_Employee"))
				{
			<div class="input-group-btn">
				<a class="btn btn-default btn ie8fix" id="addT_Employee"  data-target="#dvPopup" onclick="@Html.Raw("OpenPopUpEntity('addPopup','Employee','dvPopup','" + Url.Action("CreateQuick", "T_Employee", new { UrlReferrer = Request.Url, HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]), IsAddPop=true }) + "')")">
					<span class="glyphicon glyphicon-plus-sign"></span>
				</a>
			</div>
			}
		                                
                            </div>
							</div>
                        </div>
                    </div>
}
  							</div>
                         </div>
                      </div>
       </div>
               					<div class="row">
				       
								<div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="panel panel-default" id="dvGroup48927">
                                        <div class="panel-heading clearfix">
                                            <i class="icon-calendar"></i>
											
									<h3 class="panel-title" alt="Education Information" title="Education Information">Education Information</h3>
								</div>
                                <div class="panel-body">
@if(User.CanView("T_Education","T_LevelOfEducationID"))
	{
        <div class='col-sm-6 col-md-6 col-xs-12' id="dvT_LevelOfEducationID">
                        <div class='form-group'>
                            <label class="col-sm-5 col-md-5 col-xs-12">@Html.LabelFor(model => model.T_LevelOfEducationID) </label>
							<div class="input-group col-sm-7 col-md-7 col-xs-12">
                            <div class="input-group" style="width:100%;">
									@Html.DropDownList("T_LevelOfEducationID", null, "-- Select --", new {       @class = "chosen-select form-control", @HostingName = "T_EducationLevel", @dataurl = Url.Action("GetAllValue", "T_EducationLevel",new { caller = "T_LevelOfEducationID" }) })
			@Html.ValidationMessageFor(model => model.T_LevelOfEducationID)
			@if ( User.CanAdd("T_EducationLevel"))
				{
			<div class="input-group-btn">
				<a class="btn btn-default btn ie8fix" id="addT_EducationLevel"  data-target="#dvPopup" onclick="@Html.Raw("OpenPopUpEntity('addPopup','Level Of Education','dvPopup','" + Url.Action("CreateQuick", "T_EducationLevel", new { UrlReferrer = Request.Url, HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]), IsAddPop=true }) + "')")">
					<span class="glyphicon glyphicon-plus-sign"></span>
				</a>
			</div>
			}
		                                
                            </div>
							</div>
                        </div>
                    </div>
}
  @if(User.CanView("T_Education","T_MajorInMultiCheckBoxID"))
	{
        <div class='col-sm-6 col-md-6 col-xs-12' id="dvT_MajorInMultiCheckBoxID">
                        <div class='form-group'>
                            <label class="col-sm-5 col-md-5 col-xs-12">@Html.LabelFor(model => model.T_MajorInMultiCheckBoxID) </label>
							<div class="input-group col-sm-7 col-md-7 col-xs-12">
                            <div class="input-group" style="width:100%;">
									@Html.DropDownList("T_MajorInMultiCheckBoxID", null, "-- Select --", new {       @class = "chosen-select form-control", @HostingName = "T_Major", @dataurl = Url.Action("GetAllValue", "T_Major",new { caller = "T_MajorInMultiCheckBoxID" }) })
			@Html.ValidationMessageFor(model => model.T_MajorInMultiCheckBoxID)
			@if ( User.CanAdd("T_Major"))
				{
			<div class="input-group-btn">
				<a class="btn btn-default btn ie8fix" id="addT_Major"  data-target="#dvPopup" onclick="@Html.Raw("OpenPopUpEntity('addPopup','Major In','dvPopup','" + Url.Action("CreateQuick", "T_Major", new { UrlReferrer = Request.Url, HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]), IsAddPop=true }) + "')")">
					<span class="glyphicon glyphicon-plus-sign"></span>
				</a>
			</div>
			}
		                                
                            </div>
							</div>
                        </div>
                    </div>
}
  @if(User.CanView("T_Education","T_EducationVerificationVendorID"))
	{
        <div class='col-sm-6 col-md-6 col-xs-12' id="dvT_EducationVerificationVendorID">
                        <div class='form-group'>
                            <label class="col-sm-5 col-md-5 col-xs-12">@Html.LabelFor(model => model.T_EducationVerificationVendorID) </label>
							<div class="input-group col-sm-7 col-md-7 col-xs-12">
                            <div class="input-group" style="width:100%;">
									@Html.DropDownList("T_EducationVerificationVendorID", null, "-- Select --", new {       @class = "chosen-select form-control", @HostingName = "T_Vendor", @dataurl = Url.Action("GetAllValue", "T_Vendor",new { caller = "T_EducationVerificationVendorID" }) })
			@Html.ValidationMessageFor(model => model.T_EducationVerificationVendorID)
			@if ( User.CanAdd("T_Vendor"))
				{
			<div class="input-group-btn">
				<a class="btn btn-default btn ie8fix" id="addT_Vendor"  data-target="#dvPopup" onclick="@Html.Raw("OpenPopUpEntity('addPopup','Education Verification Vendor','dvPopup','" + Url.Action("CreateQuick", "T_Vendor", new { UrlReferrer = Request.Url, HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]), IsAddPop=true }) + "')")">
					<span class="glyphicon glyphicon-plus-sign"></span>
				</a>
			</div>
			}
		                                
                            </div>
							</div>
                        </div>
                    </div>
}
  						@if(User.CanView("T_Education","T_DetailsofEducation"))
								{
						<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_DetailsofEducation">
                                <div class='form-group' title="Details of  Education">
                                   <label class="col-sm-5 col-md-5 col-xs-12" >@Html.LabelFor(model => model.T_DetailsofEducation) </label>
									<div class="input-group col-sm-7 col-md-7 col-xs-12">
                                    @Html.TextAreaFor(model => model.T_DetailsofEducation, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.T_DetailsofEducation)
									</div>
                                </div>
						</div>
						}
   @if(User.CanView("T_Education","T_DateVerified"))
{
		  <div class='col-sm-6 col-md-6 col-xs-12' id="dvT_DateVerified">
                                <label class="col-sm-5 col-md-5 col-xs-12" >@Html.LabelFor(model => model.T_DateVerified) </label>
                                <div class="form-group" title="Date  Verified">
								<div class="input-group col-sm-7 col-md-7 col-xs-12">
                                    <div class="input-group date" id="datetimepickerT_DateVerified">
                                        @Html.TextBoxFor(model => model.T_DateVerified, new { @class = "form-control"   })
                                        
										<span class="input-group-addon btn-default calendar">
                                           <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.T_DateVerified)

								</div>
                                </div>
	
                                <script type="text/javascript">
                                    $(function () {
										$('#T_DateVerified').datetimepicker({ pickTime:false });
                                        $('#datetimepickerT_DateVerified').datetimepicker({ pickTime:false });
                                    });
                                </script>
                            </div>
							}
		  
                          
							</div>
                         </div>
                      </div>
       </div>
               					<div class="row">
				       
								<div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="panel panel-default" id="dvGroup48928">
                                        <div class="panel-heading clearfix">
                                            <i class="icon-calendar"></i>
											
									<h3 class="panel-title" alt="Notes" title="Notes">Notes</h3>
								</div>
                                <div class="panel-body">
						@if(User.CanView("T_Education","T_EducationNotes"))
								{
						<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_EducationNotes">
                                <div class='form-group' title="Education  Notes">
                                   <label class="col-sm-5 col-md-5 col-xs-12" >@Html.LabelFor(model => model.T_EducationNotes) </label>
									<div class="input-group col-sm-7 col-md-7 col-xs-12">
                                    @Html.TextAreaFor(model => model.T_EducationNotes, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.T_EducationNotes)
									</div>
                                </div>
						</div>
						}
							</div>
                         </div>
                      </div>
       </div>
                        </div>
                    </div>
                </div>
        </div>
		<a class="btn btn-default btn-sm" onclick="goBack('@Url.Action("Index","T_Education")');" alt="Cancel" title="Cancel">Cancel</a>
          @*@Html.ActionLink("Cancel", "Cancel", new { UrlReferrer = ViewData["T_EducationParentUrl"] }, new { @onclick = "", @class = "btn btn-default btn-sm" })*@
	<input type="submit" name="command" value="Create" class="btn btn-primary btn-sm" alt="Create" title="Create"/>
    if (ViewBag.IsDDAdd == null && User.CanEdit("T_Education"))
    {
	<input type="submit" name="command" value="Create & Continue" class="btn btn-primary btn-sm" alt="Create & Continue" title="Create & Continue"/>
	}
	 <input type="hidden" name="hdncommand" value="" />
	<br/><br/>
}
	<script>
	    $(function () {
        var userAgent = navigator.userAgent.toLowerCase();
        // Figure out what browser is being used
        var browser = {
            version: (userAgent.match(/.+(?:rv|it|ra|ie)[\/: ]([\d.]+)/) || [])[1],
            safari: /webkit/.test(userAgent),
            opera: /opera/.test(userAgent),
            msie: /msie/.test(userAgent) && !/opera/.test(userAgent),
            mozilla: /mozilla/.test(userAgent) && !/(compatible|webkit)/.test(userAgent)
        };
        if (!browser.msie) {
            $('form').areYouSure();
        }
        else if (browser.version > 8.0) {
            $('form').areYouSure();
        }
    });
</script>
	
@{
		var businessrule = User.businessrules.Where(p => p.EntityName == "T_Education").ToList();
		
if ((businessrule != null && businessrule.Count > 0) )
    {
        <script>
            $("form").submit(function (event) {
			if (!$("#frmT_Education").valid()) return;
			var flag = true;
							document.getElementById("ErrMsg").innerHTML = "";
                var dataurl = "";
                var form = "";
                var inlinecount = "0";
                //var form = $(this).serialize();
 form = $("#frmT_Education").serialize();
  
                dataurl = "@Url.Action("businessruletype", "T_Education", new { ruleType = "OnCreate"})";
                flag = ApplyBusinessRuleOnSubmit(dataurl, "T_Education", false, "ErrMsg", form);
				//business rules on inline associations
				if (flag) {
				                    $('input:hidden[name="hdncommand"]').val($(document.activeElement).val());

					 $("#frmT_Education").find(':input').removeAttr('disabled');
                }
				return flag;
			 });	
        </script>
    }
    else
    {
	<script>
            $("input[type='submit']").click(function (event) {
			if (!$("#frmT_Education").valid()) return;
                var $this = $(this);
                $('input:hidden[name="hdncommand"]').val($this.val());
            });
	</script>
           
    }
}


<script type='text/javascript'>
    $(document).ready(function () {
        try {
		 focusOnControl('frmT_Education');
        }
        catch (ex) { }
    });
</script>
<script>
    $(document).ready(function () {
        try {
            var hostingEntityName = "";
            if ('@Convert.ToString(ViewData["AssociatedType"])'.length > 0) {
                hostingEntityName = '@Convert.ToString(ViewData["AssociatedType"])';
                 $('#' + hostingEntityName + 'ID').attr("lock","true");
				  $('#' + hostingEntityName + 'ID').trigger("change");
            }
			
        }
        catch (ex) { }
		});
</script>

