@model GeneratorBase.MVC.Models.T_Education
@using PagedList;
@{
    ViewBag.Title = "Edit Education";
	var EditPermission = User.CanEditItem("T_Education", Model, User);
	var DeletePermission = User.CanDeleteItem("T_Education", Model, User);
	var EntityDisplayNameReflector = ModelReflector.Entities.FirstOrDefault(p => p.Name == "T_Education");
    var EntityDisplayName = EntityDisplayNameReflector != null ? EntityDisplayNameReflector.DisplayName : "Education";
}
@functions {
    object getHtmlAttributes(string Property)
    {
        if (User.CanEdit("T_Education", Property))
        {
            return new { @class = "form-control" };
        } return new { @class = "form-control", @readonly = "readonly" };
    }
}
<script>
    $(document).ready(function () {
        try {
            var hostingEntityName = "";
             if ('@Convert.ToString(ViewData["AssociatedType"])'.length > 0) {
                hostingEntityName = '@Convert.ToString(ViewData["AssociatedType"])';
				$('#' + hostingEntityName + 'ID').attr("lock","true");
				// $('#' + hostingEntityName + 'ID').trigger("change");
				  $("input[type='radio'][name='" + hostingEntityName + "ID']").each(function () {
                    if (!this.checked)
                        this.closest("li").style.display = "none";
                });
            }
			if ($.cookie('@User.JavaScriptEncodedName@Model.Id' + 'TabCookie') != null) {
				$('a[href="#' + $.cookie('@User.JavaScriptEncodedName@Model.Id' + 'TabCookie') + '"]').click();
			}
			 
        }
        catch (ex) { }
    });
</script>
@{
    if (!string.IsNullOrEmpty(ViewBag.T_EducationIsHiddenRule))
    {
        @Html.Raw(ViewBag.T_EducationIsHiddenRule);
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_EducationIsGroupsHiddenRule))
    {
        @Html.Raw(ViewBag.T_EducationIsGroupsHiddenRule);
    }
}

@{
    if (!string.IsNullOrEmpty(ViewBag.T_EducationIsSetValueUIRule))
    {
        @Html.Raw(ViewBag.T_EducationIsSetValueUIRule);
    }
}
	<div class="row">
    <div class="col-lg-12">
        <h1 class="page-title" >
            <i class="glyphicon glyphicon-edit text-primary"></i> @EntityDisplayName  <i class="glyphicon glyphicon-chevron-right small"></i> <span>Edit</span>

			   <div class="btn-group pull-right" style="margin-top:3px;">
			  


            <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle" alt="Action" title="Action">
                Action
                <span class="caret" style="margin-bottom:2px">    </span>
            </a>
			<ul class="dropdown-menu pull-left">
			
				<li>
                    @if (EditPermission)
                    {
                        <a href="@Url.Action("Edit","T_Education", new { id = Model.Id,  UrlReferrer = Request.UrlReferrer, AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) },null)"><i class="glyphicon glyphicon-edit"></i>  Edit</a>
                    }
                </li>             
				<li>
                    @if (EditPermission)
                    {
                        <a href="@Url.Action("EditWizard","T_Education", new { id = Model.Id,  UrlReferrer = Request.Url, AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) },null)"><i class="glyphicon glyphicon-share"></i>  Wizard</a>
                    }
                </li>
				<li>
                    @if (EditPermission && User.CanDelete("T_Education"))
                    {
                        <a href="@Url.Action("Delete", "T_Education", new {UrlReferrer = Request.UrlReferrer, id = Model.Id, AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) }, null)"><i class="glyphicon glyphicon-remove-sign"></i>  Delete</a>
                    }
                </li>
	<li class="divider" style="clear:both"></li>
	<li class="dropdown-submenu pull-left" id="AddAssociationdropmenuT_Education">
	 @{ var dropmenu = false; }
	<a tabindex="-1" href="#" style="margin-bottom:10px;"><i class="fam-anchor small"></i> Add</a>
    <ul class="dropdown-menu pull-left">
				@if (User.CanAdd("T_Comment"))
				{ dropmenu = true;
					<li>
						<a onclick=@Html.Raw("NavigateToUrl('" + Url.Action("Create", "T_Comment", 
						new { UrlReferrer = Request.Url,
								AssociatedType ="T_EducationComments", 
							HostingEntityName = "T_Education",
							HostingEntityID = @Convert.ToString(Model.Id) }, null) + "');")>
							<i class="glyphicon glyphicon-plus"></i>  Comment
						</a>
					</li>
				}
			</ul>
</li>
@if(!dropmenu)
{
    <script>
        $("#AddAssociationdropmenuT_Education").hide();
    </script>
}
 <li class="divider" style="clear:both"></li>
 <li class="dropdown-submenu pull-left">
	<a tabindex="-1" href="#" style="margin-bottom:10px;">Find Matching</a>
    <ul class="dropdown-menu pull-left">
<li>
		<a href="@Url.Action("FindFSearch", "FileDocument", new {sourceEntity="T_Education",id=Model.Id}, null)">Document</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_Licenses", new {sourceEntity="T_Education",id=Model.Id}, null)">Licenses</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_ServiceRecord", new {sourceEntity="T_Education",id=Model.Id}, null)">Service Record</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_Comment", new {sourceEntity="T_Education",id=Model.Id}, null)">Comment</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_DrugAlcoholTest", new {sourceEntity="T_Education",id=Model.Id}, null)">Drug & Alcohol Test</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_UnitX", new {sourceEntity="T_Education",id=Model.Id}, null)">UnitX</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_JobAssignment", new {sourceEntity="T_Education",id=Model.Id}, null)">Job Assignment</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_LeaveProfile", new {sourceEntity="T_Education",id=Model.Id}, null)">Leave</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_EmployeeInjury", new {sourceEntity="T_Education",id=Model.Id}, null)">Employee Injury</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_BackgroundCheck", new {sourceEntity="T_Education",id=Model.Id}, null)">Background Check</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_Accommodation", new {sourceEntity="T_Education",id=Model.Id}, null)">Accommodation</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_RequiredEducation", new {sourceEntity="T_Education",id=Model.Id}, null)">Required Education</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_PayDetails", new {sourceEntity="T_Education",id=Model.Id}, null)">Pay Details </a>
</li>
</ul>
</li>
			</ul>
		</div>

        </h1>

     <h2 class="text-primary" style="padding:0px 5px 15px 0px">
	  <span id="HostingEntityDisplayValue" class="EntityDisplayName" title="@Html.DisplayFor(model => model.DisplayValue)">@Html.DisplayFor(model => model.DisplayValue)</span>
			@if (EditPermission)
			{	
				<div class="pull-right" style="margin-top:-3px">
					<button class="btn btn-default btn-xs pull-right" id="nextEdit" onclick="@Html.Raw("nextFunEdit('T_Education',event,'hdnNextPrevId')")" alt="Next" title="Next">Next >></button>
					@Html.DropDownList("EntityT_EducationDisplayValueEdit", null, null, new { @onchange = "FillDisplayValueEditPage('T_Education','frmT_Education','" + Model.Id + "',event)", @class = "pull-right", @Style = "height: 22px;width: 170px; font-size:12px; color:#333;" })
					<button class="btn btn-default btn-xs pull-right" id="prevEdit" onclick="@Html.Raw("prevFunEdit('T_Education',event,'hdnNextPrevId')")" alt="Prev" title="Prev"><< Prev</button>
				</div>
			}
	 </h2>
		
    </div>
    <!-- /.col-lg-12 -->
</div>
<input type="hidden" id="ErrMsg" />
<div id="errorContainerEdit" style="display: none">
            <div id="errorsMsgEdit"></div>
            <div id="errorsEdit"></div>
        </div>

<div id="divDisplayBRmsgBeforeSaveProp" style="display:none;">
</div>
<div id="divDisplayBRmsgMandatory" style="display:none;">
</div>
<div id="divDisplayLockRecord" style="display:none;">
</div>
<div id="divDisplayBRReadOnly" style="display:none;">
</div>
<div id="divDisplayCodeFragment" style="display:none;">
</div>
 <div class="tabbable responsive">
    <ul class="nav nav-tabs">
	 <li class="active"><a href="#Details" onclick="ClearTabCookie('@User.JavaScriptEncodedName@Model.Id');" data-toggle="tab" alt="Details" title="Details">Details</a></li>
		 <li @(!User.CanView("T_Comment") ?"style=display:none;":"")>
			<a onclick="LoadTab('T_EducationComments','@User.JavaScriptEncodedName@Model.Id','@Html.Raw(Url.Action("Index", "T_Comment", new {RenderPartial=true, HostingEntity ="T_Education", HostingEntityID = @Model.Id, AssociatedType = "T_EducationComments",TabToken = DateTime.Now.Ticks,}))')" href="#T_EducationComments" data-toggle="tab" alt="Comment" title="Comment">Comment
		 <span class="badge bg-blue"><div id="dvcnt_T_EducationComments">@ViewBag.T_EducationCommentsCount</div></span>
		 </a></li>
		 <li @(!User.CanView("JournalEntry")?"style=display:none;":"")><a onclick="LoadTab('JournalEntryToT_EducationRelation','@User.JavaScriptEncodedName@Model.Id','@Url.Action("Index", "JournalEntry", new { RenderPartial = true, HostingEntity = "T_Education", HostingEntityID = @Model.Id, AssociatedType = "JournalEntry", TabToken = DateTime.Now.Ticks })')" href="#JournalEntryToT_EducationRelation" data-toggle="tab" alt="Education Journal" title="Education Journal">
		 Education Journal
		 </a></li>

    </ul>
		<div class="tab-content">
        <div class="tab-pane fade in active" id="Details">
@using (Html.BeginForm("Edit","T_Education",new {UrlReferrer =Convert.ToString(ViewData["T_EducationParentUrl"])}, FormMethod.Post, new { enctype = "multipart/form-data",@id="frmT_Education" }))
{
     Html.ValidationSummary(true);
                Html.EnableClientValidation();
    @Html.HiddenFor(model => model.Id)
	@Html.HiddenFor(model => model.ConcurrencyKey)
                <div class="col-md-12 col-sm-12 col-xs-12" style="padding:0px; margin:0px;">
                    <div class="panel panel-default AppForm">
						<div class="panel-body">
						
											<div class="row">
												<div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="panel panel-default" id="dvGroup48926">
                                        <div class="panel-heading clearfix">
                                            <i class="icon-calendar"></i>
											
									<h3 class="panel-title" alt="Employee Information" title="Employee Information">Employee Information</h3>
								</div>
                                <div class="panel-body">
				@if(User.CanView("T_Education","T_EmployeeEducationID"))
				{
									 <div class='col-sm-6 col-md-6 col-xs-12' id="dvT_EmployeeEducationID">
                        <div class='form-group'>
                            <label class="col-sm-5 col-md-5 col-xs-12" >@Html.LabelFor(model => model.T_EmployeeEducationID) </label>
							<div class="input-group col-sm-7 col-md-7 col-xs-12">
							<div class="input-group" style="width:100%;">									
									@if (User.CanEdit("T_Education", "T_EmployeeEducationID"))
		{
			@Html.DropDownList("T_EmployeeEducationID", null, "-- Select --", new {      @class = "chosen-select form-control", @HostingName = "T_Employee", @dataurl = Url.Action("GetAllValue", "T_Employee",new { caller = "T_EmployeeEducationID" }) })
		}
		else
		{
			@Html.HiddenFor(model => model.T_EmployeeEducationID, new { @class = "form-control" })
			@Html.DropDownList("T_EmployeeEducationID", null, "-- Select --", new {     @class = "chosen-select form-control", @disabled="disabled", @HostingName = "T_Employee", @dataurl = Url.Action("GetAllValue", "T_Employee",new { caller = "T_EmployeeEducationID" }) })
		}
									@Html.ValidationMessageFor(model => model.T_EmployeeEducationID)
									@if (User.CanAdd("T_Employee"))
                                    {
									<div class="input-group-btn">
										<a class="btn btn-default btn ie8fix" id="addT_Employee"  data-target="#dvPopup" onclick="@Html.Raw("OpenPopUpEntity('addPopup','Employee','dvPopup','" + Url.Action("CreateQuick", "T_Employee", new { UrlReferrer = Request.Url, HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]), IsAddPop=true }) + "')")">
											<span class="glyphicon glyphicon-plus-sign"></span>
										</a>
									</div>
									}
								

								                                            
											 @if (User.CanView("T_Employee"))
                                                    {
                                                        <div class="input-group-btn" id="dvLinkToT_Employee" title="">
                                                            <a class="btn btn-default btn ie8fix" id="aLinkToT_Employee" target="_blank" href="@Url.Action(User.CanEdit("T_Employee") ? "Edit" : "Details", "T_Employee", new { Id = Html.DisplayFor(model => model.t_employeeeducation.Id).ToString(), UrlReferrer=Request.UrlReferrer}, null)"><i class="glyphicon glyphicon-eye-open"></i></a>
                                                        </div>
                                                        if (Model.t_employeeeducation == null)
                                                        {
                                                            <script>
                                                                $(function () {
                                                                    $("#dvLinkToT_Employee").hide();
                                                                });
                                                            </script>
                                                        }
                                                        else
                                                        {
                                                            <script>
                                                                $(function () {
                                                                    $("#dvLinkToT_Employee").attr("title", '@Model.t_employeeeducation.DisplayValue');
                                                                });
                                                            </script>
                                                        }
                                                    }
                                        							</div>
							</div>
                        </div>
                    </div>


                   
					} else { @Html.HiddenFor(model => model.T_EmployeeEducationID, new { @class = "form-control" })}
							</div>
                         </div>
                      </div>
       </div>
											<div class="row">
												<div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="panel panel-default" id="dvGroup48927">
                                        <div class="panel-heading clearfix">
                                            <i class="icon-calendar"></i>
											
									<h3 class="panel-title" alt="Education Information" title="Education Information">Education Information</h3>
								</div>
                                <div class="panel-body">
				@if(User.CanView("T_Education","T_LevelOfEducationID"))
				{
									 <div class='col-sm-6 col-md-6 col-xs-12' id="dvT_LevelOfEducationID">
                        <div class='form-group'>
                            <label class="col-sm-5 col-md-5 col-xs-12" >@Html.LabelFor(model => model.T_LevelOfEducationID) </label>
							<div class="input-group col-sm-7 col-md-7 col-xs-12">
							<div class="input-group" style="width:100%;">									
									@if (User.CanEdit("T_Education", "T_LevelOfEducationID"))
		{
			@Html.DropDownList("T_LevelOfEducationID", null, "-- Select --", new {      @class = "chosen-select form-control", @HostingName = "T_EducationLevel", @dataurl = Url.Action("GetAllValue", "T_EducationLevel",new { caller = "T_LevelOfEducationID" }) })
		}
		else
		{
			@Html.HiddenFor(model => model.T_LevelOfEducationID, new { @class = "form-control" })
			@Html.DropDownList("T_LevelOfEducationID", null, "-- Select --", new {     @class = "chosen-select form-control", @disabled="disabled", @HostingName = "T_EducationLevel", @dataurl = Url.Action("GetAllValue", "T_EducationLevel",new { caller = "T_LevelOfEducationID" }) })
		}
									@Html.ValidationMessageFor(model => model.T_LevelOfEducationID)
									@if (User.CanAdd("T_EducationLevel"))
                                    {
									<div class="input-group-btn">
										<a class="btn btn-default btn ie8fix" id="addT_EducationLevel"  data-target="#dvPopup" onclick="@Html.Raw("OpenPopUpEntity('addPopup','Level Of Education','dvPopup','" + Url.Action("CreateQuick", "T_EducationLevel", new { UrlReferrer = Request.Url, HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]), IsAddPop=true }) + "')")">
											<span class="glyphicon glyphicon-plus-sign"></span>
										</a>
									</div>
									}
								

								                                            
											 @if (User.CanView("T_EducationLevel"))
                                                    {
                                                        <div class="input-group-btn" id="dvLinkToT_EducationLevel" title="">
                                                            <a class="btn btn-default btn ie8fix" id="aLinkToT_EducationLevel" target="_blank" href="@Url.Action(User.CanEdit("T_EducationLevel") ? "Edit" : "Details", "T_EducationLevel", new { Id = Html.DisplayFor(model => model.t_levelofeducation.Id).ToString(), UrlReferrer=Request.UrlReferrer}, null)"><i class="glyphicon glyphicon-eye-open"></i></a>
                                                        </div>
                                                        if (Model.t_levelofeducation == null)
                                                        {
                                                            <script>
                                                                $(function () {
                                                                    $("#dvLinkToT_EducationLevel").hide();
                                                                });
                                                            </script>
                                                        }
                                                        else
                                                        {
                                                            <script>
                                                                $(function () {
                                                                    $("#dvLinkToT_EducationLevel").attr("title", '@Model.t_levelofeducation.DisplayValue');
                                                                });
                                                            </script>
                                                        }
                                                    }
                                        							</div>
							</div>
                        </div>
                    </div>


                   
					} else { @Html.HiddenFor(model => model.T_LevelOfEducationID, new { @class = "form-control" })}
				@if(User.CanView("T_Education","T_MajorInMultiCheckBoxID"))
				{
									 <div class='col-sm-6 col-md-6 col-xs-12' id="dvT_MajorInMultiCheckBoxID">
                        <div class='form-group'>
                            <label class="col-sm-5 col-md-5 col-xs-12" >@Html.LabelFor(model => model.T_MajorInMultiCheckBoxID) </label>
							<div class="input-group col-sm-7 col-md-7 col-xs-12">
							<div class="input-group" style="width:100%;">									
									@if (User.CanEdit("T_Education", "T_MajorInMultiCheckBoxID"))
		{
			@Html.DropDownList("T_MajorInMultiCheckBoxID", null, "-- Select --", new {      @class = "chosen-select form-control", @HostingName = "T_Major", @dataurl = Url.Action("GetAllValue", "T_Major",new { caller = "T_MajorInMultiCheckBoxID" }) })
		}
		else
		{
			@Html.HiddenFor(model => model.T_MajorInMultiCheckBoxID, new { @class = "form-control" })
			@Html.DropDownList("T_MajorInMultiCheckBoxID", null, "-- Select --", new {     @class = "chosen-select form-control", @disabled="disabled", @HostingName = "T_Major", @dataurl = Url.Action("GetAllValue", "T_Major",new { caller = "T_MajorInMultiCheckBoxID" }) })
		}
									@Html.ValidationMessageFor(model => model.T_MajorInMultiCheckBoxID)
									@if (User.CanAdd("T_Major"))
                                    {
									<div class="input-group-btn">
										<a class="btn btn-default btn ie8fix" id="addT_Major"  data-target="#dvPopup" onclick="@Html.Raw("OpenPopUpEntity('addPopup','Major In','dvPopup','" + Url.Action("CreateQuick", "T_Major", new { UrlReferrer = Request.Url, HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]), IsAddPop=true }) + "')")">
											<span class="glyphicon glyphicon-plus-sign"></span>
										</a>
									</div>
									}
								

															</div>
							</div>
                        </div>
                    </div>


                   
					} else { @Html.HiddenFor(model => model.T_MajorInMultiCheckBoxID, new { @class = "form-control" })}
				@if(User.CanView("T_Education","T_EducationVerificationVendorID"))
				{
									 <div class='col-sm-6 col-md-6 col-xs-12' id="dvT_EducationVerificationVendorID">
                        <div class='form-group'>
                            <label class="col-sm-5 col-md-5 col-xs-12" >@Html.LabelFor(model => model.T_EducationVerificationVendorID) </label>
							<div class="input-group col-sm-7 col-md-7 col-xs-12">
							<div class="input-group" style="width:100%;">									
									@if (User.CanEdit("T_Education", "T_EducationVerificationVendorID"))
		{
			@Html.DropDownList("T_EducationVerificationVendorID", null, "-- Select --", new {      @class = "chosen-select form-control", @HostingName = "T_Vendor", @dataurl = Url.Action("GetAllValue", "T_Vendor",new { caller = "T_EducationVerificationVendorID" }) })
		}
		else
		{
			@Html.HiddenFor(model => model.T_EducationVerificationVendorID, new { @class = "form-control" })
			@Html.DropDownList("T_EducationVerificationVendorID", null, "-- Select --", new {     @class = "chosen-select form-control", @disabled="disabled", @HostingName = "T_Vendor", @dataurl = Url.Action("GetAllValue", "T_Vendor",new { caller = "T_EducationVerificationVendorID" }) })
		}
									@Html.ValidationMessageFor(model => model.T_EducationVerificationVendorID)
									@if (User.CanAdd("T_Vendor"))
                                    {
									<div class="input-group-btn">
										<a class="btn btn-default btn ie8fix" id="addT_Vendor"  data-target="#dvPopup" onclick="@Html.Raw("OpenPopUpEntity('addPopup','Education Verification Vendor','dvPopup','" + Url.Action("CreateQuick", "T_Vendor", new { UrlReferrer = Request.Url, HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]), IsAddPop=true }) + "')")">
											<span class="glyphicon glyphicon-plus-sign"></span>
										</a>
									</div>
									}
								

								                                            
											 @if (User.CanView("T_Vendor"))
                                                    {
                                                        <div class="input-group-btn" id="dvLinkToT_Vendor" title="">
                                                            <a class="btn btn-default btn ie8fix" id="aLinkToT_Vendor" target="_blank" href="@Url.Action(User.CanEdit("T_Vendor") ? "Edit" : "Details", "T_Vendor", new { Id = Html.DisplayFor(model => model.t_educationverificationvendor.Id).ToString(), UrlReferrer=Request.UrlReferrer}, null)"><i class="glyphicon glyphicon-eye-open"></i></a>
                                                        </div>
                                                        if (Model.t_educationverificationvendor == null)
                                                        {
                                                            <script>
                                                                $(function () {
                                                                    $("#dvLinkToT_Vendor").hide();
                                                                });
                                                            </script>
                                                        }
                                                        else
                                                        {
                                                            <script>
                                                                $(function () {
                                                                    $("#dvLinkToT_Vendor").attr("title", '@Model.t_educationverificationvendor.DisplayValue');
                                                                });
                                                            </script>
                                                        }
                                                    }
                                        							</div>
							</div>
                        </div>
                    </div>


                   
					} else { @Html.HiddenFor(model => model.T_EducationVerificationVendorID, new { @class = "form-control" })}
@if(User.CanView("T_Education","T_DetailsofEducation"))
{
					<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_DetailsofEducation">
							<div class='form-group' title="Details of  Education">
								<label class="col-sm-5 col-md-5 col-xs-12" >@Html.LabelFor(model => model.T_DetailsofEducation) </label>
                                <div class="input-group col-sm-7 col-md-7 col-xs-12">
								@Html.TextAreaFor(model => model.T_DetailsofEducation, getHtmlAttributes("T_DetailsofEducation"))
									@Html.ValidationMessageFor(model => model.T_DetailsofEducation)
								</div>
                             </div>
						</div>
} else { @Html.HiddenFor(model => model.T_DetailsofEducation, new { @class = "form-control" })}
@if(User.CanView("T_Education","T_DateVerified"))
{

						 <div class='col-sm-6 col-md-6 col-xs-12' id="dvT_DateVerified">
							  <div class="form-group" title="Date  Verified">
                                <label class="col-sm-5 col-md-5 col-xs-12" >@Html.LabelFor(model => model.T_DateVerified) </label>
								<div class="input-group col-sm-7 col-md-7 col-xs-12">
                                    <div class="input-group date" id="datetimepickerT_DateVerified">
 @Html.TextBoxFor(model => model.T_DateVerified, "{0:MM/dd/yyyy}", User.CanEdit("T_Education", "T_DateVerified") ? (object)new { @class = "form-control" } : (object)new { @class = "form-control", @readonly="readonly"})

									<span class="input-group-addon btn-default calendar">
                                           <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.T_DateVerified)

								</div>
                                </div>
								@if(User.CanEdit("T_Education", "T_DateVerified"))
								{
                                <script type="text/javascript">
                                    $(function () {
										$('#T_DateVerified').datetimepicker({ pickTime:false });
                                        $('#datetimepickerT_DateVerified').datetimepicker({ pickTime:false });
  
                                    });
                                </script>
								}
                            </div>
						

                           
} else { @Html.HiddenFor(model => model.T_DateVerified, new { @class = "form-control" })}
							</div>
                         </div>
                      </div>
       </div>
											<div class="row">
												<div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="panel panel-default" id="dvGroup48928">
                                        <div class="panel-heading clearfix">
                                            <i class="icon-calendar"></i>
											
									<h3 class="panel-title" alt="Notes" title="Notes">Notes</h3>
								</div>
                                <div class="panel-body">
@if(User.CanView("T_Education","T_EducationNotes"))
{
					<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_EducationNotes">
							<div class='form-group' title="Education  Notes">
								<label class="col-sm-5 col-md-5 col-xs-12" >@Html.LabelFor(model => model.T_EducationNotes) </label>
                                <div class="input-group col-sm-7 col-md-7 col-xs-12">
								@Html.TextAreaFor(model => model.T_EducationNotes, getHtmlAttributes("T_EducationNotes"))
									@Html.ValidationMessageFor(model => model.T_EducationNotes)
								</div>
                             </div>
						</div>
} else { @Html.HiddenFor(model => model.T_EducationNotes, new { @class = "form-control" })}
							</div>
                         </div>
                      </div>
       </div>
            </div>
        </div>
		</div>
		 @Html.AntiForgeryToken();
		 <a class="btn btn-default btn-sm pull-left formbuttonfix" Onclick="goBack('@Url.Action("Index","T_Education")');" alt="Cancel" title="Cancel">Cancel</a>
		 @*@Html.ActionLink("Cancel", "Cancel", new { UrlReferrer = ViewData["T_EducationParentUrl"] }, new { @onclick = "", @class = "btn btn-default btn-sm pull-left formbuttonfix", @alt="Cancel", @title="Cancel" })*@
		 if (EditPermission)
         {
 				<input type="submit" name="command" value="Save" class="btn btn-primary btn-sm pull-left formbuttonfix"  alt="Save" title="Save"/>
				<input type="submit" id="sevranBtnEdit" style="display:none;" name="command" value="SaveNextPrev" alt="SaveNextPrev" title="SaveNextPrev"/>
				<input type="submit" name="command" value="Save & Stay" class="btn btn-primary btn-sm pull-left formbuttonfix" alt="Save & Stay" title="Save & Stay"/>
		}	
				<input type="hidden" name="hdncommand" value="" />
				<input type="hidden" name="hdnNextPrevId" value="" />
}
 @{ var dropmenubottom = false; }
<div class="dropdown pull-left formbuttonfix"  id="AddAssociationdropmenubottomT_Education">
<button type="button" class="btn btn-primary btn-sm dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" alt="Add Association" title="Add Association">
            Add Association
            <span class="caret"></span>
        </button>
		 <ul class="dropdown-menu " role="menu" aria-labelledby="dropdownMenu1">
			@if (User.CanAdd("T_Comment"))
            {  dropmenubottom = true;
                <li><a onclick=@Html.Raw("NavigateToUrl('" + Url.Action("Create", "T_Comment",
						new { UrlReferrer = Request.Url,
								AssociatedType ="T_EducationComments", 
						HostingEntityName = "T_Education",
                              HostingEntityID = @Convert.ToString(Model.Id)
                        }, null) + "');")>
                   Add  Comment
                </a>
				</li>
            }

			
</ul>
</div>
@if(!dropmenubottom || !EditPermission)
{
    <script>
        $("#AddAssociationdropmenubottomT_Education").hide();
    </script>
}
<div class="clearfix" style="clear:both; margin-bottom:8px"></div>
</div>
 <div class="tab-pane fade in" id="T_EducationComments">
	@if (User.CanView("T_Comment"))
	{
	  // Html.RenderAction("Index", "T_Comment", new {RenderPartial=true, HostingEntity = "T_Education", HostingEntityID = @Model.Id, AssociatedType = "T_EducationComments" }); 
	}
  </div>
 <div class="tab-pane fade in" id="JournalEntryToT_EducationRelation">
			 @if (User.CanView("JournalEntry"))
			 {
			  // Html.RenderAction("Index", "JournalEntry", new { RenderPartial = true, HostingEntity = "T_Education", HostingEntityID = @Model.Id, AssociatedType = "JournalEntry" });
			 }
  </div>

</div> <!-- /tab-content --><br />

<br/>
</div>
	<script>
	</script>
	

@{
var businessrule = User.businessrules.Where(p => p.EntityName == "T_Education").ToList();

if ((businessrule != null && businessrule.Count > 0) )
{
var ruleids = businessrule.Select(q => q.Id).ToList();
var typelist  = string.Join(",", (new GeneratorBase.MVC.Models.RuleActionContext()).RuleActions.Where(p => ruleids.Contains(p.RuleActionID.Value) && p.associatedactiontype.TypeNo.HasValue).Select(p => p.associatedactiontype.TypeNo.Value).Distinct().ToList());

    <script>
		$(document).ready(function () {
				document.getElementById("ErrMsg").innerHTML = "";
				var flag = true;
                var dataurl = "";
                var form = "";
                var inlinecount = "0";

 form = $("#frmT_Education").serialize();
				dataurl = "@Url.Action("businessruletype", "T_Education", new { ruleType = "OnEdit"})";
                ApplyBusinessRuleOnPageLoad("@typelist",dataurl, "T_Education", false, "ErrMsg", form);
				//business rules on inline associations

    });
</script>
<script>
    $("form").submit(function (event) {
	if (!$("#frmT_Education").valid()) return;
			document.getElementById("ErrMsg").innerHTML = "";
            var flag = true;
            var dataurl = "";
            var form = "";
            var inlinecount = "0";
 form = $("#frmT_Education").serialize();
    
				 dataurl = "@Url.Action("businessruletype", "T_Education", new { ruleType = "OnEdit"})";
                 flag = ApplyBusinessRuleOnSubmit(dataurl, "T_Education", false, "ErrMsg", form);

  				 //business rules on inline associations
               
			 if (flag)
				{
				                    $('input:hidden[name="hdncommand"]').val($(this.id).context.activeElement.value);
					if ($(document.activeElement).attr('id') == "nextEdit" || $(document.activeElement).attr('id') == "prevEdit")
			         $('input:hidden[name="hdncommand"]').val("SaveNextPrev");
					 $("#frmT_Education").find(':input').removeAttr('disabled');
					}
            return flag;
		});
</script>
}
 else
    {
       <script>
    $("input[type='submit']").click(function (event) {
	if (!$("#frmT_Education").valid()) return;
        var $this = $(this);
                var actionName = $this.attr("actionName")
                if (actionName == undefined)
                    actionName = $this.val();
                $('input:hidden[name="hdncommand"]').val(actionName);
    });
	</script>
    }
 
}

<script type='text/javascript'>
    $(document).ready(function () {
        try {
		focusOnControl('frmT_Education');
        }
        catch (ex) { }
    });
	 $(document).ready(function () {
		var RecIdEdit = $("#frmT_Education").find("input:hidden[name='Id']").val();
        $("#EntityT_EducationDisplayValueEdit").val(RecIdEdit);

		var textedit = $("option:selected", $("#EntityT_EducationDisplayValueEdit")).text();
		$("#EntityT_EducationDisplayValueEdit").attr('data-toggle', 'tooltip')
		$("#EntityT_EducationDisplayValueEdit").attr('title', textedit);

        var lastOptionValEdit = $('#EntityT_EducationDisplayValueEdit option:last-child').val();
        var fristOptionValEdit = $('#EntityT_EducationDisplayValueEdit option:first-child').val();
        if (lastOptionValEdit == RecIdEdit) {
            $('#nextEdit').attr({ "disabled": "true", "style": "background-color:#eeeeee !important; color:#969696 !important; border-color:#ccc !important" });
        }
        if (fristOptionValEdit == RecIdEdit)
            $('#prevEdit').attr({ "disabled": "true", "style": "background-color:#eeeeee !important; color:#969696 !important; border-color:#ccc !important" });
    });
</script>


