@model PagedList.IPagedList<GeneratorBase.MVC.Models.T_CostCenter>
@using PagedList.Mvc;
@{
    var ActionNameUrl = "Index";
    if (HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToUpper() == "FSEARCH")
    {
        ActionNameUrl = "FSearch";
    }
	var BackUrl =  Request.Url;
	 if (ViewData["HostingEntity"] != null && (Request.QueryString["TabToken"] != null || Request.IsAjaxRequest()))
	{
		BackUrl =  Request.UrlReferrer;
	}
	var EntityReflector = ModelReflector.Entities.FirstOrDefault(p => p.Name == "T_CostCenter");
	
	}
<div id="T_CostCenter">

<style>
    .table-responsive > .fixed-column {
        position: absolute;
        display: block;
        width: auto;
        border: 0px solid transparent;
        border-top: 1px solid #c3ddec;
    }
    .fixed-column th {
        background: #fff;
    }
    .fixed-column td {
        background: #fff;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
	 $(".pagination a").click(function (e) {
            //PaginationClick(e,'T_CostCenter')
			PaginationClick(e, 'T_CostCenter','@User.JavaScriptEncodedName')
        })
	    if("@HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToUpper()" == "FSEARCH")
        {
            $("#fsearchT_CostCenter").addClass('in');
			if('@ViewData["HostingEntity"]'.length>0)
	        {
                $("#" + "@ViewData["HostingEntity"]" + "_T_CostCenter").hide();
	        }
			FSearchColumnsShowHideGalaryList('@ViewData["HideColumns"]', 'T_CostCenter');
        }
	    $("#SearchStringT_CostCenter").keypress(function (e) {
			if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
				 $("#T_CostCenterSearch").bind("click", (function () {
                        }));
                $('#T_CostCenterSearch').trigger("click");
                return false;
			}
        })
        $("#btnShowHideT_CostCenter").mouseup(function () {
            if (document.getElementById('ColumnShowHideT_CostCenter').className == 'collapse') {
				 $('#lblT_CostCenter').css('display', 'none');
            }
        })
		if ($("#ErrmsgLockRecord").length > 0 && $("#ErrmsgLockRecord").text().length > 0) {
                    $(".pull-left.actionbar").hide();
		}
    });
</script>
@functions {
    object getSortHtmlAttributes(string sortby, bool IsPaging, int? page, bool? IsExport)
    {
        if (IsPaging)
        {
            return new
            {
                page,
                sortBy = ViewBag.CurrentSort,
                isAsc = ViewBag.IsAsc,
                currentFilter = ViewBag.CurrentFilter,
                HostingEntity = @Convert.ToString(ViewData["HostingEntity"]),
                AssociatedType = @Convert.ToString(ViewData["AssociatedType"]),
                HostingEntityID = ViewData["HostingEntityID"],
				IsExport = IsExport,
				FSFilter = ViewBag.FSFilter == null ? "Fsearch" : ViewBag.FSFilter,
				IsFilter = @Convert.ToBoolean(ViewData["IsFilter"]),
                
 t_costprogram = Request.QueryString["t_costprogram"],
 t_costfund = Request.QueryString["t_costfund"],
				search=Request.QueryString["search"],
		SortOrder = Request.QueryString["SortOrder"],
		viewtype = ViewBag.TemplatesName,
		HideColumns = ViewData["HideColumns"],
		 GroupByColumn = ViewBag.GroupByColumn,
		 FilterCondition = ViewBag.FilterCondition,
		 inbuiltSearchCriteria = ViewBag.inbuiltSearchCriteria
            };
        }
        else
        {
            return new
            {
                sortBy = sortby,
                currentFilter = Request.QueryString["currentFilter"],
                searchString = Request.QueryString["searchString"],
                isAsc = (ViewBag.IsAsc == "ASC" ? "DESC" : ""),
                page = ViewBag.Pages,
                HostingEntity = @Convert.ToString(ViewData["HostingEntity"]),
                HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]),
                AssociatedType = @Convert.ToString(ViewData["AssociatedType"]),
				IsExport = IsExport,
				FSFilter = ViewBag.FSFilter == null ? "Fsearch" : ViewBag.FSFilter,
				IsFilter = @Convert.ToBoolean(ViewData["IsFilter"]),
 t_costprogram = Request.QueryString["t_costprogram"],
 t_costfund = Request.QueryString["t_costfund"],
		search=Request.QueryString["search"],
		SortOrder = Request.QueryString["SortOrder"],
		viewtype = ViewBag.TemplatesName,
		HideColumns = ViewData["HideColumns"],
		 GroupByColumn = ViewBag.GroupByColumn,
		 FilterCondition = ViewBag.FilterCondition,
		 inbuiltSearchCriteria = ViewBag.inbuiltSearchCriteria
            };
        }
    }
}
<div class="row">
    <div class="col-md-12 col-sm-12 col-sx-12">
      
	   <div style="display:block; padding:0px 0px 5px 0px;">
	    
	   

            <div class="pull-left actionbar">
                 <div class="btn-group" id='@ViewData["HostingEntity"]_T_CostCenter'>
				  @if (User.CanAdd("T_CostCenter"))
				  {
						
					<a class="btn btn-sm" data-placement="top" id="addT_CostCenter" data-original-title="Quick Add" data-toggle="modal" data-target="#dvPopup" onclick="@Html.Raw("OpenPopUpEntity('addPopup','Cost Center','dvPopup','" + Url.Action("CreateQuick", "T_CostCenter", new { UrlReferrer = BackUrl, AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]), TS=DateTime.Now,viewtype = Convert.ToString(ViewBag.TemplatesName) }) + "')")">
						<i class="fa fa-plus-circle" style="margin-right:3px"></i> Quick Add
                    </a>
					<a class="btn btn-sm" type="button" data-original-title="Full Add" data-placement="top" onclick=@Html.Raw("NavigateToUrl('" + Url.Action("Create", "T_CostCenter", new { UrlReferrer = BackUrl, AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]),viewtype = Convert.ToString(ViewBag.TemplatesName) }, null) + "');")>
						<i class="fa fa-plus-circle" style="margin-right:3px"></i> Add
					</a>
			}
			
                </div>
				
		<div class="btn-group">

   	@if (ViewData["HostingEntity"] == null || Convert.ToBoolean(ViewData["IsFilter"]) == true)
	{
			if (User.CanView("T_Program") || User.CanView("T_Fund"))
	{ 
			<div class="btn-group">
		<a class="btn btn-sm dropdown-toggle" data-original-title="Filter-Groupby" data-toggle="dropdown" href="#" >
		<i class="fa fa-filter" style="margin-right:3px"></i> Filter
		</a>
		<ul class="dropdown-menu" role="menu">
			@if (User.CanView("T_Program"))
			{
				<li>
					<a id="fltT_Program" data-placement="top" onclick=@Html.Raw("SetCookieFlt('fltT_Program');EntityFilter('T_CostCenter','" + Url.Action("GetAllValueForFilter", "T_Program") + "','" + Html.Raw(Url.Action("Index", "T_CostCenter", new {FirstCall=true,FilterHostingEntityID = ViewData["HostingEntityID"], IsFilter = true, HostingEntity = "T_Program", AssociatedType = "T_CostProgram", ClearSearchTimeStamp = DateTime.Now.Ticks.ToString(),viewtype = Convert.ToString(ViewBag.TemplatesName)})) + "','" + User.JavaScriptEncodedName + "');")>
						<span>Program</span>
					</a>
				</li>
			}
			@if (User.CanView("T_Fund"))
			{
				<li>
					<a id="fltT_Fund" data-placement="top" onclick=@Html.Raw("SetCookieFlt('fltT_Fund');EntityFilter('T_CostCenter','" + Url.Action("GetAllValueForFilter", "T_Fund") + "','" + Html.Raw(Url.Action("Index", "T_CostCenter", new {FirstCall=true,FilterHostingEntityID = ViewData["HostingEntityID"], IsFilter = true, HostingEntity = "T_Fund", AssociatedType = "T_CostFund", ClearSearchTimeStamp = DateTime.Now.Ticks.ToString(),viewtype = Convert.ToString(ViewBag.TemplatesName)})) + "','" + User.JavaScriptEncodedName + "');")>
						<span>Fund</span>
					</a>
				</li>
			}
     <li>
@Html.ActionLink("Clear", "Index", new { viewtype = Convert.ToString(ViewBag.TemplatesName) }, new { onclick = "ClearFilterCookies();", @class = "label label-primary pull-left filterLabel", @Style = "margin-left:20px;color: white" })</li>
		</ul>
		</div>
		}
		} 
                </div>
@if ((User.CanEdit("T_CostCenter") && User.CanUseVerb("BulkUpdate", "T_CostCenter", User)) || (User.CanDelete("T_CostCenter") && User.CanUseVerb("BulkDelete", "T_CostCenter", User)))
{
 <div class="btn-group">
    <a class="btn btn-sm dropdown-toggle" data-original-title="Bulk Actions" data-toggle="dropdown" href="#">
           <span class="fa fa-wrench"></span> Bulk
        </a>
        <ul class="dropdown-menu" role="menu">
	
	@if ( User.CanEdit("T_CostCenter")&&  User.CanUseVerb("BulkUpdate","T_CostCenter",User))
	{
	<li>
		<a data-placement="top" style="cursor:pointer;" data-toggle="modal" data-target="#dvPopup"
			onclick="@Html.Raw("OpenPopUpBulKUpdate('addPopup','Bulk Update Cost Center','dvPopup','" + Url.Action("BulkUpdate", "T_CostCenter", new { UrlReferrer = BackUrl, AssociatedType = ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]), TS = DateTime.Now }) + "','T_CostCenter')")">Update</a>
	</li>
	
	}
	
 
	 @if ( User.CanDelete("T_CostCenter") && User.CanUseVerb("BulkDelete","T_CostCenter",User))
     {
	 <li>
		<a style="cursor:pointer;" onclick="PerformBulkOperation(this,'T_CostCenter','Bulk Delete','@Url.Action("DeleteBulk", "T_CostCenter")');">Delete</a>
	 </li>
	
	 }
                        </ul>
                    </div>
					}
					 <div class="btn-group">
                        <a class="btn btn-sm dropdown-toggle tip-top" data-original-title="View As" style="padding:3px 5px;" data-toggle="dropdown">
                            <span class="fa fa fa-table"></span> View As
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" style="min-width:110px">
                            <li>
                                <a data-placement="top" style="cursor:pointer;"
                                   onclick="@Html.Raw("LoadTabTemplate('T_CostCenter','" + Url.Action("Index", "T_CostCenter", new { UrlReferrer = BackUrl, AssociatedType = ViewData["AssociatedType"], HostingEntity = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]), TS = DateTime.Now, viewtype = "IndexPartialGallery" }) + "')")">
                                    <span class="fa fa-th"></span> Gallery
                                </a>
                            </li>
                            <li>
                                <a style="display:block; margin:0px;"
                                   onclick="@Html.Raw("LoadTabTemplate('T_CostCenter','" + Url.Action("Index", "T_CostCenter", new { UrlReferrer = BackUrl, AssociatedType = ViewData["AssociatedType"], HostingEntity = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]), TS = DateTime.Now, viewtype = "IndexPartialList" }) + "')")">
                                    <span class="fa fa-list"></span> List
                                </a>
                            </li>
                        </ul>
                    </div>

<div class="btn-group">
                            <a class="btn btn-sm dropdown-toggle tip-top" data-toggle="dropdown">
                                Tools
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu" style="min-width:110px">
							 <li>
							               @if (ViewData["HostingEntity"] == null)
			   {
                        <a data-placement="top" data-original-title="Show Graph" data-toggle="modal" data-target="#ShowGraphT_CostCenter" onclick=@Html.Raw("OpenDashBoard('dvShowGraphT_CostCenter');")>
                            <span class="fa fa-area-chart" style="margin-right:3px"></span> Show Graph
                        </a>
				}
			@if (ViewData["HostingEntity"] != null && User.CanEdit(ViewData["HostingEntity"].ToString()))
			{
				<a id="showAssociateBtn"  data-placement="top" data-original-title="Associate Cost Center with @GeneratorBase.MVC.Models.ModelConversion.GetDisplayNameOfEntity(ViewData["HostingEntity"].ToString())" data-toggle="modal" data-target="#dvPopupBulkOperation" onclick="@Html.Raw("OpenPopUpEntity1M(this,'PopupBulkOperation','Cost Center','dvPopupBulkOperation','" + Url.Action("Index", "T_CostCenter", new { BulkOperation = "multiple", BulkAssociate = true, UrlReferrer = BackUrl, AssociatedType = ViewData["AssociatedType"], HostingEntity = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]), TS = DateTime.Now,viewtype = Convert.ToString(ViewBag.TemplatesName) }) + "')")">
					<i class="fa fa-plus-circle" ></i> Add Association
				</a>
				<script>
                                if($("#HostingEntityDisplayValue").attr('id')==undefined)
                                    $("#showAssociateBtn").hide();
                            </script>

			}
                               
                                 
                                    
                                </li>
                                <li>
								
				@if ( User.CanAdd("T_CostCenter") && User.CanUseVerb("ImportExcel", "T_CostCenter", User))
			{
				if (ViewData["HostingEntity"]==null)
				{ 
				 <a  onclick=@Html.Raw("NavigateToUrl('" + Url.Action("Upload", "T_CostCenter") + "');")>
                        <i class="fa fa-upload" style="margin-right:3px"></i>    Import Excel
                                         
                 </a>
				}
			}

                                  
                                </li>

                                <li>
				@if (User.CanView("T_CostCenter") && User.CanUseVerb("ExportExcel", "T_CostCenter", User))
                {
					<a onclick=@Html.Raw("NavigateToUrl('" + Url.Action(ActionNameUrl,"T_CostCenter",getSortHtmlAttributes(null, false, null, true), null) + "');")>
						<i class="fa fa-download" style="margin-right:3px"></i>  Export Excel
                    
					</a>
				}
                                   
                                </li>
                    			<li>
                <a class="collapse-data-btn" id="btnShowHideT_CostCenter" data-original-title="Show/Hide Column" data-placement="top" onclick=@Html.Raw("showhideColumns(event,'T_CostCenter');")>
                    <span class="fa fa-table"></span>  Show/Hide Column
                </a>
            </li>
                 
                            </ul>
                        </div>

</div>					

					<div class="pull-right" style="width:300px; padding-top:4px; ">
                        <div class="input-group">
                            @Html.TextBox("SearchStringT_CostCenter", ViewBag.CurrentFilter as string, null, new { @class = "form-control fixsearchbox", @value = ViewBag.Homeval, @placeholder = "Search" })
                            <div class="input-group-btn">
                              <a id="T_CostCenterSearch" onclick="SearchClick(event, 'T_CostCenter', '@Html.Raw(Url.Action("Index", "T_CostCenter", new { IsFilter = ViewData["IsFilter"], IsDeepSearch = false, searchString = "_SearchString", HostingEntity = Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = Convert.ToString(ViewData["HostingEntityID"]), AssociatedType = Convert.ToString(ViewData["AssociatedType"]),HideColumns = ViewData["HideColumns"], SearchTimeStamp = DateTime.Now.Ticks.ToString(),viewtype = Convert.ToString(ViewBag.TemplatesName) }))','@User.JavaScriptEncodedName');" data-original-title="Grid Search" class="btn btn-default btn-default tip-top" style="padding:3px 5px; border:1px solid #ccc" ><span class="fa fa-search"></span></a>
 @if (ViewData["HostingEntity"]==null)
	{ 
			 <a href="@(Url.Action("SetFSearch", "T_CostCenter")+Request.Url.Query)" data-original-title="Faceted Search" class="btn btn-default btn-default tip-top" style="padding:3px 5px; border:1px solid #ccc"><span class="fa fa-binoculars"></span></a>
	}
								<button id="T_CostCenterCancel" type="button" class="btn btn-default btn-default collapse-data-btn tip-top" onclick="CancelSearch('T_CostCenter','@Html.Raw(Url.Action("Index", "T_CostCenter", new {IsFilter=ViewData["IsFilter"], HostingEntity = Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = Convert.ToString(ViewData["HostingEntityID"]), AssociatedType = Convert.ToString(ViewData["AssociatedType"]), HideColumns = ViewData["HideColumns"], ClearSearchTimeStamp = DateTime.Now.Ticks.ToString(),viewtype = Convert.ToString(ViewBag.TemplatesName) }))','@User.JavaScriptEncodedName')" data-original-title="Clear Search" data-placement="top" style="padding:3px 5px; border:1px solid #ccc">
                                    <span class="fa fa-minus-circle"></span>
                                </button>
                                <button id="T_CostCenterSearchCancel" type="button" class="btn btn-default btn-default collapse-data-btn tip-top" onclick="CancelSearch('T_CostCenter','@Html.Raw(Url.Action("Index", "T_CostCenter", new {IsFilter=ViewData["IsFilter"], itemsPerPage=Convert.ToInt32(ViewBag.PageSize),HostingEntity = Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = Convert.ToString(ViewData["HostingEntityID"]), AssociatedType = Convert.ToString(ViewData["AssociatedType"]),HideColumns = ViewData["HideColumns"], ClearSearchTimeStamp = DateTime.Now.Ticks.ToString(),viewtype = Convert.ToString(ViewBag.TemplatesName)}))','@User.JavaScriptEncodedName')" data-original-title="Refresh Grid" data-placement="top" style="padding:3px 5px; border:1px solid #ccc">
                                    <span class="fa fa-refresh"></span>
                                </button>
                            </div>
                        </div>
                    </div>
            
            

			 <div style="clear:both"></div>


 @if (ViewData["HostingEntity"]==null)
	{ 
	if (ViewBag.SearchResult != "" )
                            {
			<div id="fsearchT_CostCenter" class="collapse MessageFSearch">
                        @Html.Raw(Html.Encode(ViewBag.SearchResult).Replace(Environment.NewLine, "<br/>"))
						 <a href="@Url.Action("Index", "T_CostCenter",new{ viewtype = Convert.ToString(ViewBag.TemplatesName)})" style="margin-left:5px;float:right"><span class="glyphicon glyphicon-remove-sign"></span> Clear</a>
						  <a href="@(Url.Action("SetFSearch", "T_CostCenter")+Request.Url.Query)" style="float:right" ><span class="glyphicon glyphicon-edit"></span> Modify</a>
            </div>
	}
}
					@Html.Partial("~/Views/T_CostCenter/ShowHideColumns.cshtml") 
                    @if (Model.Count > 0)
                    {
                        <div class="ViewMessage" style="margin-top: 0px;">
                            <label><input type="checkbox" value="" class="tip-top" data-placement="top" data-original-title="Select All" onclick="CommonSelectAllRows(this, 'divTurantoList');"> Select All</label>
                           
                        </div>
                    }
			 <div id="divTurantoList">
 @if (Model.Count > 0)
        {
		@Html.Hidden("SelectedItems")
foreach (var item in Model) 
{
<div  class="col-sm-12 GenappList">
<table>
                <tr>
                    <td>
                        <input type="checkbox" id="@item.Id" onclick="CommonSelectForBulkOperation(this,'@item.Id', 'divTurantoList');" style="position:absolute; top:0px; left:4px; z-index:100; height:15px; width:15px;" />
                    </td>
                </tr>
            </table>
  
   <div class='col-sm-12' style='margin:0px; margin-left:-10px; padding:0px; text-align:left'>
	 <h4 style="margin-top:-8px; padding:10px 10px 10px 0px"><span title="@item.DisplayValue" style="width:90%; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;display:inline-block; font-size:12px; margin-left:3px">@item.DisplayValue</span>
	 		<div class="dropdown pull-right" style="margin-top:-3px" >
			<button class="btn btn-default dropdown-toggle btn-xs" type="button" data-toggle="dropdown">
                                                    Action
                                                    <span class="caret"></span>
                                                </button>
                        <ul class="dropdown-menu">
                           
							                           
				@if (User.CanEdit("T_CostCenter"))
                {
				<li>
                        <a href="@Url.Action("Edit","T_CostCenter", new { id = item.Id,  UrlReferrer = BackUrl, AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]),viewtype = Convert.ToString(ViewBag.TemplatesName) },null)"><i class="glyphicon glyphicon-edit"></i>  Edit</a>
                    
                </li> 
				}
			@if (User.CanDeleteItem("T_CostCenter", item, User))
                 {
				<li>
                    <a href="@Url.Action("Delete", "T_CostCenter", new { id = item.Id, UrlReferrer = BackUrl, AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]),viewtype = Convert.ToString(ViewBag.TemplatesName) }, null)"><i class="glyphicon glyphicon-remove-sign" style="color: #E7574B;"></i> Delete</a>
                </li>
				 }

	<li class="dropdown-submenu pull-left" id="AddAssociationdropmenuT_CostCenter_@item.Id">
	 @{ var dropmenu = false; }
	<a tabindex="-1" href="#" style="margin-bottom:10px;"><i class="fam-anchor small"></i> Add</a>
    <ul class="dropdown-menu">
				@if ( User.CanView("T_Position"))
				{ dropmenu = true;
				<li>
						<a onclick=@Html.Raw("NavigateToUrl('" + Url.Action("Create", "T_Position", 
						new { UrlReferrer = BackUrl,
								AssociatedType ="T_PositionCostCenterAssociation", 
							HostingEntityName = "T_CostCenter",
							HostingEntityID = @Convert.ToString(item.Id) }, null) + "');")>
							<i class="glyphicon glyphicon-plus"></i>  Position
						</a>
					</li>
	
				}
							@if ( User.CanView("T_UnitX"))
				{ dropmenu = true;
				<li>
						<a onclick=@Html.Raw("NavigateToUrl('" + Url.Action("Create", "T_UnitX", 
						new { UrlReferrer = BackUrl,
								AssociatedType ="T_WardCostCenter", 
							HostingEntityName = "T_CostCenter",
							HostingEntityID = @Convert.ToString(item.Id) }, null) + "');")>
							<i class="glyphicon glyphicon-plus"></i>  Ward
						</a>
					</li>
	
				}
			</ul>
</li>
@if(!dropmenu)
{
    <script>
        $("#AddAssociationdropmenuT_CostCenter_@item.Id").hide();
    </script>
}
                        </ul>
                    </div>
	
	 
	 
	 
	 </h4>
  			@if(User.CanView("T_CostCenter","T_CC"))
			{
			var SortPropertyName = EntityReflector.Properties.FirstOrDefault(q => q.Name == "T_CC");
			<div class="col2">
			 <div class="col-sm-2 overflow GenappListFix" title='CC'>
            <strong>@Html.ActionLink(SortPropertyName.DisplayName+" :", ActionNameUrl, "T_CostCenter", getSortHtmlAttributes("T_CC", false, null, false), new { @onclick = "SortLinkClick(event,'T_CostCenter');", @Style = "text-decoration: none;color: inherit;" })
				@if (ViewBag.IsAsc == "DESC" && ViewBag.CurrentSort == "T_CC")
				{<i class="fa fa-sort-desc"></i>}
				@if (ViewBag.IsAsc == "ASC" && ViewBag.CurrentSort == "T_CC")
				{<i class="fa fa-sort-asc"></i>}</strong>
                                        </div>
                                        <div class="col-sm-2 overflow GenappListFix" title='@Html.DisplayFor(modelItem => item.T_CC)'>
                                        @Html.DisplayFor(modelItem => item.T_CC)
                                        </div>
			</div>
			}
						@if(User.CanView("T_CostCenter","T_CCDescription"))
			{
			var SortPropertyName = EntityReflector.Properties.FirstOrDefault(q => q.Name == "T_CCDescription");
			<div class="col3">
			 <div class="col-sm-2 overflow GenappListFix" title='CC Description'>
            <strong>@Html.ActionLink(SortPropertyName.DisplayName+" :", ActionNameUrl, "T_CostCenter", getSortHtmlAttributes("T_CCDescription", false, null, false), new { @onclick = "SortLinkClick(event,'T_CostCenter');", @Style = "text-decoration: none;color: inherit;" })
				@if (ViewBag.IsAsc == "DESC" && ViewBag.CurrentSort == "T_CCDescription")
				{<i class="fa fa-sort-desc"></i>}
				@if (ViewBag.IsAsc == "ASC" && ViewBag.CurrentSort == "T_CCDescription")
				{<i class="fa fa-sort-asc"></i>}</strong>
                                        </div>
                                        <div class="col-sm-2 overflow GenappListFix" title='@Html.DisplayFor(modelItem => item.T_CCDescription)'>
                                        @Html.DisplayFor(modelItem => item.T_CCDescription)
                                        </div>
			</div>
			}
							@if(User.CanView("T_CostCenter","T_CostProgramID"))
				{
				var SortPropertyName = EntityReflector.Properties.FirstOrDefault(q => q.Name == "T_CostProgramID");
				<div class="col4">
				 <div class="col-sm-2 overflow GenappListFix" title='Cost Program'  @(Convert.ToString(ViewData["HostingEntity"]) == "T_Program" && Convert.ToString(ViewData["AssociatedType"]) == "T_CostProgram"?"hidden":"")>
                                            <strong>
                                               @Html.ActionLink(SortPropertyName.DisplayName+" :", ActionNameUrl, "T_CostCenter", getSortHtmlAttributes("T_CostProgramID", false, null, false), new { @onclick = "SortLinkClick(event,'T_CostCenter');", @Style = "text-decoration: none;color: inherit;" })
				@if (ViewBag.IsAsc == "DESC" && ViewBag.CurrentSort == "T_CostProgramID")
				{<i class="fa fa-sort-desc"></i>}
				@if (ViewBag.IsAsc == "ASC" && ViewBag.CurrentSort == "T_CostProgramID")
				{<i class="fa fa-sort-asc"></i>}
                                            </strong>
                                        </div>
									
                                       

										@if (item.t_costprogram != null  && !string.IsNullOrEmpty(item.t_costprogram.DisplayValue))
				{
				 <div class="col-sm-2 overflow GenappListFix" title='@Html.DisplayFor(modelItem => item.t_costprogram.DisplayValue).ToString()'>
                  @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayFor(modelItem => item.t_costprogram.DisplayValue).ToString()), User.CanEdit("T_Program") ? "Edit" : "Details", "T_Program", new { Id = Html.DisplayFor(modelItem => item.t_costprogram.Id).ToString() },null)
                </div>
				}
		 	</div>
}
				@if(User.CanView("T_CostCenter","T_CostFundID"))
				{
				var SortPropertyName = EntityReflector.Properties.FirstOrDefault(q => q.Name == "T_CostFundID");
				<div class="col5">
				 <div class="col-sm-2 overflow GenappListFix" title='Cost Fund'  @(Convert.ToString(ViewData["HostingEntity"]) == "T_Fund" && Convert.ToString(ViewData["AssociatedType"]) == "T_CostFund"?"hidden":"")>
                                            <strong>
                                               @Html.ActionLink(SortPropertyName.DisplayName+" :", ActionNameUrl, "T_CostCenter", getSortHtmlAttributes("T_CostFundID", false, null, false), new { @onclick = "SortLinkClick(event,'T_CostCenter');", @Style = "text-decoration: none;color: inherit;" })
				@if (ViewBag.IsAsc == "DESC" && ViewBag.CurrentSort == "T_CostFundID")
				{<i class="fa fa-sort-desc"></i>}
				@if (ViewBag.IsAsc == "ASC" && ViewBag.CurrentSort == "T_CostFundID")
				{<i class="fa fa-sort-asc"></i>}
                                            </strong>
                                        </div>
									
                                       

										@if (item.t_costfund != null  && !string.IsNullOrEmpty(item.t_costfund.DisplayValue))
				{
				 <div class="col-sm-2 overflow GenappListFix" title='@Html.DisplayFor(modelItem => item.t_costfund.DisplayValue).ToString()'>
                  @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayFor(modelItem => item.t_costfund.DisplayValue).ToString()), User.CanEdit("T_Fund") ? "Edit" : "Details", "T_Fund", new { Id = Html.DisplayFor(modelItem => item.t_costfund.Id).ToString() },null)
                </div>
				}
		 	</div>
}
 </div>

    <div class="col-sm-1 GenappListFix" style="display:none">
      <div class="btn-group-vertical" style="left:-15px" >

			
                        <a title="View" href="@Url.Action(User.CanEdit("T_CostCenter") ? "Edit" : "Details", "T_CostCenter",
                        new { id = item.Id, AssociatedType = ViewData["AssociatedType"],
                            HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]),
                            HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]),viewtype = Convert.ToString(ViewBag.TemplatesName)  },
                            null)"  class="btn btn-default" style="text-align: left">
                            <span class="glyphicon glyphicon-eye-open icon-listbut"></span> View
                           
                        </a>
@if (User.CanEdit("T_CostCenter"))
                                                        {
                        <a title="Quick Edit"  class="btn btn-default" style="text-align: left" onclick="@Html.Raw("OpenPopUpEntity('addPopup','Edit Cost Center','dvPopup','" + Url.Action("EditQuick", "T_CostCenter", new
																			{
																				id = item.Id,
																				UrlReferrer = Request.Url,
																				AssociatedType = ViewData["AssociatedType"],
																				HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]),
																				HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]),
																				TS = DateTime.Now,viewtype = Convert.ToString(ViewBag.TemplatesName)
																			}) + "')")" >
                            <span class="fa fa-pencil icon-listbut"></span> Quick Edit
                        </a>
}
@if (User.CanEdit("T_CostCenter"))
                                                        {
                        <a title="Full Edit" href="@Url.Action("Edit","T_CostCenter",
                        new { id = item.Id,  UrlReferrer = BackUrl,
                            AssociatedType=ViewData["AssociatedType"],
                            HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]),
                            HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]),viewtype = Convert.ToString(ViewBag.TemplatesName) },
                            null)"  class="btn btn-default" style="text-align: left">
                            <span class="glyphicon glyphicon-edit icon-listbut"></span> Edit
                            
                        </a>
}
 <a href="" class="btn btn-default" style="text-align:left;" ><span class="fa fa-chevron-circle-down"></span> more</a>
					</div>
</div>


  </div>
							  <div style="clear:both"></div>
						   //model loop end    
                            }
					}
					else
								{
								  <div class="ViewMessage"> <i class="fa fa-info-circle"></i> No Record Available!</div>
					}
               </div>       
               
  			   @if (Model.Count > 0)
                {
                    <div id="pagination" class="MyPagination1">
                        @Html.PagedListPager(Model, page => Url.Action(ActionNameUrl, "T_CostCenter", getSortHtmlAttributes(null, true, page, false)))
                        <div class="fixPageSize">
                            Page Size :
                            @Html.DropDownList("PageSize", new SelectList(new Dictionary<string, int> { { "10", 10 }, { "20", 20 }, { "50", 50 }, { "100", 100 } }, "Key", "Value")
							, new { @id = "pagesizelistT_CostCenter",
							 @onchange = @Html.Raw("pagesizelistChange(event,'T_CostCenter','"
							  + @User.JavaScriptEncodedName + "')"),
							 @Url = Html.Raw(@Url.Action(ActionNameUrl, "T_CostCenter",
							 getSortHtmlAttributes(ViewBag.CurrentSort, ViewBag.Pages == 1 ? false : true,
							 null, false), null)) })
							<span style="text-align:right;"> Total Count: @(Model.TotalItemCount)</span>
                        </div>
                    </div>
                }
				@Html.DropDownList("EntityT_CostCenterDisplayValue", null,null, new { @Style = "display:none;" })
				</div>
            </div>
        </div>
    
    <div class="modal fade" id="ShowGraphT_CostCenter" tabindex="-1" role="dialog" aria-labelledby="ShowGraphT_CostCenterLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:80%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="ShowGraphT_CostCenterLabel">Dashboard Cost Center</h4>
                </div>
				 <div  class="modal-body" >
						<div id="dvShowGraphT_CostCenter" data-url="@Url.Action("ShowGraph", "T_CostCenter" , new { type = "all" })">
						</div>
						<div style="clear:both"></div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {

        loadGallery(true, 'a.thumbnail');

        //This function disables buttons when needed
        function disableButtons(counter_max, counter_current) {
            $('#show-previous-image, #show-next-image').show();
            if (counter_max == counter_current) {
                $('#show-next-image').hide();
            } else if (counter_current == 1) {
                $('#show-previous-image').hide();
            }
        }



        function loadGallery(setIDs, setClickAttr) {
            var current_image,
                selector,
                counter = 0;

            $('#show-next-image, #show-previous-image').click(function () {
                if ($(this).attr('id') == 'show-previous-image') {
                    current_image--;
                } else {
                    current_image++;
                }

                selector = $('[data-image-id="' + current_image + '"]');
                updateGallery(selector);
            });

            function updateGallery(selector) {
                var $sel = selector;
                current_image = $sel.data('image-id');
                $('#image-gallery-caption').text($sel.data('caption'));
                $('#image-gallery-title').text($sel.data('title'));
                $('#image-gallery-image').attr('src', $sel.data('image'));
                disableButtons(counter, $sel.data('image-id'));
            }

            if (setIDs == true) {
                $('[data-image-id]').each(function () {
                    counter++;
                    $(this).attr('data-image-id', counter);
                });
            }
            $(setClickAttr).on('click', function () {
                updateGallery($(this));
            });
        }
    });

</script>

