@model GeneratorBase.MVC.Models.T_RoleCode
@using PagedList;
@{
    ViewBag.Title = "View Role Code";
	var EntityDisplayNameReflector = ModelReflector.Entities.FirstOrDefault(p => p.Name == "T_RoleCode");
    var EntityDisplayName = EntityDisplayNameReflector != null ? EntityDisplayNameReflector.DisplayName : "Role Code";
}
<script>
    $(document).ready(function () {
			 if ($.cookie('@User.JavaScriptEncodedName@Model.Id' + 'TabCookie') != null) {
				$('a[href="#' + $.cookie('@User.JavaScriptEncodedName@Model.Id' + 'TabCookie') + '"]').click();
			 }
    });
</script>
@{
    if (!string.IsNullOrEmpty(ViewBag.T_RoleCodeIsHiddenRule))
    {
        @Html.Raw(ViewBag.T_RoleCodeIsHiddenRule);
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_RoleCodeIsGroupsHiddenRule))
    {
        @Html.Raw(ViewBag.T_RoleCodeIsGroupsHiddenRule);
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_RoleCodeIsSetValueUIRule))
    {
        @Html.Raw(ViewBag.T_RoleCodeIsSetValueUIRule);
    }
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-title">
            <i class="glyphicon glyphicon-hand-down text-primary"></i> @EntityDisplayName  <i class="glyphicon glyphicon-chevron-right small"></i> <span>View</span>
        </h1>
        <h2 class="text-primary"><span id="HostingEntityDisplayValue">@Html.DisplayFor(model => model.DisplayValue)</span>
			<div class="btn-group pull-right fixactionbut">
            <button data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-default pull-right">
                Action
                <span class="caret">    </span>
            </button>
			<ul class="dropdown-menu pull-left">               
				<li>
                    @if ( User.CanEdit("T_RoleCode"))
                    {
                        <a href="@Url.Action("Edit","T_RoleCode", new { id = Model.Id,  UrlReferrer = Request.Url, AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) },null)"><i class="glyphicon glyphicon-edit"></i>  Edit</a>
                    }
                </li>             
				<li>
                    @if ( User.CanDelete("T_RoleCode"))
                    {
                        <a href="@Url.Action("Delete", "T_RoleCode", new { id = Model.Id, UrlReferrer = Request.Url, AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) }, null)"><i class="glyphicon glyphicon-remove-sign"></i>  Delete</a>
                    }
                </li>
	<li class="divider" style="clear:both"></li>
	<li class="dropdown-submenu pull-left">
	<a tabindex="-1" href="#" style="margin-bottom:10px;"><i class="fam-anchor small"></i> Add</a>
    <ul class="dropdown-menu pull-left">
				@if ( User.CanAdd("T_Position"))
				{
					<li>
						<a onclick=@Html.Raw("NavigateToUrl('" + Url.Action("Create", "T_Position", 
						new { UrlReferrer = Request.Url,
								AssociatedType ="T_PositionRoleCode", 
							HostingEntityName = "T_RoleCode",
							HostingEntityID = @Convert.ToString(Model.Id) }, null) + "');")>
							<i class="glyphicon glyphicon-plus"></i>  Position
						</a>
					</li>
				}
							@if ( User.CanAdd("T_RequiredEducation"))
				{
					<li>
						<a onclick=@Html.Raw("NavigateToUrl('" + Url.Action("Create", "T_RequiredEducation", 
						new { UrlReferrer = Request.Url,
								AssociatedType ="T_RoleCodeRequiredEducation", 
							HostingEntityName = "T_RoleCode",
							HostingEntityID = @Convert.ToString(Model.Id) }, null) + "');")>
							<i class="glyphicon glyphicon-plus"></i>  Required Education
						</a>
					</li>
				}
			</ul>
</li>
 <li class="divider" style="clear:both"></li>
 <li class="dropdown-submenu pull-left">
	<a tabindex="-1" href="#" style="margin-bottom:10px;">Find Matching</a>
    <ul class="dropdown-menu pull-left">
<li>
		<a href="@Url.Action("FindFSearch", "T_SalaryRange", new {sourceEntity="T_RoleCode",id=Model.Id}, null)">Salary Range</a>
</li>
</ul>
</li>
			</ul>
</div>
		</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="tabbable responsive">
    <ul class="nav nav-tabs">
	 <li class="active"><a href="#Details" onclick="ClearTabCookie('@User.JavaScriptEncodedName@Model.Id');" data-toggle="tab">Details</a></li>
		 <li @(!User.CanView("T_Position")?"style=display:none;":"")><a onclick="LoadTab('T_PositionRoleCode','@User.JavaScriptEncodedName@Model.Id','@Html.Raw(Url.Action("Index", "T_Position", new {RenderPartial=true, HostingEntity ="T_RoleCode", HostingEntityID = @Model.Id, AssociatedType = "T_PositionRoleCode",TabToken = DateTime.Now.Ticks,}))')" href="#T_PositionRoleCode" data-toggle="tab">
		 Position
		 <span class="badge bg-blue"><div id="dvcnt_T_PositionRoleCode">@ViewBag.T_PositionRoleCodeCount</div></span>
		 		 </a></li>
		 <li @(!User.CanView("T_RequiredEducation")?"style=display:none;":"")><a onclick="LoadTab('T_RoleCodeRequiredEducation','@User.JavaScriptEncodedName@Model.Id','@Html.Raw(Url.Action("Index", "T_RequiredEducation", new {RenderPartial=true, HostingEntity ="T_RoleCode", HostingEntityID = @Model.Id, AssociatedType = "T_RoleCodeRequiredEducation",TabToken = DateTime.Now.Ticks,}))')" href="#T_RoleCodeRequiredEducation" data-toggle="tab">
		 Required Education
		 <span class="badge bg-blue"><div id="dvcnt_T_RoleCodeRequiredEducation">@ViewBag.T_RoleCodeRequiredEducationCount</div></span>
		 		 </a></li>
		 <li @(!User.CanView("JournalEntry")?"style=display:none;":"")><a onclick="LoadTab('JournalEntryToT_RoleCodeRelation','@User.JavaScriptEncodedName@Model.Id','@Url.Action("Index", "JournalEntry", new { RenderPartial = true, HostingEntity = "T_RoleCode", HostingEntityID = @Model.Id, AssociatedType = "JournalEntry", TabToken = DateTime.Now.Ticks })')" href="#JournalEntryToT_RoleCodeRelation" data-toggle="tab">Role Code Journal</a></li>
    </ul>
	    <div class="tab-content">
		   <div class="tab-pane fade in active" id="Details">
				 <div class="panel panel-default AppForm">
					<div class="panel-body">
                                  
			<div class="row">
				<div class="col-sm-12 col-md-12 col-xs-12">
			<div class="row">
@if(User.CanView("T_RoleCode","T_Code"))
{
<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_Code">
	<div class='form-group' title="Role Code">
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_Code) </label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
		
				
				<p class="viewlabel">@Model.T_Code</p>
					
					</div>
	</div>
</div>
}
@if(User.CanView("T_RoleCode","T_Title"))
{
<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_Title">
	<div class='form-group' title="Title">
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_Title) </label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
		
				
				<p class="viewlabel">@Model.T_Title</p>
					
					</div>
	</div>
</div>
}
@if(User.CanView("T_RoleCode","T_Role_TitleA"))
{
<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_Role_TitleA">
	<div class='form-group' title="Role_TitleA">
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_Role_TitleA) </label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
		
				
				<p class="viewlabel">@Model.T_Role_TitleA</p>
					
					</div>
	</div>
</div>
}
@if(User.CanView("T_RoleCode","T_RoleCodeSalaryBandID"))
{
<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_RoleCodeSalaryBand">
	<div class='form-group' >
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_RoleCodeSalaryBandID)</label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
 @if (Model.t_rolecodesalaryband!=null && !string.IsNullOrEmpty(Model.t_rolecodesalaryband.DisplayValue))
        {
		 <p class="viewlabel">
		@Html.ActionLink(Html.DisplayFor(model => model.t_rolecodesalaryband.DisplayValue).ToString(), "Details", "T_SalaryBand", new { Id = Html.DisplayFor(model => model.t_rolecodesalaryband.Id).ToString() }, null)
		</p>
		}
		</div>
	</div>
</div>
}
		</div>
				</div>
			</div>
		</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					@Html.ActionLink("Back", "Cancel", new { UrlReferrer = Request.UrlReferrer }, new { @class = "btn btn-default btn-sm pull-left formbuttonfix" })
					 @if ( User.CanEdit("T_RoleCode"))
                     {
                          @Html.ActionLink("Edit", "Edit", new { id = Model.Id, AssociatedType = ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) }, new { @class = "btn btn-primary btn-sm pull-left formbuttonfix" })
                     }
				</div>
			</div>    

<div class="dropdown pull-left formbuttonfix" style="margin-top:-30px; margin-left:102px;">
<button type="button" class="btn btn-primary btn-sm dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
            Add Association
            <span class="caret"></span>
        </button>
		 <ul class="dropdown-menu " role="menu" aria-labelledby="dropdownMenu1">
           
			@if ( User.CanAdd("T_Position"))
            {
				 <li>
				 <a onclick=@Html.Raw("NavigateToUrl('" + Url.Action("Create", "T_Position",
						new { UrlReferrer = Request.Url,
								AssociatedType ="T_PositionRoleCode", 
						HostingEntityName = "T_RoleCode",
                              HostingEntityID = @Convert.ToString(Model.Id)
                        }, null) + "');") style="margin-top:5px;">
                   Add  Position</a>
			</li>
            }
			

        </ul>

			</div>

<div class="dropdown pull-left formbuttonfix" style="margin-top:-30px; margin-left:102px;">
<button type="button" class="btn btn-primary btn-sm dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
            Add Association
            <span class="caret"></span>
        </button>
		 <ul class="dropdown-menu " role="menu" aria-labelledby="dropdownMenu1">
           
			@if ( User.CanAdd("T_RequiredEducation"))
            {
				 <li>
				 <a onclick=@Html.Raw("NavigateToUrl('" + Url.Action("Create", "T_RequiredEducation",
						new { UrlReferrer = Request.Url,
								AssociatedType ="T_RoleCodeRequiredEducation", 
						HostingEntityName = "T_RoleCode",
                              HostingEntityID = @Convert.ToString(Model.Id)
                        }, null) + "');") style="margin-top:5px;">
                   Add  Required Education</a>
			</li>
            }
			

        </ul>

			</div>
	</div>    
<div class="tab-pane fade in" id="T_PositionRoleCode">
     @if ( User.CanView("T_Position"))
	{
	  // Html.RenderAction("Index", "T_Position", new {RenderPartial=true, HostingEntity = "T_RoleCode", HostingEntityID = @Model.Id, AssociatedType = "T_PositionRoleCode" }); 
	}
  </div>
<div class="tab-pane fade in" id="JournalEntryToT_RoleCodeRelation">
            @if ( User.CanView("JournalEntry"))
		   {
			//	Html.RenderAction("Index", "JournalEntry", new { RenderPartial = true, HostingEntity = "T_RoleCode", HostingEntityID = @Model.Id, AssociatedType = "JournalEntry" });
		   }
  </div>
<div class="tab-pane fade in" id="T_RoleCodeRequiredEducation">
     @if ( User.CanView("T_RequiredEducation"))
	{
	  // Html.RenderAction("Index", "T_RequiredEducation", new {RenderPartial=true, HostingEntity = "T_RoleCode", HostingEntityID = @Model.Id, AssociatedType = "T_RoleCodeRequiredEducation" }); 
	}
  </div>
	</div> <!-- /tab-content --><br />

<br/>
</div>
 
