@model GeneratorBase.MVC.Models.Condition
@{
    ViewBag.Title = "Create Condition";
    Layout = null;
}
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $('#PropertyName').val($('#PropertyList :selected').val());
        $('#Operator').val($('#OperatorList :selected').val());
        $('#PropertyList').change(function () {
            var SelectedText = $('#PropertyList :selected').val();
            $('#PropertyName').val(SelectedText);
        });
        $('#OperatorList').change(function () {
            var SelectedText = $('#OperatorList :selected').val();
            $('#Operator').val(SelectedText);
        });
    });
</script>
<link href="@Url.Content("~/Content/chosen.css")" rel="stylesheet" type="text/css" />
@using (Html.BeginForm("CreateQuick", "Condition", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default AppForm">
                <div class="panel-body">
                    <div class="row">
                        <div class='col-sm-6'>
                            <div class='form-group'>
                                <label>@Html.LabelFor(model => model.PropertyName) <span class="text-danger-reg">*</span></label>
                                @Html.DropDownList("PropertyList", null, new { @class = "form-control" })
                                @Html.TextBoxFor(model => model.PropertyName, new { @class = "form-control hidden" })
                                @Html.ValidationMessageFor(model => model.PropertyName)
                            </div>
                        </div>
                        <div class='col-sm-6'>
                            <div class='form-group'>
                                <label>@Html.LabelFor(model => model.Operator) </label>
                                <select class="form-control" id="OperatorList">
                                    <option value="=">Equals to</option>
                                    <option value=">">Greater than</option>
                                    <option value="<">Less than</option>
                                    <option value="<=">Less than Or Equals to</option>
                                    <option value=">=">Greater than Or Equals to</option>
                                    <option value="Contains">Contains</option>
                                    <option value="!=">Not Equals to</option>
                                </select>
                                @Html.TextBoxFor(model => model.Operator, new { @class = "form-control hidden" })
                                @Html.ValidationMessageFor(model => model.Operator)
                            </div>
                        </div>
                        <div class='col-sm-6'>
                            <div class='form-group'>
                                <label>@Html.LabelFor(model => model.Value) </label>
                                @Html.TextBoxFor(model => model.Value, new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(model => model.Value)
                            </div>
                        </div>
                        <div class='col-sm-6' style="visibility: hidden">
                            <div class='form-group'>
                                <label>@Html.LabelFor(model => model.RuleConditionsID) </label>
                                <div class="input-group">
                                    @Html.DropDownList("RuleConditionsID", null, "--Select Business Rule--", new { @class = "chosen-select form-control", @HostingName = "BusinessRule", @dataurl = Url.Action("GetAllValue", "BusinessRule", null) })
                                    @Html.ValidationMessageFor(model => model.RuleConditionsID)
                                    <div class="input-group-btn">
                                        <a class="btn btn-default btn ie8fix" href="#">
                                            <span class="glyphicon glyphicon-plus-sign"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" aria-hidden="true">Cancel</button>
    @*@Html.ActionLink("Cancel", "Cancel", new { UrlReferrer = ViewData["ConditionParentUrl"] }, new { @onclick = "", @class = "btn btn-default btn-sm" })*@
    <input type="submit" value="Create" class="btn btn-primary btn-sm" />
}
@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/Common3/chosen.jquery.js" type="text/javascript"></script>
<script type="text/javascript">
    var config = {
        '.chosen-select': {},
        '.chosen-select-deselect': { allow_single_deselect: true },
        '.chosen-select-no-single': { disable_search_threshold: 10 },
        '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
        '.chosen-select-width': { width: "95%" }
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }
</script>
<script>
    $("form").submit(function () {
        if ($(this).find('.input-validation-error').length == 0) {
            $(this).find(':submit').attr('disabled', 'disabled');
        }
    });
</script>

