@model GeneratorBase.MVC.Models.T_BackgroundCheck
@{
    ViewBag.Title = "Create Background Check";
    Layout = null;
}
<script>
    $(document).ready(function () {
        try {
            var hostingEntityName = "";
            if ('@Convert.ToString(ViewData["AssociatedType"])' != null) {
                hostingEntityName = '@Convert.ToString(ViewData["AssociatedType"])';
                 $('#' + hostingEntityName + 'ID').attr("lock","true");
				  $('#' + hostingEntityName + 'ID').trigger("change");
            }
			
        }
        catch (ex) { }
		
		 
    });
</script>
<script type="text/javascript">
    var config = {
        '.chosen-select': {},
        '.chosen-select-deselect': { allow_single_deselect: true },
        '.chosen-select-no-single': { disable_search_threshold: 10 },
        '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
        '.chosen-select-width': { width: "95%" }
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }
</script>
@{
    if (!string.IsNullOrEmpty(ViewBag.T_BackgroundCheckIsHiddenRule))
    {
        @Html.Raw(ViewBag.T_BackgroundCheckIsHiddenRule);
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_BackgroundCheckIsGroupsHiddenRule))
    {
        @Html.Raw(ViewBag.T_BackgroundCheckIsGroupsHiddenRule);
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_BackgroundCheckIsSetValueUIRule))
    {
        @Html.Raw(ViewBag.T_BackgroundCheckIsSetValueUIRule);
    }
}
<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<link href="@Url.Content("~/Content/chosen.css")" rel="stylesheet" type="text/css" />
@using (Html.BeginForm("CreateQuick", "T_BackgroundCheck",FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken();
    Html.ValidationSummary(true);
    Html.EnableClientValidation();
	<input type="hidden" id="ErrMsgQuickAdd" />
	@*<label id="ErrMsgQuickAdd" class="text-primary small pull-right" style="color:red; vertical-align:middle; font-weight:100;"></label>*@
    <div id="errorContainerQuickAdd" style="display: none">
        <div id="errorsMsgQuickAdd"></div>
        <div id="errorsQuickAdd"></div>
    </div>
	<div id="divDisplayThresholdLimit" style="display:none;">
	</div>
	 <div id="divDisplayBRmsgMandatory" style="display:none;">
	</div>
	<div id="divDisplayBRmsgBeforeSaveProp" style="display:none;">
	</div>
		    <div class="row">
	@Html.Hidden("AssociatedEntity", Convert.ToString(ViewData["AssociatedType"]))
	@Html.Hidden("HostingEntityName", Convert.ToString(ViewData["HostingEntityName"]))
    @Html.Hidden("HostingEntityID", Convert.ToString(ViewData["HostingEntityID"]))
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default AppForm">
                <div class="panel-body">
               					<div class="row">
				        
								<div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="panel panel-default" id="dvGroup48923">
                                        <div class="panel-heading clearfix">
                                            <i class="icon-calendar"></i>
                                            <h3 class="panel-title" alt="Employee Information" title="Employee Information">Employee Information</h3>
                                        </div>
                                        <div class="panel-body">
                                    

			@if(User.CanView("T_BackgroundCheck","T_EmployeeCriminalBackgroundCheckID"))
				{
					
							<div class='col-sm-6'  id="dvT_EmployeeCriminalBackgroundCheckID">
                        <div class='form-group'>
                            <label>@Html.LabelFor(model => model.T_EmployeeCriminalBackgroundCheckID) <span class="text-danger-reg">*</span></label>
                            <div class="input-group" style="width: 100%;">
									@Html.DropDownList("T_EmployeeCriminalBackgroundCheckID", null, "-- Select --", new {   @required ="required",      @class = "chosen-select form-control", @HostingName = "T_Employee", @dataurl = Url.Action("GetAllValue", "T_Employee",new { caller = "T_EmployeeCriminalBackgroundCheckID" }) })
 @*<script>
    $(function () {
        LoadUserDropdown('ID');
    });
</script>*@
                                @Html.ValidationMessageFor(model => model.T_EmployeeCriminalBackgroundCheckID)
                            </div>
                        </div>
                    </div>
     
		}
                                    

			@if(User.CanView("T_BackgroundCheck","T_RetainTablePreEmploymentCheckID"))
				{
					
							<div class='col-sm-6'  id="dvT_RetainTablePreEmploymentCheckID">
                        <div class='form-group'>
                            <label>@Html.LabelFor(model => model.T_RetainTablePreEmploymentCheckID) </label>
                            <div class="input-group" style="width: 100%;">
									@Html.DropDownList("T_RetainTablePreEmploymentCheckID", null, "-- Select --", new {       @class = "chosen-select form-control", @HostingName = "T_RetainTable", @dataurl = Url.Action("GetAllValue", "T_RetainTable",new { caller = "T_RetainTablePreEmploymentCheckID" }) })
 @*<script>
    $(function () {
        LoadUserDropdown('ID');
    });
</script>*@
                                @Html.ValidationMessageFor(model => model.T_RetainTablePreEmploymentCheckID)
                            </div>
                        </div>
                    </div>
     
		}
							</div>
                         </div>
                      </div>
					@Html.HiddenFor(model => model.T_ReviewerID, new {@class = "form-control", Value = @ViewData["HostingEntityID"] })
       </div>
               					<div class="row">
				        
								<div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="panel panel-default" id="dvGroup48922">
                                        <div class="panel-heading clearfix">
                                            <i class="icon-calendar"></i>
                                            <h3 class="panel-title" alt="Background Check" title="Background Check">Background Check</h3>
                                        </div>
                                        <div class="panel-body">

@if(User.CanView("T_BackgroundCheck","T_DateFingerPrintTaken"))
{
     
                            <div class='col-sm-6' id="dvT_DateFingerPrintTaken">
                                <label >@Html.LabelFor(model => model.T_DateFingerPrintTaken)<span class="text-danger-reg">*</span></label>
                                <div class="form-group" title="Date  Finger  Print  Taken">
                                    <div class="input-group date" id="datetimepickerT_DateFingerPrintTaken">
							@Html.TextBoxFor(model => model.T_DateFingerPrintTaken, new {@id = "T_DateFingerPrintTaken" ,@class = "form-control",@Value = DateTime.Now.ToString("MM/dd/yyyy") })
										<span class="input-group-addon btn-default calendar">
                                           <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.T_DateFingerPrintTaken)
                                </div>
                                <script type="text/javascript">
                                    $(function () {
										$('#T_DateFingerPrintTaken').datetimepicker({ pickTime:false });
                                        $('#datetimepickerT_DateFingerPrintTaken').datetimepicker({ pickTime:false });
                                    });
                                </script>
                            </div>
		}



@if(User.CanView("T_BackgroundCheck","T_DateInformationReceivedFromCBC"))
{
     
                            <div class='col-sm-6' id="dvT_DateInformationReceivedFromCBC">
                                <label >@Html.LabelFor(model => model.T_DateInformationReceivedFromCBC)</label>
                                <div class="form-group" title="VSP Response Rcvd Date">
                                    <div class="input-group date" id="datetimepickerT_DateInformationReceivedFromCBC">
							@Html.TextBoxFor(model => model.T_DateInformationReceivedFromCBC, new {@id = "T_DateInformationReceivedFromCBC" ,@class = "form-control" })
										<span class="input-group-addon btn-default calendar">
                                           <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.T_DateInformationReceivedFromCBC)
                                </div>
                                <script type="text/javascript">
                                    $(function () {
										$('#T_DateInformationReceivedFromCBC').datetimepicker({ pickTime:false });
                                        $('#datetimepickerT_DateInformationReceivedFromCBC').datetimepicker({ pickTime:false });
                                    });
                                </script>
                            </div>
		}


                                    

			@if(User.CanView("T_BackgroundCheck","T_PreEmploymentCheckResultsVAStateID"))
				{
					
							<div class='col-sm-6'  id="dvT_PreEmploymentCheckResultsVAStateID">
                        <div class='form-group'>
                            <label>@Html.LabelFor(model => model.T_PreEmploymentCheckResultsVAStateID) </label>
                            <div class="input-group" style="width: 100%;">
									@Html.DropDownList("T_PreEmploymentCheckResultsVAStateID", null, "-- Select --", new {       @class = "chosen-select form-control", @HostingName = "T_ResultsTable", @dataurl = Url.Action("GetAllValue", "T_ResultsTable",new { caller = "T_PreEmploymentCheckResultsVAStateID" }) })
 @*<script>
    $(function () {
        LoadUserDropdown('ID');
    });
</script>*@
                                @Html.ValidationMessageFor(model => model.T_PreEmploymentCheckResultsVAStateID)
                            </div>
                        </div>
                    </div>
     
		}
							</div>
                         </div>
                      </div>
					@Html.HiddenFor(model => model.T_ReviewerID, new {@class = "form-control", Value = @ViewData["HostingEntityID"] })
       </div>
               					<div class="row">
				        
								<div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="panel panel-default" id="dvGroup48924">
                                        <div class="panel-heading clearfix">
                                            <i class="icon-calendar"></i>
                                            <h3 class="panel-title" alt="Child Protective Services" title="Child Protective Services">Child Protective Services</h3>
                                        </div>
                                        <div class="panel-body">

@if(User.CanView("T_BackgroundCheck","T_DateCPSResultReceived"))
{
     
                            <div class='col-sm-6' id="dvT_DateCPSResultReceived">
                                <label >@Html.LabelFor(model => model.T_DateCPSResultReceived)</label>
                                <div class="form-group" title="Date  C P S  Result  Received">
                                    <div class="input-group date" id="datetimepickerT_DateCPSResultReceived">
							@Html.TextBoxFor(model => model.T_DateCPSResultReceived, new {@id = "T_DateCPSResultReceived" ,@class = "form-control" })
										<span class="input-group-addon btn-default calendar">
                                           <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.T_DateCPSResultReceived)
                                </div>
                                <script type="text/javascript">
                                    $(function () {
										$('#T_DateCPSResultReceived').datetimepicker({ pickTime:false });
                                        $('#datetimepickerT_DateCPSResultReceived').datetimepicker({ pickTime:false });
                                    });
                                </script>
                            </div>
		}


                                    

			@if(User.CanView("T_BackgroundCheck","T_CPSResultID"))
				{
					
							<div class='col-sm-6'  id="dvT_CPSResultID">
                        <div class='form-group'>
                            <label>@Html.LabelFor(model => model.T_CPSResultID) </label>
                            <div class="input-group" style="width: 100%;">
									@Html.DropDownList("T_CPSResultID", null, "-- Select --", new {       @class = "chosen-select form-control", @HostingName = "T_CPSResults", @dataurl = Url.Action("GetAllValue", "T_CPSResults",new { caller = "T_CPSResultID" }) })
 @*<script>
    $(function () {
        LoadUserDropdown('ID');
    });
</script>*@
                                @Html.ValidationMessageFor(model => model.T_CPSResultID)
                            </div>
                        </div>
                    </div>
     
		}
							</div>
                         </div>
                      </div>
					@Html.HiddenFor(model => model.T_ReviewerID, new {@class = "form-control", Value = @ViewData["HostingEntityID"] })
       </div>
                        </div>
                    </div>
                </div>
        </div>
		<button id="CancelQuickAdd" type="button" class="btn btn-default btn-sm" data-dismiss="modal" aria-hidden="true">Cancel</button>

		var busineesrule = User.businessrules.Where(p => p.EntityName == "T_BackgroundCheck").ToList();
		 var lstinlineentityname = "";
		 var lstinlineassocdispname ="";
		 var lstinlineassocname = "";
        if (ViewBag.IsAddPop != null)
		{
			<input type="submit" value="Create" class="btn btn-primary btn-sm" onclick="QuickAdd(event,'T_BackgroundCheck','@busineesrule',@busineesrule.Count,'OnCreate','ErrMsgQuickAdd',false,'@lstinlineassocname','@lstinlineassocdispname','@lstinlineentityname');" />
 <input type="submit"  value="Create & Continue" btnval="createcontinue" class="btn btn-primary btn-sm" onclick="QuickAdd(event,'T_BackgroundCheck','@busineesrule',@busineesrule.Count,'OnCreate','ErrMsgQuickAdd',false,'@lstinlineassocname','@lstinlineassocdispname','@lstinlineentityname');" />
		}
		else
		{
			<input type="submit" value="Create" class="btn btn-primary btn-sm" onclick="QuickAddFromIndex(event,true,'T_BackgroundCheck','@ViewData["AssociatedType"]','@busineesrule',@busineesrule.Count,'OnCreate','ErrMsgQuickAdd',false,'@lstinlineassocname','@lstinlineassocdispname','@lstinlineentityname');" />
 <input type="submit" value="Create & Continue" btnval="createcontinue" class="btn btn-primary btn-sm" onclick="QuickAddFromIndex(event,true,'T_BackgroundCheck','@ViewData["AssociatedType"]','@busineesrule',@busineesrule.Count,'OnCreate','ErrMsgQuickAdd',false,'@lstinlineassocname','@lstinlineassocdispname','@lstinlineentityname');" />
		}
}
<script src="@Url.Content("~/bundles/jqueryval")" type="text/javascript"></script>
<script src="@Url.Content("~/bundles/common3")" type="text/javascript"></script>


<script type='text/javascript'>
    $(document).ready(function () {
        try {
            document.getElementsByTagName("body")[0].focus();
            $("#addPopup").removeAttr("tabindex");
            var cltcoll = $("#dvPopup").find('input[type=text]:not([class=hidden]):not([readonly]),textarea:not([readonly])');
            var cltid = "";
            $(cltcoll).each(function () {
			  if ($(this).attr("id") == undefined)
                    return
                var dvhidden = $("#dv" + $(this).attr("id"));
				var dvDate = $("#datetimepicker" + $(this).attr("id")).attr("id");

                if (!(dvhidden.css('display') == 'none') && dvDate == undefined) {
                    cltid = $(this);
                    return false;
                }
            });
            if (cltid != "" && cltid != undefined)
                setTimeout(function () { $(cltid).focus(); }, 500);
			var ctrlReadonly = $("#dvPopup").find('input[type=text][readonly],textarea[readonly]');
            $(ctrlReadonly).each(function () {
                $(ctrlReadonly).attr("tabindex", "-1");
            });
        }
        catch (ex) { }
    });
</script>

