@model GeneratorBase.MVC.Models.T_BackgroundCheck
@using PagedList;
@{
    ViewBag.Title = "View Background Check";
	var EntityDisplayNameReflector = ModelReflector.Entities.FirstOrDefault(p => p.Name == "T_BackgroundCheck");
    var EntityDisplayName = EntityDisplayNameReflector != null ? EntityDisplayNameReflector.DisplayName : "Background Check";
}
<script>
    $(document).ready(function () {
			 if ($.cookie('@User.JavaScriptEncodedName@Model.Id' + 'TabCookie') != null) {
				$('a[href="#' + $.cookie('@User.JavaScriptEncodedName@Model.Id' + 'TabCookie') + '"]').click();
			 }
    });
</script>
@{
    if (!string.IsNullOrEmpty(ViewBag.T_BackgroundCheckIsHiddenRule))
    {
        @Html.Raw(ViewBag.T_BackgroundCheckIsHiddenRule);
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_BackgroundCheckIsGroupsHiddenRule))
    {
        @Html.Raw(ViewBag.T_BackgroundCheckIsGroupsHiddenRule);
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_BackgroundCheckIsSetValueUIRule))
    {
        @Html.Raw(ViewBag.T_BackgroundCheckIsSetValueUIRule);
    }
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-title">
            <i class="glyphicon glyphicon-hand-down text-primary"></i> @EntityDisplayName  <i class="glyphicon glyphicon-chevron-right small"></i> <span>View</span>
        </h1>
        <h2 class="text-primary"><span id="HostingEntityDisplayValue">@Html.DisplayFor(model => model.DisplayValue)</span>
			<div class="btn-group pull-right fixactionbut">
            <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle pull-right">
                Action
                <span class="caret">    </span>
            </button>
			<ul class="dropdown-menu pull-left">               
				<li>
                    @if ( User.CanEdit("T_BackgroundCheck"))
                    {
                        <a href="@Url.Action("Edit","T_BackgroundCheck", new {UrlReferrer = Request.UrlReferrer,id = Model.Id,AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) },null)"><i class="glyphicon glyphicon-edit"></i>  Edit</a>
                    }
                </li>             
				<li>
                    @if ( User.CanDelete("T_BackgroundCheck"))
                    {
                        <a href="@Url.Action("Delete", "T_BackgroundCheck", new { UrlReferrer = Request.UrlReferrer,id = Model.Id, AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) }, null)"><i class="glyphicon glyphicon-remove-sign"></i>  Delete</a>
                    }
                </li>
	<li class="divider" style="clear:both"></li>
	<li class="dropdown-submenu pull-left" id="AddAssociationdropmenuT_BackgroundCheck">
	 @{ var dropmenu = false; }
	<a tabindex="-1" href="#" style="margin-bottom:10px;"><i class="fam-anchor small"></i> Add</a>
    <ul class="dropdown-menu pull-left">
				@if ( User.CanAdd("T_Comment"))
				{ dropmenu = true;
					<li>
						<a onclick=@Html.Raw("NavigateToUrl('" + Url.Action("Create", "T_Comment", 
						new { UrlReferrer = Request.Url,
								AssociatedType ="T_PreemploymentComments", 
							HostingEntityName = "T_BackgroundCheck",
							HostingEntityID = @Convert.ToString(Model.Id) }, null) + "');")>
							<i class="glyphicon glyphicon-plus"></i>  Comment
						</a>
					</li>
				}
			</ul>
</li>
@if(!dropmenu)
{
    <script>
        $("#AddAssociationdropmenuT_BackgroundCheck").hide();
    </script>
}
 <li class="divider" style="clear:both"></li>
 <li class="dropdown-submenu pull-left">
	<a tabindex="-1" href="#" style="margin-bottom:10px;">Find Matching</a>
    <ul class="dropdown-menu pull-left">
<li>
		<a href="@Url.Action("FindFSearch", "FileDocument", new {sourceEntity="T_BackgroundCheck",id=Model.Id}, null)">Document</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_Licenses", new {sourceEntity="T_BackgroundCheck",id=Model.Id}, null)">Licenses</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_ServiceRecord", new {sourceEntity="T_BackgroundCheck",id=Model.Id}, null)">Service Record</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_Comment", new {sourceEntity="T_BackgroundCheck",id=Model.Id}, null)">Comment</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_DrugAlcoholTest", new {sourceEntity="T_BackgroundCheck",id=Model.Id}, null)">Drug & Alcohol Test</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_UnitX", new {sourceEntity="T_BackgroundCheck",id=Model.Id}, null)">UnitX</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_JobAssignment", new {sourceEntity="T_BackgroundCheck",id=Model.Id}, null)">Job Assignment</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_LeaveProfile", new {sourceEntity="T_BackgroundCheck",id=Model.Id}, null)">Leave</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_EmployeeInjury", new {sourceEntity="T_BackgroundCheck",id=Model.Id}, null)">Employee Injury</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_Education", new {sourceEntity="T_BackgroundCheck",id=Model.Id}, null)">Education</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_Accommodation", new {sourceEntity="T_BackgroundCheck",id=Model.Id}, null)">Accommodation</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_PayDetails", new {sourceEntity="T_BackgroundCheck",id=Model.Id}, null)">Pay Details </a>
</li>
</ul>
</li>
			</ul>

		
		<a href="#" class="btn btn-xs closeall pull-right"><i class="glyphicon glyphicon-chevron-up"></i> Collapse All</a> <a href="#" class="btn btn-xs openall pull-right" style="margin-right:5px;"><i class="glyphicon glyphicon-chevron-down"></i> Expand All</a>
</div>


		</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="tabbable responsive">
    <ul class="nav nav-tabs">
	 <li class="active"><a href="#Details" onclick="ClearTabCookie('@User.JavaScriptEncodedName@Model.Id');" data-toggle="tab">Details</a></li>
		 <li @(!User.CanView("T_Comment") ?"style=display:none;":"")><a onclick="LoadTab('T_PreemploymentComments','@User.JavaScriptEncodedName@Model.Id','@Html.Raw(Url.Action("Index", "T_Comment", new {RenderPartial=true, HostingEntity ="T_BackgroundCheck", HostingEntityID = @Model.Id, AssociatedType = "T_PreemploymentComments",TabToken = DateTime.Now.Ticks,}))')" href="#T_PreemploymentComments" data-toggle="tab">
		 Comment
		 <span class="badge bg-blue"><div id="dvcnt_T_PreemploymentComments">@ViewBag.T_PreemploymentCommentsCount</div></span>
		 		 </a></li>
		 <li @(!User.CanView("JournalEntry")?"style=display:none;":"")><a onclick="LoadTab('JournalEntryToT_BackgroundCheckRelation','@User.JavaScriptEncodedName@Model.Id','@Url.Action("Index", "JournalEntry", new { RenderPartial = true, HostingEntity = "T_BackgroundCheck", HostingEntityID = @Model.Id, AssociatedType = "JournalEntry", TabToken = DateTime.Now.Ticks })')" href="#JournalEntryToT_BackgroundCheckRelation" data-toggle="tab">Background Check Journal</a></li>
    </ul>
	  @Html.HiddenFor(model => model.Id)
	    <div class="tab-content">
		   <div class="tab-pane fade in active" id="Details">
				 <div class="panel panel-default AppForm">
					<div class="panel-body">
                                  
			
<div class="row">
				<div class="col-sm-12 col-md-12 col-xs-12">
			<div class="panel panel-default" id="dvGroup48923">
                <div class="panel-heading clearfix">
					<i class="icon-calendar"></i>
								<h3 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#employeeinformationbody"><span class="glyphicon glyphicon-chevron-down"></span> Employee Information</a></h3>
                               </div>
							  <div class="panel-body panel-collapse in" id="employeeinformationbody">					
@if(User.CanView("T_BackgroundCheck","T_EmployeeCriminalBackgroundCheckID"))
{
<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_EmployeeCriminalBackgroundCheck">
	<div class='form-group' >
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_EmployeeCriminalBackgroundCheckID)</label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
 @if (Model.t_employeecriminalbackgroundcheck!=null && !string.IsNullOrEmpty(Model.t_employeecriminalbackgroundcheck.DisplayValue))
        {
		 <p class="viewlabel" id="lblT_EmployeeCriminalBackgroundCheck">
		@Html.ActionLink(Html.DisplayFor(model => model.t_employeecriminalbackgroundcheck.DisplayValue).ToString(), "Details", "T_Employee", new { Id = Html.DisplayFor(model => model.t_employeecriminalbackgroundcheck.Id).ToString() }, null)
		</p>
		}
		</div>
	</div>
</div>
}
@if(User.CanView("T_BackgroundCheck","T_RetainTablePreEmploymentCheckID"))
{
<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_RetainTablePreEmploymentCheck">
	<div class='form-group' >
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_RetainTablePreEmploymentCheckID)</label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
 @if (Model.t_retaintablepreemploymentcheck!=null && !string.IsNullOrEmpty(Model.t_retaintablepreemploymentcheck.DisplayValue))
        {
		 <p class="viewlabel" id="lblT_RetainTablePreEmploymentCheck">
		@Html.ActionLink(Html.DisplayFor(model => model.t_retaintablepreemploymentcheck.DisplayValue).ToString(), "Details", "T_RetainTable", new { Id = Html.DisplayFor(model => model.t_retaintablepreemploymentcheck.Id).ToString() }, null)
		</p>
		}
		</div>
	</div>
</div>
}
 
			</div>
        </div>
	</div>
	</div>
<div class="row">
				<div class="col-sm-12 col-md-12 col-xs-12">
			<div class="panel panel-default" id="dvGroup48922">
                <div class="panel-heading clearfix">
					<i class="icon-calendar"></i>
											
									<h3 class="panel-title">Background Check</h3>
								</div>
                                <div class="panel-body">
@if(User.CanView("T_BackgroundCheck","T_DateFingerPrintTaken"))
{
<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_DateFingerPrintTaken">
	<div class='form-group' title="@String.Format("{0:MM/dd/yyyy}", Model.T_DateFingerPrintTaken)">
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_DateFingerPrintTaken) </label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
		
				
				<p id="lblT_DateFingerPrintTaken" class="viewlabel">@String.Format("{0:MM/dd/yyyy}", Model.T_DateFingerPrintTaken)</p>
					
					</div>
	</div>
</div>
}
@if(User.CanView("T_BackgroundCheck","T_DateInformationReceivedFromCBC"))
{
<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_DateInformationReceivedFromCBC">
	<div class='form-group' title="@String.Format("{0:MM/dd/yyyy}", Model.T_DateInformationReceivedFromCBC)">
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_DateInformationReceivedFromCBC) </label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
		
				
				<p id="lblT_DateInformationReceivedFromCBC" class="viewlabel">@String.Format("{0:MM/dd/yyyy}", Model.T_DateInformationReceivedFromCBC)</p>
					
					</div>
	</div>
</div>
}
@if(User.CanView("T_BackgroundCheck","T_PreEmploymentCheckResultsVAStateID"))
{
<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_PreEmploymentCheckResultsVAState">
	<div class='form-group' >
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_PreEmploymentCheckResultsVAStateID)</label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
 @if (Model.t_preemploymentcheckresultsvastate!=null && !string.IsNullOrEmpty(Model.t_preemploymentcheckresultsvastate.DisplayValue))
        {
		 <p class="viewlabel" id="lblT_PreEmploymentCheckResultsVAState">
		@Html.ActionLink(Html.DisplayFor(model => model.t_preemploymentcheckresultsvastate.DisplayValue).ToString(), "Details", "T_ResultsTable", new { Id = Html.DisplayFor(model => model.t_preemploymentcheckresultsvastate.Id).ToString() }, null)
		</p>
		}
		</div>
	</div>
</div>
}
@if(User.CanView("T_BackgroundCheck","T_BackgroundDispositionDate"))
{
<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_BackgroundDispositionDate">
	<div class='form-group' title="@String.Format("{0:MM/dd/yyyy}", Model.T_BackgroundDispositionDate)">
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_BackgroundDispositionDate) </label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
		
				
				<p id="lblT_BackgroundDispositionDate" class="viewlabel">@String.Format("{0:MM/dd/yyyy}", Model.T_BackgroundDispositionDate)</p>
					
					</div>
	</div>
</div>
}
@if(User.CanView("T_BackgroundCheck","T_ReviewDate"))
{
<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_ReviewDate">
	<div class='form-group' title="@String.Format("{0:MM/dd/yyyy}", Model.T_ReviewDate)">
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_ReviewDate) </label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
		
				
				<p id="lblT_ReviewDate" class="viewlabel">@String.Format("{0:MM/dd/yyyy}", Model.T_ReviewDate)</p>
					
					</div>
	</div>
</div>
}
@if(User.CanView("T_BackgroundCheck","T_ReviewerID"))
{
<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_Reviewer">
	<div class='form-group' >
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_ReviewerID)</label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
 @if (Model.t_reviewer!=null && !string.IsNullOrEmpty(Model.t_reviewer.DisplayValue))
        {
		 <p class="viewlabel" id="lblT_Reviewer">
		@Html.ActionLink(Html.DisplayFor(model => model.t_reviewer.DisplayValue).ToString(), "Details", "T_Employee", new { Id = Html.DisplayFor(model => model.t_reviewer.Id).ToString() }, null)
		</p>
		}
		</div>
	</div>
</div>
}
 
			</div>
        </div>
	</div>
	</div>
<div class="row">
				<div class="col-sm-12 col-md-12 col-xs-12">
			<div class="panel panel-default" id="dvGroup48924">
                <div class="panel-heading clearfix">
					<i class="icon-calendar"></i>
								<h3 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#childprotectiveservicesbody"><span class="glyphicon glyphicon-chevron-down"></span> Child Protective Services</a></h3>
                               </div>
							  <div class="panel-body panel-collapse in" id="childprotectiveservicesbody">					
@if(User.CanView("T_BackgroundCheck","T_DateCheckInitiated"))
{
<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_DateCheckInitiated">
	<div class='form-group' title="@String.Format("{0:MM/dd/yyyy}", Model.T_DateCheckInitiated)">
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_DateCheckInitiated) </label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
		
				
				<p id="lblT_DateCheckInitiated" class="viewlabel">@String.Format("{0:MM/dd/yyyy}", Model.T_DateCheckInitiated)</p>
					
					</div>
	</div>
</div>
}
@if(User.CanView("T_BackgroundCheck","T_DateCPSResultReceived"))
{
<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_DateCPSResultReceived">
	<div class='form-group' title="@String.Format("{0:MM/dd/yyyy}", Model.T_DateCPSResultReceived)">
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_DateCPSResultReceived) </label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
		
				
				<p id="lblT_DateCPSResultReceived" class="viewlabel">@String.Format("{0:MM/dd/yyyy}", Model.T_DateCPSResultReceived)</p>
					
					</div>
	</div>
</div>
}
@if(User.CanView("T_BackgroundCheck","T_CPSResultID"))
{
<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_CPSResult">
	<div class='form-group' >
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_CPSResultID)</label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
 @if (Model.t_cpsresult!=null && !string.IsNullOrEmpty(Model.t_cpsresult.DisplayValue))
        {
		 <p class="viewlabel" id="lblT_CPSResult">
		@Html.ActionLink(Html.DisplayFor(model => model.t_cpsresult.DisplayValue).ToString(), "Details", "T_CPSResults", new { Id = Html.DisplayFor(model => model.t_cpsresult.Id).ToString() }, null)
		</p>
		}
		</div>
	</div>
</div>
}
@if(User.CanView("T_BackgroundCheck","T_CPSReviewDate"))
{
<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_CPSReviewDate">
	<div class='form-group' title="@String.Format("{0:MM/dd/yyyy}", Model.T_CPSReviewDate)">
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_CPSReviewDate) </label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
		
				
				<p id="lblT_CPSReviewDate" class="viewlabel">@String.Format("{0:MM/dd/yyyy}", Model.T_CPSReviewDate)</p>
					
					</div>
	</div>
</div>
}
 
			</div>
        </div>
	</div>
	</div>
<div class="row">
				<div class="col-sm-12 col-md-12 col-xs-12">
			<div class="panel panel-default" id="dvGroup48925">
                <div class="panel-heading clearfix">
					<i class="icon-calendar"></i>
								<h3 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#notesbody"><span class="glyphicon glyphicon-chevron-down"></span> Notes</a></h3>
                               </div>
							  <div class="panel-body panel-collapse in" id="notesbody">					
@if(User.CanView("T_BackgroundCheck","T_Notes"))
{
<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_Notes">
	<div class='form-group' title="@Model.T_Notes">
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_Notes)</label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
		<p class="viewlabelmultiline">@Model.T_Notes</p>
		</div>
	</div>
</div>
}
 
			</div>
        </div>
	</div>
	</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
				<a class="btn btn-default btn-sm pull-left formbuttonfix" Onclick="goBack('@Url.Action("Index","T_BackgroundCheck")');">Back</a>
				@*@Html.ActionLink("Back", "Cancel", new { UrlReferrer = Request.UrlReferrer }, new { @class = "btn btn-default btn-sm pull-left formbuttonfix" })*@
					
					 @if ( User.CanEdit("T_BackgroundCheck"))
                     {
                          @Html.ActionLink("Edit", "Edit", new { UrlReferrer = Request.UrlReferrer, id = Model.Id, AssociatedType = ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) }, new { @class = "btn btn-primary btn-sm pull-left formbuttonfix" })
                     }
				   
 @{ var dropmenubottom = false; }
<div class="dropdown pull-left formbuttonfix" style="" id="AddAssociationdropmenubottomT_BackgroundCheck">
<button type="button" class="btn btn-primary btn-sm dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
            Add Association
            <span class="caret"></span>
        </button>
		 <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
			@if (User.CanAdd("T_Comment"))
            {
			    dropmenubottom = true;
                <li><a onclick=@Html.Raw("NavigateToUrl('" + Url.Action("Create", "T_Comment",
						new { UrlReferrer = Request.Url,
								AssociatedType ="T_PreemploymentComments", 
						HostingEntityName = "T_BackgroundCheck",
                              HostingEntityID = @Convert.ToString(Model.Id)
                        }, null) + "');")>
                   Add  Comment
                </a>
				</li>
            }

			
</ul>
</div>
@if(!dropmenubottom)
{
    <script>
        $("#AddAssociationdropmenubottomT_BackgroundCheck").hide();
    </script>
}
			</div> 
			</div><div class="clearfix" style="clear:both"></div>
	</div>    
<div class="tab-pane fade in" id="T_PreemploymentComments">
     @if ( User.CanView("T_Comment"))
	{
	  // Html.RenderAction("Index", "T_Comment", new {RenderPartial=true, HostingEntity = "T_BackgroundCheck", HostingEntityID = @Model.Id, AssociatedType = "T_PreemploymentComments" }); 
	}
  </div>
<div class="tab-pane fade in" id="JournalEntryToT_BackgroundCheckRelation">
            @if ( User.CanView("JournalEntry"))
		   {
			//	Html.RenderAction("Index", "JournalEntry", new { RenderPartial = true, HostingEntity = "T_BackgroundCheck", HostingEntityID = @Model.Id, AssociatedType = "JournalEntry" });
		   }
  </div>
	</div> <!-- /tab-content --><br />

<br/>
</div>
 
