@model GeneratorBase.MVC.Models.T_BackgroundCheck
@using PagedList;
@{
    ViewBag.Title = "Edit Background Check";
	var EditPermission = User.CanEditItem("T_BackgroundCheck", Model, User);
	var DeletePermission = User.CanDeleteItem("T_BackgroundCheck", Model, User);
	Layout = null;
	
}
@functions {
    object getHtmlAttributes(string Property)
    {
        if (User.CanEdit("T_BackgroundCheck", Property))
        {
            return new { @class = "form-control" };
        } return new { @class = "form-control", @readonly = "readonly" };
    }
}
<script>
    $(document).ready(function () {
        try {
		 if ($('#EntityT_BackgroundCheckDisplayValue').has('option').length > 0) {
			var RecId = $("#Id").val()
            $("#T_BackgroundCheckDD").append($("#EntityT_BackgroundCheckDisplayValue").html());
            $("#T_BackgroundCheckDD").val(RecId);

			var text = $("option:selected", $("#T_BackgroundCheckDD")).text();
            $("#T_BackgroundCheckDD").attr('data-toggle', 'tooltip')
            $("#T_BackgroundCheckDD").attr('title', text);

            var lastOptionVal = $('#T_BackgroundCheckDD option:last-child').val();
            var fristOptionVal = $('#T_BackgroundCheckDD option:first-child').val();
            if (lastOptionVal == RecId)
			{
                $('#next').hide();
				$('#SaveAndContinue').hide();
				}

            if (fristOptionVal == RecId)
                $('#prev').hide();
			} else {  $('#dvsavenext').hide(); $('#SaveAndContinue').hide(); }
            var hostingEntityName = "";
            if ('@Convert.ToString(ViewData["AssociatedType"])' != null) {
                hostingEntityName = '@Convert.ToString(ViewData["AssociatedType"])';
				if( '@Convert.ToBoolean(ViewData["IsFilter"])'!="False")
				$('#' + hostingEntityName + 'ID').attr("lock","true");
				$('#' + hostingEntityName + 'ID').trigger("change");
				 $("input[type='radio'][name='" + hostingEntityName + "ID']").each(function () {
                    if (!this.checked)
                        this.closest("li").style.display = "none";
                });		
						
            }
        }
        catch (ex) { }
    });
</script>
<script type="text/javascript">
    var config = {
        '.chosen-select': {},
        '.chosen-select-deselect': { allow_single_deselect: true },
        '.chosen-select-no-single': { disable_search_threshold: 10 },
        '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
        '.chosen-select-width': { width: "95%" }
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }
</script>

@{
    if (!string.IsNullOrEmpty(ViewBag.T_BackgroundCheckIsHiddenRule))
    {
        @Html.Raw(ViewBag.T_BackgroundCheckIsHiddenRule);
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_BackgroundCheckIsGroupsHiddenRule))
    {
        @Html.Raw(ViewBag.T_BackgroundCheckIsGroupsHiddenRule);
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_BackgroundCheckIsSetValueUIRule))
    {
        @Html.Raw(ViewBag.T_BackgroundCheckIsSetValueUIRule);
    }
}
<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<div class="row">
    <div class="col-lg-12">
        @*<label id="ErrMsg" class="text-primary small pull-right" style="color:red; vertical-align:middle; font-weight:100;"></label>*@
		<input type="hidden" id="ErrMsg" />
		<div id="errorContainerEdit" style="display: none">
            <div id="errorsMsgEdit"></div>
            <div id="errorsEdit"></div>
        </div>
     <div class="col-sm-6 col-md-6 col-xs-12" style="margin-top: -12px;">
            <h2 class="text-primary">
                <span id="HostingEntityDisplayValue">@Html.DisplayFor(model => model.DisplayValue)</span>
            </h2>
        </div>
        @if (EditPermission)
            {
            <div class="col-sm-6 col-md-6 col-xs-12" id="dvsavenext">
                <button class="btn btn-default btn-xs pull-right" id="next" onclick="@Html.Raw("nextFun('T_BackgroundCheck')")">Next >></button>
                @Html.DropDownList("T_BackgroundCheckDD", null, null, new { @onchange = "FillDisplayValueQEdit('T_BackgroundCheck')", @required = "required", @class = "pull-right", @Style = "height: 22px;width: 170px;" })
                <button class="btn btn-default btn-xs pull-right" id="prev" onclick="@Html.Raw("prevFun('T_BackgroundCheck')")"><< Prev</button>
            </div>
        }
    </div>
    <!-- /.col-lg-12 -->
	<div id="divDisplayBRmsgBeforeSaveProp" style="display:none;">
</div>
<div id="divDisplayBRmsgMandatory" style="display:none;">
</div>
<div id="divDisplayLockRecord" style="display:none;">
</div>
<div id="divDisplayBRReadOnly" style="display:none;">
</div>
<br/>
</div>
	
@using (Html.BeginForm("EditQuick","T_BackgroundCheck",new {UrlReferrer =Convert.ToString(ViewData["T_BackgroundCheckParentUrl"])}, FormMethod.Post, new { enctype = "multipart/form-data", @id = "frmQEditT_BackgroundCheck" }))
{
     Html.ValidationSummary(true);
                Html.EnableClientValidation();
    @Html.HiddenFor(model => model.Id)
	@Html.HiddenFor(model => model.ConcurrencyKey)
	 <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12" style="padding:0px; margin:0px;">
                    <div class="panel panel-default AppForm">
						<div class="panel-body">
						    @Html.Hidden("AssociatedEntity", Convert.ToString(ViewData["AssociatedType"]))
											<div class="row">
												<div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="panel panel-default" id="dvGroup48923">
                                        <div class="panel-heading clearfix">
                                            <i class="icon-calendar"></i>
								<h3 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#employee informationbody" alt="Employee Information" title="Employee Information"><span class="glyphicon glyphicon-chevron-down"></span> Employee Information</a></h3>
                               </div>
							  <div class="panel-body panel-collapse in" id="employee informationbody">					
				@if(User.CanView("T_BackgroundCheck","T_EmployeeCriminalBackgroundCheckID"))
				{

				   <div class='col-sm-6 col-md-6 col-xs-12' id="dvT_EmployeeCriminalBackgroundCheckID">
                        <div class='form-group'>
                            <label  >@Html.LabelFor(model => model.T_EmployeeCriminalBackgroundCheckID) <span class="text-danger-reg">*</span></label>
							
							<div class="input-group" style="width:100%;">									
									@if (User.CanEdit("T_BackgroundCheck", "T_EmployeeCriminalBackgroundCheckID"))
		{
			@Html.DropDownList("T_EmployeeCriminalBackgroundCheckID", null, "-- Select --", new {   @required ="required",     @class = "chosen-select form-control", @HostingName = "T_Employee", @dataurl = Url.Action("GetAllValue", "T_Employee",new { caller = "T_EmployeeCriminalBackgroundCheckID" }) })
		}
		else
		{
			@Html.HiddenFor(model => model.T_EmployeeCriminalBackgroundCheckID, new { @class = "form-control" })
			@Html.DropDownList("T_EmployeeCriminalBackgroundCheckID", null, "-- Select --", new {  @required ="required",     @class = "chosen-select form-control", @disabled="disabled", @HostingName = "T_Employee", @dataurl = Url.Action("GetAllValue", "T_Employee",new { caller = "T_EmployeeCriminalBackgroundCheckID" }) })
		}
                                @Html.ValidationMessageFor(model => model.T_EmployeeCriminalBackgroundCheckID)
								 
							</div>
							
                        </div>
                    </div>
                 
					} else { @Html.HiddenFor(model => model.T_EmployeeCriminalBackgroundCheckID, new { @class = "form-control" })}
				@if(User.CanView("T_BackgroundCheck","T_RetainTablePreEmploymentCheckID"))
				{

				   <div class='col-sm-6 col-md-6 col-xs-12' id="dvT_RetainTablePreEmploymentCheckID">
                        <div class='form-group'>
                            <label  >@Html.LabelFor(model => model.T_RetainTablePreEmploymentCheckID) </label>
							
							<div class="input-group" style="width:100%;">									
									@if (User.CanEdit("T_BackgroundCheck", "T_RetainTablePreEmploymentCheckID"))
		{
			@Html.DropDownList("T_RetainTablePreEmploymentCheckID", null, "-- Select --", new {      @class = "chosen-select form-control", @HostingName = "T_RetainTable", @dataurl = Url.Action("GetAllValue", "T_RetainTable",new { caller = "T_RetainTablePreEmploymentCheckID" }) })
		}
		else
		{
			@Html.HiddenFor(model => model.T_RetainTablePreEmploymentCheckID, new { @class = "form-control" })
			@Html.DropDownList("T_RetainTablePreEmploymentCheckID", null, "-- Select --", new {     @class = "chosen-select form-control", @disabled="disabled", @HostingName = "T_RetainTable", @dataurl = Url.Action("GetAllValue", "T_RetainTable",new { caller = "T_RetainTablePreEmploymentCheckID" }) })
		}
                                @Html.ValidationMessageFor(model => model.T_RetainTablePreEmploymentCheckID)
								 
							</div>
							
                        </div>
                    </div>
                 
					} else { @Html.HiddenFor(model => model.T_RetainTablePreEmploymentCheckID, new { @class = "form-control" })}
							</div>
                         </div>
                      </div>
       </div>
											<div class="row">
												<div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="panel panel-default" id="dvGroup48922">
                                        <div class="panel-heading clearfix">
                                            <i class="icon-calendar"></i>
											
									<h3 class="panel-title" alt="Background Check" title="Background Check">Background Check</h3>
								</div>
                                <div class="panel-body">
@if(User.CanView("T_BackgroundCheck","T_DateFingerPrintTaken"))
{
                      
					  						 <div class='col-sm-6 col-md-6 col-xs-12' id="dvT_DateFingerPrintTaken">
							  <div class="form-group" title="Date  Finger  Print  Taken">
                                <label  >@Html.LabelFor(model => model.T_DateFingerPrintTaken) <span class="text-danger-reg">*</span></label>
								
                                    <div class="input-group date" id="datetimepickerT_DateFingerPrintTaken">
 @Html.TextBoxFor(model => model.T_DateFingerPrintTaken, "{0:MM/dd/yyyy}", User.CanEdit("T_BackgroundCheck", "T_DateFingerPrintTaken") ? (object)new {@class = "form-control" } : (object)new { @class = "form-control", @readonly="readonly" })

                                        <span class="input-group-addon btn-default calendar">
                                           <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.T_DateFingerPrintTaken)
								
                                </div>
	
								@if(User.CanEdit("T_BackgroundCheck", "T_DateFingerPrintTaken"))
								{
                                <script type="text/javascript">
                                    $(function () {
										$('#T_DateFingerPrintTaken').datetimepicker({ pickTime:false });
                                        $('#datetimepickerT_DateFingerPrintTaken').datetimepicker({ pickTime:false });
                                    });
                                </script>
								}
                            </div>
											  
					        
} else { @Html.HiddenFor(model => model.T_DateFingerPrintTaken, new { @class = "form-control" })}
@if(User.CanView("T_BackgroundCheck","T_DateInformationReceivedFromCBC"))
{
                      
					  						 <div class='col-sm-6 col-md-6 col-xs-12' id="dvT_DateInformationReceivedFromCBC">
							  <div class="form-group" title="VSP Response Rcvd Date">
                                <label  >@Html.LabelFor(model => model.T_DateInformationReceivedFromCBC) </label>
								
                                    <div class="input-group date" id="datetimepickerT_DateInformationReceivedFromCBC">
 @Html.TextBoxFor(model => model.T_DateInformationReceivedFromCBC, "{0:MM/dd/yyyy}", User.CanEdit("T_BackgroundCheck", "T_DateInformationReceivedFromCBC") ? (object)new {@class = "form-control" } : (object)new { @class = "form-control", @readonly="readonly" })

                                        <span class="input-group-addon btn-default calendar">
                                           <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.T_DateInformationReceivedFromCBC)
								
                                </div>
	
								@if(User.CanEdit("T_BackgroundCheck", "T_DateInformationReceivedFromCBC"))
								{
                                <script type="text/javascript">
                                    $(function () {
										$('#T_DateInformationReceivedFromCBC').datetimepicker({ pickTime:false });
                                        $('#datetimepickerT_DateInformationReceivedFromCBC').datetimepicker({ pickTime:false });
                                    });
                                </script>
								}
                            </div>
											  
					        
} else { @Html.HiddenFor(model => model.T_DateInformationReceivedFromCBC, new { @class = "form-control" })}
				@if(User.CanView("T_BackgroundCheck","T_PreEmploymentCheckResultsVAStateID"))
				{

				   <div class='col-sm-6 col-md-6 col-xs-12' id="dvT_PreEmploymentCheckResultsVAStateID">
                        <div class='form-group'>
                            <label  >@Html.LabelFor(model => model.T_PreEmploymentCheckResultsVAStateID) </label>
							
							<div class="input-group" style="width:100%;">									
									@if (User.CanEdit("T_BackgroundCheck", "T_PreEmploymentCheckResultsVAStateID"))
		{
			@Html.DropDownList("T_PreEmploymentCheckResultsVAStateID", null, "-- Select --", new {      @class = "chosen-select form-control", @HostingName = "T_ResultsTable", @dataurl = Url.Action("GetAllValue", "T_ResultsTable",new { caller = "T_PreEmploymentCheckResultsVAStateID" }) })
		}
		else
		{
			@Html.HiddenFor(model => model.T_PreEmploymentCheckResultsVAStateID, new { @class = "form-control" })
			@Html.DropDownList("T_PreEmploymentCheckResultsVAStateID", null, "-- Select --", new {     @class = "chosen-select form-control", @disabled="disabled", @HostingName = "T_ResultsTable", @dataurl = Url.Action("GetAllValue", "T_ResultsTable",new { caller = "T_PreEmploymentCheckResultsVAStateID" }) })
		}
                                @Html.ValidationMessageFor(model => model.T_PreEmploymentCheckResultsVAStateID)
								 
							</div>
							
                        </div>
                    </div>
                 
					} else { @Html.HiddenFor(model => model.T_PreEmploymentCheckResultsVAStateID, new { @class = "form-control" })}
							</div>
                         </div>
                      </div>
       </div>
											<div class="row">
												<div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="panel panel-default" id="dvGroup48924">
                                        <div class="panel-heading clearfix">
                                            <i class="icon-calendar"></i>
								<h3 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#child protective servicesbody" alt="Child Protective Services" title="Child Protective Services"><span class="glyphicon glyphicon-chevron-down"></span> Child Protective Services</a></h3>
                               </div>
							  <div class="panel-body panel-collapse in" id="child protective servicesbody">					
@if(User.CanView("T_BackgroundCheck","T_DateCPSResultReceived"))
{
                      
					  						 <div class='col-sm-6 col-md-6 col-xs-12' id="dvT_DateCPSResultReceived">
							  <div class="form-group" title="Date  C P S  Result  Received">
                                <label  >@Html.LabelFor(model => model.T_DateCPSResultReceived) </label>
								
                                    <div class="input-group date" id="datetimepickerT_DateCPSResultReceived">
 @Html.TextBoxFor(model => model.T_DateCPSResultReceived, "{0:MM/dd/yyyy}", User.CanEdit("T_BackgroundCheck", "T_DateCPSResultReceived") ? (object)new {@class = "form-control" } : (object)new { @class = "form-control", @readonly="readonly" })

                                        <span class="input-group-addon btn-default calendar">
                                           <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.T_DateCPSResultReceived)
								
                                </div>
	
								@if(User.CanEdit("T_BackgroundCheck", "T_DateCPSResultReceived"))
								{
                                <script type="text/javascript">
                                    $(function () {
										$('#T_DateCPSResultReceived').datetimepicker({ pickTime:false });
                                        $('#datetimepickerT_DateCPSResultReceived').datetimepicker({ pickTime:false });
                                    });
                                </script>
								}
                            </div>
											  
					        
} else { @Html.HiddenFor(model => model.T_DateCPSResultReceived, new { @class = "form-control" })}
				@if(User.CanView("T_BackgroundCheck","T_CPSResultID"))
				{

				   <div class='col-sm-6 col-md-6 col-xs-12' id="dvT_CPSResultID">
                        <div class='form-group'>
                            <label  >@Html.LabelFor(model => model.T_CPSResultID) </label>
							
							<div class="input-group" style="width:100%;">									
									@if (User.CanEdit("T_BackgroundCheck", "T_CPSResultID"))
		{
			@Html.DropDownList("T_CPSResultID", null, "-- Select --", new {      @class = "chosen-select form-control", @HostingName = "T_CPSResults", @dataurl = Url.Action("GetAllValue", "T_CPSResults",new { caller = "T_CPSResultID" }) })
		}
		else
		{
			@Html.HiddenFor(model => model.T_CPSResultID, new { @class = "form-control" })
			@Html.DropDownList("T_CPSResultID", null, "-- Select --", new {     @class = "chosen-select form-control", @disabled="disabled", @HostingName = "T_CPSResults", @dataurl = Url.Action("GetAllValue", "T_CPSResults",new { caller = "T_CPSResultID" }) })
		}
                                @Html.ValidationMessageFor(model => model.T_CPSResultID)
								 
							</div>
							
                        </div>
                    </div>
                 
					} else { @Html.HiddenFor(model => model.T_CPSResultID, new { @class = "form-control" })}
							</div>
                         </div>
                      </div>
       </div>

			@Html.HiddenFor(model => model.T_BackgroundDispositionDate, new { @class = "form-control" })
			@Html.HiddenFor(model => model.T_ReviewDate, new { @class = "form-control" })
			@Html.HiddenFor(model => model.T_ReviewerID, new { @class = "form-control" })
			@Html.HiddenFor(model => model.T_DateCheckInitiated, new { @class = "form-control" })
			@Html.HiddenFor(model => model.T_CPSReviewDate, new { @class = "form-control" })
			@Html.HiddenFor(model => model.T_Notes, new { @class = "form-control" })

	            </div>
        </div>
	</div>
</div>
		 @Html.AntiForgeryToken();
		 var businessrule1 = User.businessrules.Where(p => p.EntityName == "T_BackgroundCheck").ToList();
		 var lstinlineentityname = "";
		 var lstinlineassocdispname ="";
		 var lstinlineassocname = "";
		 <button id="CancelQuickAdd" type="button" class="btn btn-default btn-sm" data-dismiss="modal" aria-hidden="true">Cancel</button>
		 if (EditPermission)
         {
			    <input type="submit" id="command" name="command" value="Save & Close" class="btn btn-primary btn-sm" onclick="QuickEditFromGrid(event,true,'T_BackgroundCheck','@ViewData["AssociatedType"]',false,'@businessrule1',@businessrule1.Count,'OnEdit','ErrMsg',false,'@lstinlineassocname','@lstinlineassocdispname','@lstinlineentityname');" />
				<input type="submit" id="sevranBtn" style="display:none;" name="command" value="Save" class="btn btn-primary btn-sm" onclick="QuickEditFromGrid(event,true,'T_BackgroundCheck','@ViewData["AssociatedType"]',false,'@businessrule1',@businessrule1.Count,'OnEdit','ErrMsg',false,'@lstinlineassocname','@lstinlineassocdispname','@lstinlineentityname','True');" />
                <button type="button" id="SaveAndContinue" name="SaveAndContinue" class="btn btn-primary btn-sm" onclick="@Html.Raw("SaveAndContinueEdit('T_BackgroundCheck',event)")">Save & Next</button>
				<input type="hidden" name="hdncommand" value="" />
  		 }	
}
<script src="@Url.Content("~/bundles/jqueryval")" type="text/javascript"></script>
<script src="@Url.Content("~/bundles/common3")" type="text/javascript"></script>

<script>
    $("input[type='submit']").click(function (event) {
	if (!$("#frmQEditT_BackgroundCheck").valid()) return;
	
        var $this = $(this);
        $('input:hidden[name="hdncommand"]').val($this.val());
    });
</script>
@{
var businessrule = User.businessrules.Where(p => p.EntityName == "T_BackgroundCheck").ToList();


	


if ((businessrule != null && businessrule.Count > 0) )
{
var ruleids = businessrule.Select(q => q.Id).ToList();
var typelist  = string.Join(",", (new GeneratorBase.MVC.Models.RuleActionContext()).RuleActions.Where(p => ruleids.Contains(p.RuleActionID.Value) && p.associatedactiontype.TypeNo.HasValue).Select(p => p.associatedactiontype.TypeNo.Value).Distinct().ToList());

    <script>
    $(document).ready(function () {
	document.getElementById("ErrMsg").innerHTML = "";
		 var flag = true;
                var dataurl = "";
                var form = "";
                var inlinecount = "0";

				 form = $("#frmQEditT_BackgroundCheck").serialize();
					 dataurl = "@Url.Action("businessruletype", "T_BackgroundCheck", new { ruleType = "OnEdit"})";
            ApplyBusinessRuleOnPageLoad("@typelist",dataurl, "T_BackgroundCheck", false, "ErrMsg", form);
			//business rules on inline associations
    });
</script>
<script>
    $("form").submit(function (event) {
	if (!$("#frmQEditT_BackgroundCheck").valid()) return;
	document.getElementById("ErrMsg").innerHTML = "";
            var flag = true;
		var form = $("#frmQEditT_BackgroundCheck").serialize();
					});
</script>
}
 
}

<script type='text/javascript'>
    $(document).ready(function () {
        try {
            document.getElementsByTagName("body")[0].focus();
            $("#addPopup").removeAttr("tabindex");
            var cltcoll = $("#dvPopup").find('input[type=text]:not([class=hidden]):not([readonly]),textarea:not([readonly])')
            var cltid = "";
            $(cltcoll).each(function () {
			  if ($(this).attr("id") == undefined)
                    return
                var dvhidden = $("#dv" + $(this).attr("id"));
				var dvDate = $("#datetimepicker" + $(this).attr("id")).attr("id");
                if (!(dvhidden.css('display') == 'none') && dvDate == undefined) {
                    cltid = $(this);
                    return false;
                }
            });
            if (cltid != "" && cltid != undefined)
                setTimeout(function () { $(cltid).focus(); }, 500)
        }
        catch (ex) { }
    });
</script>

