@model GeneratorBase.MVC.Models.T_TypeofClaim
@{
    ViewBag.Title = "Create Type of Claim";
    Layout = null;
}
<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<link href="@Url.Content("~/Content/chosen.css")" rel="stylesheet" type="text/css" />
<script>
    var delay = (function () {
        var timer = 0;
        return function (callback, ms) {
            clearTimeout(timer);
            timer = setTimeout(callback, ms);
        };
    })();
	 $('#btnT_ClaimType').click(function () {
        var dataurl = '@Url.Action("GetAllValues1")';
        SearchListNew1($('#btnT_ClaimType'), dataurl, $('#txtSearchT_ClaimType').val(), 'T_EmployeeInjury', '@ViewData["HostingEntityID"]', 'T_TypeofClaim_T_EmployeeInjury', 'T_ClaimTypeIDAvailable', 't_claimtypefacilityassociation,t_typeofclaim');
        return false;
    });
	 $('#btnT_EmployeeInjury').click(function () {
        var dataurl = '@Url.Action("GetAllValues1")';
        SearchListNew1($('#btnT_EmployeeInjury'), dataurl, $('#txtSearchT_EmployeeInjury').val(), 'T_ClaimType', '@ViewData["HostingEntityID"]', 'T_TypeofClaim_T_ClaimType', 'T_EmployeeInjuryIDAvailable', 't_typeofclaim,t_typeofrestrictions,t_employeeemployeeinjury,t_typeofclaimmci,t_accidentshift,t_facilityaccidentoccured,t_unitwhereaccidentoccured,t_employeinjuryfloor,t_locationofaccident,t_employeeinjurycause,t_employeeinjurynature,t_employeeinjurybodypartsaffected,t_employeeinjurymachinetool,t_initialtreatmentlist,t_employeeinjurymedicalfacilityfortreatment,t_employeeinjuryrefusal,T_OSHA');
        return false;
    });
	
</script>
<center>
    <label class="small default">
        @ViewBag.DisplayVal
    </label>
</center>
@using (Html.BeginForm("CreateQuick", "T_TypeofClaim",FormMethod.Post, new { enctype = "multipart/form-data", @id="frmT_TypeofClaim" }))
{
    @Html.AntiForgeryToken();
    Html.ValidationSummary(true);
    Html.EnableClientValidation();
	 <input type="hidden" id="ErrMsgQuickAdd" />
    <div id="errorContainerQuickAdd" style="display: none">
        <div id="errorsMsgQuickAdd"></div>
        <div id="errorsQuickAdd"></div>
    </div>
    <div id="divDisplayThresholdLimit" style="display:none;">
    </div>
    <div id="divDisplayBRmsgMandatory" style="display:none;">
    </div>
    <div id="divDisplayBRmsgBeforeSaveProp" style="display:none;">
    </div>
    <div class="row" style='display:none;'>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default AppForm">
                <div class="panel-body">
               <div class="row">         
				@if (Convert.ToString(ViewData["AssociatedType"]).Trim() == "T_TypeofClaim_T_ClaimType")
                {
				 <div class='col-sm-6' >
                        <div class='form-group'>
                            <label>@Html.LabelFor(model => model.T_ClaimTypeID) </label>
                            <div class="input-group" style="width: 100%;">
		@Html.DropDownList("T_ClaimTypeID", null, "-- Select --", new {    @class = "chosen-select form-control", @HostingName = "T_ClaimType", @dataurl = Url.Action("GetAllValue", "T_ClaimType",new { caller = "T_ClaimTypeID" }) })
                                @Html.ValidationMessageFor(model => model.T_ClaimTypeID)
                            </div>
                        </div>
                    </div>
	}
				@if (Convert.ToString(ViewData["AssociatedType"]).Trim() == "T_TypeofClaim_T_EmployeeInjury")
                {
				 <div class='col-sm-6' >
                        <div class='form-group'>
                            <label>@Html.LabelFor(model => model.T_EmployeeInjuryID) </label>
                            <div class="input-group" style="width: 100%;">
		@Html.DropDownList("T_EmployeeInjuryID", null, "-- Select --", new {    @class = "chosen-select form-control", @HostingName = "T_EmployeeInjury", @dataurl = Url.Action("GetAllValue", "T_EmployeeInjury",new { caller = "T_EmployeeInjuryID" }) })
                                @Html.ValidationMessageFor(model => model.T_EmployeeInjuryID)
                            </div>
                        </div>
                    </div>
	}
       </div>
                        </div>
                    </div>
                </div>
        </div>
	if (Convert.ToString(ViewData["AssociatedType"]).Trim() != "T_TypeofClaim_T_ClaimType")
		{
		<div class="M2MList">
<div class="col-md-5" style="overflow:auto !important;max-height:400px;min-height:400px;">
            
            @Html.TextBox("txtSearchT_ClaimType", null, new { @class = "form-control", @style="margin-bottom:8px", placeholder = "Search Claim Type", @size = 10, @dataurl = Url.Action("GetAllValues") })
  
				@if (ViewBag.t_claimtypefacilityassociation!=null)
                {
						<div class='form-group col-sm-12' title="Facility" style="padding:0px 0px 0px 0px; margin:0px;">
							<div class='form-group col-sm-6' style="padding:0px">
								<label class="text-primary small"> Facility</label>
							</div>
							<div class="input-group col-sm-6" id="dvt_claimtypefacilityassociation">
		
	 @Html.DropDownList("t_claimtypefacilityassociation", null, new {   @multiple = "multiple", @HostingName = "T_Facility", @dataurl = Url.Action("GetAllMultiSelectValue", "T_Facility",null) })
						    </div>
						</div>
				}
					@if (ViewBag.t_typeofclaim!=null)
                    {
					<div class='form-group col-sm-12' title="Employee Injury" style="padding:0px 0px 0px 0px; margin:0px;">
							<div class='form-group col-sm-6' style="padding:0px">
								<label class="text-primary small"> Employee Injury</label>
							</div>
							<div class="input-group col-sm-6" id="dvt_typeofclaim">
		
	 @Html.DropDownList("t_typeofclaim", null, new {   @multiple = "multiple", @HostingName = "T_EmployeeInjury", @dataurl = Url.Action("GetAllMultiSelectValue", "T_EmployeeInjury",null) })
                                </div>
                        </div>
					}
				
               
		</div>
			<label style="display:none;">@Html.LabelFor(model => model.T_ClaimTypeID) </label>
			<div class="col-md-7">
				<div class="col-md-12">
					<h4 style="padding:5px 0px 5px 0px; font-size:14px"><span class="unselected-title">Available Claim Type </span> <span style="float:right; font-size:14px;"> Show @Html.DropDownList("PageSize", new SelectList(new Dictionary<string, string> { {"50","50"},{ "100", "100" }, { "200", "200" }, { "500", "500" }, { "All", "All" } }, "Key", "Value")
                    ,new {@dataurl=Url.Action("GetAllValues"), onchange="ListBoxPagination(this,$('#txtSearchT_ClaimType').val(),'T_EmployeeInjury', '"+ViewData["HostingEntityID"]+"', 'T_TypeofClaim_T_ClaimType', 'T_ClaimTypeIDAvailable');"})
</span></h4>
					@*@Html.TextBox("txtSearchT_ClaimType", null, new { @class = "form-control", placeholder = "Search Claim Type", @size = 10, @dataurl = Url.Action("GetAllValues") })*@
					@Html.ListBox("T_ClaimTypeIDAvailable", null, new { @class = "optionvalue", @size = 10 })

					  				</div>
				<div class="col-md-12  btn-group" style="margin-top:10px;">
					<a id="MoveRightT_ClaimType" onclick="Associate(event,'T_ClaimType');" class="btn btn-primary col-md-6" ><span id="MoveRightT_ClaimType" class="glyphicon glyphicon-chevron-down"></span></a>
					<a id="MoveLeftT_ClaimType"  onclick="Associate(event,'T_ClaimType');"class="btn btn-primary col-md-6" ><span id="MoveLeftT_ClaimType" class="glyphicon glyphicon-chevron-up"></span></a>
				</div>
				<div class="col-md-12">
					<h4 style="padding:5px 0px 5px 0px; font-size:14px"><span class="selected-title">Selected Claim Type</span> 
					 <span class="badge bg-blue"><label id="CntT_ClaimTypeIDSelected"></label></span>
					</h4>
					@Html.ListBox("T_ClaimTypeIDSelected", null, new { @class = "optionvalue", @size = 10 })
				</div>
			</div>
		</div>
    }
	if (Convert.ToString(ViewData["AssociatedType"]).Trim() != "T_TypeofClaim_T_EmployeeInjury")
		{
		<div class="M2MList">
<div class="col-md-5" style="overflow:auto !important;max-height:400px;min-height:400px;">
            
            @Html.TextBox("txtSearchT_EmployeeInjury", null, new { @class = "form-control", @style="margin-bottom:8px", placeholder = "Search Employee Injury", @size = 10, @dataurl = Url.Action("GetAllValues") })
              
				<div class='form-group col-sm-12' title="OSHA" style="padding:0px 0px 0px 0px; margin:0px;">
                    <div class='form-group col-sm-6' style="padding:0px">
                        <label class="text-primary small"> OSHA</label>
                    </div>
                    <div class="input-group col-sm-6" id="dvT_OSHA" multiple = "multiple" style="padding:0px">
                        <select class="form-control" id="T_OSHA">
                            <option value="">All</option>
                            <option value="True">True</option>
                            <option value="False">False</option>
                        </select>

                    </div>
                </div>
              
				@if (ViewBag.t_employeeemployeeinjury!=null)
                {
						<div class='form-group col-sm-12' title="Employee" style="padding:0px 0px 0px 0px; margin:0px;">
							<div class='form-group col-sm-6' style="padding:0px">
								<label class="text-primary small"> Employee</label>
							</div>
							<div class="input-group col-sm-6" id="dvt_employeeemployeeinjury">
		
	 @Html.DropDownList("t_employeeemployeeinjury", null, new {   @multiple = "multiple", @HostingName = "T_Employee", @dataurl = Url.Action("GetAllMultiSelectValue", "T_Employee",null) })
						    </div>
						</div>
				}
				@if (ViewBag.t_typeofclaimmci!=null)
                {
						<div class='form-group col-sm-12' title="Type of Claim MCI" style="padding:0px 0px 0px 0px; margin:0px;">
							<div class='form-group col-sm-6' style="padding:0px">
								<label class="text-primary small"> Type of Claim MCI</label>
							</div>
							<div class="input-group col-sm-6" id="dvt_typeofclaimmci">
		
	 @Html.DropDownList("t_typeofclaimmci", null, new {   @multiple = "multiple", @HostingName = "T_ClaimTypeMCI", @dataurl = Url.Action("GetAllMultiSelectValue", "T_ClaimTypeMCI",null) })
						    </div>
						</div>
				}
				@if (ViewBag.t_accidentshift!=null)
                {
						<div class='form-group col-sm-12' title="Shift Working When Accident Occurred" style="padding:0px 0px 0px 0px; margin:0px;">
							<div class='form-group col-sm-6' style="padding:0px">
								<label class="text-primary small"> Shift Working When Accident Occurred</label>
							</div>
							<div class="input-group col-sm-6" id="dvt_accidentshift">
		
	 @Html.DropDownList("t_accidentshift", null, new {   @multiple = "multiple", @HostingName = "T_ShiftTime", @dataurl = Url.Action("GetAllMultiSelectValue", "T_ShiftTime",null) })
						    </div>
						</div>
				}
				@if (ViewBag.t_facilityaccidentoccured!=null)
                {
						<div class='form-group col-sm-12' title="Facility Accident Occurred At" style="padding:0px 0px 0px 0px; margin:0px;">
							<div class='form-group col-sm-6' style="padding:0px">
								<label class="text-primary small"> Facility Accident Occurred At</label>
							</div>
							<div class="input-group col-sm-6" id="dvt_facilityaccidentoccured">
		
	 @Html.DropDownList("t_facilityaccidentoccured", null, new {   @multiple = "multiple", @HostingName = "T_AllFacilities", @dataurl = Url.Action("GetAllMultiSelectValue", "T_AllFacilities",null) })
						    </div>
						</div>
				}
				@if (ViewBag.t_unitwhereaccidentoccured!=null)
                {
						<div class='form-group col-sm-12' title="Unit Where Accident Occured" style="padding:0px 0px 0px 0px; margin:0px;">
							<div class='form-group col-sm-6' style="padding:0px">
								<label class="text-primary small"> Unit Where Accident Occured</label>
							</div>
							<div class="input-group col-sm-6" id="dvt_unitwhereaccidentoccured">
		
	 @Html.DropDownList("t_unitwhereaccidentoccured", null, new {   @multiple = "multiple", @HostingName = "T_AllFacilitiesUnit", @dataurl = Url.Action("GetAllMultiSelectValue", "T_AllFacilitiesUnit",null) })
						    </div>
						</div>
				}
				@if (ViewBag.t_employeinjuryfloor!=null)
                {
						<div class='form-group col-sm-12' title="Floor Accident Occurred on" style="padding:0px 0px 0px 0px; margin:0px;">
							<div class='form-group col-sm-6' style="padding:0px">
								<label class="text-primary small"> Floor Accident Occurred on</label>
							</div>
							<div class="input-group col-sm-6" id="dvt_employeinjuryfloor">
		
	 @Html.DropDownList("t_employeinjuryfloor", null, new {   @multiple = "multiple", @HostingName = "T_AllFacilitiesFloor", @dataurl = Url.Action("GetAllMultiSelectValue", "T_AllFacilitiesFloor",null) })
						    </div>
						</div>
				}
				@if (ViewBag.t_locationofaccident!=null)
                {
						<div class='form-group col-sm-12' title="Location Of Accident" style="padding:0px 0px 0px 0px; margin:0px;">
							<div class='form-group col-sm-6' style="padding:0px">
								<label class="text-primary small"> Location Of Accident</label>
							</div>
							<div class="input-group col-sm-6" id="dvt_locationofaccident">
		
	 @Html.DropDownList("t_locationofaccident", null, new {   @multiple = "multiple", @HostingName = "T_WCAccident", @dataurl = Url.Action("GetAllMultiSelectValue", "T_WCAccident",null) })
						    </div>
						</div>
				}
				@if (ViewBag.t_employeeinjurycause!=null)
                {
						<div class='form-group col-sm-12' title="Cause Of Injury " style="padding:0px 0px 0px 0px; margin:0px;">
							<div class='form-group col-sm-6' style="padding:0px">
								<label class="text-primary small"> Cause Of Injury </label>
							</div>
							<div class="input-group col-sm-6" id="dvt_employeeinjurycause">
		
	 @Html.DropDownList("t_employeeinjurycause", null, new {   @multiple = "multiple", @HostingName = "T_InjuryCause", @dataurl = Url.Action("GetAllMultiSelectValue", "T_InjuryCause",null) })
						    </div>
						</div>
				}
				@if (ViewBag.t_employeeinjurynature!=null)
                {
						<div class='form-group col-sm-12' title="Nature Of Injury Or Illness" style="padding:0px 0px 0px 0px; margin:0px;">
							<div class='form-group col-sm-6' style="padding:0px">
								<label class="text-primary small"> Nature Of Injury Or Illness</label>
							</div>
							<div class="input-group col-sm-6" id="dvt_employeeinjurynature">
		
	 @Html.DropDownList("t_employeeinjurynature", null, new {   @multiple = "multiple", @HostingName = "T_InjuryNature", @dataurl = Url.Action("GetAllMultiSelectValue", "T_InjuryNature",null) })
						    </div>
						</div>
				}
				@if (ViewBag.t_employeeinjurybodypartsaffected!=null)
                {
						<div class='form-group col-sm-12' title="Parts Of Body Affected" style="padding:0px 0px 0px 0px; margin:0px;">
							<div class='form-group col-sm-6' style="padding:0px">
								<label class="text-primary small"> Parts Of Body Affected</label>
							</div>
							<div class="input-group col-sm-6" id="dvt_employeeinjurybodypartsaffected">
		
	 @Html.DropDownList("t_employeeinjurybodypartsaffected", null, new {   @multiple = "multiple", @HostingName = "T_BodyPartsAffected", @dataurl = Url.Action("GetAllMultiSelectValue", "T_BodyPartsAffected",null) })
						    </div>
						</div>
				}
				@if (ViewBag.t_employeeinjurymachinetool!=null)
                {
						<div class='form-group col-sm-12' title="Machine, Tool Or Object Causing Illness Or Injury " style="padding:0px 0px 0px 0px; margin:0px;">
							<div class='form-group col-sm-6' style="padding:0px">
								<label class="text-primary small"> Machine, Tool Or Object Causing Illness Or Injury </label>
							</div>
							<div class="input-group col-sm-6" id="dvt_employeeinjurymachinetool">
		
	 @Html.DropDownList("t_employeeinjurymachinetool", null, new {   @multiple = "multiple", @HostingName = "T_MachineTool", @dataurl = Url.Action("GetAllMultiSelectValue", "T_MachineTool",null) })
						    </div>
						</div>
				}
				@if (ViewBag.t_initialtreatmentlist!=null)
                {
						<div class='form-group col-sm-12' title="Initial Treatment List" style="padding:0px 0px 0px 0px; margin:0px;">
							<div class='form-group col-sm-6' style="padding:0px">
								<label class="text-primary small"> Initial Treatment List</label>
							</div>
							<div class="input-group col-sm-6" id="dvt_initialtreatmentlist">
		
	 @Html.DropDownList("t_initialtreatmentlist", null, new {   @multiple = "multiple", @HostingName = "T_InitialTreatment", @dataurl = Url.Action("GetAllMultiSelectValue", "T_InitialTreatment",null) })
						    </div>
						</div>
				}
				@if (ViewBag.t_employeeinjurymedicalfacilityfortreatment!=null)
                {
						<div class='form-group col-sm-12' title="Medical Facility For Treatment" style="padding:0px 0px 0px 0px; margin:0px;">
							<div class='form-group col-sm-6' style="padding:0px">
								<label class="text-primary small"> Medical Facility For Treatment</label>
							</div>
							<div class="input-group col-sm-6" id="dvt_employeeinjurymedicalfacilityfortreatment">
		
	 @Html.DropDownList("t_employeeinjurymedicalfacilityfortreatment", null, new {   @multiple = "multiple", @HostingName = "T_MedicalFacilityForTreatment", @dataurl = Url.Action("GetAllMultiSelectValue", "T_MedicalFacilityForTreatment",null) })
						    </div>
						</div>
				}
				@if (ViewBag.t_employeeinjuryrefusal!=null)
                {
						<div class='form-group col-sm-12' title="Restriction Refusal Reason" style="padding:0px 0px 0px 0px; margin:0px;">
							<div class='form-group col-sm-6' style="padding:0px">
								<label class="text-primary small"> Restriction Refusal Reason</label>
							</div>
							<div class="input-group col-sm-6" id="dvt_employeeinjuryrefusal">
		
	 @Html.DropDownList("t_employeeinjuryrefusal", null, new {   @multiple = "multiple", @HostingName = "T_Refusal", @dataurl = Url.Action("GetAllMultiSelectValue", "T_Refusal",null) })
						    </div>
						</div>
				}
					@if (ViewBag.t_typeofclaim!=null)
                    {
					<div class='form-group col-sm-12' title="Type of Claim Facility" style="padding:0px 0px 0px 0px; margin:0px;">
							<div class='form-group col-sm-6' style="padding:0px">
								<label class="text-primary small"> Type of Claim Facility</label>
							</div>
							<div class="input-group col-sm-6" id="dvt_typeofclaim">
		
	 @Html.DropDownList("t_typeofclaim", null, new {   @multiple = "multiple", @HostingName = "T_ClaimType", @dataurl = Url.Action("GetAllMultiSelectValue", "T_ClaimType",null) })
                                </div>
                        </div>
					}
					@if (ViewBag.t_typeofrestrictions!=null)
                    {
					<div class='form-group col-sm-12' title="Type Of Restrictions" style="padding:0px 0px 0px 0px; margin:0px;">
							<div class='form-group col-sm-6' style="padding:0px">
								<label class="text-primary small"> Type Of Restrictions</label>
							</div>
							<div class="input-group col-sm-6" id="dvt_typeofrestrictions">
		
	 @Html.DropDownList("t_typeofrestrictions", null, new {   @multiple = "multiple", @HostingName = "T_Restrictions", @dataurl = Url.Action("GetAllMultiSelectValue", "T_Restrictions",null) })
                                </div>
                        </div>
					}
				
               
		</div>
			<label style="display:none;">@Html.LabelFor(model => model.T_EmployeeInjuryID) </label>
			<div class="col-md-7">
				<div class="col-md-12">
					<h4 style="padding:5px 0px 5px 0px; font-size:14px"><span class="unselected-title">Available Employee Injury </span> <span style="float:right; font-size:14px;"> Show @Html.DropDownList("PageSize", new SelectList(new Dictionary<string, string> { {"50","50"},{ "100", "100" }, { "200", "200" }, { "500", "500" }, { "All", "All" } }, "Key", "Value")
                    ,new {@dataurl=Url.Action("GetAllValues"), onchange="ListBoxPagination(this,$('#txtSearchT_EmployeeInjury').val(),'T_ClaimType', '"+ViewData["HostingEntityID"]+"', 'T_TypeofClaim_T_EmployeeInjury', 'T_EmployeeInjuryIDAvailable');"})
</span></h4>
					@*@Html.TextBox("txtSearchT_EmployeeInjury", null, new { @class = "form-control", placeholder = "Search Employee Injury", @size = 10, @dataurl = Url.Action("GetAllValues") })*@
					@Html.ListBox("T_EmployeeInjuryIDAvailable", null, new { @class = "optionvalue", @size = 10 })

					  				</div>
				<div class="col-md-12  btn-group" style="margin-top:10px;">
					<a id="MoveRightT_EmployeeInjury" onclick="Associate(event,'T_EmployeeInjury');" class="btn btn-primary col-md-6" ><span id="MoveRightT_EmployeeInjury" class="glyphicon glyphicon-chevron-down"></span></a>
					<a id="MoveLeftT_EmployeeInjury"  onclick="Associate(event,'T_EmployeeInjury');"class="btn btn-primary col-md-6" ><span id="MoveLeftT_EmployeeInjury" class="glyphicon glyphicon-chevron-up"></span></a>
				</div>
				<div class="col-md-12">
					<h4 style="padding:5px 0px 5px 0px; font-size:14px"><span class="selected-title">Selected Employee Injury</span> 
					 <span class="badge bg-blue"><label id="CntT_EmployeeInjuryIDSelected"></label></span>
					</h4>
					@Html.ListBox("T_EmployeeInjuryIDSelected", null, new { @class = "optionvalue", @size = 10 })
				</div>
			</div>
		</div>
    }
<div class="clearfix clear" style="margin-bottom:8px"></div>
<div class="col-md-5">
		@if (Convert.ToString(ViewData["AssociatedType"]).Trim() != "T_TypeofClaim_T_ClaimType")
        {
             <button id="btnT_ClaimType" class="btn btn-primary btn-sm" btntype="MMSearch">Search</button>
        }
		@if (Convert.ToString(ViewData["AssociatedType"]).Trim() != "T_TypeofClaim_T_EmployeeInjury")
        {
             <button id="btnT_EmployeeInjury" class="btn btn-primary btn-sm" btntype="MMSearch">Search</button>
        }
      
       
    </div>
	<div class="col-md-7">
		<button id="CancelQuickAdd" type="button" style="margin-left:5px;" class="btn btn-default btn-sm pull-right" data-dismiss="modal" aria-hidden="true">Cancel</button>
        @if (ViewBag.IsAddPop != null)
		{
			var busineesrule = User.businessrules.Where(p => p.EntityName == "T_TypeofClaim").ToList();
			<input type="submit" value="Create" style="margin-left:5px;" class="btn btn-primary btn-sm pull-right" onclick="FillSelectedListBox();QuickAdd(event,'@busineesrule',@busineesrule.Count);" />
		}
		else
		{
			var lstinlineentityname = "";
            var lstinlineassocdispname = "";
            var lstinlineassocname = "";
			var busineesrule = User.businessrules.Where(p => p.EntityName == "T_TypeofClaim").ToList();
			<input type="submit" value="Create" style="margin-left:5px;" class="btn btn-primary btn-sm pull-right" onclick="FillSelectedListBox();QuickAddFromIndex(event,true,'T_TypeofClaim','@ViewData["AssociatedType"]','@busineesrule',@busineesrule.Count,'OnCreate','ErrMsgQuickAdd',false,'@lstinlineassocname','@lstinlineassocdispname','@lstinlineentityname');" />
		}
	</div>
	<br/>
}
<script src="@Url.Content("~/bundles/jqueryval")" type="text/javascript"></script>
<script src="~/Scripts/Common3/chosen.jquery.js" type="text/javascript"></script>
<script type="text/javascript">
    var config = {
        '.chosen-select': {},
        '.chosen-select-deselect': { allow_single_deselect: true },
        '.chosen-select-no-single': { disable_search_threshold: 10 },
        '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
        '.chosen-select-width': { width: "95%" }
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }
</script>
@if (Convert.ToString(ViewData["AssociatedType"]).Trim() != "T_TypeofClaim_T_ClaimType")
{
<script>
function FillSelectedListBox()
{
	$("#T_ClaimTypeIDSelected option").prop("selected","selected");
}
</script>
}
@if (Convert.ToString(ViewData["AssociatedType"]).Trim() != "T_TypeofClaim_T_EmployeeInjury")
{
<script>
function FillSelectedListBox()
{
	$("#T_EmployeeInjuryIDSelected option").prop("selected","selected");
}
</script>
}
<script>

  
    $(document).ready(function () {
		$("#CntT_ClaimTypeIDSelected").html($("#T_ClaimTypeIDSelected :selected").length);
	
	$("#T_ClaimTypeIDSelected option").each(function () {
            var value = '@ViewBag.SelectedListRemoved'.split(',');
            for (i = 0; i < value.length; i++) {
                if (value != "" && value != "undefined") {
                    var optionvalue = $(this).val();
                    if(optionvalue == value[i])
                        $(this, "#T_ClaimTypeIDSelected").attr("style", "display:none;");
                }
            }
        });
	$("#CntT_EmployeeInjuryIDSelected").html($("#T_EmployeeInjuryIDSelected :selected").length);
	
	$("#T_EmployeeInjuryIDSelected option").each(function () {
            var value = '@ViewBag.SelectedListRemoved'.split(',');
            for (i = 0; i < value.length; i++) {
                if (value != "" && value != "undefined") {
                    var optionvalue = $(this).val();
                    if(optionvalue == value[i])
                        $(this, "#T_EmployeeInjuryIDSelected").attr("style", "display:none;");
                }
            }
        });


 $('select[multiple="multiple"]').each(function () {
            if (this.className == "form-control")
            {$(this).multiselect({ buttonWidth: '100%', nonSelectedText: 'ALL' });}
            if (this.className == "" && this.className != undefined) {
                $(this).multiselect({ buttonWidth: '100%', nonSelectedText: 'ALL' });
            }
        });
        fillMultiSelectAssociation();
	});
    $('button[tempclass="selectmulti"]').removeClass("multiselectFix").addClass("btn-xs SessionClientFix");
	function fillMultiSelectAssociation() {
	var rest_typeofclaim = AntiSanitizeURLString(urlParam('t_typeofclaim')).split(",");var elet_typeofclaim = document.getElementById('t_typeofclaim');ShowViewAllInMultiSelect(rest_typeofclaim, elet_typeofclaim, 't_typeofclaim');var rest_typeofrestrictions = AntiSanitizeURLString(urlParam('t_typeofrestrictions')).split(",");var elet_typeofrestrictions = document.getElementById('t_typeofrestrictions');ShowViewAllInMultiSelect(rest_typeofrestrictions, elet_typeofrestrictions, 't_typeofrestrictions');var rest_employeeemployeeinjury = AntiSanitizeURLString(urlParam('t_employeeemployeeinjury')).split(",");var elet_employeeemployeeinjury = document.getElementById('t_employeeemployeeinjury');ShowViewAllInMultiSelect(rest_employeeemployeeinjury, elet_employeeemployeeinjury, 't_employeeemployeeinjury');var rest_typeofclaimmci = AntiSanitizeURLString(urlParam('t_typeofclaimmci')).split(",");var elet_typeofclaimmci = document.getElementById('t_typeofclaimmci');ShowViewAllInMultiSelect(rest_typeofclaimmci, elet_typeofclaimmci, 't_typeofclaimmci');var rest_accidentshift = AntiSanitizeURLString(urlParam('t_accidentshift')).split(",");var elet_accidentshift = document.getElementById('t_accidentshift');ShowViewAllInMultiSelect(rest_accidentshift, elet_accidentshift, 't_accidentshift');var rest_facilityaccidentoccured = AntiSanitizeURLString(urlParam('t_facilityaccidentoccured')).split(",");var elet_facilityaccidentoccured = document.getElementById('t_facilityaccidentoccured');ShowViewAllInMultiSelect(rest_facilityaccidentoccured, elet_facilityaccidentoccured, 't_facilityaccidentoccured');var rest_unitwhereaccidentoccured = AntiSanitizeURLString(urlParam('t_unitwhereaccidentoccured')).split(",");var elet_unitwhereaccidentoccured = document.getElementById('t_unitwhereaccidentoccured');ShowViewAllInMultiSelect(rest_unitwhereaccidentoccured, elet_unitwhereaccidentoccured, 't_unitwhereaccidentoccured');var rest_employeinjuryfloor = AntiSanitizeURLString(urlParam('t_employeinjuryfloor')).split(",");var elet_employeinjuryfloor = document.getElementById('t_employeinjuryfloor');ShowViewAllInMultiSelect(rest_employeinjuryfloor, elet_employeinjuryfloor, 't_employeinjuryfloor');var rest_locationofaccident = AntiSanitizeURLString(urlParam('t_locationofaccident')).split(",");var elet_locationofaccident = document.getElementById('t_locationofaccident');ShowViewAllInMultiSelect(rest_locationofaccident, elet_locationofaccident, 't_locationofaccident');var rest_employeeinjurycause = AntiSanitizeURLString(urlParam('t_employeeinjurycause')).split(",");var elet_employeeinjurycause = document.getElementById('t_employeeinjurycause');ShowViewAllInMultiSelect(rest_employeeinjurycause, elet_employeeinjurycause, 't_employeeinjurycause');var rest_employeeinjurynature = AntiSanitizeURLString(urlParam('t_employeeinjurynature')).split(",");var elet_employeeinjurynature = document.getElementById('t_employeeinjurynature');ShowViewAllInMultiSelect(rest_employeeinjurynature, elet_employeeinjurynature, 't_employeeinjurynature');var rest_employeeinjurybodypartsaffected = AntiSanitizeURLString(urlParam('t_employeeinjurybodypartsaffected')).split(",");var elet_employeeinjurybodypartsaffected = document.getElementById('t_employeeinjurybodypartsaffected');ShowViewAllInMultiSelect(rest_employeeinjurybodypartsaffected, elet_employeeinjurybodypartsaffected, 't_employeeinjurybodypartsaffected');var rest_employeeinjurymachinetool = AntiSanitizeURLString(urlParam('t_employeeinjurymachinetool')).split(",");var elet_employeeinjurymachinetool = document.getElementById('t_employeeinjurymachinetool');ShowViewAllInMultiSelect(rest_employeeinjurymachinetool, elet_employeeinjurymachinetool, 't_employeeinjurymachinetool');var rest_initialtreatmentlist = AntiSanitizeURLString(urlParam('t_initialtreatmentlist')).split(",");var elet_initialtreatmentlist = document.getElementById('t_initialtreatmentlist');ShowViewAllInMultiSelect(rest_initialtreatmentlist, elet_initialtreatmentlist, 't_initialtreatmentlist');var rest_employeeinjurymedicalfacilityfortreatment = AntiSanitizeURLString(urlParam('t_employeeinjurymedicalfacilityfortreatment')).split(",");var elet_employeeinjurymedicalfacilityfortreatment = document.getElementById('t_employeeinjurymedicalfacilityfortreatment');ShowViewAllInMultiSelect(rest_employeeinjurymedicalfacilityfortreatment, elet_employeeinjurymedicalfacilityfortreatment, 't_employeeinjurymedicalfacilityfortreatment');var rest_employeeinjuryrefusal = AntiSanitizeURLString(urlParam('t_employeeinjuryrefusal')).split(",");var elet_employeeinjuryrefusal = document.getElementById('t_employeeinjuryrefusal');ShowViewAllInMultiSelect(rest_employeeinjuryrefusal, elet_employeeinjuryrefusal, 't_employeeinjuryrefusal');var resT_OSHA = AntiSanitizeURLString(urlParam('T_OSHA')).split(",");var eleT_OSHA = document.getElementById('T_OSHA');ShowViewAllInMultiSelect(resT_OSHA, eleT_OSHA, 'T_OSHA');var rest_claimtypefacilityassociation = AntiSanitizeURLString(urlParam('t_claimtypefacilityassociation')).split(",");var elet_claimtypefacilityassociation = document.getElementById('t_claimtypefacilityassociation');ShowViewAllInMultiSelect(rest_claimtypefacilityassociation, elet_claimtypefacilityassociation, 't_claimtypefacilityassociation');
  }
</script>

@{
var businessrule = User.businessrules.Where(p => p.EntityName == "T_TypeofClaim").ToList();

if ((businessrule != null && businessrule.Count > 0) )
{
var ruleids = businessrule.Select(q => q.Id).ToList();
var typelist  = string.Join(",", (new GeneratorBase.MVC.Models.RuleActionContext()).RuleActions.Where(p => ruleids.Contains(p.RuleActionID.Value) && p.associatedactiontype.TypeNo.HasValue).Select(p => p.associatedactiontype.TypeNo.Value).Distinct().ToList());
    <script>
		$(document).ready(function () {
				document.getElementById("ErrMsgQuickAdd").innerHTML = "";
				var flag = true;
                var dataurl = "";
                var form = "";
                var inlinecount = "0";

 form = $("#frmT_TypeofClaim").serialize();
				dataurl = "@Url.Action("businessruletype", "T_TypeofClaim", new { ruleType = "OnEdit"})";
                ApplyBusinessRuleOnPageLoad("@typelist", dataurl, "T_TypeofClaim", false, "ErrMsgQuickAdd", form);
				//business rules on inline associations

    });
</script>
<script>
    $("form").submit(function (event) {
		if (!$("#frmT_TypeofClaim").valid()) return;
			document.getElementById("ErrMsgQuickAdd").innerHTML = "";
            var flag = true;
            var dataurl = "";
            var form = "";
            var inlinecount = "0";
 form = $("#frmT_TypeofClaim").serialize();
    
				 dataurl = "@Url.Action("businessruletype", "T_TypeofClaim", new { ruleType = "OnEdit"})";
                 flag = ApplyBusinessRuleOnSubmit(dataurl, "T_TypeofClaim", false, "ErrMsgQuickAdd", form);

  				 //business rules on inline associations
               
			 if (flag)
				{
				                    $('input:hidden[name="hdncommand"]').val($(this.id).context.activeElement.value);
					if ($(document.activeElement).attr('id') == "nextEdit" || $(document.activeElement).attr('id') == "prevEdit")
			         $('input:hidden[name="hdncommand"]').val("SaveNextPrev");

                    $("form").find(':input').removeAttr('disabled');
					}
            return flag;
		});
</script>
}
 else
    {
       <script>
    $("input[type='submit']").click(function (event) {
	if (!$("#frmT_TypeofClaim").valid()) return;
        var $this = $(this);
        $('input:hidden[name="hdncommand"]').val($this.val());
    });
	</script>
    }
 
}


