<script type="text/javascript">
    $(document).ready(function ()
    {
         var usrName = "@User.JavaScriptEncodedName";
        var myCookie = usrName + "T_JobAssignment" + "@ViewData["AssociatedType"]";
        var host = "#T_JobAssignment";
        if ("@ViewData["AssociatedType"]".length > 0)
            host = "#" + "@ViewData["AssociatedType"]";
        if ($.cookie(myCookie) != null) {
            var column = $.cookie(myCookie).split(',');
            for (var i = 0; i < column.length; i++) {
                if (column[i] == "col1")
                    continue;
                $('input[name=' + column[i] + ']', $(host)).attr('checked', false);
                var index = column[i].substr(3)
               //index--;
                $('table tr', $(host)).each(function () {
                    $('td:eq(' + index + ')', this).toggle();
                });
                $('th.' + column[i], $(host)).toggle();
            }
        }
    });
</script>           
<div id="ColumnShowHideT_JobAssignment" class="collapse">
    <div class="row">
        <div class='col-sm-12'>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Show / Hide Table  Column </h3>
                </div>
                <div class="panel-body">
					<p id="lblT_JobAssignment" class="label label-success " style="display:none; width:100%; padding:5px; text-align:left; font-size:13px">Table display format successfully saved.</p>
					<p id="lblWarningT_JobAssignment" class="label label-warning " style="display:none; width:100%; padding:5px; text-align:left; font-size:13px">Select at least one property to display on grid.</p>
                    <div class='form-group'>
                        <div class="input-group">
						    @*<input type="checkbox" name="col0" checked="checked" style="display:none;" />*@
                            <input type="checkbox" name="col1" checked="checked" style="display:none;" />
<input type="checkbox" name="col2" checked="checked" onclick="ColumnClick(event,'T_JobAssignment')" /> Employee
	<input type="checkbox" name="col3" checked="checked" onclick="ColumnClick(event,'T_JobAssignment')" /> Employee Percent (%)
	<input type="checkbox" name="col4" checked="checked" onclick="ColumnClick(event,'T_JobAssignment')" /> Start Date
	<input type="checkbox" name="col5" checked="checked" onclick="ColumnClick(event,'T_JobAssignment')" /> End Date
	<input type="checkbox" name="col6" checked="checked" onclick="ColumnClick(event,'T_JobAssignment')" /> Primary
	<input type="checkbox" name="col7" checked="checked" onclick="ColumnClick(event,'T_JobAssignment')" /> Active
<input type="checkbox" name="col8" checked="checked" onclick="ColumnClick(event,'T_JobAssignment')" /> Position Number
	<input type="checkbox" name="col9" checked="checked" onclick="ColumnClick(event,'T_JobAssignment')" /> Position Level
	<input type="checkbox" name="col10" checked="checked" onclick="ColumnClick(event,'T_JobAssignment')" /> Role Code 
	<input type="checkbox" name="col11" checked="checked" onclick="ColumnClick(event,'T_JobAssignment')" /> Class Code 
<input type="checkbox" name="col12" checked="checked" onclick="ColumnClick(event,'T_JobAssignment')" /> Job Assignment Reason
<input type="checkbox" name="col13" checked="checked" onclick="ColumnClick(event,'T_JobAssignment')" /> UnitX
	<input type="checkbox" name="col14" checked="checked" onclick="ColumnClick(event,'T_JobAssignment')" /> Cost Center
	<input type="checkbox" name="col15" checked="checked" onclick="ColumnClick(event,'T_JobAssignment')" /> Program
<input type="checkbox" name="col16" checked="checked" onclick="ColumnClick(event,'T_JobAssignment')" /> Manager
<input type="checkbox" name="col17" checked="checked" onclick="ColumnClick(event,'T_JobAssignment')" /> Supervisor
		<input type="checkbox" name="col18" checked="checked" onclick="ColumnClick(event,'T_JobAssignment')" /> Primary Job Assignment
		                        </div>
                       <input type="button" id="btnSave" value="Set as Default" onclick="showhideSaveCookies(event, 'T_JobAssignment', '@User.JavaScriptEncodedName','@ViewData["AssociatedType"]');" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


