@model GeneratorBase.MVC.Models.T_Country
@using PagedList;
@{
    ViewBag.Title = "View Country";
	var EntityDisplayNameReflector = ModelReflector.Entities.FirstOrDefault(p => p.Name == "T_Country");
    var EntityDisplayName = EntityDisplayNameReflector != null ? EntityDisplayNameReflector.DisplayName : "Country";
}
<script>
    $(document).ready(function () {
			 if ($.cookie('@User.JavaScriptEncodedName@Model.Id' + 'TabCookie') != null) {
				$('a[href="#' + $.cookie('@User.JavaScriptEncodedName@Model.Id' + 'TabCookie') + '"]').click();
			 }
    });
</script>
@{
    if (!string.IsNullOrEmpty(ViewBag.T_CountryIsHiddenRule))
    {
        @Html.Raw(ViewBag.T_CountryIsHiddenRule);
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_CountryIsGroupsHiddenRule))
    {
        @Html.Raw(ViewBag.T_CountryIsGroupsHiddenRule);
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_CountryIsSetValueUIRule))
    {
        @Html.Raw(ViewBag.T_CountryIsSetValueUIRule);
    }
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-title">
            <i class="glyphicon glyphicon-hand-down text-primary"></i> @EntityDisplayName  <i class="glyphicon glyphicon-chevron-right small"></i> <span>View</span>
        </h1>
        <h2 class="text-primary"><span id="HostingEntityDisplayValue">@Html.DisplayFor(model => model.DisplayValue)</span>
			<div class="btn-group pull-right fixactionbut">
            <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle pull-right">
                Action
                <span class="caret">    </span>
            </button>
			<ul class="dropdown-menu pull-left">               
				<li>
                    @if ( User.CanEdit("T_Country"))
                    {
                        <a href="@Url.Action("Edit","T_Country", new {UrlReferrer = Request.UrlReferrer,id = Model.Id,AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) },null)"><i class="glyphicon glyphicon-edit"></i>  Edit</a>
                    }
                </li>             
				<li>
                    @if ( User.CanDelete("T_Country"))
                    {
                        <a href="@Url.Action("Delete", "T_Country", new { UrlReferrer = Request.UrlReferrer,id = Model.Id, AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) }, null)"><i class="glyphicon glyphicon-remove-sign"></i>  Delete</a>
                    }
                </li>
	<li class="divider" style="clear:both"></li>
	<li class="dropdown-submenu pull-left" id="AddAssociationdropmenuT_Country">
	 @{ var dropmenu = false; }
	<a tabindex="-1" href="#" style="margin-bottom:10px;"><i class="fam-anchor small"></i> Add</a>
    <ul class="dropdown-menu pull-left">
				@if ( User.CanAdd("T_State"))
				{ dropmenu = true;
					<li>
						<a onclick=@Html.Raw("NavigateToUrl('" + Url.Action("Create", "T_State", 
						new { UrlReferrer = Request.Url,
								AssociatedType ="T_StateCountry", 
							HostingEntityName = "T_Country",
							HostingEntityID = @Convert.ToString(Model.Id) }, null) + "');")>
							<i class="glyphicon glyphicon-plus"></i>  State Country
						</a>
					</li>
				}
							@if ( User.CanAdd("T_City"))
				{ dropmenu = true;
					<li>
						<a onclick=@Html.Raw("NavigateToUrl('" + Url.Action("Create", "T_City", 
						new { UrlReferrer = Request.Url,
								AssociatedType ="T_CityCountry", 
							HostingEntityName = "T_Country",
							HostingEntityID = @Convert.ToString(Model.Id) }, null) + "');")>
							<i class="glyphicon glyphicon-plus"></i>  City Country
						</a>
					</li>
				}
							@if ( User.CanAdd("T_Address"))
				{ dropmenu = true;
					<li>
						<a onclick=@Html.Raw("NavigateToUrl('" + Url.Action("Create", "T_Address", 
						new { UrlReferrer = Request.Url,
								AssociatedType ="T_AddressCountry", 
							HostingEntityName = "T_Country",
							HostingEntityID = @Convert.ToString(Model.Id) }, null) + "');")>
							<i class="glyphicon glyphicon-plus"></i>  Address Country
						</a>
					</li>
				}
			</ul>
</li>
@if(!dropmenu)
{
    <script>
        $("#AddAssociationdropmenuT_Country").hide();
    </script>
}
			</ul>


		</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="tabbable responsive">
    <ul class="nav nav-tabs">
	 <li class="active"><a href="#Details" onclick="ClearTabCookie('@User.JavaScriptEncodedName@Model.Id');" data-toggle="tab">Details</a></li>
		 <li @(!User.CanView("T_State") ?"style=display:none;":"")><a onclick="LoadTab('T_StateCountry','@User.JavaScriptEncodedName@Model.Id','@Html.Raw(Url.Action("Index", "T_State", new {RenderPartial=true, HostingEntity ="T_Country", HostingEntityID = @Model.Id, AssociatedType = "T_StateCountry",TabToken = DateTime.Now.Ticks,}))')" href="#T_StateCountry" data-toggle="tab">
		 State Country
		 <span class="badge bg-blue"><div id="dvcnt_T_StateCountry">@ViewBag.T_StateCountryCount</div></span>
		 		 </a></li>
		 <li @(!User.CanView("T_City") ?"style=display:none;":"")><a onclick="LoadTab('T_CityCountry','@User.JavaScriptEncodedName@Model.Id','@Html.Raw(Url.Action("Index", "T_City", new {RenderPartial=true, HostingEntity ="T_Country", HostingEntityID = @Model.Id, AssociatedType = "T_CityCountry",TabToken = DateTime.Now.Ticks,}))')" href="#T_CityCountry" data-toggle="tab">
		 City Country
		 <span class="badge bg-blue"><div id="dvcnt_T_CityCountry">@ViewBag.T_CityCountryCount</div></span>
		 		 </a></li>
		 <li @(!User.CanView("T_Address") ?"style=display:none;":"")><a onclick="LoadTab('T_AddressCountry','@User.JavaScriptEncodedName@Model.Id','@Html.Raw(Url.Action("Index", "T_Address", new {RenderPartial=true, HostingEntity ="T_Country", HostingEntityID = @Model.Id, AssociatedType = "T_AddressCountry",TabToken = DateTime.Now.Ticks,}))')" href="#T_AddressCountry" data-toggle="tab">
		 Address Country
		 <span class="badge bg-blue"><div id="dvcnt_T_AddressCountry">@ViewBag.T_AddressCountryCount</div></span>
		 		 </a></li>
		 <li @(!User.CanView("JournalEntry")?"style=display:none;":"")><a onclick="LoadTab('JournalEntryToT_CountryRelation','@User.JavaScriptEncodedName@Model.Id','@Url.Action("Index", "JournalEntry", new { RenderPartial = true, HostingEntity = "T_Country", HostingEntityID = @Model.Id, AssociatedType = "JournalEntry", TabToken = DateTime.Now.Ticks })')" href="#JournalEntryToT_CountryRelation" data-toggle="tab">Country Journal</a></li>
    </ul>
	  @Html.HiddenFor(model => model.Id)
	    <div class="tab-content">
		   <div class="tab-pane fade in active" id="Details">
				 <div class="panel panel-default AppForm">
					<div class="panel-body">
                                  
			
			<div class="row">
@if(User.CanView("T_Country","T_Name"))
{
<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_Name">
	<div class='form-group' title="@Model.T_Name">
		<label class="col-sm-5 col-md-5 col-xs-12">@Html.DisplayNameFor(model => model.T_Name) </label>
		<div class="input-group col-sm-7 col-md-7 col-xs-12">
		
				
				<p id="lblT_Name" class="viewlabel">@Model.T_Name</p>
					
					</div>
	</div>
</div>
}
		</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
				<a class="btn btn-default btn-sm pull-left formbuttonfix" Onclick="goBack('@Url.Action("Index","T_Country")');">Back</a>
				@*@Html.ActionLink("Back", "Cancel", new { UrlReferrer = Request.UrlReferrer }, new { @class = "btn btn-default btn-sm pull-left formbuttonfix" })*@
					
					 @if ( User.CanEdit("T_Country"))
                     {
                          @Html.ActionLink("Edit", "Edit", new { UrlReferrer = Request.UrlReferrer, id = Model.Id, AssociatedType = ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) }, new { @class = "btn btn-primary btn-sm pull-left formbuttonfix" })
                     }
				   
 @{ var dropmenubottom = false; }
<div class="dropdown pull-left formbuttonfix" style="" id="AddAssociationdropmenubottomT_Country">
<button type="button" class="btn btn-primary btn-sm dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
            Add Association
            <span class="caret"></span>
        </button>
		 <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
			@if (User.CanAdd("T_State"))
            {
			    dropmenubottom = true;
                <li><a onclick=@Html.Raw("NavigateToUrl('" + Url.Action("Create", "T_State",
						new { UrlReferrer = Request.Url,
								AssociatedType ="T_StateCountry", 
						HostingEntityName = "T_Country",
                              HostingEntityID = @Convert.ToString(Model.Id)
                        }, null) + "');")>
                   Add  State Country
                </a>
				</li>
            }

			
			@if (User.CanAdd("T_City"))
            {
			    dropmenubottom = true;
                <li><a onclick=@Html.Raw("NavigateToUrl('" + Url.Action("Create", "T_City",
						new { UrlReferrer = Request.Url,
								AssociatedType ="T_CityCountry", 
						HostingEntityName = "T_Country",
                              HostingEntityID = @Convert.ToString(Model.Id)
                        }, null) + "');")>
                   Add  City Country
                </a>
				</li>
            }

			
			@if (User.CanAdd("T_Address"))
            {
			    dropmenubottom = true;
                <li><a onclick=@Html.Raw("NavigateToUrl('" + Url.Action("Create", "T_Address",
						new { UrlReferrer = Request.Url,
								AssociatedType ="T_AddressCountry", 
						HostingEntityName = "T_Country",
                              HostingEntityID = @Convert.ToString(Model.Id)
                        }, null) + "');")>
                   Add  Address Country
                </a>
				</li>
            }

			
</ul>
</div>
@if(!dropmenubottom)
{
    <script>
        $("#AddAssociationdropmenubottomT_Country").hide();
    </script>
}
			</div> 
			</div><div class="clearfix" style="clear:both"></div>
	</div>    
<div class="tab-pane fade in" id="JournalEntryToT_CountryRelation">
            @if ( User.CanView("JournalEntry"))
		   {
			//	Html.RenderAction("Index", "JournalEntry", new { RenderPartial = true, HostingEntity = "T_Country", HostingEntityID = @Model.Id, AssociatedType = "JournalEntry" });
		   }
  </div>
<div class="tab-pane fade in" id="T_StateCountry">
     @if ( User.CanView("T_State"))
	{
	  // Html.RenderAction("Index", "T_State", new {RenderPartial=true, HostingEntity = "T_Country", HostingEntityID = @Model.Id, AssociatedType = "T_StateCountry" }); 
	}
  </div>
<div class="tab-pane fade in" id="T_CityCountry">
     @if ( User.CanView("T_City"))
	{
	  // Html.RenderAction("Index", "T_City", new {RenderPartial=true, HostingEntity = "T_Country", HostingEntityID = @Model.Id, AssociatedType = "T_CityCountry" }); 
	}
  </div>
<div class="tab-pane fade in" id="T_AddressCountry">
     @if ( User.CanView("T_Address"))
	{
	  // Html.RenderAction("Index", "T_Address", new {RenderPartial=true, HostingEntity = "T_Country", HostingEntityID = @Model.Id, AssociatedType = "T_AddressCountry" }); 
	}
  </div>
	</div> <!-- /tab-content --><br />

<br/>
</div>
 
