@using GeneratorBase.MVC.Models
@model ExternalLoginListViewModel
@using Microsoft.Owin.Security
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    string action = Model.Action;
    string returnUrl = Model.ReturnUrl;
    string provider = "";
    string name = "";
    string authType = "";
    foreach (AuthenticationDescription p in loginProviders)
    {
        provider = p.AuthenticationType;
        name = p.Caption.Contains("Google") ? "google" : p.Caption.ToLower();
        authType = p.AuthenticationType.Contains("Google") ? "Google" : p.AuthenticationType;
        using (Html.BeginForm(action, "Account", new { provider = provider, ReturnUrl = returnUrl }))
        {
            @Html.AntiForgeryToken()
    <div class="col-md-4" class="facebook">
        <button type="submit" id="@p.AuthenticationType" class="@name" name="provider" value="@p.AuthenticationType">
            <i class="fa fa-@name"></i>
        </button>
        <p class="text-center">@authType</p>
    </div>
        }
    }
}