@model GeneratorBase.MVC.Models.EditRoleViewModel
@{
    ViewBag.Title = "Edit";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-title">
            <i class="glyphicon glyphicon-edit text-primary"></i> Admin   <i class="glyphicon glyphicon-chevron-right small"></i> <span>Edit Role</span>
        </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="col-md-12 col-sm-12 col-xs-12" style="padding:0px; margin:5px 0px 0px 0px;">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-default AppForm">
                    <div class="panel-heading clearfix">
                        <i class="icon-calendar"></i>
                        <h3 class="panel-title">@Model.Name</h3>
                    </div>
                    @Html.HiddenFor(model => model.OriginalName)
                    <div class="panel-body">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)

                            @*<div class="form-group">
                                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.Name)
                                        @Html.ValidationMessageFor(model => model.Name)
                                    </div>
                                </div>*@

                            <div class="form-group col-lg-12">
                                <div class="col-lg-6">
                                    <label>@Html.LabelFor(m => m.Name)  <span class="text-danger-reg">*</span></label>
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                </div>
                                <div class="col-lg-6">
                                    <label>@Html.LabelFor(m => m.Description) </label>
                                    @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                                </div>
                            </div>
                            @Html.HiddenFor(m => m.RoleType)
                            @Html.HiddenFor(m => m.TenantId)
                            @Html.Hidden("UrlReferrer", Request.UrlReferrer)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        if (Request.UrlReferrer != null)
        {
            <a href="@Request.UrlReferrer" class="btn btn-default">Back to List</a>
        }
        else
        {
            @Html.ActionLink("Back to List", "RoleList", "Account", null, new { @class = "btn btn-default" })
        }

        if (User.CanEditAdminFeature("Role"))
        {
            <input type="submit" value="Save" class="btn btn-primary" />
        }
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}