@model GeneratorBase.MVC.Models.ForgotPasswordViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>

    <meta name="viewport" content="width=device-width" />
    <title>ForgotPassword</title>
    <style>
        .hideForgotPassword {
            display: none;
        }
    </style>
</head>
<body>
    <p id="lblMainSentSuccess" style="color: green; font-size: smaller;"></p>
    <div id="dVforgot">

        <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
        <script src="~/Scripts/bootstrap.js"></script>
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        @Scripts.Render("~/bundles/jqueryval")
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken();
                                    Html.ValidationSummary(true);
                                    Html.EnableClientValidation();
                                    <label>@Html.LabelFor(m => m.Username)</label>
                                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                                    <div class="login-or">
                                        <hr class="hr-or">
                                        <span class="span-or">or</span>
                                    </div>
                                    <label>@Html.LabelFor(m => m.Email)</label>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email)
                                    <br />
                                    <input type="submit" value="Send Email" class="btn btn-primary btn-sm" onclick="QuickForgotPassword(event);" />
                                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                    <br />
                                    <label id="lblMainSentMsg" style="color: blue; font-size: smaller; font-weight: 100;"></label>
                                    <label id="lblErrorMsg" style="color:red;font-size:smaller;font-weight:100;"></label>
        }
    </div>
    <script>
        function QuickForgotPassword(e) {
            e.preventDefault();
            var form = $(e.currentTarget).closest('form');
            var userName = $("#Username");
            var Email = $("#Email");
            if (userName.val() != "" || Email.val() != "") {
                if (!form.valid()) return;
                var url = $(e.currentTarget).closest('form').attr("action");
                var formData = $(e.currentTarget).closest('form').serialize();
                $.ajax({
                    url: url + "?IsAddPop=" + true,
                    type: "POST",
                    data: formData,
                    dataType: "json",
                    success: function (result) {
                        if (result == "Ok") {
                            var username = userName.val();
                            var email = Email.val();
                            userName.val('');
                            Email.val('');
                            if (email.length > 0)
                                $('#lblMainSentSuccess').html("An Email has been sent to your Email Id " + "<u style='color: blue'> " + email + ".</u>");
                            else
                                $('#lblMainSentSuccess').html("An Email has been sent to your registered Email Id.");
                            $("#dVforgot").addClass("hideForgotPassword");
                            form.find('#lblErrorMsg').text("");
                        }
                        else if (result == "UserNotExist") {
                            var UserEmailNotExist = "";
                            if (userName.val() != "") {
                                UserEmailNotExist = "Registered user name does not exist."
                            }
                            else if (Email.val() != "") {
                                UserEmailNotExist = "Registered email does not exist."
                            }
                            if (userName.val() != "" && Email.val() != "") {
                                UserEmailNotExist = "Registered user name and Email does not exist."
                            }
                            form.find('#lblErrorMsg').text(UserEmailNotExist);
                            form.find('#lblMainSentMsg').text("");
                        }
                        else if (result == "UserIslocked") {
                            form.find('#lblErrorMsg').text("Account has been locked.Please contact application administrator");
                            form.find('#lblMainSentMsg').text("");
                        }
                        else if (result == "UserLoginAttempt") {
                            form.find('#lblErrorMsg').text("User login attempt exceed,please contact application administrator.");
                            form.find('#lblMainSentMsg').text("");
                        }
                    }
                });
            }
            else {
                form.find('#lblErrorMsg').text("Please enter your registered username or email id.");
                form.find('#lblMainSentMsg').text("");
            }
        }
    </script>

</body>
</html>
