@model GeneratorBase.MVC.Models.T_FacilityConfiguration
@using PagedList;
@{
    ViewBag.Title = "View Facility Configuration";
	var EntityDisplayNameReflector = ModelReflector.Entities.FirstOrDefault(p => p.Name == "T_FacilityConfiguration");
    var EntityDisplayName = EntityDisplayNameReflector != null ? EntityDisplayNameReflector.DisplayName : "Facility Configuration";
}
<script>
    $(document).ready(function () {
			 if ($.cookie('@User.JavaScriptEncodedName@Model.Id' + 'TabCookie') != null) {
				$('a[href="#' + $.cookie('@User.JavaScriptEncodedName@Model.Id' + 'TabCookie') + '"]').click();
			 }
    });
</script>
@{
    if (!string.IsNullOrEmpty(ViewBag.T_FacilityConfigurationIsHiddenRule))
    {
        @Html.Raw(ViewBag.T_FacilityConfigurationIsHiddenRule);
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_FacilityConfigurationIsGroupsHiddenRule))
    {
        @Html.Raw(ViewBag.T_FacilityConfigurationIsGroupsHiddenRule);
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_FacilityConfigurationIsSetValueUIRule))
    {
        @Html.Raw(ViewBag.T_FacilityConfigurationIsSetValueUIRule);
    }
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-title">
            <i class="glyphicon glyphicon-hand-down text-primary"></i> @EntityDisplayName  <i class="glyphicon glyphicon-chevron-right small"></i> <span>View</span>
        </h1>
        <h2 class="text-primary"><span id="HostingEntityDisplayValue">@Html.DisplayFor(model => model.DisplayValue)</span>
			<div class="btn-group pull-right fixactionbut">
            <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle pull-right">
                Action
                <span class="caret">    </span>
            </button>
			<ul class="dropdown-menu pull-left">               
				<li>
                    @if ( User.CanEdit("T_FacilityConfiguration"))
                    {
                        <a href="@Url.Action("Edit","T_FacilityConfiguration", new {UrlReferrer = Request.UrlReferrer,id = Model.Id,AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) },null)"><i class="glyphicon glyphicon-edit"></i>  Edit</a>
                    }
                </li>             
				<li>
                    @if ( User.CanDelete("T_FacilityConfiguration"))
                    {
                        <a href="@Url.Action("Delete", "T_FacilityConfiguration", new { UrlReferrer = Request.UrlReferrer,id = Model.Id, AssociatedType=ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) }, null)"><i class="glyphicon glyphicon-remove-sign"></i>  Delete</a>
                    }
                </li>
 <li class="divider" style="clear:both"></li>
 <li class="dropdown-submenu pull-left">
	<a tabindex="-1" href="#" style="margin-bottom:10px;">Find Matching</a>
    <ul class="dropdown-menu pull-left">
<li>
		<a href="@Url.Action("FindFSearch", "T_Department", new {sourceEntity="T_FacilityConfiguration",id=Model.Id}, null)">Department</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_Position", new {sourceEntity="T_FacilityConfiguration",id=Model.Id}, null)">Position</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_Employee", new {sourceEntity="T_FacilityConfiguration",id=Model.Id}, null)">Employee</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_DepartmentArea", new {sourceEntity="T_FacilityConfiguration",id=Model.Id}, null)">Department Area</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_ClaimType", new {sourceEntity="T_FacilityConfiguration",id=Model.Id}, null)">Claim Type</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_Restrictions", new {sourceEntity="T_FacilityConfiguration",id=Model.Id}, null)">Restrictions</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_UnitX", new {sourceEntity="T_FacilityConfiguration",id=Model.Id}, null)">UnitX</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_Unit", new {sourceEntity="T_FacilityConfiguration",id=Model.Id}, null)">Unit</a>
</li>
<li>
		<a href="@Url.Action("FindFSearch", "T_SalaryRange", new {sourceEntity="T_FacilityConfiguration",id=Model.Id}, null)">Salary Range</a>
</li>
</ul>
</li>
			</ul>


		</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="tabbable responsive">
    <ul class="nav nav-tabs">
	 <li class="active"><a href="#Details" onclick="ClearTabCookie('@User.JavaScriptEncodedName@Model.Id');" data-toggle="tab">Details</a></li>
    </ul>
	  @Html.HiddenFor(model => model.Id)
	    <div class="tab-content">
		   <div class="tab-pane fade in active" id="Details">
				 <div class="panel panel-default AppForm">
					<div class="panel-body">
                                  
			
			<div class="row">
@if(User.CanView("T_FacilityConfiguration","T_Key"))
{
<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_Key">
	<div class='form-group' title="@Model.T_Key">
		<label >@Html.DisplayNameFor(model => model.T_Key) </label>
		
		
				
				<p id="lblT_Key" class="viewlabel">@Model.T_Key</p>
					
					
	</div>
</div>
}
@if(User.CanView("T_FacilityConfiguration","T_Value"))
{
<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_Value">
	<div class='form-group' title="@Model.T_Value">
		<label >@Html.DisplayNameFor(model => model.T_Value) </label>
		
		
				
				<p id="lblT_Value" class="viewlabel">@Model.T_Value</p>
					
					
	</div>
</div>
}
@if(User.CanView("T_FacilityConfiguration","T_TenantConfigurationAssociationID"))
{
<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_TenantConfigurationAssociation">
	<div class='form-group' >
		<label >@Html.DisplayNameFor(model => model.T_TenantConfigurationAssociationID)</label>
		
		@if (@Model.T_TenantConfigurationAssociationID == 0 || @Model.T_TenantConfigurationAssociationID == null || @Model.t_tenantconfigurationassociation == null)
		{
	         <p id="lblT_TenantConfigurationAssociationID" class="viewlabel"></p>
        }
        else
        {
		     <p id="lblT_TenantConfigurationAssociationID" class="viewlabel" title="@Model.t_tenantconfigurationassociation.DisplayValue">@Model.t_tenantconfigurationassociation.DisplayValue</p>
        }
		
	</div>
</div>
}
		</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
				<a class="btn btn-default btn-sm pull-left formbuttonfix" Onclick="goBack('@Url.Action("Index","T_FacilityConfiguration")');">Back</a>
				@*@Html.ActionLink("Back", "Cancel", new { UrlReferrer = Request.UrlReferrer }, new { @class = "btn btn-default btn-sm pull-left formbuttonfix" })*@
					
					 @if ( User.CanEdit("T_FacilityConfiguration"))
                     {
                          @Html.ActionLink("Edit", "Edit", new { UrlReferrer = Request.UrlReferrer, id = Model.Id, AssociatedType = ViewData["AssociatedType"], HostingEntityName = @Convert.ToString(ViewData["HostingEntity"]), HostingEntityID = @Convert.ToString(ViewData["HostingEntityID"]) }, new { @class = "btn btn-primary btn-sm pull-left formbuttonfix" })
                     }
				   
 @{ var dropmenubottom = false; }
<div class="dropdown pull-left formbuttonfix" style="display:none;" id="AddAssociationdropmenubottomT_FacilityConfiguration">
<button type="button" class="btn btn-primary btn-sm dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
            Add Association
            <span class="caret"></span>
        </button>
		 <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
</ul>
</div>
@if(!dropmenubottom)
{
    <script>
        $("#AddAssociationdropmenubottomT_FacilityConfiguration").hide();
    </script>
}
			</div> 
			</div><div class="clearfix" style="clear:both"></div>
	</div>    
	</div> <!-- /tab-content --><br />

<br/>
</div>
 
