@model GeneratorBase.MVC.Models.T_PayDetails
@using PagedList;
@{
    ViewBag.Title = "Edit Pay Details ";
	var EditPermission = User.CanEditItem("T_PayDetails", Model, User);
	var DeletePermission = User.CanDeleteItem("T_PayDetails", Model, User);
	Layout = null;
	
}
@functions {
    object getHtmlAttributes(string Property)
    {
        if (User.CanEdit("T_PayDetails", Property))
        {
            return new { @class = "form-control" };
        } return new { @class = "form-control", @readonly = "readonly" };
    }
}
<script>
    $(document).ready(function () {
        try {
		 if ($('#EntityT_PayDetailsDisplayValue').has('option').length > 0) {
			var RecId = $("#Id").val()
            $("#T_PayDetailsDD").append($("#EntityT_PayDetailsDisplayValue").html());
            $("#T_PayDetailsDD").val(RecId);

			var text = $("option:selected", $("#T_PayDetailsDD")).text();
            $("#T_PayDetailsDD").attr('data-toggle', 'tooltip')
            $("#T_PayDetailsDD").attr('title', text);

            var lastOptionVal = $('#T_PayDetailsDD option:last-child').val();
            var fristOptionVal = $('#T_PayDetailsDD option:first-child').val();
            if (lastOptionVal == RecId)
			{
                $('#next').hide();
				$('#SaveAndContinue').hide();
				}

            if (fristOptionVal == RecId)
                $('#prev').hide();
			} else {  $('#dvsavenext').hide(); $('#SaveAndContinue').hide(); }
            var hostingEntityName = "";
            if ('@Convert.ToString(ViewData["AssociatedType"])' != null) {
                hostingEntityName = '@Convert.ToString(ViewData["AssociatedType"])';
				if( '@Convert.ToBoolean(ViewData["IsFilter"])'!="False")
				$('#' + hostingEntityName + 'ID').attr("lock","true");
				$('#' + hostingEntityName + 'ID').trigger("change");
				 $("input[type='radio'][name='" + hostingEntityName + "ID']").each(function () {
                    if (!this.checked)
                        this.closest("li").style.display = "none";
                });		
						
            }
        }
        catch (ex) { }
    });
</script>
<script type="text/javascript">
    var config = {
        '.chosen-select': {},
        '.chosen-select-deselect': { allow_single_deselect: true },
        '.chosen-select-no-single': { disable_search_threshold: 10 },
        '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
        '.chosen-select-width': { width: "95%" }
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }
</script>

@{
    if (!string.IsNullOrEmpty(ViewBag.T_PayDetailsIsHiddenRule))
    {
        @Html.Raw(ViewBag.T_PayDetailsIsHiddenRule);
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_PayDetailsIsGroupsHiddenRule))
    {
        @Html.Raw(ViewBag.T_PayDetailsIsGroupsHiddenRule);
    }
}
@{
    if (!string.IsNullOrEmpty(ViewBag.T_PayDetailsIsSetValueUIRule))
    {
        @Html.Raw(ViewBag.T_PayDetailsIsSetValueUIRule);
    }
}
<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<div class="row">
    <div class="col-lg-12">
        @*<label id="ErrMsg" class="text-primary small pull-right" style="color:red; vertical-align:middle; font-weight:100;"></label>*@
		<input type="hidden" id="ErrMsg" />
		<div id="errorContainerEdit" style="display: none">
            <div id="errorsMsgEdit"></div>
            <div id="errorsEdit"></div>
        </div>
     <div class="col-sm-6 col-md-6 col-xs-12" style="margin-top: -12px;">
            <h2 class="text-primary">
                <span id="HostingEntityDisplayValue">@Html.DisplayFor(model => model.DisplayValue)</span>
            </h2>
        </div>
        @if (EditPermission)
            {
            <div class="col-sm-6 col-md-6 col-xs-12" id="dvsavenext">
                <button class="btn btn-default btn-xs pull-right" id="next" onclick="@Html.Raw("nextFun('T_PayDetails')")">Next >></button>
                @Html.DropDownList("T_PayDetailsDD", null, null, new { @onchange = "FillDisplayValueQEdit('T_PayDetails')", @required = "required", @class = "pull-right", @Style = "height: 22px;width: 170px;" })
                <button class="btn btn-default btn-xs pull-right" id="prev" onclick="@Html.Raw("prevFun('T_PayDetails')")"><< Prev</button>
            </div>
        }
    </div>
    <!-- /.col-lg-12 -->
	<div id="divDisplayBRmsgBeforeSaveProp" style="display:none;">
</div>
<div id="divDisplayBRmsgMandatory" style="display:none;">
</div>
<div id="divDisplayLockRecord" style="display:none;">
</div>
<div id="divDisplayBRReadOnly" style="display:none;">
</div>
<br/>
</div>
	
@using (Html.BeginForm("EditQuick","T_PayDetails",new {UrlReferrer =Convert.ToString(ViewData["T_PayDetailsParentUrl"])}, FormMethod.Post, new { enctype = "multipart/form-data", @id = "frmQEditT_PayDetails" }))
{
     Html.ValidationSummary(true);
                Html.EnableClientValidation();
    @Html.HiddenFor(model => model.Id)
	@Html.HiddenFor(model => model.ConcurrencyKey)
	 <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12" style="padding:0px; margin:0px;">
                    <div class="panel panel-default AppForm">
						<div class="panel-body">
						    @Html.Hidden("AssociatedEntity", Convert.ToString(ViewData["AssociatedType"]))
											<div class="row">
												<div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="panel panel-default" id="dvGroup48932">
                                        <div class="panel-heading clearfix">
                                            <i class="icon-calendar"></i>
											
									<h3 class="panel-title" alt="Employee Information" title="Employee Information">Employee Information</h3>
								</div>
                                <div class="panel-body">
				@if(User.CanView("T_PayDetails","T_EmployeePayDetailsID"))
				{

				   <div class='col-sm-6 col-md-6 col-xs-12' id="dvT_EmployeePayDetailsID">
                        <div class='form-group'>
                            <label  >@Html.LabelFor(model => model.T_EmployeePayDetailsID) <span class="text-danger-reg">*</span></label>
							
							<div class="input-group" style="width:100%;">									
									@if (User.CanEdit("T_PayDetails", "T_EmployeePayDetailsID"))
		{
			@Html.DropDownList("T_EmployeePayDetailsID", null, "-- Select --", new {   @required ="required",    @onchange = Html.Raw("ClearChildDD('T_PayDetailsJobAssignmentID',this,'false');") ,  @class = "chosen-select form-control", @HostingName = "T_Employee", @dataurl = Url.Action("GetAllValue", "T_Employee",new { caller = "T_EmployeePayDetailsID" }) })
		}
		else
		{
			@Html.HiddenFor(model => model.T_EmployeePayDetailsID, new { @class = "form-control" })
			@Html.DropDownList("T_EmployeePayDetailsID", null, "-- Select --", new {  @required ="required",    @onchange = Html.Raw("ClearChildDD('T_PayDetailsJobAssignmentID',this,'false');") ,  @class = "chosen-select form-control", @disabled="disabled", @HostingName = "T_Employee", @dataurl = Url.Action("GetAllValue", "T_Employee",new { caller = "T_EmployeePayDetailsID" }) })
		}
                                @Html.ValidationMessageFor(model => model.T_EmployeePayDetailsID)
								 
							</div>
							
                        </div>
                    </div>
                 
					} else { @Html.HiddenFor(model => model.T_EmployeePayDetailsID, new { @class = "form-control" })}
				@if(User.CanView("T_PayDetails","T_PayDetailsJobAssignmentID"))
				{

				   <div class='col-sm-6 col-md-6 col-xs-12' id="dvT_PayDetailsJobAssignmentID">
                        <div class='form-group'>
                            <label  >@Html.LabelFor(model => model.T_PayDetailsJobAssignmentID) </label>
							
							<div class="input-group" style="width:100%;">									
									@if (User.CanEdit("T_PayDetails", "T_PayDetailsJobAssignmentID"))
		{
			@Html.DropDownList("T_PayDetailsJobAssignmentID", null, "-- Select --", new {   @ParentDD = "T_EmployeePayDetailsID" , @AssoNameWithParent = "T_EmployeeJobAssignmentID?T_JobAssignmentManagerEmployeeID?T_EmployeeSupervisorID" ,   @class = "chosen-select form-control", @HostingName = "T_JobAssignment", @dataurl = Url.Action("GetAllValue", "T_JobAssignment",new { caller = "T_PayDetailsJobAssignmentID" }) })
		}
		else
		{
			@Html.HiddenFor(model => model.T_PayDetailsJobAssignmentID, new { @class = "form-control" })
			@Html.DropDownList("T_PayDetailsJobAssignmentID", null, "-- Select --", new {  @ParentDD = "T_EmployeePayDetailsID" , @AssoNameWithParent = "T_EmployeeJobAssignmentID?T_JobAssignmentManagerEmployeeID?T_EmployeeSupervisorID" ,   @class = "chosen-select form-control", @disabled="disabled", @HostingName = "T_JobAssignment", @dataurl = Url.Action("GetAllValue", "T_JobAssignment",new { caller = "T_PayDetailsJobAssignmentID" }) })
		}
                                @Html.ValidationMessageFor(model => model.T_PayDetailsJobAssignmentID)
								 
							</div>
							
                        </div>
                    </div>
                 
					} else { @Html.HiddenFor(model => model.T_PayDetailsJobAssignmentID, new { @class = "form-control" })}
							</div>
                         </div>
                      </div>
       </div>
											<div class="row">
												<div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="panel panel-default" id="dvGroup48933">
                                        <div class="panel-heading clearfix">
                                            <i class="icon-calendar"></i>
											
									<h3 class="panel-title" alt="Pay Details" title="Pay Details">Pay Details</h3>
								</div>
                                <div class="panel-body">
				@if(User.CanView("T_PayDetails","T_OtherPayDetailsTypeID"))
				{

				   <div class='col-sm-6 col-md-6 col-xs-12' id="dvT_OtherPayDetailsTypeID">
                        <div class='form-group'>
                            <label  >@Html.LabelFor(model => model.T_OtherPayDetailsTypeID) <span class="text-danger-reg">*</span></label>
							
							<div class="input-group" style="width:100%;">									
									@if (User.CanEdit("T_PayDetails", "T_OtherPayDetailsTypeID"))
		{
			@Html.DropDownList("T_OtherPayDetailsTypeID", null, "-- Select --", new {   @required ="required",     @class = "chosen-select form-control", @HostingName = "T_PayType", @dataurl = Url.Action("GetAllValue", "T_PayType",new { caller = "T_OtherPayDetailsTypeID" }) })
		}
		else
		{
			@Html.HiddenFor(model => model.T_OtherPayDetailsTypeID, new { @class = "form-control" })
			@Html.DropDownList("T_OtherPayDetailsTypeID", null, "-- Select --", new {  @required ="required",     @class = "chosen-select form-control", @disabled="disabled", @HostingName = "T_PayType", @dataurl = Url.Action("GetAllValue", "T_PayType",new { caller = "T_OtherPayDetailsTypeID" }) })
		}
                                @Html.ValidationMessageFor(model => model.T_OtherPayDetailsTypeID)
								 
							</div>
							
                        </div>
                    </div>
                 
					} else { @Html.HiddenFor(model => model.T_OtherPayDetailsTypeID, new { @class = "form-control" })}
@if(User.CanView("T_PayDetails","T_Amount"))
{


					<div class='col-sm-6 col-md-6 col-xs-12' id="dvT_Amount">
							<div class='form-group' title="Amount">
								<label  >@Html.LabelFor(model => model.T_Amount)  <span class="text-danger-reg">*</span> </label>
                                
											<div class='input-group'><span class="input-group-addon btn-default calendar"><i class="fa fa-dollar"></i></span>
									@Html.TextBoxFor(model => model.T_Amount,  getHtmlAttributes("T_Amount"))
									@Html.ValidationMessageFor(model => model.T_Amount)
									</div>
								
                             </div>
						</div>

				
					


} else { @Html.HiddenFor(model => model.T_Amount, new { @class = "form-control" })}
@if(User.CanView("T_PayDetails","T_StartDate"))
{
                      
					  						 <div class='col-sm-6 col-md-6 col-xs-12' id="dvT_StartDate">
							  <div class="form-group" title="Start Date">
                                <label  >@Html.LabelFor(model => model.T_StartDate) <span class="text-danger-reg">*</span></label>
								
                                    <div class="input-group date" id="datetimepickerT_StartDate">
 @Html.TextBoxFor(model => model.T_StartDate, "{0:MM/dd/yyyy}", User.CanEdit("T_PayDetails", "T_StartDate") ? (object)new {@class = "form-control" } : (object)new { @class = "form-control", @readonly="readonly" })

                                        <span class="input-group-addon btn-default calendar">
                                           <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.T_StartDate)
								
                                </div>
	
								@if(User.CanEdit("T_PayDetails", "T_StartDate"))
								{
                                <script type="text/javascript">
                                    $(function () {
										$('#T_StartDate').datetimepicker({ pickTime:false });
                                        $('#datetimepickerT_StartDate').datetimepicker({ pickTime:false });
                                    });
                                </script>
								}
                            </div>
											  
					        
} else { @Html.HiddenFor(model => model.T_StartDate, new { @class = "form-control" })}
@if(User.CanView("T_PayDetails","T_EndDate"))
{
                      
					  						 <div class='col-sm-6 col-md-6 col-xs-12' id="dvT_EndDate">
							  <div class="form-group" title="End Date">
                                <label  >@Html.LabelFor(model => model.T_EndDate) </label>
								
                                    <div class="input-group date" id="datetimepickerT_EndDate">
 @Html.TextBoxFor(model => model.T_EndDate, "{0:MM/dd/yyyy}", User.CanEdit("T_PayDetails", "T_EndDate") ? (object)new {@class = "form-control" } : (object)new { @class = "form-control", @readonly="readonly" })

                                        <span class="input-group-addon btn-default calendar">
                                           <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.T_EndDate)
								
                                </div>
	
								@if(User.CanEdit("T_PayDetails", "T_EndDate"))
								{
                                <script type="text/javascript">
                                    $(function () {
										$('#T_EndDate').datetimepicker({ pickTime:false });
                                        $('#datetimepickerT_EndDate').datetimepicker({ pickTime:false });
                                    });
                                </script>
								}
                            </div>
											  
					        
} else { @Html.HiddenFor(model => model.T_EndDate, new { @class = "form-control" })}
							</div>
                         </div>
                      </div>
       </div>

			@Html.HiddenFor(model => model.T_Notes, new { @class = "form-control" })

	            </div>
        </div>
	</div>
</div>
		 @Html.AntiForgeryToken();
		 var businessrule1 = User.businessrules.Where(p => p.EntityName == "T_PayDetails").ToList();
		 var lstinlineentityname = "";
		 var lstinlineassocdispname ="";
		 var lstinlineassocname = "";
		 <button id="CancelQuickAdd" type="button" class="btn btn-default btn-sm" data-dismiss="modal" aria-hidden="true">Cancel</button>
		 if (EditPermission)
         {
			    <input type="submit" id="command" name="command" value="Save & Close" class="btn btn-primary btn-sm" onclick="QuickEditFromGrid(event,true,'T_PayDetails','@ViewData["AssociatedType"]',false,'@businessrule1',@businessrule1.Count,'OnEdit','ErrMsg',false,'@lstinlineassocname','@lstinlineassocdispname','@lstinlineentityname');" />
				<input type="submit" id="sevranBtn" style="display:none;" name="command" value="Save" class="btn btn-primary btn-sm" onclick="QuickEditFromGrid(event,true,'T_PayDetails','@ViewData["AssociatedType"]',false,'@businessrule1',@businessrule1.Count,'OnEdit','ErrMsg',false,'@lstinlineassocname','@lstinlineassocdispname','@lstinlineentityname','True');" />
                <button type="button" id="SaveAndContinue" name="SaveAndContinue" class="btn btn-primary btn-sm" onclick="@Html.Raw("SaveAndContinueEdit('T_PayDetails',event)")">Save & Next</button>
				<input type="hidden" name="hdncommand" value="" />
  		 }	
}
<script src="@Url.Content("~/bundles/jqueryval")" type="text/javascript"></script>
<script src="@Url.Content("~/bundles/common3")" type="text/javascript"></script>

<script>
    $("input[type='submit']").click(function (event) {
	if (!$("#frmQEditT_PayDetails").valid()) return;
	
        var $this = $(this);
        $('input:hidden[name="hdncommand"]').val($this.val());
    });
</script>
@{
var businessrule = User.businessrules.Where(p => p.EntityName == "T_PayDetails").ToList();


	


if ((businessrule != null && businessrule.Count > 0) )
{
var ruleids = businessrule.Select(q => q.Id).ToList();
var typelist  = string.Join(",", (new GeneratorBase.MVC.Models.RuleActionContext()).RuleActions.Where(p => ruleids.Contains(p.RuleActionID.Value) && p.associatedactiontype.TypeNo.HasValue).Select(p => p.associatedactiontype.TypeNo.Value).Distinct().ToList());

    <script>
    $(document).ready(function () {
	document.getElementById("ErrMsg").innerHTML = "";
		 var flag = true;
                var dataurl = "";
                var form = "";
                var inlinecount = "0";

				 form = $("#frmQEditT_PayDetails").serialize();
					 dataurl = "@Url.Action("businessruletype", "T_PayDetails", new { ruleType = "OnEdit"})";
            ApplyBusinessRuleOnPageLoad("@typelist",dataurl, "T_PayDetails", false, "ErrMsg", form);
			//business rules on inline associations
    });
</script>
<script>
    $("form").submit(function (event) {
	if (!$("#frmQEditT_PayDetails").valid()) return;
	document.getElementById("ErrMsg").innerHTML = "";
            var flag = true;
		var form = $("#frmQEditT_PayDetails").serialize();
					});
</script>
}
 
}

<script type='text/javascript'>
    $(document).ready(function () {
        try {
            document.getElementsByTagName("body")[0].focus();
            $("#addPopup").removeAttr("tabindex");
            var cltcoll = $("#dvPopup").find('input[type=text]:not([class=hidden]):not([readonly]),textarea:not([readonly])')
            var cltid = "";
            $(cltcoll).each(function () {
			  if ($(this).attr("id") == undefined)
                    return
                var dvhidden = $("#dv" + $(this).attr("id"));
				var dvDate = $("#datetimepicker" + $(this).attr("id")).attr("id");
                if (!(dvhidden.css('display') == 'none') && dvDate == undefined) {
                    cltid = $(this);
                    return false;
                }
            });
            if (cltid != "" && cltid != undefined)
                setTimeout(function () { $(cltid).focus(); }, 500)
        }
        catch (ex) { }
    });
</script>

