<script type="text/javascript">
    $(document).ready(function ()
    {
         var usrName = "@User.JavaScriptEncodedName";
        var myCookie = usrName + "FeedbackPriority" + "@ViewData["AssociatedType"]";
        var host = "#FeedbackPriority";
        if ("@ViewData["AssociatedType"]".length > 0)
            host = "#" + "@ViewData["AssociatedType"]";
        if ($.cookie(myCookie) != null) {
            var column = $.cookie(myCookie).split(',');
            for (var i = 0; i < column.length; i++) {
                if (column[i] == "col1")
                    continue;
                $('input[name=' + column[i] + ']', $(host)).attr('checked', false);
                var index = column[i].substr(3)
                index--;
                $('table tr', $(host)).each(function () {
                    $('td:eq(' + index + ')', this).toggle();
                });
                $('th.' + column[i], $(host)).toggle();
            }
        }
    });
</script>           
<div id="ColumnShowHideFeedbackPriority" class="collapse">
    <div class="row">
        <div class='col-sm-12'>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Show / Hide Table  Column </h3>
                </div>
                <div class="panel-body">
					<p id="lblFeedbackPriority" class="label label-success " style="display:none; width:100%; padding:5px; text-align:left; font-size:13px">Table display format successfully saved.</p>
                    <div class='form-group'>
                        <div class="input-group">
                            <input type="checkbox" name="col1" checked="checked" style="display:none;" />
	<input type="checkbox" name="col2" checked="checked" onclick="ColumnClick(event,'FeedbackPriority')" /> Name
	<input type="checkbox" name="col3" checked="checked" onclick="ColumnClick(event,'FeedbackPriority')" /> Description
                        </div>
                       <input type="button" id="btnSave" value="Set as Default" onclick="showhideSaveCookies(event, 'FeedbackPriority', '@User.JavaScriptEncodedName','@ViewData["AssociatedType"]');" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
